Repository sartography/spiff-arena: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

black:
  name: black
  entry: black
  language: system
  require_serial: true

check-added-large-files:
  name: Check for added large files
  entry: check-added-large-files
  language: system

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

end-of-file-fixer:
  name: Fix End of Files
  entry: end-of-file-fixer
  language: system
  stages:
  - commit
  - push
  - manual

flake8:
  name: flake8
  entry: flake8
  language: system
  require_serial: true

pyupgrade:
  name: pyupgrade
  description: Automatically upgrade syntax for newer versions.
  entry: pyupgrade
  language: system
  args:
  - --py37-plus

reorder-python-imports:
  name: Reorder python imports
  entry: reorder-python-imports
  language: system
  args:
  - --application-directories=src

trailing-whitespace:
  name: Trim Trailing Whitespace
  entry: trailing-whitespace-fixer
  language: system
  stages:
  - commit
  - push
  - manual

fix show previous spiff steps
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_api_blueprint.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

fix bug with opening call activities when processes conflict with dmn files
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_api_blueprint.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

moved process groups, models, and instances api methods to own controller files w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/__init__.py
  spiffworkflow-backend/src/spiffworkflow_backend/api.yml
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_api_blueprint.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_groups_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_instances_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_models_controller.py
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

add endpoint to reset process to earlier step
  spiffworkflow-backend/src/spiffworkflow_backend/api.yml
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_api_blueprint.py
  spiffworkflow-frontend/src/hooks/UriListForPermissions.tsx
  spiffworkflow-frontend/src/routes/ProcessInstanceShow.tsx
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

moved more api methods to own controllers w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/api.yml
  spiffworkflow-backend/src/spiffworkflow_backend/routes/messages_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_api_blueprint.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/secrets_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/tasks_controller.py
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

moved some more apis w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_api_blueprint.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_groups_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_instances_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_models_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/script_unit_tests_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/secrets_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/tasks_controller.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

get tests passing
  spiffworkflow-backend/src/spiffworkflow_backend/api.yml
  spiffworkflow-backend/src/spiffworkflow_backend/routes/messages_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_api_blueprint.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_instances_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/script_unit_tests_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/tasks_controller.py
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

allow option to complete single tasks with or without execution
  spiffworkflow-backend/src/spiffworkflow_backend/api.yml
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_api_blueprint.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
  spiffworkflow-frontend/src/routes/ProcessInstanceShow.tsx
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

move helpers where they belong
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_api_blueprint.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_instances_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_models_controller.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

fix test
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_api.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

move status to health controller
  spiffworkflow-backend/src/spiffworkflow_backend/api.yml
  spiffworkflow-backend/src/spiffworkflow_backend/routes/health_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_api_blueprint.py
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

new service tasks controller
  spiffworkflow-backend/src/spiffworkflow_backend/api.yml
  spiffworkflow-backend/src/spiffworkflow_backend/routes/health_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_api_blueprint.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/service_tasks_controller.py
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

run ./bin/run_pyl
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_api_blueprint.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

move helpers where they belong
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_api_blueprint.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_instances_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/script_unit_tests_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/service_tasks_controller.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

improve button labels
  spiffworkflow-frontend/src/routes/ProcessInstanceShow.tsx
Due: none

create spiff steps for manual navigation
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_api_blueprint.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

allow tests to determine what paginated entity id to use to determine a table has loaded
  spiffworkflow-backend/src/spiffworkflow_backend/api.yml
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_api_blueprint.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_instances_controller.py
  spiffworkflow-frontend/cypress/e2e/tasks.cy.js
  spiffworkflow-frontend/cypress/support/commands.js
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

remove unused task method
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_api_blueprint.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

stats script
  spiffworkflow-frontend/bin/collect_cypress_stats
  spiffworkflow-frontend/cypress/e2e/process_models.cy.js
Due: none

ensure we get logs for both db and backend with docker compose w/ burnettk
  spiffworkflow-backend/bin/get_logs_from_docker_compose
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

redirect to current step when resetting process instance
  spiffworkflow-frontend/src/routes/ProcessInstanceShow.tsx
Due: none

Path conditions:
  black: any of: ^spiffworkflow-backend/ and \.py$ and not (/migrations/)
  check-added-large-files: any of: ^spiffworkflow-backend/
  check-toml: any of: ^spiffworkflow-backend/ and \.toml$
  check-yaml: any of: ^spiffworkflow-backend/ and \.(yaml|yml)$
  end-of-file-fixer: any of: ^spiffworkflow-backend/
  flake8: any of: ^spiffworkflow-backend/ and \.py$ and not (/migrations/)
  pyupgrade: any of: ^spiffworkflow-backend/ and \.py$
  reorder-python-imports: any of: ^spiffworkflow-backend/ and \.py$ and not ((/migrations/|load_database_models))
  trailing-whitespace: any of: ^spiffworkflow-backend/, but not: /migrations/
