Repository sartography/spiff-arena: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

black:
  name: black
  entry: black
  language: system
  require_serial: true

check-added-large-files:
  name: Check for added large files
  entry: check-added-large-files
  language: system

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

end-of-file-fixer:
  name: Fix End of Files
  entry: end-of-file-fixer
  language: system
  stages:
  - commit
  - push
  - manual

flake8:
  name: flake8
  entry: flake8
  language: system
  require_serial: true

pyupgrade:
  name: pyupgrade
  description: Automatically upgrade syntax for newer versions.
  entry: pyupgrade
  language: system
  args:
  - --py37-plus

reorder-python-imports:
  name: Reorder python imports
  entry: reorder-python-imports
  language: system
  args:
  - --application-directories=src

trailing-whitespace:
  name: Trim Trailing Whitespace
  entry: trailing-whitespace-fixer
  language: system
  stages:
  - commit
  - push
  - manual

updated cryptography for security w/ burnettk
  spiffworkflow-backend/poetry.lock
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

removed link from the process model in the pi list table w/ burnettk
  spiffworkflow-frontend/src/components/ProcessInstanceListTable.tsx
Due: none

Just some notes from getting my dev environnent set up again.
  README.md
  spiffworkflow-backend/README.rst
  spiffworkflow-backend/docs/pycharm.md
  spiffworkflow-backend/docs/pycharm_config.png
  spiffworkflow-frontend/package-lock.json
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

fix readme link
  README.md
Due: none

added swagger docs to exclusion list w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/services/authorization_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

fixing black configuration.
  pyproject.toml
  spiffworkflow-backend/docs/pycharm.md
  spiffworkflow-backend/pyproject.toml
Due: check-added-large-files, check-toml, end-of-file-fixer, trailing-whitespace

added test for swagger docs w/ burnettk
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_swagger_docs.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Black config settings in pre-commit.
  .pre-commit-config.yaml
  spiffworkflow-backend/README.rst
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

Update README.md
  README.md
Due: none

Update spiffworkflow-backend/docs/pycharm.md
  spiffworkflow-backend/docs/pycharm.md
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

pyl w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/services/authorization_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_swagger_docs.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Some fe lint fixes
  spiffworkflow-frontend/src/components/ProcessGroupForm.tsx
  spiffworkflow-frontend/src/components/messages/MessageModal.tsx
  spiffworkflow-frontend/src/routes/MessageListPage.tsx
  spiffworkflow-frontend/src/routes/ProcessModelEditDiagram.tsx
Due: none

Some ruff fixes
  spiffworkflow-backend/src/spiffworkflow_backend/routes/messages_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/data_setup_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/file_system_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/reference_cache_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Update run_pyl
  bin/run_pyl
Due: none

revert ux to clickable table rows
  spiffworkflow-frontend/src/components/ProcessInstanceListTable.tsx
Due: none

revert ux to clickable table rows (#1172)
  spiffworkflow-frontend/src/components/ProcessInstanceListTable.tsx
Due: none

Attempt to build image for later use
  .github/workflows/docker_image_for_main_builds.yml
  spiffworkflow-backend/Dockerfile
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

added swagger docs to exclusion list (#1170)
  spiffworkflow-backend/src/spiffworkflow_backend/services/authorization_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_swagger_docs.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Update run_pyl (#1171)
  bin/run_pyl
Due: none

attempt to build again
  .github/workflows/docker_image_for_main_builds.yml
  .github/workflows/slack_notify.yml
Due: none

re-enable slack notify
  .github/workflows/slack_notify.yml
Due: none

Use our images
  vars.yml
Due: none

Build and publish when we need it, not on every push
  .github/workflows/docker_image_for_main_builds.yml
Due: none

move jq into `base as deployment`
  .github/workflows/docker_image_for_main_builds.yml
  spiffworkflow-backend/Dockerfile
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

added async and sync support for the message start api w/ burnettk
  spiffworkflow-backend/bin/get_bpmn_json_for_process_instance.py
  spiffworkflow-backend/bin/start_celery_worker
  spiffworkflow-backend/src/spiffworkflow_backend/api.yml
  spiffworkflow-backend/src/spiffworkflow_backend/background_processing/apscheduler.py
  spiffworkflow-backend/src/spiffworkflow_backend/config/default.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/messages_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_instances_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/message_service.py
  spiffworkflow-frontend/src/components/ProcessInstanceCurrentTaskInfo.tsx
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

removed debug dump call w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_instances_controller.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

remove unused arg from celery worker producer w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/background_processing/celery_tasks/process_instance_task_producer.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

remove unnecessary queue to celery when submitting a task w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/routes/tasks_controller.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

async-support-on-message-start (#1173)
  spiffworkflow-backend/bin/get_bpmn_json_for_process_instance.py
  spiffworkflow-backend/bin/start_celery_worker
  spiffworkflow-backend/src/spiffworkflow_backend/api.yml
  spiffworkflow-backend/src/spiffworkflow_backend/background_processing/apscheduler.py
  spiffworkflow-backend/src/spiffworkflow_backend/config/default.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/messages_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/message_service.py
  spiffworkflow-frontend/src/components/ProcessInstanceCurrentTaskInfo.tsx
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Update spiffworkflow-frontend/src/index.css
  spiffworkflow-frontend/src/index.css
Due: none

Update spiffworkflow-frontend/src/rjsf/custom_widgets/CharacterCounterField/CharacterCounterField.tsx
  spiffworkflow-frontend/src/rjsf/custom_widgets/CharacterCounterField/CharacterCounterField.tsx
Due: none

Added specific error messages to numeric range field and made character counter field
  spiffworkflow-frontend/cypress/e2e/process_instances.cy.js
  spiffworkflow-frontend/cypress/e2e/process_models.cy.js
  spiffworkflow-frontend/dev.Dockerfile
  spiffworkflow-frontend/dev.Dockerfile.dockerignore
  spiffworkflow-frontend/dev.docker-compose.yml
  spiffworkflow-frontend/package-lock.json
  spiffworkflow-frontend/package.json
  spiffworkflow-frontend/src/App.tsx
  spiffworkflow-frontend/src/ContainerForExtensions.tsx
  spiffworkflow-frontend/src/components/CustomForm.tsx
  spiffworkflow-frontend/src/components/DataStoreForm.tsx
  spiffworkflow-frontend/src/components/MarkdownRenderer.tsx
  spiffworkflow-frontend/src/components/NavigationBar.tsx
  spiffworkflow-frontend/src/components/Notification.tsx
  spiffworkflow-frontend/src/components/ProcessInstanceCurrentTaskInfo.tsx
  spiffworkflow-frontend/src/components/ProcessInstanceListTable.tsx
  spiffworkflow-frontend/src/components/ProcessInstanceListTableWithFilters.tsx
  spiffworkflow-frontend/src/components/ProcessInstanceListTabs.tsx
  spiffworkflow-frontend/src/components/ReactDiagramEditor.tsx
  spiffworkflow-frontend/src/components/SpiffTabs.tsx
  spiffworkflow-frontend/src/components/SpiffTooltip.tsx
  spiffworkflow-frontend/src/components/TaskRouteTabs.tsx
  spiffworkflow-frontend/src/extension_ui_schema_interfaces.ts
  spiffworkflow-frontend/src/helpers.tsx
  spiffworkflow-frontend/src/hooks/UsePrompt.tsx
  spiffworkflow-frontend/src/hooks/useProcessScriptAssistQuery.tsx
  spiffworkflow-frontend/src/hooks/useScriptAssistEnabled.tsx
  spiffworkflow-frontend/src/index.css
  spiffworkflow-frontend/src/index.tsx
  spiffworkflow-frontend/src/interfaces.ts
  spiffworkflow-frontend/src/rjsf/carbon_theme/ArrayFieldItemTemplate/ArrayFieldItemTemplate.tsx
  spiffworkflow-frontend/src/rjsf/carbon_theme/index.css
  spiffworkflow-frontend/src/routes/EditorRoutes.tsx
  spiffworkflow-frontend/src/routes/Extension.tsx
  spiffworkflow-frontend/src/routes/ProcessInstanceList.tsx
  spiffworkflow-frontend/src/routes/ProcessInstanceShow.tsx
  spiffworkflow-frontend/src/routes/ProcessModelEditDiagram.tsx
  spiffworkflow-frontend/tsconfig.json
Due: none

Added specific error messages to numeric range field and made character counter field
  spiffworkflow-frontend/src/rjsf/custom_widgets/NumericRangeField/NumericRangeField.tsx
Due: none

Fixing detected issues
  docs/Building_Diagrams/error_events.md
Due: none

Commands to nuke poetry dirs
  Makefile
Due: none

Path conditions:
  black: any of: ^spiffworkflow-backend/ and \.py$ and not (/migrations/)
  check-added-large-files: any of: ^spiffworkflow-backend/
  check-toml: any of: ^spiffworkflow-backend/ and \.toml$
  check-yaml: any of: ^spiffworkflow-backend/ and \.(yaml|yml)$
  end-of-file-fixer: any of: ^spiffworkflow-backend/
  flake8: any of: ^spiffworkflow-backend/ and \.py$ and not (/migrations/)
  pyupgrade: any of: ^spiffworkflow-backend/ and \.py$
  reorder-python-imports: any of: ^spiffworkflow-backend/ and \.py$ and not ((/migrations/|load_database_models))
  trailing-whitespace: any of: ^spiffworkflow-backend/, but not: /migrations/
