Repository sartography/spiff-arena: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-added-large-files, check-toml, check-yaml, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

check-added-large-files:
  name: Check for added large files
  entry: check-added-large-files
  language: system

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

end-of-file-fixer:
  name: Fix End of Files
  entry: end-of-file-fixer
  language: system
  stages:
  - commit
  - push
  - manual

ruff-check:
  args:
  - check
  - --fix
  name: ruff
  entry: ruff
  language: system
  require_serial: true

ruff-format:
  args:
  - format
  name: ruff
  entry: ruff
  language: system
  require_serial: true

trailing-whitespace:
  name: Trim Trailing Whitespace
  entry: trailing-whitespace-fixer
  language: system
  stages:
  - commit
  - push
  - manual

test for specific user task var w/ jasquat
  docs/reference/spiff_flavored_bpmn.md
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_process_instance_runtime.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

Replace prefilled User Task list values on submission (#2917)
  docs/reference/spiff_flavored_bpmn.md
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_process_instance_runtime.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

try upgrade to see if that fixes brokenism
  .github/workflows/build_docker_images.yml
Due: none

Acknowledge durable analytics event delivery
  spiffworkflow-backend/src/spiffworkflow_backend/config/default.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/logging_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_logging_service.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

use action more conventionally
  .github/workflows/build_docker_images.yml
Due: none

Allow message start events to be recorded
  spiff-arena-common/pyproject.toml
  spiff-arena-common/src/spiff_arena_common/runner.py
  spiff-arena-common/tests/spiff_arena_common/test_message_start_data.py
  uv.lock
Due: none

new date filters w/ burnettk
  docs/getting_started/quickstart_guide.md
  spiffworkflow-frontend/src/components/Filters.tsx
  spiffworkflow-frontend/src/components/ProcessInstanceListTableWithFilters.tsx
  spiffworkflow-frontend/src/components/QuickFilterChips.test.tsx
  spiffworkflow-frontend/src/components/QuickFilterChips.tsx
  spiffworkflow-frontend/src/components/TimeRangeFilter.test.tsx
  spiffworkflow-frontend/src/components/TimeRangeFilter.tsx
Due: none

support 10 m w/ burnettk
  docs/getting_started/quickstart_guide.md
  spiffworkflow-frontend/src/components/TimeRangeFilter.test.tsx
  spiffworkflow-frontend/src/components/TimeRangeFilter.tsx
Due: none

Support message start events in recordings (#2919)
  spiff-arena-common/pyproject.toml
  spiff-arena-common/src/spiff_arena_common/runner.py
  spiff-arena-common/tests/spiff_arena_common/test_message_start_data.py
  uv.lock
Due: none

remove spec w/ burnettk
  screenshots/1.png
  screenshots/absolute_date_or_range.png
  screenshots/absolute_date_or_range_seleected.png
  screenshots/typeahead.png
  spec.md
Due: none

fix start time before end time w/ burnettk
  spiffworkflow-frontend/src/components/TimeRangeFilter.test.tsx
  spiffworkflow-frontend/src/components/TimeRangeFilter.tsx
Due: none

playwright fix w/ burnettk
  spiffworkflow-frontend/src/components/TimeRangeFilter.test.tsx
  spiffworkflow-frontend/test/browser/process_instances/test_can_filter.py
Due: none

Pi date filters (#2920)
  docs/getting_started/quickstart_guide.md
  spiffworkflow-frontend/src/components/Filters.tsx
  spiffworkflow-frontend/src/components/ProcessInstanceListTableWithFilters.tsx
  spiffworkflow-frontend/src/components/QuickFilterChips.test.tsx
  spiffworkflow-frontend/src/components/QuickFilterChips.tsx
  spiffworkflow-frontend/src/components/TimeRangeFilter.test.tsx
  spiffworkflow-frontend/src/components/TimeRangeFilter.tsx
  spiffworkflow-frontend/test/browser/process_instances/test_can_filter.py
Due: none

initial pass to fix warnings w/ burnettk
  docs/reference/spiff_flavored_bpmn.md
  spiffworkflow-backend/pyproject.toml
  spiffworkflow-backend/tests/data/error/error_handler.bpmn
  spiffworkflow-backend/tests/data/message-start-event-with-form/message-start-event-with-form.bpmn
  spiffworkflow-backend/tests/data/message-start-event-with-multiple-forms/message-start-event-with-multiple-forms.bpmn
  spiffworkflow-backend/tests/data/message/message_send_receive.bpmn
  spiffworkflow-backend/tests/data/message_send_one_conversation/message_receiver.bpmn
  spiffworkflow-backend/tests/data/message_send_one_conversation/message_sender.bpmn
  spiffworkflow-backend/tests/data/message_send_two_conversations/message_receiver_one.bpmn
  spiffworkflow-backend/tests/data/message_send_two_conversations/message_receiver_two.bpmn
  spiffworkflow-backend/tests/data/message_send_two_conversations/message_sender.bpmn
  spiffworkflow-backend/tests/data/message_start_service_task/message_start_service_task.bpmn
  spiffworkflow-backend/tests/data/multiple_message_start_events/multiple-message-start-events.bpmn
  spiffworkflow-backend/tests/data/process_navigation/process_navigation.bpmn
  spiffworkflow-backend/tests/data/simple-message-send-receive/message_start_event.bpmn
  spiffworkflow-backend/tests/data/simple-message-send-receive/simple-message-send-receive.bpmn
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_openid_blueprint.py
  spiffworkflow-backend/uv.lock
Due: check-added-large-files, check-toml, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

safety w/ burnettk
  spiffworkflow-backend/uv.lock
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

initial pass to fix warnings (#2921)
  docs/reference/spiff_flavored_bpmn.md
  spiffworkflow-backend/pyproject.toml
  spiffworkflow-backend/tests/data/error/error_handler.bpmn
  spiffworkflow-backend/tests/data/message-start-event-with-form/message-start-event-with-form.bpmn
  spiffworkflow-backend/tests/data/message-start-event-with-multiple-forms/message-start-event-with-multiple-forms.bpmn
  spiffworkflow-backend/tests/data/message/message_send_receive.bpmn
  spiffworkflow-backend/tests/data/message_send_one_conversation/message_receiver.bpmn
  spiffworkflow-backend/tests/data/message_send_one_conversation/message_sender.bpmn
  spiffworkflow-backend/tests/data/message_send_two_conversations/message_receiver_one.bpmn
  spiffworkflow-backend/tests/data/message_send_two_conversations/message_receiver_two.bpmn
  spiffworkflow-backend/tests/data/message_send_two_conversations/message_sender.bpmn
  spiffworkflow-backend/tests/data/message_start_service_task/message_start_service_task.bpmn
  spiffworkflow-backend/tests/data/multiple_message_start_events/multiple-message-start-events.bpmn
  spiffworkflow-backend/tests/data/process_navigation/process_navigation.bpmn
  spiffworkflow-backend/tests/data/simple-message-send-receive/message_start_event.bpmn
  spiffworkflow-backend/tests/data/simple-message-send-receive/simple-message-send-receive.bpmn
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_openid_blueprint.py
  spiffworkflow-backend/uv.lock
Due: check-added-large-files, check-toml, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

initial pass to remove carbon w/ burnettk
  spiffworkflow-frontend/eslint.config.js
  spiffworkflow-frontend/package-lock.json
  spiffworkflow-frontend/package.json
  spiffworkflow-frontend/src/App.tsx
  spiffworkflow-frontend/src/ContainerForExtensions.tsx
  spiffworkflow-frontend/src/components/ProcessInstanceListTableWithFilters.tsx
  spiffworkflow-frontend/src/components/ProcessModelReadmeArea.tsx
  spiffworkflow-frontend/src/components/ProcessModelSearchCarbon.tsx
  spiffworkflow-frontend/src/config.tsx
  spiffworkflow-frontend/src/index.css
  spiffworkflow-frontend/src/index.scss
  spiffworkflow-frontend/src/index.tsx
  spiffworkflow-frontend/src/interfaces.ts
  spiffworkflow-frontend/src/rjsf/custom_templates/ObjectFieldRestrictGridTemplate.tsx
  spiffworkflow-frontend/src/rjsf/custom_templates/ObjectFieldTemplate.tsx
  spiffworkflow-frontend/src/rjsf/custom_widgets/DateRangePicker/DateRangePickerWidget.tsx
  spiffworkflow-frontend/src/rjsf/custom_widgets/MarkDownFieldWidget/MarkDownFieldWidget.tsx
  spiffworkflow-frontend/src/rjsf/custom_widgets/NumericRangeField/NumericRangeField.tsx
  spiffworkflow-frontend/src/rjsf/custom_widgets/TypeaheadWidget/TypeaheadWidget.tsx
  spiffworkflow-frontend/src/rjsf/formEnhancements.tsx
  spiffworkflow-frontend/src/rjsf/helpers.tsx
  spiffworkflow-frontend/src/types/definitions.d.ts
  spiffworkflow-frontend/src/views/Configuration.tsx
  spiffworkflow-frontend/src/views/ProcessInstanceShow.tsx
  spiffworkflow-frontend/test/browser/process_instances/test_can_filter.py
  spiffworkflow-frontend/vite.config.ts
Due: none

more updates w/ burnettk
  spiffworkflow-frontend/src/ContainerForExtensions.tsx
  spiffworkflow-frontend/src/assets/theme/SpiffTheme.ts
  spiffworkflow-frontend/src/components/InstructionsForEndUser.tsx
  spiffworkflow-frontend/src/components/ProcessInstanceLogList.tsx
  spiffworkflow-frontend/src/components/SideNav.tsx
  spiffworkflow-frontend/src/components/TaskCard.tsx
  spiffworkflow-frontend/src/components/TaskListTable.tsx
  spiffworkflow-frontend/src/components/TaskTable.tsx
  spiffworkflow-frontend/src/index.css
  spiffworkflow-frontend/src/index.tsx
  spiffworkflow-frontend/src/rjsf/custom_widgets/MarkDownFieldWidget/MarkDownFieldWidget.tsx
  spiffworkflow-frontend/src/views/ReactFormEditor.tsx
  spiffworkflow-frontend/test/browser/process_instances/test_can_filter.py
  spiffworkflow-frontend/test/browser/test_dark_mode.py
Due: none

dark mode support w/ burnettk
  spiffworkflow-frontend/packages/bpmn-js-spiffworkflow-react/src/styles/bpmn-js-properties-panel.css
  spiffworkflow-frontend/test/browser/test_dark_mode.py
Due: none

better pi list filter layout w/ burnettk
  spiffworkflow-frontend/src/components/ProcessInstanceListTableWithFilters.tsx
  spiffworkflow-frontend/src/index.css
  spiffworkflow-frontend/test/browser/process_instances/test_can_filter.py
Due: none

lint w/ burnettk
  spiffworkflow-frontend/src/components/ProcessInstanceListTableWithFilters.tsx
Due: none

code rabbit w/ burnettk
  spiffworkflow-frontend/src/components/ProcessInstanceListTableWithFilters.tsx
  spiffworkflow-frontend/src/index.css
  spiffworkflow-frontend/src/rjsf/custom_widgets/DateRangePicker/DateRangePickerWidget.tsx
Due: none

some more code rabbit w/ burnettk
  spiffworkflow-frontend/src/components/ProcessInstanceListTableWithFilters.tsx
  spiffworkflow-frontend/src/components/ProcessModelReadmeArea.tsx
  spiffworkflow-frontend/src/rjsf/custom_widgets/DateRangePicker/DateRangePickerWidget.tsx
  spiffworkflow-frontend/src/rjsf/custom_widgets/TypeaheadWidget/TypeaheadWidget.tsx
  spiffworkflow-frontend/test/browser/process_instances/test_can_filter.py
Due: none

fix view pi at this time link w/ burnettk
  spiffworkflow-frontend/src/views/ProcessInstanceShow.tsx
  spiffworkflow-frontend/test/browser/test_dark_mode.py
Due: none

updates to load test w/ burnettk
  spiffworkflow-backend/bin/load_tests/README.md
  spiffworkflow-backend/bin/load_tests/concurrent_message_starts.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

missed a file w/ burnettk
  docs/reference/api/messages.md
Due: none

Remove carbon (#2922)
  spiffworkflow-frontend/eslint.config.js
  spiffworkflow-frontend/package-lock.json
  spiffworkflow-frontend/package.json
  spiffworkflow-frontend/packages/bpmn-js-spiffworkflow-react/src/styles/bpmn-js-properties-panel.css
  spiffworkflow-frontend/src/App.tsx
  spiffworkflow-frontend/src/ContainerForExtensions.tsx
  spiffworkflow-frontend/src/assets/theme/SpiffTheme.ts
  spiffworkflow-frontend/src/components/InstructionsForEndUser.tsx
  spiffworkflow-frontend/src/components/ProcessInstanceListTableWithFilters.tsx
  spiffworkflow-frontend/src/components/ProcessInstanceLogList.tsx
  spiffworkflow-frontend/src/components/ProcessModelReadmeArea.tsx
  spiffworkflow-frontend/src/components/ProcessModelSearchCarbon.tsx
  spiffworkflow-frontend/src/components/SideNav.tsx
  spiffworkflow-frontend/src/components/TaskCard.tsx
  spiffworkflow-frontend/src/components/TaskListTable.tsx
  spiffworkflow-frontend/src/components/TaskTable.tsx
  spiffworkflow-frontend/src/config.tsx
  spiffworkflow-frontend/src/index.css
  spiffworkflow-frontend/src/index.scss
  spiffworkflow-frontend/src/index.tsx
  spiffworkflow-frontend/src/interfaces.ts
  spiffworkflow-frontend/src/rjsf/custom_templates/ObjectFieldRestrictGridTemplate.tsx
  spiffworkflow-frontend/src/rjsf/custom_templates/ObjectFieldTemplate.tsx
  spiffworkflow-frontend/src/rjsf/custom_widgets/DateRangePicker/DateRangePickerWidget.tsx
  spiffworkflow-frontend/src/rjsf/custom_widgets/MarkDownFieldWidget/MarkDownFieldWidget.tsx
  spiffworkflow-frontend/src/rjsf/custom_widgets/NumericRangeField/NumericRangeField.tsx
  spiffworkflow-frontend/src/rjsf/custom_widgets/TypeaheadWidget/TypeaheadWidget.tsx
  spiffworkflow-frontend/src/rjsf/formEnhancements.tsx
  spiffworkflow-frontend/src/rjsf/helpers.tsx
  spiffworkflow-frontend/src/types/definitions.d.ts
  spiffworkflow-frontend/src/views/Configuration.tsx
  spiffworkflow-frontend/src/views/ProcessInstanceShow.tsx
  spiffworkflow-frontend/src/views/ReactFormEditor.tsx
  spiffworkflow-frontend/test/browser/process_instances/test_can_filter.py
  spiffworkflow-frontend/test/browser/test_dark_mode.py
  spiffworkflow-frontend/vite.config.ts
Due: none

initial pass to make message start faster w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/api.yml
  spiffworkflow-backend/src/spiffworkflow_backend/background_processing/__init__.py
  spiffworkflow-backend/src/spiffworkflow_backend/background_processing/celery_tasks/__init__.py
  spiffworkflow-backend/src/spiffworkflow_backend/background_processing/celery_tasks/process_instance_task.py
  spiffworkflow-backend/src/spiffworkflow_backend/background_processing/celery_tasks/process_instance_task_producer.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/messages_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/message_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_queue_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_messages.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_message_service.py
Due: check-added-large-files, check-yaml, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

more files w/ burnettk
  docs/reference/api/messages.md
Due: none

return 200 w/ burnettk
  docs/reference/api/messages.md
  spiffworkflow-backend/src/spiffworkflow_backend/api.yml
  spiffworkflow-backend/src/spiffworkflow_backend/routes/messages_controller.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_messages.py
Due: check-added-large-files, check-yaml, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

celery in dev now watches files w/ burnettk
  README.md
  spiffworkflow-backend/bin/run_server_locally
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

make sure we queue instance if necessary w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/services/message_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_message_service.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

Unit test perf (#2914)
  spiffworkflow-backend/conftest.py
  spiffworkflow-backend/pyproject.toml
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_authentication.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_logging_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_long_running_services.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_public_controller.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_tasks_controller.py
  spiffworkflow-backend/tests/spiffworkflow_backend/scripts/test_get_current_task_info.py
  spiffworkflow-backend/tests/spiffworkflow_backend/scripts/test_get_last_user_completing_task.py
  spiffworkflow-backend/tests/spiffworkflow_backend/scripts/test_get_process_initiator_user.py
  spiffworkflow-backend/tests/spiffworkflow_backend/scripts/test_get_url_for_task_with_bpmn_identifier.py
  spiffworkflow-backend/tests/spiffworkflow_backend/scripts/test_refresh_permissions.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_authorization_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_process_instance_runtime.py
Due: check-added-large-files, check-toml, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

better celery logging w/ burnettk
  spiffworkflow-backend/bin/run_server_locally
  spiffworkflow-backend/bin/start_celery_worker
  spiffworkflow-backend/src/spiffworkflow_backend/background_processing/celery_worker.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/logging_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_logging_service.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

move imports w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/background_processing/celery_tasks/process_instance_task.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

use conditional values w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/services/message_service.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

a little refactor w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/services/message_service.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

max latency option w/ burnettk
  spiffworkflow-backend/bin/load_tests/README.md
  spiffworkflow-backend/bin/load_tests/concurrent_message_starts.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

Message fixes (#2923)
  README.md
  docs/reference/api/messages.md
  spiffworkflow-backend/bin/load_tests/README.md
  spiffworkflow-backend/bin/load_tests/concurrent_message_starts.py
  spiffworkflow-backend/bin/run_server_locally
  spiffworkflow-backend/bin/start_celery_worker
  spiffworkflow-backend/src/spiffworkflow_backend/background_processing/__init__.py
  spiffworkflow-backend/src/spiffworkflow_backend/background_processing/celery_tasks/__init__.py
  spiffworkflow-backend/src/spiffworkflow_backend/background_processing/celery_tasks/process_instance_task.py
  spiffworkflow-backend/src/spiffworkflow_backend/background_processing/celery_tasks/process_instance_task_producer.py
  spiffworkflow-backend/src/spiffworkflow_backend/background_processing/celery_worker.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/logging_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/message_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_queue_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_logging_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_messages.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_message_service.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

Use cache where possible with task models (#2910)
  spiffworkflow-backend/src/spiffworkflow_backend/services/task_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_task_service.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

Path conditions:
  check-added-large-files: any of: ^spiffworkflow-backend/
  check-toml: any of: ^spiffworkflow-backend/ and \.toml$
  check-yaml: any of: ^spiffworkflow-backend/ and \.(yaml|yml)$
  end-of-file-fixer: any of: ^spiffworkflow-backend/
  ruff-check: any of: ^spiffworkflow-backend/ and \.py$ and not (/migrations/)
  ruff-format: any of: ^spiffworkflow-backend/ and \.py$ and not (/migrations/)
  trailing-whitespace: any of: ^spiffworkflow-backend/, but not: /migrations/
