Repository sartography/spiff-arena: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        # entry: bash -c 'cd spiffworkflow-backend && black'
        entry: black
        language: system
        files: ^spiffworkflow-backend/
        types: [python]
        require_serial: true
        # exclude: ^migrations/
        exclude: "/migrations/"
      - id: check-added-large-files
        files: ^spiffworkflow-backend/
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-toml
        files: ^spiffworkflow-backend/
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-yaml
        files: ^spiffworkflow-backend/
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        files: ^spiffworkflow-backend/
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: flake8
        files: ^spiffworkflow-backend/
        name: flake8
        entry: flake8
        language: system
        types: [python]
        require_serial: true
        exclude: "/migrations/"
      - id: pyupgrade
        files: ^spiffworkflow-backend/
        name: pyupgrade
        description: Automatically upgrade syntax for newer versions.
        entry: pyupgrade
        language: system
        types: [python]
        args: [--py37-plus]
      - id: reorder-python-imports
        files: ^spiffworkflow-backend/
        name: Reorder python imports
        entry: reorder-python-imports
        language: system
        types: [python]
        args: [--application-directories=src]
        exclude: "(/migrations/|load_database_models)"
      - id: trailing-whitespace
        files: ^spiffworkflow-backend/
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
        exclude: "/migrations/"
  # - repo: https://github.com/pre-commit/mirrors-prettier
  #   rev: v2.4.1
  #   hooks:
  #     - id: prettier
  #       files: ^spiffworkflow-backend/
  #       exclude_types: [html]

use carbon components when adding secrets (#312)
  spiffworkflow-backend/bin/build_and_run_with_docker_compose
  spiffworkflow-frontend/package-lock.json
  spiffworkflow-frontend/package.json
  spiffworkflow-frontend/src/components/NavigationBar.tsx
  spiffworkflow-frontend/src/components/ProcessGroupListTiles.tsx
  spiffworkflow-frontend/src/components/ProcessInstanceListTable.tsx
  spiffworkflow-frontend/src/components/TaskListTable.tsx
  spiffworkflow-frontend/src/index.css
  spiffworkflow-frontend/src/index.tsx
  spiffworkflow-frontend/src/routes/HomePageRoutes.tsx
  spiffworkflow-frontend/src/routes/ProcessInstanceList.tsx
  spiffworkflow-frontend/src/routes/ProcessModelEditDiagram.tsx
  spiffworkflow-frontend/src/routes/SecretNew.tsx
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

add mccabe linter and auto fixes (#302)
  spiffworkflow-backend/pyproject.toml
  spiffworkflow-backend/src/spiffworkflow_backend/routes/tasks_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_caller_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_model_test_runner_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/task_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/workflow_execution_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/workflow_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/helpers/base_test.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_api.py
Due: black, check-added-large-files, check-toml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

look up human tasks with the guid instead of the task spec identifier w/ burnettk (#317)
  spiffworkflow-backend/poetry.lock
  spiffworkflow-backend/src/spiffworkflow_backend/routes/tasks_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/authorization_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

if the process id of the call activity cannot be found then refresh the list and try again w/ burnettk (#316)
  spiffworkflow-frontend/src/routes/ProcessModelEditDiagram.tsx
Due: none

Writes into the data store
  spiffworkflow-backend/src/spiffworkflow_backend/data_stores/typeahead.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Docs/basics content (#315)
  docs/learn_basics/images/04-BPMN-Service-Task.png
  docs/learn_basics/images/06-BPMN-Send-Task.png
  docs/learn_basics/images/08-BPMN-User-Task.png
  docs/learn_basics/images/10-BPMN-Manual-Task.png
  docs/learn_basics/images/12-BPMN-Business-Rule-Task.png
  docs/learn_basics/images/14-BPMN-Script-Task.png
  docs/learn_basics/images/23-BPMN-Receive-Task.png
  docs/learn_basics/images/Business-rule-tasks.png
  docs/learn_basics/images/Complex_Gateway.png
  docs/learn_basics/images/End_Event.png
  docs/learn_basics/images/Event_Gateway.png
  docs/learn_basics/images/Exclusive_Gateway.png
  docs/learn_basics/images/Inclusive_Gateway.png
  docs/learn_basics/images/Intermdiate.png
  docs/learn_basics/images/Manual_task.png
  docs/learn_basics/images/Parallet_gateway.png
  docs/learn_basics/images/Receive_task.png
  docs/learn_basics/images/Script-tasks.png
  docs/learn_basics/images/Send_task.png
  docs/learn_basics/images/Service-tasks.png
  docs/learn_basics/images/Start_Event.png
  docs/learn_basics/images/Users_task.png
  docs/learn_basics/images/bpmn-symbol-activity.png
  docs/learn_basics/learn_basics.md
Due: none

Bulk save needs the timestamps
  spiffworkflow-backend/src/spiffworkflow_backend/data_stores/typeahead.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

update elements and content
  docs/index.md
  docs/learn_basics/images/Annotation.png
  docs/learn_basics/images/BPMN_end_event-50x51.png
  docs/learn_basics/images/BPMN_intermediate_event-47x48.png
  docs/learn_basics/images/BPMN_start_event-47x47.png
  docs/learn_basics/images/Businessrule.png
  docs/learn_basics/images/Callactivity.png
  docs/learn_basics/images/Complex.png
  docs/learn_basics/images/Complex_Gateway.png
  docs/learn_basics/images/Data_Object.png
  docs/learn_basics/images/Data_Storage.png
  docs/learn_basics/images/End.png
  docs/learn_basics/images/EndEvent.png
  docs/learn_basics/images/End_Event.png
  docs/learn_basics/images/Eventbased.png
  docs/learn_basics/images/Exclusive.png
  docs/learn_basics/images/Exclusive_Gateway.png
  docs/learn_basics/images/Group.png
  docs/learn_basics/images/Inclusive.png
  docs/learn_basics/images/Inclusive_Gateway.png
  docs/learn_basics/images/Intermediate.png
  docs/learn_basics/images/IntermediateEvent.png
  docs/learn_basics/images/Manual.png
  docs/learn_basics/images/Receive.png
  docs/learn_basics/images/Script.png
  docs/learn_basics/images/Send.png
  docs/learn_basics/images/Service_task.png
  docs/learn_basics/images/Sevice.png
  docs/learn_basics/images/Start.png
  docs/learn_basics/images/StartEvent.png
  docs/learn_basics/images/SubProcess.png
  docs/learn_basics/images/User.png
  docs/learn_basics/images/complex-gateway-53x53.png
  docs/learn_basics/images/event-based-gateway-52x54.png
  docs/learn_basics/images/exclusive-gateway-55x54.png
  docs/learn_basics/images/inclusive-gateway-54x53.png
  docs/learn_basics/images/parallel-event-based-gateway-52x53.png
  docs/learn_basics/images/parallel-gateway-57x57.png
  docs/learn_basics/learn_basics.md
  docs/quick_start/quick_start.md
Due: none

Prep to do the local query
  spiffworkflow-backend/src/spiffworkflow_backend/data_stores/typeahead.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/connector_proxy_controller.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Local typeahead working
  spiffworkflow-backend/src/spiffworkflow_backend/routes/connector_proxy_controller.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

A quick fix for git_ser ice
  spiffworkflow-backend/src/spiffworkflow_backend/services/git_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Pre pr cleanup
  spiffworkflow-backend/src/spiffworkflow_backend/data_stores/typeahead.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/connector_proxy_controller.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

ignore migrations dir in pre-commit for ruff w/ burnettk
  .pre-commit-config.yaml
  spiffworkflow-backend/src/spiffworkflow_backend/data_stores/typeahead.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/connector_proxy_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/custom_parser.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

added css to make the hr elements look like they do for bootstrap w/ burnettk
  spiffworkflow-frontend/src/index.css
Due: none

added css to make the hr elements look like they do for bootstrap w/ burnettk (#320)
  spiffworkflow-frontend/src/index.css
Due: none

Getting ./bin/pyl to pass
  spiffworkflow-backend/src/spiffworkflow_backend/data_stores/typeahead.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/connector_proxy_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/custom_parser.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Update wish_list.md
  docs/wish_list/wish_list.md
Due: none

some fixes and updates to help with running an acceptance test model (#323)
  spiffworkflow-backend/src/spiffworkflow_backend/config/__init__.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/service_task_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_service_task_delegate.py
  spiffworkflow-frontend/src/components/ProcessInstanceRun.tsx
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Update wish_list.md (#322)
  docs/wish_list/wish_list.md
Due: none

update elements and content (#318)
  docs/index.md
  docs/learn_basics/images/Annotation.png
  docs/learn_basics/images/BPMN_end_event-50x51.png
  docs/learn_basics/images/BPMN_intermediate_event-47x48.png
  docs/learn_basics/images/BPMN_start_event-47x47.png
  docs/learn_basics/images/Businessrule.png
  docs/learn_basics/images/Callactivity.png
  docs/learn_basics/images/Complex.png
  docs/learn_basics/images/Complex_Gateway.png
  docs/learn_basics/images/Data_Object.png
  docs/learn_basics/images/Data_Storage.png
  docs/learn_basics/images/End.png
  docs/learn_basics/images/EndEvent.png
  docs/learn_basics/images/End_Event.png
  docs/learn_basics/images/Eventbased.png
  docs/learn_basics/images/Exclusive.png
  docs/learn_basics/images/Exclusive_Gateway.png
  docs/learn_basics/images/Group.png
  docs/learn_basics/images/Inclusive.png
  docs/learn_basics/images/Inclusive_Gateway.png
  docs/learn_basics/images/Intermediate.png
  docs/learn_basics/images/IntermediateEvent.png
  docs/learn_basics/images/Manual.png
  docs/learn_basics/images/Receive.png
  docs/learn_basics/images/Script.png
  docs/learn_basics/images/Send.png
  docs/learn_basics/images/Service_task.png
  docs/learn_basics/images/Sevice.png
  docs/learn_basics/images/Start.png
  docs/learn_basics/images/StartEvent.png
  docs/learn_basics/images/SubProcess.png
  docs/learn_basics/images/User.png
  docs/learn_basics/images/complex-gateway-53x53.png
  docs/learn_basics/images/event-based-gateway-52x54.png
  docs/learn_basics/images/exclusive-gateway-55x54.png
  docs/learn_basics/images/inclusive-gateway-54x53.png
  docs/learn_basics/images/parallel-event-based-gateway-52x53.png
  docs/learn_basics/images/parallel-gateway-57x57.png
  docs/learn_basics/learn_basics.md
  docs/quick_start/quick_start.md
Due: none

Typeahead datastore (#321)
  .pre-commit-config.yaml
  spiffworkflow-backend/migrations/versions/377be1608b45_.py
  spiffworkflow-backend/src/spiffworkflow_backend/data_stores/typeahead.py
  spiffworkflow-backend/src/spiffworkflow_backend/load_database_models.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/typeahead.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/connector_proxy_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/custom_parser.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

added api and test to run a process model and return task data synchronously w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/api.yml
  spiffworkflow-backend/src/spiffworkflow_backend/routes/extensions_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/health_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_api_blueprint.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_instances_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/tasks_controller.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_extensions_controller.py
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

bump connector timeout from 30 to 45
  spiffworkflow-backend/src/spiffworkflow_backend/config/__init__.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

make primary file use font style italics
  spiffworkflow-frontend/src/index.css
  spiffworkflow-frontend/src/routes/ProcessModelShow.tsx
Due: none

make primary file use font style italics (#324)
  spiffworkflow-frontend/src/index.css
  spiffworkflow-frontend/src/routes/ProcessModelShow.tsx
Due: none

remove backend docs dir
  docs/conf.py
  spiffworkflow-backend/docs/codeofconduct.rst
  spiffworkflow-backend/docs/conf.py
  spiffworkflow-backend/docs/contributing.rst
  spiffworkflow-backend/docs/index.rst
  spiffworkflow-backend/docs/license.rst
  spiffworkflow-backend/docs/reference.rst
  spiffworkflow-backend/docs/requirements.txt
  spiffworkflow-backend/docs/usage.rst
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

added remaining path segment all perms to elevated options
  spiffworkflow-backend/src/spiffworkflow_backend/services/authorization_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_authorization_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace
