Repository sartography/spiff-arena: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

black:
  name: black
  entry: black
  language: system
  require_serial: true

check-added-large-files:
  name: Check for added large files
  entry: check-added-large-files
  language: system

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

end-of-file-fixer:
  name: Fix End of Files
  entry: end-of-file-fixer
  language: system
  stages:
  - commit
  - push
  - manual

flake8:
  name: flake8
  entry: flake8
  language: system
  require_serial: true

pyupgrade:
  name: pyupgrade
  description: Automatically upgrade syntax for newer versions.
  entry: pyupgrade
  language: system
  args:
  - --py37-plus

reorder-python-imports:
  name: Reorder python imports
  entry: reorder-python-imports
  language: system
  args:
  - --application-directories=src

trailing-whitespace:
  name: Trim Trailing Whitespace
  entry: trailing-whitespace-fixer
  language: system
  stages:
  - commit
  - push
  - manual

remove frontend elements for now w/ burnettk
  spiffworkflow-frontend/src/components/ProcessInstanceListTabs.tsx
  spiffworkflow-frontend/src/routes/AdminRoutes.tsx
  spiffworkflow-frontend/src/routes/ProcessInstanceAggregations.tsx
Due: none

let dependabot update packages in one directory just to dip our toes (#300)
  .github/dependabot.yml
Due: none

Bump flask for safety (#304)
  .github/workflows/frontend_tests.yml
  spiffworkflow-backend/.snyk
  spiffworkflow-backend/poetry.lock
  spiffworkflow-backend/pyproject.toml
Due: check-added-large-files, check-toml, end-of-file-fixer, trailing-whitespace

Fix issue when timer start event is greater than a day (#303)
  spiffworkflow-backend/src/spiffworkflow_backend/specs/start_event.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_workflow_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

allow specifying multiple minimum date checks for a field w/ burnettk (#305)
  spiffworkflow-frontend/src/routes/TaskShow.tsx
Due: none

npm update bpmn-js-spiffworkflow (#308)
  spiffworkflow-frontend/package-lock.json
Due: none

File tree update (#306)
  docs/glossary/glossary.md
  docs/how_to/complete_a_task_on_behalf_of_another_user.md
  docs/index.md
  docs/learn_basics/bpmn_terminology.md
  docs/learn_basics/learn_basics.md
  docs/spiffworkflow/creatingbpmn.md
  docs/spiffworkflow/examples.md
  docs/spiffworkflow/navigating-spiffworkflow.md
  docs/validating_processes/bpmn_unit_tests.md
  docs/wish_list/wish_list.md
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_model_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Basics content add
  docs/learn_basics/images/BPMN_end_event-50x51.png
  docs/learn_basics/images/BPMN_intermediate_event-47x48.png
  docs/learn_basics/images/BPMN_start_event-47x47.png
  docs/learn_basics/images/EndEvent.png
  docs/learn_basics/images/IntermediateEvent.png
  docs/learn_basics/images/StartEvent.png
  docs/learn_basics/images/complex-gateway-53x53.png
  docs/learn_basics/images/event-based-gateway-52x54.png
  docs/learn_basics/images/exclusive-gateway-55x54.png
  docs/learn_basics/images/inclusive-gateway-54x53.png
  docs/learn_basics/images/parallel-event-based-gateway-52x53.png
  docs/learn_basics/images/parallel-gateway-57x57.png
  docs/learn_basics/learn_basics.md
Due: none

Fixing the stylesheet so forms wrap correctly.
  docs/how_to/bpmn_unit_tests.md
  docs/static/custom.css
Due: none

support validationErrorMessage in rjsf enum w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
  spiffworkflow-frontend/src/rjsf/carbon_theme/SelectWidget/SelectWidget.tsx
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

support validationErrorMessage in rjsf enum w/ burnettk (#311)
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
  spiffworkflow-frontend/src/rjsf/carbon_theme/SelectWidget/SelectWidget.tsx
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

some fixes and updates to help with running an acceptance test model
  spiffworkflow-backend/src/spiffworkflow_backend/config/__init__.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/service_task_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_service_task_delegate.py
  spiffworkflow-frontend/src/components/ProcessInstanceRun.tsx
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

lint
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Basics content add (#310)
  docs/how_to/bpmn_unit_tests.md
  docs/learn_basics/images/BPMN_end_event-50x51.png
  docs/learn_basics/images/BPMN_intermediate_event-47x48.png
  docs/learn_basics/images/BPMN_start_event-47x47.png
  docs/learn_basics/images/EndEvent.png
  docs/learn_basics/images/IntermediateEvent.png
  docs/learn_basics/images/StartEvent.png
  docs/learn_basics/images/complex-gateway-53x53.png
  docs/learn_basics/images/event-based-gateway-52x54.png
  docs/learn_basics/images/exclusive-gateway-55x54.png
  docs/learn_basics/images/inclusive-gateway-54x53.png
  docs/learn_basics/images/parallel-event-based-gateway-52x53.png
  docs/learn_basics/images/parallel-gateway-57x57.png
  docs/learn_basics/learn_basics.md
  docs/static/custom.css
Due: none

Wiring up the datastore
  spiffworkflow-backend/migrations/versions/377be1608b45_.py
  spiffworkflow-backend/src/spiffworkflow_backend/data_stores/typeahead.py
  spiffworkflow-backend/src/spiffworkflow_backend/load_database_models.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/typeahead.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/custom_parser.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

use carbon components when adding secrets
  spiffworkflow-frontend/src/routes/SecretNew.tsx
Due: none

docker compose pull before running up w/ burnettk
  spiffworkflow-backend/bin/build_and_run_with_docker_compose
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

updated permission macros to give admins access to task-data and process-data w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/services/authorization_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_authorization_service.py
  spiffworkflow-frontend/src/hooks/UriListForPermissions.tsx
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

do not check for write to process-models if diagram is readonly anyway w/ burnettk
  spiffworkflow-frontend/src/components/ReactDiagramEditor.tsx
Due: none

updated permission macros to give admins access to task-data and proc… (#314)
  spiffworkflow-backend/src/spiffworkflow_backend/services/authorization_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_authorization_service.py
  spiffworkflow-frontend/src/components/ReactDiagramEditor.tsx
  spiffworkflow-frontend/src/hooks/UriListForPermissions.tsx
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

use all carbon on script task unit test modal w/ burnettk
  spiffworkflow-frontend/src/index.css
  spiffworkflow-frontend/src/routes/ProcessModelEditDiagram.tsx
Due: none

removed remaining references to bootstrap from frontend w/ burnettk
  spiffworkflow-frontend/package-lock.json
  spiffworkflow-frontend/package.json
  spiffworkflow-frontend/src/components/NavigationBar.tsx
  spiffworkflow-frontend/src/components/ProcessInstanceListTable.tsx
  spiffworkflow-frontend/src/index.tsx
  spiffworkflow-frontend/src/routes/ProcessInstanceList.tsx
Due: none

updated usage of hidden to use the class instead of the bootstrap attribute w/ burnettk
  spiffworkflow-frontend/src/components/NavigationBar.tsx
  spiffworkflow-frontend/src/components/ProcessGroupListTiles.tsx
  spiffworkflow-frontend/src/components/TaskListTable.tsx
  spiffworkflow-frontend/src/routes/HomePageRoutes.tsx
Due: none

print out docker version for debugging
  spiffworkflow-backend/bin/build_and_run_with_docker_compose
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

docker pull with docker instead of compose
  spiffworkflow-backend/bin/build_and_run_with_docker_compose
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

added comment for docker pull in check docker start script
  spiffworkflow-backend/bin/build_and_run_with_docker_compose
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

fixing basics symbols
  docs/learn_basics/images/04-BPMN-Service-Task.png
  docs/learn_basics/images/06-BPMN-Send-Task.png
  docs/learn_basics/images/08-BPMN-User-Task.png
  docs/learn_basics/images/10-BPMN-Manual-Task.png
  docs/learn_basics/images/12-BPMN-Business-Rule-Task.png
  docs/learn_basics/images/14-BPMN-Script-Task.png
  docs/learn_basics/images/23-BPMN-Receive-Task.png
  docs/learn_basics/images/BPMN_end_event-50x51.png
  docs/learn_basics/images/BPMN_intermediate_event-47x48.png
  docs/learn_basics/images/BPMN_start_event-47x47.png
  docs/learn_basics/images/Business-rule-tasks.png
  docs/learn_basics/images/Complex_Gateway.png
  docs/learn_basics/images/EndEvent.png
  docs/learn_basics/images/End_Event.png
  docs/learn_basics/images/Event_Gateway.png
  docs/learn_basics/images/Exclusive_Gateway.png
  docs/learn_basics/images/Inclusive_Gateway.png
  docs/learn_basics/images/Intermdiate.png
  docs/learn_basics/images/IntermediateEvent.png
  docs/learn_basics/images/Manual_task.png
  docs/learn_basics/images/Parallet_gateway.png
  docs/learn_basics/images/Receive_task.png
  docs/learn_basics/images/Script-tasks.png
  docs/learn_basics/images/Send_task.png
  docs/learn_basics/images/Service-tasks.png
  docs/learn_basics/images/StartEvent.png
  docs/learn_basics/images/Start_Event.png
  docs/learn_basics/images/Users_task.png
  docs/learn_basics/images/bpmn-symbol-activity.png
  docs/learn_basics/images/complex-gateway-53x53.png
  docs/learn_basics/images/event-based-gateway-52x54.png
  docs/learn_basics/images/exclusive-gateway-55x54.png
  docs/learn_basics/images/inclusive-gateway-54x53.png
  docs/learn_basics/images/parallel-event-based-gateway-52x53.png
  docs/learn_basics/images/parallel-gateway-57x57.png
  docs/learn_basics/learn_basics.md
Due: none

if the process id of the call activity cannot be found then refresh the list and try again w/ burnettk
  spiffworkflow-frontend/src/routes/ProcessModelEditDiagram.tsx
Due: none

WIP: some updates to support new spiff w/ burnettk
  spiffworkflow-backend/poetry.lock
  spiffworkflow-backend/pyproject.toml
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/task_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_error_handling_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_message_service.py
Due: black, check-added-large-files, check-toml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

look up human tasks with the guid instead of the task spec identifier w/ burnettk
  spiffworkflow-backend/poetry.lock
  spiffworkflow-backend/src/spiffworkflow_backend/routes/tasks_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/authorization_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Path conditions:
  black: any of: ^spiffworkflow-backend/ and \.py$ and not (/migrations/)
  check-added-large-files: any of: ^spiffworkflow-backend/
  check-toml: any of: ^spiffworkflow-backend/ and \.toml$
  check-yaml: any of: ^spiffworkflow-backend/ and \.(yaml|yml)$
  end-of-file-fixer: any of: ^spiffworkflow-backend/
  flake8: any of: ^spiffworkflow-backend/ and \.py$ and not (/migrations/)
  pyupgrade: any of: ^spiffworkflow-backend/ and \.py$
  reorder-python-imports: any of: ^spiffworkflow-backend/ and \.py$ and not ((/migrations/|load_database_models))
  trailing-whitespace: any of: ^spiffworkflow-backend/, but not: /migrations/
