Repository sartography/spiff-arena: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-added-large-files, check-toml, check-yaml, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: check-added-large-files
        files: ^spiffworkflow-backend/
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-toml
        files: ^spiffworkflow-backend/
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-yaml
        files: ^spiffworkflow-backend/
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        files: ^spiffworkflow-backend/
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: ruff-check
        args: [check, --fix]
        files: ^spiffworkflow-backend/
        name: ruff
        entry: ruff
        language: system
        types: [python]
        require_serial: true
        # this is also specified in spiffworkflow-backend/pyproject.toml but we run pre-commit
        # with all-files which ignores that
        exclude: "/migrations/"
      - id: ruff-format
        args: [format]
        files: ^spiffworkflow-backend/
        name: ruff
        entry: ruff
        language: system
        types: [python]
        require_serial: true
        # this is also specified in spiffworkflow-backend/pyproject.toml but we run pre-commit
        # with all-files which ignores that
        exclude: "/migrations/"
      - id: trailing-whitespace
        files: ^spiffworkflow-backend/
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
        exclude: "/migrations/"

rename
  docs/how_to_guides/building_diagrams/use_user_tasks_and_forms.md
  spiffworkflow-frontend/src/components/CustomForm.tsx
  spiffworkflow-frontend/src/rjsf/custom_widgets/InterpretedField/InterpretedField.test.tsx
  spiffworkflow-frontend/src/rjsf/custom_widgets/InterpretedField/InterpretedField.tsx
Due: none

tweaks and cleanup
  .github/workflows/tests.yml
  508_compliance.md
  accessability_conformance_report-v3.1.0-4.yaml
  spiffworkflow-backend/uv.lock
  spiffworkflow-frontend/src/assets/icons/spiff-icon-cyan.svg
  spiffworkflow-frontend/src/assets/icons/spiffworks_icon.svg
  spiffworkflow-frontend/src/index.css
  spiffworkflow-frontend/test/browser/helpers/accessibility.py
  spiffworkflow-frontend/test/browser/test_accessibility.py
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

address coderabbit finding
  spiffworkflow-frontend/test/browser/helpers/accessibility.py
Due: none

docs
  docs/how_to_guides/building_diagrams/use_user_tasks_and_forms.md
Due: none

translations and fix
  spiffworkflow-frontend/src/locales/en_us/translation.json
  spiffworkflow-frontend/src/rjsf/custom_widgets/InterpretedField/InterpretedField.test.tsx
  spiffworkflow-frontend/src/rjsf/custom_widgets/InterpretedField/InterpretedField.tsx
Due: none

wip
  spiffworkflow-frontend/src/locales/en_us/translation.json
  spiffworkflow-frontend/src/rjsf/custom_widgets/InterpretedField/InterpretedField.test.tsx
  spiffworkflow-frontend/src/rjsf/custom_widgets/InterpretedField/InterpretedField.tsx
Due: none

Feature/508 audit (#2962)
  .github/workflows/tests.yml
  accessability_conformance_report-v3.1.0-4.yaml
  spiffworkflow-frontend/eslint.config.js
  spiffworkflow-frontend/src/assets/icons/spiff-icon-cyan.svg
  spiffworkflow-frontend/src/assets/icons/spiffworks_arena.svg
  spiffworkflow-frontend/src/assets/theme/SpiffTheme.ts
  spiffworkflow-frontend/src/components/DataStoreListTable.tsx
  spiffworkflow-frontend/src/components/ProcessInstanceListTable.tsx
  spiffworkflow-frontend/src/components/ProcessInstanceLogList.tsx
  spiffworkflow-frontend/src/components/ProcessInterstitial.tsx
  spiffworkflow-frontend/src/components/ProcessModelFileList.tsx
  spiffworkflow-frontend/src/components/ProcessModelFileUploadModal.tsx
  spiffworkflow-frontend/src/components/ProcessModelTabs.tsx
  spiffworkflow-frontend/src/components/SideNav.tsx
  spiffworkflow-frontend/src/components/SpiffLogo.tsx
  spiffworkflow-frontend/src/components/TaskControls.tsx
  spiffworkflow-frontend/src/components/TaskTable.tsx
  spiffworkflow-frontend/src/components/ThemedCodeMirror.tsx
  spiffworkflow-frontend/src/components/messages/MessageInstanceList.tsx
  spiffworkflow-frontend/src/components/messages/MessageModelList.tsx
  spiffworkflow-frontend/src/components/processGroupTree/CollapsibleGroupTree.tsx
  spiffworkflow-frontend/src/i18n.test.ts
  spiffworkflow-frontend/src/i18n.ts
  spiffworkflow-frontend/src/index.css
  spiffworkflow-frontend/src/locales/en_us/translation.json
  spiffworkflow-frontend/src/views/About.tsx
  spiffworkflow-frontend/src/views/AuthenticationList.tsx
  spiffworkflow-frontend/src/views/ProcessInstanceMigratePage.tsx
  spiffworkflow-frontend/src/views/ReactFormEditor.tsx
  spiffworkflow-frontend/src/views/SecretList.tsx
  spiffworkflow-frontend/src/views/SecretShow.tsx
  spiffworkflow-frontend/src/views/StartProcess/ProcessModelTreePage.tsx
  spiffworkflow-frontend/src/views/TaskShow/TaskShow.tsx
  spiffworkflow-frontend/src/views/public/PublicForm.tsx
  spiffworkflow-frontend/src/vite-env.d.ts
  spiffworkflow-frontend/test/browser/.gitignore
  spiffworkflow-frontend/test/browser/helpers/accessibility.py
  spiffworkflow-frontend/test/browser/pyproject.toml
  spiffworkflow-frontend/test/browser/test_accessibility.py
  spiffworkflow-frontend/test/browser/uv.lock
Due: none

no icon w/ jasquat
  docs/how_to_guides/building_diagrams/use_user_tasks_and_forms.md
  spiffworkflow-frontend/src/rjsf/custom_widgets/InterpretedField/InterpretedField.tsx
Due: none

deprecate SPIFFWORKFLOW_BACKEND_URL_FOR_FRONTEND w/ jasquat
  bin/run_editor
  docker-compose.yml
  docs/how_to_guides/deployment/use_pathbased_routing.md
  docs/reference/frequently_asked_questions.md
  editor.docker-compose.yml
  spiffworkflow-backend/docker-compose.yml
  spiffworkflow-backend/src/spiffworkflow_backend/config/__init__.py
  spiffworkflow-backend/src/spiffworkflow_backend/config/default.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/authentication_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/service_tasks_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/scripts/get_frontend_url.py
  spiffworkflow-backend/src/spiffworkflow_backend/scripts/get_url_for_task.py
  spiffworkflow-backend/src/spiffworkflow_backend/scripts/get_url_for_task_with_bpmn_identifier.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/authentication_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_authentication.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_long_running_services.py
  spiffworkflow-backend/tests/spiffworkflow_backend/scripts/test_get_url_for_task_with_bpmn_identifier.py
  spiffworkflow-backend/tests/spiffworkflow_backend/scripts/test_get_users_assigned_to_task.py
Due: check-added-large-files, check-yaml, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

update cryptography for safety w/ burnettk
  spiffworkflow-backend/uv.lock
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

dedup w/ jasquat
  spiffworkflow-backend/src/spiffworkflow_backend/config/__init__.py
  spiffworkflow-backend/src/spiffworkflow_backend/config/default.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

nope w/ jasquat
  spiffworkflow-backend/src/spiffworkflow_backend/config/__init__.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

lint w/ jasquat
  spiffworkflow-backend/src/spiffworkflow_backend/config/__init__.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

Deprecate spiffworkflow backend url for frontend (#3003)
  bin/run_editor
  docker-compose.yml
  docs/how_to_guides/deployment/use_pathbased_routing.md
  docs/reference/frequently_asked_questions.md
  editor.docker-compose.yml
  spiffworkflow-backend/docker-compose.yml
  spiffworkflow-backend/src/spiffworkflow_backend/config/__init__.py
  spiffworkflow-backend/src/spiffworkflow_backend/config/default.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/authentication_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/service_tasks_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/scripts/get_frontend_url.py
  spiffworkflow-backend/src/spiffworkflow_backend/scripts/get_url_for_task.py
  spiffworkflow-backend/src/spiffworkflow_backend/scripts/get_url_for_task_with_bpmn_identifier.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/authentication_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_authentication.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_long_running_services.py
  spiffworkflow-backend/tests/spiffworkflow_backend/scripts/test_get_url_for_task_with_bpmn_identifier.py
  spiffworkflow-backend/tests/spiffworkflow_backend/scripts/test_get_users_assigned_to_task.py
Due: check-added-large-files, check-yaml, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

use base paths where necessary w/ jasquat
  spiffworkflow-frontend/src/components/DataStoreCard.tsx
  spiffworkflow-frontend/src/components/ProcessInstanceListTable.tsx
  spiffworkflow-frontend/src/components/ProcessInstanceProgress.tsx
  spiffworkflow-frontend/src/components/ProcessInstanceRun.tsx
  spiffworkflow-frontend/src/components/ProcessModelFileList.tsx
  spiffworkflow-frontend/src/components/TaskListTable.tsx
  spiffworkflow-frontend/src/components/messages/MessageModelList.tsx
  spiffworkflow-frontend/src/helpers/basePath.test.ts
  spiffworkflow-frontend/src/helpers/basePath.ts
  spiffworkflow-frontend/src/views/Extension.tsx
  spiffworkflow-frontend/src/views/ProcessInstanceShow.tsx
  spiffworkflow-frontend/src/views/ProcessModelEditDiagram.tsx
  spiffworkflow-frontend/src/views/ProcessModelShow.tsx
  spiffworkflow-frontend/src/views/StartProcess/ProcessModelTreePage.tsx
  spiffworkflow-frontend/src/views/public/PublicForm.tsx
Due: none

lint
  spiffworkflow-frontend/src/components/ProcessInstanceProgress.tsx
  spiffworkflow-frontend/src/components/ProcessInstanceRun.tsx
  spiffworkflow-frontend/src/views/StartProcess/ProcessModelTreePage.tsx
Due: none

dang
  spiffworkflow-frontend/eslint.config.js
Due: none

build(common): bump SpiffWorkflow dependency
  spiff-arena-common/pyproject.toml
  uv.lock
Due: none

Bump SpiffWorkflow dependency in common (#3005)
  spiff-arena-common/pyproject.toml
  uv.lock
Due: none

hot fix
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_process_caller_service.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

attempt to mitigate cross-site forgery, and support newer mysql w/ jasquat o2
  spiffworkflow-backend/bin/agents/backend_setup.sh
  spiffworkflow-frontend/src/helpers/basePath.test.ts
  spiffworkflow-frontend/src/helpers/basePath.ts
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

fix lint w/ jasquat o2
  spiffworkflow-frontend/src/helpers/basePath.test.ts
Due: none

prepend base paths where necessary in frontend (#3004)
  spiffworkflow-backend/bin/agents/backend_setup.sh
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_process_caller_service.py
  spiffworkflow-frontend/eslint.config.js
  spiffworkflow-frontend/src/components/DataStoreCard.tsx
  spiffworkflow-frontend/src/components/ProcessInstanceListTable.tsx
  spiffworkflow-frontend/src/components/ProcessInstanceProgress.tsx
  spiffworkflow-frontend/src/components/ProcessInstanceRun.tsx
  spiffworkflow-frontend/src/components/ProcessModelFileList.tsx
  spiffworkflow-frontend/src/components/TaskListTable.tsx
  spiffworkflow-frontend/src/components/messages/MessageModelList.tsx
  spiffworkflow-frontend/src/helpers/basePath.test.ts
  spiffworkflow-frontend/src/helpers/basePath.ts
  spiffworkflow-frontend/src/views/Extension.tsx
  spiffworkflow-frontend/src/views/ProcessInstanceShow.tsx
  spiffworkflow-frontend/src/views/ProcessModelEditDiagram.tsx
  spiffworkflow-frontend/src/views/ProcessModelShow.tsx
  spiffworkflow-frontend/src/views/StartProcess/ProcessModelTreePage.tsx
  spiffworkflow-frontend/src/views/public/PublicForm.tsx
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

update to use Link instead of href where we can w/ burnettk
  spiffworkflow-frontend/src/components/DataStoreCard.tsx
  spiffworkflow-frontend/src/components/ProcessInstanceListTable.tsx
  spiffworkflow-frontend/src/components/ProcessInstanceProgress.tsx
  spiffworkflow-frontend/src/components/ProcessModelFileList.tsx
  spiffworkflow-frontend/src/components/TaskListTable.tsx
  spiffworkflow-frontend/src/components/messages/MessageModelList.test.tsx
  spiffworkflow-frontend/src/components/messages/MessageModelList.tsx
  spiffworkflow-frontend/src/views/ProcessInstanceShow.tsx
  spiffworkflow-frontend/src/views/ProcessModelEditDiagram.tsx
  spiffworkflow-frontend/src/views/ProcessModelShow.tsx
  spiffworkflow-frontend/src/views/StartProcess/ProcessModelTreePage.tsx
  spiffworkflow-frontend/src/views/public/PublicForm.tsx
Due: none

update to use Link instead of href where we can (#3006)
  spiffworkflow-frontend/src/components/DataStoreCard.tsx
  spiffworkflow-frontend/src/components/ProcessInstanceListTable.tsx
  spiffworkflow-frontend/src/components/ProcessInstanceProgress.tsx
  spiffworkflow-frontend/src/components/ProcessModelFileList.tsx
  spiffworkflow-frontend/src/components/TaskListTable.tsx
  spiffworkflow-frontend/src/components/messages/MessageModelList.test.tsx
  spiffworkflow-frontend/src/components/messages/MessageModelList.tsx
  spiffworkflow-frontend/src/views/ProcessInstanceShow.tsx
  spiffworkflow-frontend/src/views/ProcessModelEditDiagram.tsx
  spiffworkflow-frontend/src/views/ProcessModelShow.tsx
  spiffworkflow-frontend/src/views/StartProcess/ProcessModelTreePage.tsx
  spiffworkflow-frontend/src/views/public/PublicForm.tsx
Due: none

stuff for extension gets nested in extensionInput w/ jasquat o2
  docs/how_to_guides/building_diagrams/use_user_tasks_and_forms.md
  spiffworkflow-frontend/src/rjsf/custom_widgets/InterpretedField/InterpretedField.test.tsx
  spiffworkflow-frontend/src/rjsf/custom_widgets/InterpretedField/InterpretedField.tsx
Due: none

split pi show page into smaller components w/ burnettk
  spiffworkflow-frontend/src/components/processInstance/HistoricalStateBanner.test.tsx
  spiffworkflow-frontend/src/components/processInstance/HistoricalStateBanner.tsx
  spiffworkflow-frontend/src/components/processInstance/ProcessDataDialog.test.tsx
  spiffworkflow-frontend/src/components/processInstance/ProcessDataDialog.tsx
  spiffworkflow-frontend/src/components/processInstance/ProcessInstanceActionBar.test.tsx
  spiffworkflow-frontend/src/components/processInstance/ProcessInstanceActionBar.tsx
  spiffworkflow-frontend/src/components/processInstance/ProcessInstanceDiagramPanel.test.tsx
  spiffworkflow-frontend/src/components/processInstance/ProcessInstanceDiagramPanel.tsx
  spiffworkflow-frontend/src/components/processInstance/ProcessInstanceSummary.test.tsx
  spiffworkflow-frontend/src/components/processInstance/ProcessInstanceSummary.tsx
  spiffworkflow-frontend/src/components/processInstance/ProcessInstanceTabs.tsx
  spiffworkflow-frontend/src/components/processInstance/TaskRetryDetails.test.tsx
  spiffworkflow-frontend/src/components/processInstance/TaskRetryDetails.tsx
  spiffworkflow-frontend/src/views/ProcessInstanceShow.tsx
Due: none

split out more items w/ burnettk
  spiffworkflow-frontend/eslint.config.js
  spiffworkflow-frontend/src/components/processInstance/TaskInspectorDialog.test.tsx
  spiffworkflow-frontend/src/components/processInstance/TaskInspectorDialog.tsx
  spiffworkflow-frontend/src/components/processInstance/useTaskInspector.test.tsx
  spiffworkflow-frontend/src/components/processInstance/useTaskInspector.ts
  spiffworkflow-frontend/src/views/ProcessInstanceShow.tsx
Due: none

lint w/ burnettk
  spiffworkflow-frontend/src/components/processInstance/TaskInspectorDialog.tsx
Due: none

use our error handling w/ burnettk
  spiffworkflow-frontend/src/components/processInstance/useTaskInspector.test.tsx
  spiffworkflow-frontend/src/components/processInstance/useTaskInspector.ts
Due: none

Split up pi show (#3007)
  spiffworkflow-frontend/eslint.config.js
  spiffworkflow-frontend/src/components/processInstance/HistoricalStateBanner.test.tsx
  spiffworkflow-frontend/src/components/processInstance/HistoricalStateBanner.tsx
  spiffworkflow-frontend/src/components/processInstance/ProcessDataDialog.test.tsx
  spiffworkflow-frontend/src/components/processInstance/ProcessDataDialog.tsx
  spiffworkflow-frontend/src/components/processInstance/ProcessInstanceActionBar.test.tsx
  spiffworkflow-frontend/src/components/processInstance/ProcessInstanceActionBar.tsx
  spiffworkflow-frontend/src/components/processInstance/ProcessInstanceDiagramPanel.test.tsx
  spiffworkflow-frontend/src/components/processInstance/ProcessInstanceDiagramPanel.tsx
  spiffworkflow-frontend/src/components/processInstance/ProcessInstanceSummary.test.tsx
  spiffworkflow-frontend/src/components/processInstance/ProcessInstanceSummary.tsx
  spiffworkflow-frontend/src/components/processInstance/ProcessInstanceTabs.tsx
  spiffworkflow-frontend/src/components/processInstance/TaskInspectorDialog.test.tsx
  spiffworkflow-frontend/src/components/processInstance/TaskInspectorDialog.tsx
  spiffworkflow-frontend/src/components/processInstance/TaskRetryDetails.test.tsx
  spiffworkflow-frontend/src/components/processInstance/TaskRetryDetails.tsx
  spiffworkflow-frontend/src/components/processInstance/useTaskInspector.test.tsx
  spiffworkflow-frontend/src/components/processInstance/useTaskInspector.ts
  spiffworkflow-frontend/src/views/ProcessInstanceShow.tsx
Due: none

Markdown: added popup and collapsible directives
  docs/how_to_guides/building_diagrams/use_user_tasks_and_forms.md
  spiffworkflow-frontend/package-lock.json
  spiffworkflow-frontend/package.json
  spiffworkflow-frontend/src/components/MarkdownDirectives.tsx
  spiffworkflow-frontend/src/components/MarkdownRenderer.test.tsx
  spiffworkflow-frontend/src/components/MarkdownRenderer.tsx
  spiffworkflow-frontend/src/rjsf/custom_widgets/MarkDownFieldWidget/MarkDownFieldWidget.tsx
  spiffworkflow-frontend/src/views/ProcessModelEditDiagram.tsx
  spiffworkflow-frontend/src/views/ReactFormEditor.tsx
Due: none

wording
  docs/how_to_guides/building_diagrams/use_user_tasks_and_forms.md
Due: none

Support Markdown popups and collapsible sections (#3008)
  docs/how_to_guides/building_diagrams/use_user_tasks_and_forms.md
  spiffworkflow-frontend/package-lock.json
  spiffworkflow-frontend/package.json
  spiffworkflow-frontend/src/components/MarkdownDirectives.tsx
  spiffworkflow-frontend/src/components/MarkdownRenderer.test.tsx
  spiffworkflow-frontend/src/components/MarkdownRenderer.tsx
  spiffworkflow-frontend/src/rjsf/custom_widgets/MarkDownFieldWidget/MarkDownFieldWidget.tsx
  spiffworkflow-frontend/src/views/ProcessModelEditDiagram.tsx
  spiffworkflow-frontend/src/views/ReactFormEditor.tsx
Due: none

remove unused deps
  spiffworkflow-backend/pyproject.toml
  spiffworkflow-backend/uv.lock
Due: check-added-large-files, check-toml, end-of-file-fixer, trailing-whitespace

pull markdown extensions into app
  spiffworkflow-frontend/package-lock.json
  spiffworkflow-frontend/package.json
  spiffworkflow-frontend/src/components/MarkdownDirectives.tsx
  spiffworkflow-frontend/src/components/MarkdownRenderer.test.tsx
  spiffworkflow-frontend/src/mdast-directives.d.ts
Due: none

historical process instance diagrams
  docs/explanation/dev/historical_process_instance_diagrams.md
  docs/explanation/dev/index.md
  spiffworkflow-backend/migrations/versions/82efc719a603_model_source_manifests.py
  spiffworkflow-backend/src/spiffworkflow_backend/api.yml
  spiffworkflow-backend/src/spiffworkflow_backend/load_database_models.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/model_source.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/process_instance.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/process_instance_migration_detail.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/process_model.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/task.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_api_blueprint.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_instance_events_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_instances_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/public_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/bpmn_process_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/bpmn_process_spec_converter.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/form_schema_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/message_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/model_source_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_diagram_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_event_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_persistence_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_runtime.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/workflow_execution_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_long_running_services.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_model_sources.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_api.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_instance_diagrams.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_form_schema_service.py
  spiffworkflow-frontend/src/components/processInstance/DmnSourceViewer.tsx
  spiffworkflow-frontend/src/components/processInstance/ProcessInstanceDiagramPanel.test.tsx
  spiffworkflow-frontend/src/components/processInstance/ProcessInstanceDiagramPanel.tsx
  spiffworkflow-frontend/src/components/processInstance/ProcessInstanceSourceFiles.test.tsx
  spiffworkflow-frontend/src/components/processInstance/ProcessInstanceSourceFiles.tsx
  spiffworkflow-frontend/src/components/processInstance/ProcessInstanceTabs.tsx
  spiffworkflow-frontend/src/interfaces.ts
  spiffworkflow-frontend/src/locales/en_us/translation.json
  spiffworkflow-frontend/src/views/ProcessInstanceMigratePage.tsx
  spiffworkflow-frontend/src/views/ProcessInstanceShow.tsx
Due: check-added-large-files, check-yaml, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

remove unused deps simplejson and chardet (#3014)
  spiffworkflow-backend/pyproject.toml
  spiffworkflow-backend/uv.lock
Due: check-added-large-files, check-toml, end-of-file-fixer, trailing-whitespace

hotter regexes w/ jasquat
  docs/how_to_guides/building_diagrams/use_user_tasks_and_forms.md
  spiffworkflow-frontend/src/components/MarkdownDirectives.tsx
  spiffworkflow-frontend/src/components/MarkdownRenderer.test.tsx
Due: none

pull markdown extensions into app (#3015)
  docs/how_to_guides/building_diagrams/use_user_tasks_and_forms.md
  spiffworkflow-frontend/package-lock.json
  spiffworkflow-frontend/package.json
  spiffworkflow-frontend/src/components/MarkdownDirectives.tsx
  spiffworkflow-frontend/src/components/MarkdownRenderer.test.tsx
  spiffworkflow-frontend/src/mdast-directives.d.ts
Due: none
