Repository sartography/spiff-arena: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

black:
  name: black
  entry: black
  language: system
  require_serial: true

check-added-large-files:
  name: Check for added large files
  entry: check-added-large-files
  language: system

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

end-of-file-fixer:
  name: Fix End of Files
  entry: end-of-file-fixer
  language: system
  stages:
  - commit
  - push
  - manual

flake8:
  name: flake8
  entry: flake8
  language: system
  require_serial: true

pyupgrade:
  name: pyupgrade
  description: Automatically upgrade syntax for newer versions.
  entry: pyupgrade
  language: system
  args:
  - --py37-plus

reorder-python-imports:
  name: Reorder python imports
  entry: reorder-python-imports
  language: system
  args:
  - --application-directories=src

trailing-whitespace:
  name: Trim Trailing Whitespace
  entry: trailing-whitespace-fixer
  language: system
  stages:
  - commit
  - push
  - manual

feature/fix-task-last-state-change (#452)
  spiffworkflow-backend/src/spiffworkflow_backend/data_migrations/version_1_3.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

handle when parent is none when getting last state change
  spiffworkflow-backend/src/spiffworkflow_backend/data_migrations/version_1_3.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

handle when parent is none when getting last state change (#453)
  spiffworkflow-backend/src/spiffworkflow_backend/data_migrations/version_1_3.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

corrected png error
  docs/Building_Diagrams/bpmn.md
  docs/Building_Diagrams/images/collaboration_messages_1.png
  docs/Building_Diagrams/images/collaboration_msg.png
  docs/Building_Diagrams/images/correlation_1.png
  docs/Building_Diagrams/images/correlation_keys_1.png
  docs/Building_Diagrams/images/correlation_properties_1.png
  docs/Building_Diagrams/images/data_object_pools_1.png
  docs/Building_Diagrams/images/end_msg_event.png
  docs/Building_Diagrams/images/event_correlation_msg.png
  docs/Building_Diagrams/images/intermediate_catch_msg_event.png
  docs/Building_Diagrams/images/intermediate_throw_msg_event.png
  docs/Building_Diagrams/images/lane_configuration_1.png
  docs/Building_Diagrams/images/lanes_1.png
  docs/Building_Diagrams/images/message_1.png
  docs/Building_Diagrams/images/msg_event_example_2.png
  docs/Building_Diagrams/images/msg_event_example_3.png
  docs/Building_Diagrams/images/msg_event_example_4.png
  docs/Building_Diagrams/images/msg_event_example_5.png
  docs/Building_Diagrams/images/participant_configuration_1.png
  docs/Building_Diagrams/images/participant_customer_1.png
  docs/Building_Diagrams/images/participant_lane_1.png
  docs/Building_Diagrams/images/participant_sales_1.png
  docs/Building_Diagrams/images/payload_msg.png
  docs/Building_Diagrams/images/pool_settings_1.png
  docs/Building_Diagrams/images/pools_and_lanes_1.png
  docs/Building_Diagrams/images/relationship_message.png
  docs/Building_Diagrams/images/separate_pools_1.png
  docs/Building_Diagrams/images/start_message_event_1.png
  docs/Building_Diagrams/message_events.md
  docs/Building_Diagrams/pools_and_lanes.md
Due: none

added test for last milestone and added it to the proces instance show page w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/models/process_instance.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_report_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_model_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/workflow_execution_service.py
  spiffworkflow-backend/tests/data/test-last-milestone/test_last_milestone.bpmn
  spiffworkflow-backend/tests/data/test-last-milestone/test_last_milestone_call_activity.bpmn
  spiffworkflow-backend/tests/spiffworkflow_backend/helpers/base_test.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_workflow_execution_service.py
  spiffworkflow-frontend/src/components/ProcessInstanceListTable.tsx
  spiffworkflow-frontend/src/helpers.tsx
  spiffworkflow-frontend/src/index.css
  spiffworkflow-frontend/src/routes/ProcessInstanceShow.tsx
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

fixed broken test w/ burnettk
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_api.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

updated the support user permissions to disallow authentications as well and updated webui to nav to auth page if auth is available but secrets are not w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/services/authorization_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_authorization_service.py
  spiffworkflow-frontend/src/routes/SecretList.tsx
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

when we replace variables in enum list in jsonschema ensure it is actually a non-empty list w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/routes/tasks_controller.py
  spiffworkflow-frontend/src/routes/TaskShow.tsx
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

improve error messaging for process model repo
  spiffworkflow-backend/bin/find_sample_process_models
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

remove space before colon on metadata display
  spiffworkflow-frontend/src/routes/ProcessInstanceShow.tsx
Due: none

fixed last milestone header
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_report_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Extension section (#446)
  docs/Building_Diagrams/Extensions.md
  docs/Building_Diagrams/images/Agregate_metadata.png
  docs/Building_Diagrams/images/Env_variable_Screenshot.png
  docs/Building_Diagrams/images/Extension1.png
  docs/Building_Diagrams/images/Extension_UI_schema.png
  docs/Building_Diagrams/images/Extensions2.png
  docs/Building_Diagrams/images/Extensions_dashboard.png
  docs/index.md
Due: none

use a slightly safer time in migration script. w/ jlantz
  .gitignore
  spiffworkflow-backend/src/spiffworkflow_backend/data_migrations/version_1_3.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Bump wheel
  spiffworkflow-backend/poetry.lock
  spiffworkflow-backend/pyproject.toml
Due: check-added-large-files, check-toml, end-of-file-fixer, trailing-whitespace

Use version off pypi
  spiffworkflow-backend/poetry.lock
  spiffworkflow-backend/pyproject.toml
Due: check-added-large-files, check-toml, end-of-file-fixer, trailing-whitespace

updated scheduler config name to make sense and updated docker-compose file to use the local_docker env
  docker-compose.yml
  editor.docker-compose.yml
  spiffworkflow-backend/bin/run_server_locally
  spiffworkflow-backend/docker-compose.yml
  spiffworkflow-backend/src/spiffworkflow_backend/__init__.py
  spiffworkflow-backend/src/spiffworkflow_backend/config/__init__.py
  spiffworkflow-backend/src/spiffworkflow_backend/config/default.py
  spiffworkflow-backend/src/spiffworkflow_backend/config/local_development.py
  spiffworkflow-backend/src/spiffworkflow_backend/config/terraform_deployed_environment.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_instances_controller.py
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

added sample command to boot server in docker
  spiffworkflow-backend/bin/boot_server_in_docker
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

removed terraform configs since they are no longer used
  spiffworkflow-backend/src/spiffworkflow_backend/config/__init__.py
  spiffworkflow-backend/src/spiffworkflow_backend/config/terraform_deployed_environment.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

do not remove users from groups when running refresh_permissions if specified
  spiffworkflow-backend/src/spiffworkflow_backend/scripts/refresh_permissions.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/authorization_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_authentication.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

show an error message and render the remaining page if a bpmn diagram cannot load w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/models/process_instance.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_instances_controller.py
  spiffworkflow-frontend/src/components/ErrorDisplay.tsx
  spiffworkflow-frontend/src/components/Notification.tsx
  spiffworkflow-frontend/src/interfaces.ts
  spiffworkflow-frontend/src/routes/ProcessInstanceShow.tsx
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Update README.md
  README.md
Due: none

removed duplicated column
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_report_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

document command to create/wipe db
  README.md
Due: none

removed commented out smart task prediction code from after_engine_steps and removed code to predict tasks again from within backend
  spiffworkflow-backend/src/spiffworkflow_backend/services/workflow_execution_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

build images for this branch
  .github/workflows/docker_image_for_main_builds.yml
Due: none

removed commented out debug code
  spiffworkflow-backend/src/spiffworkflow_backend/services/workflow_execution_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

fixed broken test
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_api.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

added a widget to allow markdown fields for rjsf
  spiffworkflow-frontend/src/components/CustomForm.tsx
  spiffworkflow-frontend/src/rjsf/custom_widgets/MarkDownFieldWidget/MarkDownFieldWidget.tsx
Due: none

attempting to center all the main elements except the diagram page WIP w/ burnettk
  spiffworkflow-frontend/src/App.tsx
  spiffworkflow-frontend/src/index.css
  spiffworkflow-frontend/src/index.scss
  spiffworkflow-frontend/src/routes/EditorRoutes.tsx
  spiffworkflow-frontend/src/routes/ProcessInstanceShow.tsx
  spiffworkflow-frontend/src/routes/ProcessModelEditDiagram.tsx
Due: none

fix build issue
  spiffworkflow-frontend/src/routes/ProcessInstanceShow.tsx
Due: none

Path conditions:
  black: any of: ^spiffworkflow-backend/ and \.py$ and not (/migrations/)
  check-added-large-files: any of: ^spiffworkflow-backend/
  check-toml: any of: ^spiffworkflow-backend/ and \.toml$
  check-yaml: any of: ^spiffworkflow-backend/ and \.(yaml|yml)$
  end-of-file-fixer: any of: ^spiffworkflow-backend/
  flake8: any of: ^spiffworkflow-backend/ and \.py$ and not (/migrations/)
  pyupgrade: any of: ^spiffworkflow-backend/ and \.py$
  reorder-python-imports: any of: ^spiffworkflow-backend/ and \.py$ and not ((/migrations/|load_database_models))
  trailing-whitespace: any of: ^spiffworkflow-backend/, but not: /migrations/
