Repository sartography/spiff-arena: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-added-large-files, check-toml, check-yaml, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: check-added-large-files
        files: ^spiffworkflow-backend/
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-toml
        files: ^spiffworkflow-backend/
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-yaml
        files: ^spiffworkflow-backend/
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        files: ^spiffworkflow-backend/
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: ruff-check
        args: [check, --fix]
        files: ^spiffworkflow-backend/
        name: ruff
        entry: ruff
        language: system
        types: [python]
        require_serial: true
        # this is also specified in spiffworkflow-backend/pyproject.toml but we run pre-commit
        # with all-files which ignores that
        exclude: "/migrations/"
      - id: ruff-format
        args: [format]
        files: ^spiffworkflow-backend/
        name: ruff
        entry: ruff
        language: system
        types: [python]
        require_serial: true
        # this is also specified in spiffworkflow-backend/pyproject.toml but we run pre-commit
        # with all-files which ignores that
        exclude: "/migrations/"
      - id: trailing-whitespace
        files: ^spiffworkflow-backend/
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
        exclude: "/migrations/"

remove login api since it does not work w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/api.yml
  spiffworkflow-backend/src/spiffworkflow_backend/routes/authentication_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/authorization_service.py
Due: check-added-large-files, check-yaml, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

remove login_api references from docs w/ burnettk
  docs/how_to_guides/deployment/configure_azure_as_an_openid_provider.md
  docs/reference/permission_url.md
Due: none

missed one w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/routes/authentication_controller.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

human task metadata
  spiffworkflow-backend/migrations/versions/88188256d1a5_add_json_metadata_to_human_task.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/human_task.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
  spiffworkflow-backend/tests/data/human_task_metadata/human_task_metadata.bpmn
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_human_task_metadata.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

wip
  spiffworkflow-backend/pyproject.toml
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
  spiffworkflow-backend/tests/data/human_task_metadata/human_task_metadata.bpmn
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_human_task_metadata.py
  spiffworkflow-backend/uv.lock
Due: check-added-large-files, check-toml, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

wip
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

lint
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

remove login api since it does not work (#2627)
  docs/how_to_guides/deployment/configure_azure_as_an_openid_provider.md
  docs/reference/permission_url.md
  spiffworkflow-backend/src/spiffworkflow_backend/api.yml
  spiffworkflow-backend/src/spiffworkflow_backend/routes/authentication_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/authorization_service.py
Due: check-added-large-files, check-yaml, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

test harness w/ jasquat
  spiffworkflow-backend/uv.lock
  spiffworkflow-frontend/package-lock.json
  spiffworkflow-frontend/package.json
  spiffworkflow-frontend/src/components/ReactDiagramEditor.tsx
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

minor fix
  spiffworkflow-frontend/src/components/ReactDiagramEditor.tsx
Due: none

fix type errors and formatting; begin adding tests
  spiffworkflow-backend/src/spiffworkflow_backend/models/pkce_code_verifier.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/authentication_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/authentication_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_authentication.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

return json_metadata with human tasks w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/routes/tasks_controller.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

call api script w/ burnettk
  spiffworkflow-backend/bin/call_api
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

update bpmn-js-spiffworkflow w/ burnettk
  spiffworkflow-frontend/package-lock.json
Due: none

objects w/ jasquat
  spiffworkflow-frontend/package-lock.json
  spiffworkflow-frontend/src/components/ReactDiagramEditor.tsx
Due: none

some changes to support task metadata from env w/ burnettk
  spiffworkflow-frontend/Dockerfile
  spiffworkflow-frontend/bin/boot_server_in_docker
  spiffworkflow-frontend/dev.docker-compose.yml
  spiffworkflow-frontend/docker-compose.yml
  spiffworkflow-frontend/src/components/ReactDiagramEditor.tsx
  spiffworkflow-frontend/src/config.tsx
  spiffworkflow-frontend/src/interfaces.ts
Due: none

json values can be used now w/ burnettk
  spiffworkflow-frontend/bin/boot_server_in_docker
Due: none

add leading slash w/ jasquat
  spiffworkflow-backend/bin/call_api
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

fix an issue with state, and add tests
  spiffworkflow-backend/src/spiffworkflow_backend/services/authentication_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_authentication.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

fix whitespace
  .github/workflows/build_docker_images.yml
Due: none

fix whitespace for real?
  .github/workflows/build_docker_images.yml
Due: none

fix env var check w/ burnettk
  spiffworkflow-frontend/bin/boot_server_in_docker
Due: none

fix quotes w/ burnettk
  spiffworkflow-frontend/bin/boot_server_in_docker
  spiffworkflow-frontend/src/config.tsx
Due: none

handle config more generically
  spiffworkflow-frontend/package-lock.json
  spiffworkflow-frontend/src/config.tsx
Due: none

remove unneeded wrapper
  spiffworkflow-frontend/src/components/ProcessModelTabs.tsx
Due: none

add create_at_in_seconds, and docs
  spiffworkflow-backend/migrations/versions/e8fccf29fe24_.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/pkce_code_verifier.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/authentication_service.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

remove comments w/ burnettk
  spiffworkflow-frontend/src/config.tsx
Due: none

css hack
  spiffworkflow-frontend/package-lock.json
Due: none

some clean up w/ burnettk
  spiffworkflow-frontend/docker-compose.yml
  spiffworkflow-frontend/package-lock.json
Due: none

some fixes w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
  spiffworkflow-frontend/package-lock.json
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

validate task metadata config w/ burnettk
  spiffworkflow-frontend/package-lock.json
  spiffworkflow-frontend/package.json
  spiffworkflow-frontend/src/App.tsx
  spiffworkflow-frontend/src/config.tsx
  spiffworkflow-frontend/src/interfaces.ts
Due: none

switch lilbs back to main branch w/ burnettk
  spiffworkflow-backend/pyproject.toml
  spiffworkflow-backend/uv.lock
  spiffworkflow-frontend/package-lock.json
  spiffworkflow-frontend/package.json
Due: check-added-large-files, check-toml, end-of-file-fixer, trailing-whitespace

add script to delete expired pkce verifiers and related test; also, remove explicit setting of create_at_in_seconds because SpiffworkflowBaseDBModel does that behind-the-scenes
  spiffworkflow-backend/bin/system_maintenance/delete_expired_pkce_verifiers.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/authentication_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_authentication.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

lint and coderabbit w/ burnettk
  spiffworkflow-frontend/bin/boot_server_in_docker
  spiffworkflow-frontend/src/App.tsx
  spiffworkflow-frontend/src/components/ProcessModelTabs.tsx
  spiffworkflow-frontend/src/config.tsx
Due: none

use api key if it looks like you are giving the script one w/ jasquat
  spiffworkflow-backend/bin/call_api
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

simplified regex w/ burnettk
  spiffworkflow-backend/bin/call_api
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

custom global scripts
  spiffworkflow-backend/src/spiffworkflow_backend/config/default.py
  spiffworkflow-backend/src/spiffworkflow_backend/scripts/script.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_global_scripts.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

lint
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_global_scripts.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

debug
  spiffworkflow-backend/bin/create_and_run_process_instance.py
  spiffworkflow-backend/src/spiffworkflow_backend/scripts/script.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

sort out bug with global scripts
  spiffworkflow-backend/src/spiffworkflow_backend/scripts/script.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace
