Repository sartography/spiff-arena: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

black:
  name: black
  entry: black
  language: system
  require_serial: true

check-added-large-files:
  name: Check for added large files
  entry: check-added-large-files
  language: system

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

end-of-file-fixer:
  name: Fix End of Files
  entry: end-of-file-fixer
  language: system
  stages:
  - commit
  - push
  - manual

flake8:
  name: flake8
  entry: flake8
  language: system
  require_serial: true

pyupgrade:
  name: pyupgrade
  description: Automatically upgrade syntax for newer versions.
  entry: pyupgrade
  language: system
  args:
  - --py37-plus

reorder-python-imports:
  name: Reorder python imports
  entry: reorder-python-imports
  language: system
  args:
  - --application-directories=src

trailing-whitespace:
  name: Trim Trailing Whitespace
  entry: trailing-whitespace-fixer
  language: system
  stages:
  - commit
  - push
  - manual

corrected service task controller excluded auth methods to reference the correct controller w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/routes/authentication_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/authorization_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

fixed docs requirements file w/ burnettk
  docs/requirements.txt
Due: none

feature/fix-service-task-oauth-flow (#1108)
  docs/requirements.txt
  spiffworkflow-backend/src/spiffworkflow_backend/routes/authentication_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/authorization_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

do not validate the audience with the jwt decode since we have a more thorough check for it later w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/services/authentication_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

do not validate the audience with the jwt decode since we have a more thorough check for it later w/ burnettk (#1109)
  spiffworkflow-backend/src/spiffworkflow_backend/services/authentication_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

added script to clone the process model repo w/ burnettk
  spiffworkflow-backend/bin/clone_process_models
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

docker compose overlay file for running `run_pyl` equivalents (#1100)
  Makefile
  dev.Dockerfile
  dev.docker-compose.yml
Due: none

Update README.md
  README.md
Due: none

Cleanup, comments, etc.
  spiffworkflow-backend/src/spiffworkflow_backend/config/__init__.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/script_assist_controller.py
  spiffworkflow-frontend/src/hooks/useProcessScriptAssistQuery.tsx
  spiffworkflow-frontend/src/hooks/useScriptAssistEnabled.tsx
  spiffworkflow-frontend/src/routes/ProcessModelEditDiagram.tsx
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Removed console.logs from numeric range field
  spiffworkflow-frontend/src/rjsf/custom_widgets/NumericRangeField/NumericRangeField.tsx
Due: none

Removed comment and unused code
  spiffworkflow-frontend/src/rjsf/custom_widgets/CharacterCounterField/CharacterCounterField.tsx
Due: none

commit the repo when a data store is added
  spiffworkflow-backend/pyproject.toml
  spiffworkflow-backend/src/spiffworkflow_backend/routes/data_store_controller.py
Due: black, check-added-large-files, check-toml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

commit the repo when a data store is added (#1115)
  spiffworkflow-backend/pyproject.toml
  spiffworkflow-backend/src/spiffworkflow_backend/routes/data_store_controller.py
Due: black, check-added-large-files, check-toml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Pass in the process group when getting available data stores
  spiffworkflow-frontend/src/routes/ProcessModelEditDiagram.tsx
Due: none

WIP
  spiffworkflow-backend/src/spiffworkflow_backend/data_stores/crud.py
  spiffworkflow-backend/src/spiffworkflow_backend/data_stores/json.py
  spiffworkflow-backend/src/spiffworkflow_backend/data_stores/kkv.py
  spiffworkflow-backend/src/spiffworkflow_backend/data_stores/typeahead.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/data_store_controller.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

WIP
  Makefile
  spiffworkflow-backend/src/spiffworkflow_backend/data_stores/json.py
  spiffworkflow-backend/src/spiffworkflow_backend/data_stores/kkv.py
  spiffworkflow-backend/src/spiffworkflow_backend/data_stores/typeahead.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Getting ./bin/pyl to pass
  spiffworkflow-backend/src/spiffworkflow_backend/data_stores/json.py
  spiffworkflow-backend/src/spiffworkflow_backend/data_stores/kkv.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Fix bug, don't upsearch to show the tiles
  spiffworkflow-backend/src/spiffworkflow_backend/api.yml
  spiffworkflow-backend/src/spiffworkflow_backend/routes/data_store_controller.py
  spiffworkflow-frontend/src/routes/ProcessModelEditDiagram.tsx
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

added execution mode to task submit and pi run calls to run in async or sync mode w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/api.yml
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_instances_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/tasks_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_service.py
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

WIP
  Makefile
  spiffworkflow-backend/Dockerfile
  spiffworkflow-backend/dev.Dockerfile
  spiffworkflow-frontend/dev.Dockerfile
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

Add some info to the README.md about the local development docker containers (#1114)
  README.md
Due: none

Only show data stores from upsearch in the properties panel (#1116)
  Makefile
  spiffworkflow-backend/src/spiffworkflow_backend/api.yml
  spiffworkflow-backend/src/spiffworkflow_backend/data_stores/crud.py
  spiffworkflow-backend/src/spiffworkflow_backend/data_stores/json.py
  spiffworkflow-backend/src/spiffworkflow_backend/data_stores/kkv.py
  spiffworkflow-backend/src/spiffworkflow_backend/data_stores/typeahead.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/data_store_controller.py
  spiffworkflow-frontend/src/routes/ProcessModelEditDiagram.tsx
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

WIP
  README.md
Due: none

WIP
  .gitignore
  docker-compose.yml
Due: none

Dev Container Tweaks (#1117)
  .gitignore
  Makefile
  README.md
  docker-compose.yml
  spiffworkflow-backend/Dockerfile
  spiffworkflow-backend/dev.Dockerfile
  spiffworkflow-frontend/dev.Dockerfile
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

remove lost and found dir if it exists w/ burnettk
  spiffworkflow-backend/bin/clone_process_models
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

WIP
  spiffworkflow-backend/src/spiffworkflow_backend/scripts/set_secret.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

set the GIT_SSH_COMMAND so we can use the private key path
  spiffworkflow-backend/bin/clone_process_models
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

WIP
  Makefile
  spiffworkflow-backend/dev.Dockerfile
  spiffworkflow-backend/dev.docker-compose.yml
Due: check-added-large-files, check-yaml, end-of-file-fixer, trailing-whitespace

Update spiffworkflow-backend/src/spiffworkflow_backend/scripts/set_secret.py
  spiffworkflow-backend/src/spiffworkflow_backend/scripts/set_secret.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Update Makefile
  Makefile
Due: none

WIP
  Makefile
Due: none

check if the dir looks like it is a git directory already before cloning to it w/ burnettk
  spiffworkflow-backend/bin/clone_process_models
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

make only the pi id an link on the pi instance table and set up for a refresh button on the table title on the pi list page w/ burnettk
  spiffworkflow-frontend/src/components/ProcessInstanceListTable.tsx
  spiffworkflow-frontend/src/components/ProcessInstanceListTableWithFilters.tsx
  spiffworkflow-frontend/src/interfaces.ts
  spiffworkflow-frontend/src/routes/ProcessInstanceList.tsx
Due: none

added refresh pi table button w/ burnettk
  spiffworkflow-frontend/src/components/ProcessInstanceListTable.tsx
Due: none

support decrypting and validating jwt tokens from google auth w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/services/authentication_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

show the process model link in the pi table as well w/ burnettk
  spiffworkflow-frontend/src/components/ProcessInstanceListTable.tsx
Due: none

Path conditions:
  black: any of: ^spiffworkflow-backend/ and \.py$ and not (/migrations/)
  check-added-large-files: any of: ^spiffworkflow-backend/
  check-toml: any of: ^spiffworkflow-backend/ and \.toml$
  check-yaml: any of: ^spiffworkflow-backend/ and \.(yaml|yml)$
  end-of-file-fixer: any of: ^spiffworkflow-backend/
  flake8: any of: ^spiffworkflow-backend/ and \.py$ and not (/migrations/)
  pyupgrade: any of: ^spiffworkflow-backend/ and \.py$
  reorder-python-imports: any of: ^spiffworkflow-backend/ and \.py$ and not ((/migrations/|load_database_models))
  trailing-whitespace: any of: ^spiffworkflow-backend/, but not: /migrations/
