Repository sartography/spiff-arena: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-added-large-files, check-toml, check-yaml, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: check-added-large-files
        files: ^spiffworkflow-backend/
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-toml
        files: ^spiffworkflow-backend/
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-yaml
        files: ^spiffworkflow-backend/
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        files: ^spiffworkflow-backend/
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: ruff-check
        args: [check, --fix]
        files: ^spiffworkflow-backend/
        name: ruff
        entry: ruff
        language: system
        types: [python]
        require_serial: true
        # this is also specified in spiffworkflow-backend/pyproject.toml but we run pre-commit
        # with all-files which ignores that
        exclude: "/migrations/"
      - id: ruff-format
        args: [format]
        files: ^spiffworkflow-backend/
        name: ruff
        entry: ruff
        language: system
        types: [python]
        require_serial: true
        # this is also specified in spiffworkflow-backend/pyproject.toml but we run pre-commit
        # with all-files which ignores that
        exclude: "/migrations/"
      - id: trailing-whitespace
        files: ^spiffworkflow-backend/
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
        exclude: "/migrations/"

Patch update KKV data stores (#2794)
  spiffworkflow-backend/src/spiffworkflow_backend/api.yml
  spiffworkflow-backend/src/spiffworkflow_backend/models/kkv_data_store_entry.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/data_store_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/authorization_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_data_store_item_list_filtering.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_data_store_write_items.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_authorization_service.py
  uv.lock
Due: check-added-large-files, check-yaml, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

New entrypoint for running bpmn tests (#2809)
  spiff-arena-common/pyproject.toml
  spiff-arena-common/src/spiff_arena_common/coverage.py
  spiff-arena-common/src/spiff_arena_common/tester.py
  spiff-arena-common/tests/spiff_arena_common/test_tester.py
  uv.lock
Due: none

config retries and orient around retries attempted w/ jasquat
  spiffworkflow-backend/src/spiffworkflow_backend/services/bpmn_process_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/custom_parser.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/custom_service_task.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/workflow_execution_service.py
  spiffworkflow-backend/tests/data/retries/retries_backoff_override.bpmn
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_service_task_retries.py
  spiffworkflow-frontend/src/interfaces.ts
  spiffworkflow-frontend/src/locales/en_us/translation.json
  spiffworkflow-frontend/src/views/ProcessInstanceShow.tsx
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

Assert workflows complete in new test flow
  spiff-arena-common/pyproject.toml
  spiff-arena-common/src/spiff_arena_common/tester.py
  spiff-arena-common/tests/spiff_arena_common/test_tester.py
  uv.lock
Due: none

UI, translations w/ jasquat
  spiffworkflow-frontend/src/locales/cs_cz/translation.json
  spiffworkflow-frontend/src/locales/de/translation.json
  spiffworkflow-frontend/src/locales/en_us/translation.json
  spiffworkflow-frontend/src/locales/es/translation.json
  spiffworkflow-frontend/src/locales/fi/translation.json
  spiffworkflow-frontend/src/locales/fr_fr/translation.json
  spiffworkflow-frontend/src/locales/pt_br/translation.json
  spiffworkflow-frontend/src/locales/pt_pt/translation.json
  spiffworkflow-frontend/src/locales/zh_cn/translation.json
  spiffworkflow-frontend/src/views/ProcessInstanceShow.tsx
Due: none

Assert workflows complete in new test flow (#2810)
  spiff-arena-common/pyproject.toml
  spiff-arena-common/src/spiff_arena_common/tester.py
  spiff-arena-common/tests/spiff_arena_common/test_tester.py
  uv.lock
Due: none

codex suggestion w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/services/custom_service_task.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/workflow_execution_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_service_task_retries.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

handle more classes of errors with retry w/ jasquat
  spiffworkflow-backend/src/spiffworkflow_backend/services/service_task_delegate.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/workflow_execution_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_service_task_retries.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

lint w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/services/custom_service_task.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/workflow_execution_service.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

reformat api yaml w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/api.yml
Due: check-added-large-files, check-yaml, end-of-file-fixer, trailing-whitespace

remove service-tasks-awaiting-callback api w/ burnettk
  docs/how_to_guides/building_diagrams/long_running_service_tasks.md
  spiffworkflow-backend/src/spiffworkflow_backend/api.yml
  spiffworkflow-backend/src/spiffworkflow_backend/routes/tasks_controller.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_long_running_services.py
Due: check-added-large-files, check-yaml, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

fix test w/ burnettk
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_long_running_services.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

remove some useless code and use branch of libs w/ burnettk
  spiffworkflow-backend/bin/migrate_if_needed
  spiffworkflow-backend/pyproject.toml
  spiffworkflow-backend/src/spiffworkflow_backend/services/bpmn_process_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/custom_parser.py
  spiffworkflow-backend/uv.lock
Due: check-added-large-files, check-toml, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

remove some useless code and use branch of libs w/ burnettk
  retry_feature_summary.md
  spec.md
  spiffworkflow-frontend/package-lock.json
  spiffworkflow-frontend/package.json
Due: none

new spiff w/ burnettk
  spiffworkflow-backend/uv.lock
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

uupdate spiff w/ burnettk
  spiffworkflow-backend/uv.lock
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

avoid immediate requeue
  spiffworkflow-backend/src/spiffworkflow_backend/background_processing/celery_tasks/process_instance_task.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_service_task_retries.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

let timers work via new spiff lib refresh_due_waiting_tasks function
  spiffworkflow-backend/src/spiffworkflow_backend/routes/tasks_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_model_test_runner_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/workflow_execution_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_service_task_retries.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

last commit missed a needed spiff lib bump
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_service_task_retries.py
  spiffworkflow-backend/uv.lock
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

improve logging on error
  spiffworkflow-backend/src/spiffworkflow_backend/services/custom_service_task.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/logging_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_logging_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_service_task_retries.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

fail back when no current app
  spiffworkflow-backend/src/spiffworkflow_backend/services/custom_service_task.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

Report coverage for task coverage in subprocesses
  spiff-arena-common/pyproject.toml
  spiff-arena-common/src/spiff_arena_common/coverage.py
  spiff-arena-common/tests/spiff_arena_common/test_z_coverage.py
  uv.lock
Due: none

PR feedback
  spiff-arena-common/src/spiff_arena_common/coverage.py
Due: none

Report coverage for task coverage in subprocesses (#2811)
  spiff-arena-common/pyproject.toml
  spiff-arena-common/src/spiff_arena_common/coverage.py
  spiff-arena-common/tests/spiff_arena_common/test_z_coverage.py
  uv.lock
Due: none

avoid shoving retry_backoff_base in serialization when not in xml
  spiffworkflow-backend/src/spiffworkflow_backend/services/custom_service_task.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_service_task_retries.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

warnings w/ jasquat
  spiffworkflow-frontend/src/__tests__/DynamicCSSInjection.test.tsx
  spiffworkflow-frontend/src/components/CustomForm.tsx
  spiffworkflow-frontend/src/components/DynamicCSSInjection.tsx
  spiffworkflow-frontend/src/components/ProcessInstanceListTableWithFilters.tsx
  spiffworkflow-frontend/src/components/ThemedCodeMirror.tsx
  spiffworkflow-frontend/src/contexts/APIErrorContext.tsx
  spiffworkflow-frontend/src/helpers.tsx
  spiffworkflow-frontend/src/helpers/timeago.ts
  spiffworkflow-frontend/src/i18n.ts
  spiffworkflow-frontend/src/rjsf/custom_widgets/NumericRangeField/NumericRangeField.tsx
Due: none

lint w/ burnettk
  spiffworkflow-frontend/src/helpers.tsx
Due: none

use correct versions of libs w/ burnettk
  spiffworkflow-backend/pyproject.toml
  spiffworkflow-backend/uv.lock
  spiffworkflow-frontend/package-lock.json
  spiffworkflow-frontend/package.json
Due: check-added-large-files, check-toml, end-of-file-fixer, trailing-whitespace

repro w/ jasquat
  spiffworkflow-backend/bin/migrate_if_needed
  spiffworkflow-backend/bin/run_message_catch_race_with_api
  spiffworkflow-backend/bin/run_process_model_with_api
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

remove temp files w/ burnettk
  retry_feature_summary.md
  spec.md
  spiffworkflow-backend/bin/migrate_if_needed
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

Extract git commit from process_api_blueprint
  spiffworkflow-backend/src/spiffworkflow_backend/routes/data_store_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_api_blueprint.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_groups_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_model_import_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_models_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/git_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_git_service.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

hold on to message send events
  spiffworkflow-backend/bin/run_message_catch_race_with_api
  spiffworkflow-backend/migrations/versions/7f3a2c1d9b8e_add_message_instance_ttl_fields.py
  spiffworkflow-backend/src/spiffworkflow_backend/api.yml
  spiffworkflow-backend/src/spiffworkflow_backend/models/message_instance.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/messages_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/message_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/workflow_execution_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_api.py
Due: check-added-large-files, check-yaml, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

lint
  spiffworkflow-backend/src/spiffworkflow_backend/services/message_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_api.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

lint
  spiffworkflow-backend/src/spiffworkflow_backend/routes/messages_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/message_service.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

Extract git commit from process_api_blueprint (#2812)
  spiffworkflow-backend/src/spiffworkflow_backend/routes/data_store_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_api_blueprint.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_groups_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_model_import_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_models_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/git_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_git_service.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

Docs: Service Task retries (#2813)
  docs/reference/bpmn/service_tasks.md
Due: none

lint w/ jasquat
  spiffworkflow-backend/src/spiffworkflow_backend/models/message_instance.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/message_service.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

favor header for access token rather than query params w/ burnettk
  spiffworkflow-backend/bin/run_message_catch_race_with_api
  spiffworkflow-backend/bin/run_process_model_with_api
  spiffworkflow-backend/src/spiffworkflow_backend/api.yml
  spiffworkflow-backend/src/spiffworkflow_backend/routes/authentication_controller.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_authentication.py
Due: check-added-large-files, check-yaml, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

remove remaining references w/ burnettk
  spiffworkflow-backend/bin/load_tests/concurrent_message_starts.py
  spiffworkflow-backend/bin/login_with_user
  spiffworkflow-backend/bin/run_message_start_event_with_api
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_authentication.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace
