Repository sartography/spiff-arena: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        # entry: bash -c 'cd spiffworkflow-backend && black'
        entry: black
        language: system
        files: ^spiffworkflow-backend/
        types: [python]
        require_serial: true
        # exclude: ^migrations/
        exclude: "/migrations/"
      - id: check-added-large-files
        files: ^spiffworkflow-backend/
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-toml
        files: ^spiffworkflow-backend/
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-yaml
        files: ^spiffworkflow-backend/
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        files: ^spiffworkflow-backend/
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: flake8
        files: ^spiffworkflow-backend/
        name: flake8
        entry: flake8
        language: system
        types: [python]
        require_serial: true
        exclude: "/migrations/"
      - id: pyupgrade
        files: ^spiffworkflow-backend/
        name: pyupgrade
        description: Automatically upgrade syntax for newer versions.
        entry: pyupgrade
        language: system
        types: [python]
        args: [--py37-plus]
      - id: reorder-python-imports
        files: ^spiffworkflow-backend/
        name: Reorder python imports
        entry: reorder-python-imports
        language: system
        types: [python]
        args: [--application-directories=src]
        exclude: "(/migrations/|load_database_models)"
      - id: trailing-whitespace
        files: ^spiffworkflow-backend/
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
        exclude: "/migrations/"
  # - repo: https://github.com/pre-commit/mirrors-prettier
  #   rev: v2.4.1
  #   hooks:
  #     - id: prettier
  #       files: ^spiffworkflow-backend/
  #       exclude_types: [html]

downgrade rjsf to last v5 beta version since the actual release breaks our usage of oneOf w/ burnettk
  spiffworkflow-frontend/package-lock.json
  spiffworkflow-frontend/package.json
  spiffworkflow-frontend/src/themes/carbon/BaseInputTemplate/BaseInputTemplate.tsx
  spiffworkflow-frontend/src/themes/carbon/SelectWidget/SelectWidget.tsx
Due: none

updated SpiffWorkflow w/ burnettk
  spiffworkflow-backend/poetry.lock
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

cleaing up the design a little bit so it looks pretty and in keeping with the rest of the site.
  spiffworkflow-backend/src/spiffworkflow_backend/routes/tasks_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/workflow_execution_service.py
  spiffworkflow-frontend/public/interstitial/checkmark.png
  spiffworkflow-frontend/public/interstitial/clock.png
  spiffworkflow-frontend/src/routes/ProcessInterstitial.tsx
  spiffworkflow-frontend/src/routes/TaskShow.tsx
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Revert spec/test changes
  spiffworkflow-backend/src/spiffworkflow_backend/services/spec_file_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_spec_file_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

make sure we can properly display lanes.
  spiffworkflow-backend/src/spiffworkflow_backend/models/human_task.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/task.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_service.py
  spiffworkflow-frontend/src/interfaces.ts
  spiffworkflow-frontend/src/routes/ProcessInterstitial.tsx
  spiffworkflow-frontend/src/routes/TaskShow.tsx
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Add lock icon
  spiffworkflow-frontend/public/interstitial/lock.png
Due: none

Get the called element ids for later caching
  spiffworkflow-backend/src/spiffworkflow_backend/models/spec_reference.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/spec_file_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Redo lock file
  spiffworkflow-backend/poetry.lock
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

First crack at the data model
  spiffworkflow-backend/migrations/versions/36241ec6747b_.py
  spiffworkflow-backend/src/spiffworkflow_backend/load_database_models.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/process_caller.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

store process instance errors in the db w/ burnettk
  spiffworkflow-backend/migrations/versions/c95031498e62_.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/process_instance_error_detail.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/process_instance_event.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/process_instance_metadata.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_instances_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/tasks_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/error_handling_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_queue_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/task_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Working through tests
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_caller_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_process_caller_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_spec_file_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Really clean the cache for process id
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_caller_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_process_caller_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Adding callers
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_caller_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_process_caller_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Getting callers
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_caller_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_process_caller_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Getting ./bin/pyl to pass
  spiffworkflow-backend/src/spiffworkflow_backend/models/process_caller.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/spec_reference.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_caller_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_process_caller_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_spec_file_service.py
  spiffworkflow-frontend/package-lock.json
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Hooked into the cache refreshes
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_caller_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/spec_file_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Add a test for the interstitial endpoint. Assure all "GO" buttons lead to the interstial page, and display differently depending on if there is anything you can actually do.
  spiffworkflow-backend/src/spiffworkflow_backend/config/default.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/tasks_controller.py
  spiffworkflow-backend/tests/data/interstitial/interstitial.bpmn
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_api.py
  spiffworkflow-frontend/package-lock.json
  spiffworkflow-frontend/src/components/ProcessInstanceListTable.tsx
  spiffworkflow-frontend/src/routes/ProcessInterstitial.tsx
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

added api to get error details for an event and added simple modal on frontend to show it
  spiffworkflow-backend/src/spiffworkflow_backend/api.yml
  spiffworkflow-backend/src/spiffworkflow_backend/models/process_instance_error_detail.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/process_instance_event.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_instance_events_controller.py
  spiffworkflow-frontend/src/hooks/UriListForPermissions.tsx
  spiffworkflow-frontend/src/interfaces.ts
  spiffworkflow-frontend/src/routes/ProcessInstanceLogList.tsx
  spiffworkflow-frontend/src/types/definitions.d.ts
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Wiring
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_caller_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/spec_file_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_process_caller_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Getting ./bin/pyl to pass
  spiffworkflow-backend/src/spiffworkflow_backend/services/spec_file_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Api
  spiffworkflow-backend/src/spiffworkflow_backend/api.yml
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_api_blueprint.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_api.py
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Getting ./bin/pyl to pass
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_api_blueprint.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_api.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Bump SpiffWorkflow
  spiffworkflow-backend/poetry.lock
  spiffworkflow-backend/pyproject.toml
Due: check-added-large-files, check-toml, end-of-file-fixer, trailing-whitespace

getting all the tests to pass.
  spiffworkflow-backend/src/spiffworkflow_backend/routes/tasks_controller.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_for_good_errors.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_api.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_process_instance_processor.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_process_model.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

display event errors in the frontend using errorDisplay w/ burnettk
  spiffworkflow-backend/migrations/versions/e0510795b643_.py
  spiffworkflow-backend/poetry.lock
  spiffworkflow-backend/pyproject.toml
  spiffworkflow-backend/src/spiffworkflow_backend/models/process_instance_error_detail.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_instances_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/task_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/workflow_execution_service.py
  spiffworkflow-frontend/src/components/ErrorDisplay.tsx
  spiffworkflow-frontend/src/interfaces.ts
  spiffworkflow-frontend/src/routes/ProcessInstanceLogList.tsx
Due: black, check-added-large-files, check-toml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

fixed test w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/routes/tasks_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/workflow_execution_service.py
  spiffworkflow-backend/tests/data/interstitial/interstitial.bpmn
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_for_good_errors.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_api.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_process_instance_processor.py
  spiffworkflow-frontend/package-lock.json
  spiffworkflow-frontend/src/components/InstructionsForEndUser.tsx
  spiffworkflow-frontend/src/components/ProcessInstanceListTable.tsx
  spiffworkflow-frontend/src/routes/HomePageRoutes.tsx
  spiffworkflow-frontend/src/routes/ProcessInterstitial.tsx
  spiffworkflow-frontend/src/routes/TaskShow.tsx
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

run pyl.
  spiffworkflow-backend/src/spiffworkflow_backend/config/__init__.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/process_instance.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/tasks_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/workflow_execution_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_api.py
  spiffworkflow-frontend/src/routes/ProcessInterstitial.tsx
  spiffworkflow-frontend/src/routes/ProcessRoutes.tsx
  spiffworkflow-frontend/src/routes/TaskShow.tsx
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

PR feedback
  spiffworkflow-backend/src/spiffworkflow_backend/api.yml
  spiffworkflow-backend/src/spiffworkflow_backend/load_database_models.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/process_caller.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_api_blueprint.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_caller_service.py
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace
