Repository sartography/spiff-arena: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-added-large-files, check-toml, check-yaml, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

check-added-large-files:
  name: Check for added large files
  entry: check-added-large-files
  language: system

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

end-of-file-fixer:
  name: Fix End of Files
  entry: end-of-file-fixer
  language: system
  stages:
  - commit
  - push
  - manual

ruff-check:
  args:
  - check
  - --fix
  name: ruff
  entry: ruff
  language: system
  require_serial: true

ruff-format:
  args:
  - format
  name: ruff
  entry: ruff
  language: system
  require_serial: true

trailing-whitespace:
  name: Trim Trailing Whitespace
  entry: trailing-whitespace-fixer
  language: system
  stages:
  - commit
  - push
  - manual

Tighten parallel test runner comment
  spiffworkflow-backend/bin/tests-par
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

Test perf 2 (#2958)
  spiffworkflow-backend/bin/tests-par
  spiffworkflow-backend/conftest.py
  spiffworkflow-backend/src/spiffworkflow_backend/config/unit_testing.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/authorization_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/spec_file_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_authorization_service.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

add cors support to connector proxy demo
  connector-proxy-demo/app.py
  connector-proxy-demo/poetry.lock
  connector-proxy-demo/pyproject.toml
  connector-proxy-demo/test_app.py
Due: none

add cors support to connector proxy demo (#2959)
  connector-proxy-demo/app.py
  connector-proxy-demo/poetry.lock
  connector-proxy-demo/pyproject.toml
  connector-proxy-demo/test_app.py
Due: none

jsx-a11y now enabled
  spiffworkflow-frontend/eslint.config.js
Due: none

don't report english, when the locale is swtiched, this will screw up screen readers.
  spiffworkflow-frontend/src/i18n.test.ts
  spiffworkflow-frontend/src/i18n.ts
Due: none

Adding in axe-playwright-python as a dependency to check 508 compliance
  508_compliance.md
  spiffworkflow-frontend/test/browser/pyproject.toml
  spiffworkflow-frontend/test/browser/uv.lock
Due: none

local dev: derive frontend url from backend port
  spiffworkflow-backend/bin/local_development_environment_setup
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

Run tests to assure we pass all critical accessibilty issues.
  .github/workflows/tests.yml
  spiffworkflow-frontend/src/i18n.test.ts
  spiffworkflow-frontend/test/browser/.gitignore
  spiffworkflow-frontend/test/browser/helpers/accessibility.py
  spiffworkflow-frontend/test/browser/test_accessibility.py
Due: none

initial changes for better distinction between token types and uses w/ burnettk
  docs/how_to_guides/deployment/configure_okta_as_an_openid_provider.md
  docs/how_to_guides/deployment/configure_openid_provider.md
  docs/how_to_guides/deployment/keycloak_setup.md
  spiffworkflow-backend/src/spiffworkflow_backend/config/__init__.py
  spiffworkflow-backend/src/spiffworkflow_backend/config/default.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/authentication_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/authentication_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_authentication.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

Add missing translation for Close Navigation.
  spiffworkflow-frontend/src/locales/en_us/translation.json
Due: none

Add ListItemButtons for the sidenav - so that navigation is an actual button.
  spiffworkflow-frontend/src/components/SideNav.tsx
Due: none

Don't place one interactive control inside another in the Process Model Tree - keep them as seperate items. Add some missing aria labels.
  spiffworkflow-frontend/src/views/StartProcess/ProcessModelTreePage.tsx
Due: none

pagination: jump to first/last/specific page and honor page url param
  spiffworkflow-frontend/src/components/PaginationForTable.tsx
  spiffworkflow-frontend/src/components/ProcessInstanceListTableWithFilters.tsx
  spiffworkflow-frontend/src/locales/cs_cz/translation.json
  spiffworkflow-frontend/src/locales/de/translation.json
  spiffworkflow-frontend/src/locales/en_us/translation.json
  spiffworkflow-frontend/src/locales/es/translation.json
  spiffworkflow-frontend/src/locales/fi/translation.json
  spiffworkflow-frontend/src/locales/fr_fr/translation.json
  spiffworkflow-frontend/src/locales/pt_br/translation.json
  spiffworkflow-frontend/src/locales/pt_pt/translation.json
  spiffworkflow-frontend/src/locales/zh_cn/translation.json
Due: none

pagination: snap out-of-range pages back and label capped counts honestly
  spiffworkflow-frontend/src/components/PaginationForTable.tsx
  spiffworkflow-frontend/src/locales/cs_cz/translation.json
  spiffworkflow-frontend/src/locales/de/translation.json
  spiffworkflow-frontend/src/locales/en_us/translation.json
  spiffworkflow-frontend/src/locales/es/translation.json
  spiffworkflow-frontend/src/locales/fi/translation.json
  spiffworkflow-frontend/src/locales/fr_fr/translation.json
  spiffworkflow-frontend/src/locales/pt_br/translation.json
  spiffworkflow-frontend/src/locales/pt_pt/translation.json
  spiffworkflow-frontend/src/locales/zh_cn/translation.json
Due: none

Use local.spiff for task URL stub
  spiff-arena-common/src/spiff_arena_common/runner.py
  spiff-arena-common/tests/spiff_arena_common/test_runner.py
Due: none

Allow configurable runner external context
  spiff-arena-common/src/spiff_arena_common/runner.py
  spiff-arena-common/tests/spiff_arena_common/test_runner.py
Due: none

Simplify external context copying
  spiff-arena-common/src/spiff_arena_common/runner.py
Due: none

preserve message triggers when process models move
  spiffworkflow-backend/src/spiffworkflow_backend/services/spec_file_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_spec_file_service.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

pagination: rework go-to-page select and communicate the page limit
  spiffworkflow-frontend/src/components/PaginationForTable.tsx
  spiffworkflow-frontend/src/locales/cs_cz/translation.json
  spiffworkflow-frontend/src/locales/de/translation.json
  spiffworkflow-frontend/src/locales/en_us/translation.json
  spiffworkflow-frontend/src/locales/es/translation.json
  spiffworkflow-frontend/src/locales/fi/translation.json
  spiffworkflow-frontend/src/locales/fr_fr/translation.json
  spiffworkflow-frontend/src/locales/pt_br/translation.json
  spiffworkflow-frontend/src/locales/pt_pt/translation.json
  spiffworkflow-frontend/src/locales/zh_cn/translation.json
Due: none

pagination: remove go-to-page select, use true count, keep first/last jumps
  spiffworkflow-frontend/src/components/PaginationForTable.tsx
  spiffworkflow-frontend/src/locales/cs_cz/translation.json
  spiffworkflow-frontend/src/locales/de/translation.json
  spiffworkflow-frontend/src/locales/en_us/translation.json
  spiffworkflow-frontend/src/locales/es/translation.json
  spiffworkflow-frontend/src/locales/fi/translation.json
  spiffworkflow-frontend/src/locales/fr_fr/translation.json
  spiffworkflow-frontend/src/locales/pt_br/translation.json
  spiffworkflow-frontend/src/locales/pt_pt/translation.json
  spiffworkflow-frontend/src/locales/zh_cn/translation.json
Due: none

pagination: remove the 2-per-page option
  spiffworkflow-frontend/src/components/PaginationForTable.tsx
  spiffworkflow-frontend/src/components/ProcessModelTabs.tsx
  spiffworkflow-frontend/src/components/TaskListTable.tsx
Due: none

Stub a few more arena functions in common (#2964)
  spiff-arena-common/pyproject.toml
  spiff-arena-common/src/spiff_arena_common/runner.py
  spiff-arena-common/tests/spiff_arena_common/test_runner.py
  uv.lock
Due: none

pagination: jump to first/last page (#2963)
  spiffworkflow-frontend/src/components/PaginationForTable.tsx
  spiffworkflow-frontend/src/components/ProcessInstanceListTableWithFilters.tsx
  spiffworkflow-frontend/src/components/ProcessModelTabs.tsx
  spiffworkflow-frontend/src/components/TaskListTable.tsx
Due: none

Update PyPI publishing action
  .github/workflows/common.yml
Due: none

Hide empty process tree count
  spiffworkflow-frontend/src/views/StartProcess/TreePanel.test.tsx
  spiffworkflow-frontend/src/views/StartProcess/TreePanel.tsx
Due: none

Color contract and a aria lables. Updated our logo while I was at it.
  spiffworkflow-frontend/src/assets/theme/SpiffTheme.ts
  spiffworkflow-frontend/src/components/ProcessInterstitial.tsx
  spiffworkflow-frontend/src/components/SideNav.tsx
  spiffworkflow-frontend/src/components/SpiffLogo.tsx
  spiffworkflow-frontend/src/index.css
  spiffworkflow-frontend/src/locales/en_us/translation.json
  spiffworkflow-frontend/src/views/TaskShow/TaskShow.tsx
  spiffworkflow-frontend/src/views/public/PublicForm.tsx
Due: none

Hide empty process tree count (#2966)
  spiffworkflow-frontend/src/views/StartProcess/TreePanel.test.tsx
  spiffworkflow-frontend/src/views/StartProcess/TreePanel.tsx
Due: none

Update PyPI publishing action (#2965)
  .github/workflows/common.yml
Due: none

add Mangum dependency for native Lambda ASGI handler
  spiffworkflow-backend/pyproject.toml
  spiffworkflow-backend/uv.lock
Due: check-added-large-files, check-toml, end-of-file-fixer, trailing-whitespace

Small change just to kick off a pypi push
  spiff-arena-common/pyproject.toml
Due: none

Small change just to kick off a pypi push (#2967)
  spiff-arena-common/pyproject.toml
Due: none

Fixes to the Process Model page. Avoid having buttons within buttons - fix contrast issues. Add test that expands sections so that we can verify 508 compliance for expandable sections.
  spiffworkflow-frontend/src/assets/theme/SpiffTheme.ts
  spiffworkflow-frontend/src/components/TaskControls.tsx
  spiffworkflow-frontend/src/components/processGroupTree/CollapsibleGroupTree.tsx
  spiffworkflow-frontend/src/views/StartProcess/ProcessModelTreePage.tsx
  spiffworkflow-frontend/test/browser/test_accessibility.py
Due: none

Adding the new icons that were missing.
  spiffworkflow-frontend/src/assets/icons/spiffworks_arena.svg
  spiffworkflow-frontend/src/assets/icons/spiffworks_icon.svg
Due: none

make groups claim configurable w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/config/default.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/authorization_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_authorization_service.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

docs w/ burnettk
  docs/how_to_guides/deployment/configure_openid_provider.md
Due: none

keep Mangum out of the core backend dependencies
  spiffworkflow-backend/pyproject.toml
  spiffworkflow-backend/uv.lock
Due: check-added-large-files, check-toml, end-of-file-fixer, trailing-whitespace

keep generic OpenID guide provider-neutral
  docs/how_to_guides/deployment/configure_openid_provider.md
Due: none

only allow editing message models you have access to w/ burnettk
  spiffworkflow-frontend/src/components/messages/MessageModelList.test.tsx
  spiffworkflow-frontend/src/components/messages/MessageModelList.tsx
Due: none

fix full-box border on selected sidenav item, keep left accent
  spiffworkflow-frontend/src/components/SideNav.tsx
Due: none

Path conditions:
  check-added-large-files: any of: ^spiffworkflow-backend/
  check-toml: any of: ^spiffworkflow-backend/ and \.toml$
  check-yaml: any of: ^spiffworkflow-backend/ and \.(yaml|yml)$
  end-of-file-fixer: any of: ^spiffworkflow-backend/
  ruff-check: any of: ^spiffworkflow-backend/ and \.py$ and not (/migrations/)
  ruff-format: any of: ^spiffworkflow-backend/ and \.py$ and not (/migrations/)
  trailing-whitespace: any of: ^spiffworkflow-backend/, but not: /migrations/
