Repository sartography/spiff-arena: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-added-large-files, check-toml, check-yaml, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

check-added-large-files:
  name: Check for added large files
  entry: check-added-large-files
  language: system

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

end-of-file-fixer:
  name: Fix End of Files
  entry: end-of-file-fixer
  language: system
  stages:
  - commit
  - push
  - manual

ruff-check:
  args:
  - check
  - --fix
  name: ruff
  entry: ruff
  language: system
  require_serial: true

ruff-format:
  args:
  - format
  name: ruff
  entry: ruff
  language: system
  require_serial: true

trailing-whitespace:
  name: Trim Trailing Whitespace
  entry: trailing-whitespace-fixer
  language: system
  stages:
  - commit
  - push
  - manual

lint w/ burnettk
  spiffworkflow-frontend/src/views/Extension.tsx
Due: none

Remove link target and search process parent display names (#2263)
  spiffworkflow-frontend/src/components/InstructionsForEndUser.tsx
  spiffworkflow-frontend/src/components/MarkdownDisplayForFile.tsx
  spiffworkflow-frontend/src/views/Extension.tsx
  spiffworkflow-frontend/src/views/OnboardingView.tsx
  spiffworkflow-frontend/src/views/StartProcess/ProcessModelTreePage.tsx
  spiffworkflow-frontend/src/views/public/PublicForm.tsx
Due: none

bump spiff for message update
  spiffworkflow-backend/poetry.lock
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

bump spiff for message update (#2264)
  spiffworkflow-backend/poetry.lock
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

Keycloak Setup | Manage Permissions | Message Events vs Tasks (#2226)
  docs/how_to_guides/deployment/index.md
  docs/how_to_guides/deployment/keycloak_setup.md
  docs/how_to_guides/deployment/manage_permissions.md
  docs/images/Keycloak_Setup1.png
  docs/images/Keycloak_setup2.png
  docs/images/Keycloak_setup3.png
  docs/images/Keycloak_setup4.png
  docs/images/Keycloak_setup5.png
  docs/reference/bpmn/message_events.md
  docs/reference/bpmn/message_events_vs_tasks.md
Due: none

Ensure the RUN_AS ownership applies to the DB's named volume (#2099)
  docker-compose.yml
Due: none

mypy
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_model_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_threaded_execution.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

added new faq for custom hostname (#2238)
  docs/reference/frequently_asked_questions.md
Due: none

put message events md back
  docs/reference/bpmn/message_events.md
Due: none

Adding missing test file.
  spiffworkflow-backend/tests/data/message/message-receive.bpmn
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

ruff format w/ burnettk
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_message_service.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

Fixing missing correlation properties on receive Messages - particularly in sub-processes (#2267)
  spiffworkflow-backend/poetry.lock
  spiffworkflow-backend/src/spiffworkflow_backend/services/workflow_execution_service.py
  spiffworkflow-backend/tests/data/message/message-receive.bpmn
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_message_service.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

Update README.md
  README.md
Due: none

fix up the group header on the home page w/ burnettk
  spiffworkflow-frontend/src/assets/theme/SpiffTheme.ts
  spiffworkflow-frontend/src/views/Homepage.tsx
Due: none

jsdelivr is blocked in a number of countries for some reason. This change allows us to bundle the monaco code editor rather than pull it from a the jsdelivr CDN/
  package-lock.json
  spiffworkflow-frontend/package-lock.json
  spiffworkflow-frontend/package.json
  spiffworkflow-frontend/src/components/ReactFormBuilder/ReactFormBuilder.tsx
Due: none

jsdelivr is blocked in a number of countries for some reason. This change allows us to bundle the monaco code editor rather than pull it from a the jsdelivr CDN/ (#2275)
  package-lock.json
  spiffworkflow-frontend/package-lock.json
  spiffworkflow-frontend/package.json
  spiffworkflow-frontend/src/components/ReactFormBuilder/ReactFormBuilder.tsx
Due: none

allow for already hashed key
  spiffworkflow-backend/src/spiffworkflow_backend/services/service_account_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_service_accounts.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

add file upload process
  docs/how_to_guides/building_diagrams/file_upload.md
  docs/how_to_guides/building_diagrams/index.md
  docs/images/file_upload_process.png
  docs/images/file_upload_process1.png
  docs/images/file_upload_process3.png
  docs/images/file_upload_process4png.png
  docs/images/file_upload_process5.png
  docs/images/file_upload_process6.png
  docs/images/file_upload_process7.png
Due: none

remove extra events
  spiffworkflow-backend/src/spiffworkflow_backend/services/logging_service.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

remove event stream demo
  Makefile
  event-stream/demo.mk
  event-stream/elasticsearch.Dockerfile
  event-stream/elasticsearch.py
Due: none

remove reference to event container from dockerfile
  spiffworkflow-backend/dev.docker-compose.yml
Due: check-added-large-files, check-yaml, end-of-file-fixer, trailing-whitespace

Bugfix/update event filter (#2283)
  Makefile
  event-stream/demo.mk
  event-stream/elasticsearch.Dockerfile
  event-stream/elasticsearch.py
  spiffworkflow-backend/dev.docker-compose.yml
  spiffworkflow-backend/src/spiffworkflow_backend/services/logging_service.py
Due: check-added-large-files, check-yaml, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

remove extra images
  docs/how_to_guides/building_diagrams/file_upload.md
Due: none

fix issues
  docs/images/file_upload_process1.png
  docs/images/file_upload_process3.png
  docs/images/file_upload_process4png.png
  docs/images/file_upload_process5.png
Due: none

WIP
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/workflow_spec_service.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

File upload process (#2280)
  docs/how_to_guides/building_diagrams/file_upload.md
  docs/how_to_guides/building_diagrams/index.md
  docs/images/file_upload_process.png
  docs/images/file_upload_process6.png
  docs/images/file_upload_process7.png
Due: none

Update Screenshots and Content
  docs/.DS_Store
  docs/getting_started/quickstart_guide.md
  docs/how_to_guides/deployment/manage_permissions.md
  docs/images/.DS_Store
  docs/images/About_section.png
  docs/images/Add_Process_Group.png
  docs/images/Chef_Message.png
  docs/images/Configuration.png
  docs/images/Data_Stores.png
  docs/images/Diagram_Process_Instance.png
  docs/images/Events1.png
  docs/images/Filter_1.png
  docs/images/Filter_2.png
  docs/images/Filter_3.png
  docs/images/Home_Page.png
  docs/images/Messages.png
  docs/images/Milestones.png
  docs/images/Process_Instances.png
  docs/images/Process_Model_BPMN.png
  docs/images/Process_Model_Layout.png
  docs/images/Process_Page.png
  docs/images/Process_Section.png
  docs/images/Process_model_files.png
  docs/images/Short_link.png
  docs/images/Tests.png
  docs/images/Untitled_2.png
  docs/images/Waiter_Message.png
  docs/images/add_process_model.png
  docs/images/metadata.png
  docs/images/my_process_instance.png
  docs/images/process_instance_1.png
  docs/images/process_instance_diagram.png
Due: none

fix build issues
  docs/getting_started/quickstart_guide.md
Due: none

fix build issue
  docs/getting_started/quickstart_guide.md
Due: none

fix build issue
  docs/getting_started/quickstart_guide.md
  docs/images/Process_Model_Form.png
Due: none

add missing images
  docs/getting_started/quickstart_guide.md
  docs/images/new_process_model.png
  docs/images/shareable_link.png
Due: none

WIP
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_models_controller.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

WIP
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_models_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_model_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/workflow_spec_service.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

WIP
  spiffworkflow-backend/src/spiffworkflow_backend/api.yml
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_models_controller.py
Due: check-added-large-files, check-yaml, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

rename
  docs/getting_started/quickstart_guide.md
  docs/images/Correlation.png
Due: none

Path conditions:
  check-added-large-files: any of: ^spiffworkflow-backend/
  check-toml: any of: ^spiffworkflow-backend/ and \.toml$
  check-yaml: any of: ^spiffworkflow-backend/ and \.(yaml|yml)$
  end-of-file-fixer: any of: ^spiffworkflow-backend/
  ruff-check: any of: ^spiffworkflow-backend/ and \.py$ and not (/migrations/)
  ruff-format: any of: ^spiffworkflow-backend/ and \.py$ and not (/migrations/)
  trailing-whitespace: any of: ^spiffworkflow-backend/, but not: /migrations/
