Repository sartography/spiff-arena: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        # entry: bash -c 'cd spiffworkflow-backend && black'
        entry: black
        language: system
        files: ^spiffworkflow-backend/
        types: [python]
        require_serial: true
        # exclude: ^migrations/
        exclude: "/migrations/"
      - id: check-added-large-files
        files: ^spiffworkflow-backend/
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-toml
        files: ^spiffworkflow-backend/
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-yaml
        files: ^spiffworkflow-backend/
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        files: ^spiffworkflow-backend/
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: flake8
        files: ^spiffworkflow-backend/
        name: flake8
        entry: flake8
        language: system
        types: [python]
        require_serial: true
        exclude: "/migrations/"
      - id: pyupgrade
        files: ^spiffworkflow-backend/
        name: pyupgrade
        description: Automatically upgrade syntax for newer versions.
        entry: pyupgrade
        language: system
        types: [python]
        args: [--py37-plus]
      - id: reorder-python-imports
        files: ^spiffworkflow-backend/
        name: Reorder python imports
        entry: reorder-python-imports
        language: system
        types: [python]
        args: [--application-directories=src]
        exclude: "(/migrations/|load_database_models)"
      - id: trailing-whitespace
        files: ^spiffworkflow-backend/
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
        exclude: "/migrations/"
  # - repo: https://github.com/pre-commit/mirrors-prettier
  #   rev: v2.4.1
  #   hooks:
  #     - id: prettier
  #       files: ^spiffworkflow-backend/
  #       exclude_types: [html]

it would be nice to know which command is failing
  spiffworkflow-frontend/Dockerfile
Due: none

theme header
  spiffworkflow-frontend/src/components/NavigationBar.tsx
  spiffworkflow-frontend/src/index.scss
Due: none

add nav items so people can get everywhere
  spiffworkflow-frontend/src/components/NavigationBar.tsx
Due: none

Fix urls for uspend and resume endpoints
  spiffworkflow-backend/src/spiffworkflow_backend/api.yml
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_api_blueprint.py
  spiffworkflow-backend/tests/data/manual_task/manual_task.bpmn
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_api.py
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Remove the `_2` methods
  spiffworkflow-backend/src/spiffworkflow_backend/api.yml
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_api_blueprint.py
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Fix url in test
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_api.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

explicit themes
  spiffworkflow-frontend/src/App.tsx
  spiffworkflow-frontend/src/components/NavigationBar.tsx
  spiffworkflow-frontend/src/index.scss
Due: none

fixed process_model_identifier in script_unit_test_create
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_api_blueprint.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

started test for test_script_unit_test_run
  spiffworkflow-backend/tests/data/simple_script/simple_script.bpmn
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_api.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Remove process group/model from reports, some failing tests
  spiffworkflow-backend/migrations/env.py
  spiffworkflow-backend/migrations/versions/f8097fbfbab1_.py
  spiffworkflow-backend/src/spiffworkflow_backend/api.yml
  spiffworkflow-backend/src/spiffworkflow_backend/models/process_instance_report.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_api_blueprint.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_api.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_process_instance_report.py
  spiffworkflow-frontend/src/routes/ProcessInstanceReportNew.tsx
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

More integration, 1 failing test
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_api_blueprint.py
  spiffworkflow-frontend/src/routes/ProcessInstanceReportEdit.tsx
  spiffworkflow-frontend/src/routes/ProcessInstanceReportList.tsx
  spiffworkflow-frontend/src/routes/ProcessInstanceReportNew.tsx
  spiffworkflow-frontend/src/routes/ProcessInstanceReportShow.tsx
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Revert bad delete to fix test
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_api_blueprint.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Getting ./bin/pyl to pass
  spiffworkflow-backend/migrations/env.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/process_instance_report.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_api_blueprint.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_api.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Rsetrict by user id
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_api_blueprint.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Return default report from process instance list, don't persist the default report
  spiffworkflow-backend/src/spiffworkflow_backend/models/process_instance_report.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_api_blueprint.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Always default into the report flow
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_api_blueprint.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

updated the breadcrumb component and added a test for buttons in file dropdown
  spiffworkflow-frontend/src/components/ProcessBreadcrumb.tsx
  spiffworkflow-frontend/src/index.scss
  spiffworkflow-frontend/src/interfaces.ts
  spiffworkflow-frontend/src/routes/ProcessModelShow.tsx
Due: none

update gitignore.
  spiffworkflow-frontend/.gitignore
Due: none

Squashed 'spiffworkflow-backend/' changes from c354b846c..b8924100d
  src/spiffworkflow_backend/models/file.py
  src/spiffworkflow_backend/routes/process_api_blueprint.py
  src/spiffworkflow_backend/services/spec_file_service.py
  tests/data/call_activity_nested/schema.json
  tests/spiffworkflow_backend/unit/test_file.py
  tests/spiffworkflow_backend/unit/test_spec_file_service.py
Due: none

Squashed 'spiffworkflow-frontend/' changes from 942256a4a..cdae31a57
  package-lock.json
  package.json
  src/App.tsx
  src/components/NavigationBar.tsx
  src/components/ReactDiagramEditor.tsx
  src/index.scss
  src/interfaces.ts
  src/routes/ProcessModelEditDiagram.tsx
Due: none

Squashed 'bpmn-js-spiffworkflow/' changes from 999ea7e4c..96dcd1a24
  README.md
  app/app.js
  app/spiffworkflow/callActivity/propertiesPanel/CallActivityPropertiesProvider.js
  app/spiffworkflow/extensions/extensionHelpers.js
  app/spiffworkflow/extensions/propertiesPanel/ExtensionsPropertiesProvider.js
  app/spiffworkflow/extensions/propertiesPanel/SpiffExtensionCalledDecision.js
  app/spiffworkflow/extensions/propertiesPanel/SpiffExtensionInstructionsForEndUser.js
  app/spiffworkflow/extensions/propertiesPanel/SpiffExtensionLaunchButton.js
  app/spiffworkflow/extensions/propertiesPanel/SpiffExtensionSelect.js
  app/spiffworkflow/extensions/propertiesPanel/SpiffExtensionTextArea.js
  app/spiffworkflow/extensions/propertiesPanel/SpiffScriptGroup.js
  app/spiffworkflow/messages/propertiesPanel/MessagePayload.js
  app/spiffworkflow/messages/propertiesPanel/MessageVariable.js
  app/spiffworkflow/moddle/spiffworkflow.json
  test/spec/BusinessRulePropsSpec.js
  test/spec/CallActivitySpec.js
  test/spec/UserTaskPropsSpec.js
Due: none

Dynamic table, partial formatting
  spiffworkflow-frontend/src/routes/ProcessInstanceList.tsx
Due: none

Rest of the formatters
  spiffworkflow-frontend/src/routes/ProcessInstanceList.tsx
Due: none

Column header formatter for spiff_step
  spiffworkflow-frontend/src/routes/ProcessInstanceList.tsx
Due: none

Typo
  spiffworkflow-frontend/src/routes/ProcessInstanceList.tsx
Due: none

lint:fix
  spiffworkflow-frontend/src/routes/ProcessInstanceList.tsx
Due: none

First stab at fixing routes and urls
  spiffworkflow-frontend/src/components/FileInput.tsx
  spiffworkflow-frontend/src/components/ReactDiagramEditor.tsx
  spiffworkflow-frontend/src/helpers.tsx
  spiffworkflow-frontend/src/routes/AdminRoutes.tsx
  spiffworkflow-frontend/src/routes/HomePage.tsx
  spiffworkflow-frontend/src/routes/ProcessGroupShow.tsx
  spiffworkflow-frontend/src/routes/ProcessInstanceList.tsx
  spiffworkflow-frontend/src/routes/ProcessInstanceLogList.tsx
  spiffworkflow-frontend/src/routes/ProcessInstanceReportList.tsx
  spiffworkflow-frontend/src/routes/ProcessInstanceShow.tsx
  spiffworkflow-frontend/src/routes/ProcessModelEdit.tsx
  spiffworkflow-frontend/src/routes/ProcessModelEditDiagram.tsx
  spiffworkflow-frontend/src/routes/ProcessModelNew.tsx
  spiffworkflow-frontend/src/routes/ProcessModelShow.tsx
  spiffworkflow-frontend/src/routes/ReactFormEditor.tsx
Due: none
