Repository sartography/spiff-arena: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        # entry: bash -c 'cd spiffworkflow-backend && black'
        entry: black
        language: system
        files: ^spiffworkflow-backend/
        types: [python]
        require_serial: true
        # exclude: ^migrations/
        exclude: "/migrations/"
      - id: check-added-large-files
        files: ^spiffworkflow-backend/
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-toml
        files: ^spiffworkflow-backend/
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-yaml
        files: ^spiffworkflow-backend/
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        files: ^spiffworkflow-backend/
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: flake8
        files: ^spiffworkflow-backend/
        name: flake8
        entry: flake8
        language: system
        types: [python]
        require_serial: true
        exclude: "/migrations/"
      - id: pyupgrade
        files: ^spiffworkflow-backend/
        name: pyupgrade
        description: Automatically upgrade syntax for newer versions.
        entry: pyupgrade
        language: system
        types: [python]
        args: [--py37-plus]
      - id: reorder-python-imports
        files: ^spiffworkflow-backend/
        name: Reorder python imports
        entry: reorder-python-imports
        language: system
        types: [python]
        args: [--application-directories=src]
        exclude: "(/migrations/|load_database_models)"
      - id: trailing-whitespace
        files: ^spiffworkflow-backend/
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
        exclude: "/migrations/"
  # - repo: https://github.com/pre-commit/mirrors-prettier
  #   rev: v2.4.1
  #   hooks:
  #     - id: prettier
  #       files: ^spiffworkflow-backend/
  #       exclude_types: [html]

modify process_groups_list so it can process any group path, not just the root process_groups_list now takes an optional group path
  spiffworkflow-backend/src/spiffworkflow_backend/api.yml
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_api_blueprint.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_model_service.py
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

get pagination for groups
  spiffworkflow-frontend/src/routes/ProcessGroupShow.tsx
Due: none

removed duplicate code
  spiffworkflow-backend/tests/spiffworkflow_backend/helpers/base_test.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

mypy fixes
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_api_blueprint.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_model_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

oops
  spiffworkflow-backend/.tool-versions
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

Set default up a level higher.
  .github/workflows/backend_tests.yml
Due: none

Report URL fixes (#29)
  spiffworkflow-backend/src/spiffworkflow_backend/api.yml
  spiffworkflow-frontend/package-lock.json
  spiffworkflow-frontend/src/components/NavigationBar.tsx
  spiffworkflow-frontend/src/components/SubNavigation.tsx
  spiffworkflow-frontend/src/routes/AdminRoutes.tsx
  spiffworkflow-frontend/src/routes/ProcessInstanceReportEdit.tsx
  spiffworkflow-frontend/src/routes/ProcessInstanceReportList.tsx
  spiffworkflow-frontend/src/routes/ProcessInstanceReportNew.tsx
  spiffworkflow-frontend/src/routes/ProcessInstanceReportShow.tsx
  spiffworkflow-frontend/src/routes/ProcessModelShow.tsx
Due: check-added-large-files, check-yaml, end-of-file-fixer, trailing-whitespace

noop, testing pre-commit hook.
  spiffworkflow-backend/README.rst
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

some more task tab play
  spiffworkflow-frontend/package-lock.json
  spiffworkflow-frontend/src/routes/HomePageRoutes.tsx
Due: none

Squashed 'spiffworkflow-backend/' changes from 43faebbd8..e78e32dcf
  docker-compose.yml
  src/spiffworkflow_backend/api.yml
  src/spiffworkflow_backend/models/process_group.py
  src/spiffworkflow_backend/routes/process_api_blueprint.py
  src/spiffworkflow_backend/routes/user.py
  src/spiffworkflow_backend/services/process_model_service.py
Due: none

Squashed 'spiffworkflow-frontend/' changes from 3ab257b81..ab6cf2817
  cypress/e2e/process_instances.cy.js
  src/components/ProcessGroupForm.tsx
  src/components/ProcessModelForm.tsx
  src/helpers.tsx
  src/routes/ProcessGroupShow.tsx
Due: none

Squashed 'flask-bpmn/' changes from b9d407795..5e40777f4
  poetry.lock
  pyproject.toml
Due: none

add a search button to the call activity to allow finding a process id through some sort of admin interface.
  spiffworkflow-backend/README.rst
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

add a search button to the call activity to allow finding a process id through some sort of admin interface.
  bpmn-js-spiffworkflow/README.md
  bpmn-js-spiffworkflow/app/spiffworkflow/callActivity/propertiesPanel/CallActivityPropertiesProvider.js
  bpmn-js-spiffworkflow/app/spiffworkflow/extensions/propertiesPanel/SpiffExtensionLaunchButton.js
  bpmn-js-spiffworkflow/test/spec/CallActivitySpec.js
  spiffworkflow-backend/README.rst
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

added tasks for my open processes page w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_api_blueprint.py
  spiffworkflow-frontend/src/routes/HomePageRoutes.tsx
  spiffworkflow-frontend/src/routes/TasksForMyOpenProcesses.tsx
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Squashed 'spiffworkflow-frontend/' changes from ab6cf2817..c096ca3f9
  package-lock.json
  src/components/NavigationBar.tsx
  src/components/ProcessBreadcrumb.test.tsx
  src/components/ProcessBreadcrumb.tsx
  src/components/ProcessGroupForm.tsx
  src/components/ReactDiagramEditor.tsx
  src/components/SubNavigation.tsx
  src/config.tsx
  src/helpers.tsx
  src/index.css
  src/index.scss
  src/index.tsx
  src/interfaces.ts
  src/routes/AdminRoutes.tsx
  src/routes/HomePage.tsx
  src/routes/MessageInstanceList.tsx
  src/routes/ProcessGroupEdit.tsx
  src/routes/ProcessGroupNew.tsx
  src/routes/ProcessGroupShow.tsx
  src/routes/ProcessInstanceList.tsx
  src/routes/ProcessInstanceLogList.tsx
  src/routes/ProcessInstanceReportEdit.tsx
  src/routes/ProcessInstanceReportList.tsx
  src/routes/ProcessInstanceReportNew.tsx
  src/routes/ProcessInstanceReportShow.tsx
  src/routes/ProcessInstanceShow.tsx
  src/routes/ProcessModelEdit.tsx
  src/routes/ProcessModelEditDiagram.tsx
  src/routes/ProcessModelNew.tsx
  src/routes/ProcessModelShow.tsx
  src/routes/ReactFormEditor.tsx
  src/routes/SecretList.tsx
  src/routes/SecretNew.tsx
  src/routes/SecretShow.tsx
Due: none

attempt to run pre-commit in own action w/ burnettk jbirddog
  .github/workflows/backend_tests.yml
  bin/run_pre_commit_in_ci
Due: none

do not update pip for pre commit w/ burnettk jbirddog
  .github/workflows/backend_tests.yml
Due: none

actually install poetry w/ burnettk jbirddog
  .github/workflows/backend_tests.yml
Due: none

added runs on to pre commit w/ burnettk jbirddog
  .github/workflows/backend_tests.yml
Due: none

Squashed 'spiffworkflow-backend/' changes from e78e32dcf9..2cb3fb27e2
  conftest.py
  migrations/env.py
  migrations/versions/fd00c59e1f60_.py
  poetry.lock
  src/spiffworkflow_backend/api.yml
  src/spiffworkflow_backend/models/process_group.py
  src/spiffworkflow_backend/models/process_instance.py
  src/spiffworkflow_backend/models/process_instance_report.py
  src/spiffworkflow_backend/routes/process_api_blueprint.py
  src/spiffworkflow_backend/routes/user.py
  src/spiffworkflow_backend/services/acceptance_test_fixtures.py
  src/spiffworkflow_backend/services/error_handling_service.py
  src/spiffworkflow_backend/services/file_system_service.py
  src/spiffworkflow_backend/services/process_instance_service.py
  src/spiffworkflow_backend/services/process_model_service.py
  tests/data/simple_form/simple_form.bpmn
  tests/data/simple_form/simple_form.json
  tests/data/simple_form/simple_form_ui.json
  tests/spiffworkflow_backend/helpers/base_test.py
  tests/spiffworkflow_backend/integration/test_logging_service.py
  tests/spiffworkflow_backend/integration/test_nested_groups.py
  tests/spiffworkflow_backend/integration/test_process_api.py
  tests/spiffworkflow_backend/unit/test_authorization_service.py
  tests/spiffworkflow_backend/unit/test_dot_notation.py
  tests/spiffworkflow_backend/unit/test_message_instance.py
  tests/spiffworkflow_backend/unit/test_spec_file_service.py
  tests/spiffworkflow_backend/unit/test_various_bpmn_constructs.py
Due: none

Squashed 'spiffworkflow-frontend/' changes from ab6cf28172..c096ca3f9c
  package-lock.json
  src/components/NavigationBar.tsx
  src/components/ProcessBreadcrumb.test.tsx
  src/components/ProcessBreadcrumb.tsx
  src/components/ProcessGroupForm.tsx
  src/components/ReactDiagramEditor.tsx
  src/components/SubNavigation.tsx
  src/config.tsx
  src/helpers.tsx
  src/index.css
  src/index.scss
  src/index.tsx
  src/interfaces.ts
  src/routes/AdminRoutes.tsx
  src/routes/HomePage.tsx
  src/routes/MessageInstanceList.tsx
  src/routes/ProcessGroupEdit.tsx
  src/routes/ProcessGroupNew.tsx
  src/routes/ProcessGroupShow.tsx
  src/routes/ProcessInstanceList.tsx
  src/routes/ProcessInstanceLogList.tsx
  src/routes/ProcessInstanceReportEdit.tsx
  src/routes/ProcessInstanceReportList.tsx
  src/routes/ProcessInstanceReportNew.tsx
  src/routes/ProcessInstanceReportShow.tsx
  src/routes/ProcessInstanceShow.tsx
  src/routes/ProcessModelEdit.tsx
  src/routes/ProcessModelEditDiagram.tsx
  src/routes/ProcessModelNew.tsx
  src/routes/ProcessModelShow.tsx
  src/routes/ReactFormEditor.tsx
  src/routes/SecretList.tsx
  src/routes/SecretNew.tsx
  src/routes/SecretShow.tsx
Due: none

Squashed 'bpmn-js-spiffworkflow/' changes from 09fa713bb0..4f23f860f8
  README.md
  app/spiffworkflow/callActivity/propertiesPanel/CallActivityPropertiesProvider.js
  app/spiffworkflow/extensions/propertiesPanel/SpiffExtensionLaunchButton.js
  test/spec/CallActivitySpec.js
Due: none

underscore unused vars
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_model_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace
