Repository sartography/spiff-arena: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

black:
  name: black
  entry: black
  language: system
  require_serial: true

check-added-large-files:
  name: Check for added large files
  entry: check-added-large-files
  language: system

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

end-of-file-fixer:
  name: Fix End of Files
  entry: end-of-file-fixer
  language: system
  stages:
  - commit
  - push
  - manual

flake8:
  name: flake8
  entry: flake8
  language: system
  require_serial: true

pyupgrade:
  name: pyupgrade
  description: Automatically upgrade syntax for newer versions.
  entry: pyupgrade
  language: system
  args:
  - --py37-plus

reorder-python-imports:
  name: Reorder python imports
  entry: reorder-python-imports
  language: system
  args:
  - --application-directories=src

trailing-whitespace:
  name: Trim Trailing Whitespace
  entry: trailing-whitespace-fixer
  language: system
  stages:
  - commit
  - push
  - manual

qa1
  spiffworkflow-backend/src/spiffworkflow_backend/config/qa1.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Revert "commit on save yes for now"
  spiffworkflow-backend/src/spiffworkflow_backend/config/staging.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Revert "allow updating models on staging for a bit"
  spiffworkflow-backend/src/spiffworkflow_backend/config/permissions/staging.yml
Due: check-added-large-files, check-yaml, end-of-file-fixer, trailing-whitespace

expanded functionality of the form builder
  spiffworkflow-backend/keycloak/realm_exports/sartography-realm.json
  spiffworkflow-backend/src/spiffworkflow_backend/services/git_service.py
  spiffworkflow-frontend/src/interfaces.ts
  spiffworkflow-frontend/src/routes/JsonSchemaFormBuilder.tsx
  spiffworkflow-frontend/src/routes/ReactFormEditor.tsx
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

make sure that all new form field elements are not dropdowns
  spiffworkflow-frontend/src/interfaces.ts
  spiffworkflow-frontend/src/routes/JsonSchemaFormBuilder.tsx
Due: none

add sum and format
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

added uniqueness constraint to spiff step details w/ burnettk
  spiffworkflow-backend/migrations/versions/22212a7d6505_.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/spiff_step_details.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

added locking system for process instances so hopefully background jobs will not take instances currently being run by the user w/ burnettk
  .flake8
  spiffworkflow-backend/.flake8
  spiffworkflow-backend/bin/save_to_secrets_from_file
  spiffworkflow-backend/migrations/versions/49aae41d7992_.py
  spiffworkflow-backend/src/spiffworkflow_backend/config/__init__.py
  spiffworkflow-backend/src/spiffworkflow_backend/config/default.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/process_instance.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_instances_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/tasks_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_process_instance_processor.py
  spiffworkflow-frontend/src/routes/JsonSchemaFormBuilder.tsx
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

use default keycloak realm for ci w/ burnettk
  .github/workflows/frontend_tests.yml
Due: none

strip off newlines and spaces when importing secrets and pinning spiffworkflow to working version until we can debug issues with new one w/ burnettk
  spiffworkflow-backend/bin/save_to_secrets_from_file
  spiffworkflow-backend/poetry.lock
  spiffworkflow-backend/pyproject.toml
Due: check-added-large-files, check-toml, end-of-file-fixer, trailing-whitespace

document future enhancement
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

ensure order of permissions in tests
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
  spiffworkflow-backend/tests/spiffworkflow_backend/scripts/test_get_all_permissions.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

removed uniqueness constraint from human task so we can loopback to a previous task with a gateway w/ burnettk
  spiffworkflow-backend/migrations/versions/2ec4222f0012_.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/human_task.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
  spiffworkflow-backend/tests/data/loopback_to_manual_task/loopback.bpmn
  spiffworkflow-backend/tests/spiffworkflow_backend/scripts/test_get_all_permissions.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_process_instance_processor.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

add process model file name validation for new files w/ burnettk
  spiffworkflow-frontend/src/index.css
  spiffworkflow-frontend/src/routes/ProcessModelEditDiagram.tsx
Due: none

show metadata on instance show page but for some reason it reorders elements w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/models/process_instance.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_instances_controller.py
  spiffworkflow-frontend/src/interfaces.ts
  spiffworkflow-frontend/src/routes/ProcessInstanceShow.tsx
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

do not allow deleting primary bpmn file and do not allow instantiating models without a primary bpmn file w/ burnettk
  .flake8
  spiffworkflow-backend/.flake8
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_instances_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_models_controller.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_api.py
  spiffworkflow-frontend/src/components/ProcessInstanceRun.tsx
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

put process instance show page to match main w/ burnettk
  spiffworkflow-frontend/src/routes/ProcessInstanceShow.tsx
Due: none

use a modal for metadata instead w/ burnettk
  spiffworkflow-frontend/src/routes/ProcessInstanceShow.tsx
Due: none

ci: use ENV variables for all ports
  docker-compose.yml
Due: none

added the process model identifier for the diagram if it is not the top level w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/models/process_instance.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_instances_controller.py
  spiffworkflow-frontend/src/interfaces.ts
  spiffworkflow-frontend/src/routes/ProcessInstanceShow.tsx
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Path conditions:
  black: any of: ^spiffworkflow-backend/ and \.py$ and not (/migrations/)
  check-added-large-files: any of: ^spiffworkflow-backend/
  check-toml: any of: ^spiffworkflow-backend/ and \.toml$
  check-yaml: any of: ^spiffworkflow-backend/ and \.(yaml|yml)$
  end-of-file-fixer: any of: ^spiffworkflow-backend/
  flake8: any of: ^spiffworkflow-backend/ and \.py$ and not (/migrations/)
  pyupgrade: any of: ^spiffworkflow-backend/ and \.py$
  reorder-python-imports: any of: ^spiffworkflow-backend/ and \.py$ and not ((/migrations/|load_database_models))
  trailing-whitespace: any of: ^spiffworkflow-backend/, but not: /migrations/
