Repository sartography/spiff-arena: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        # entry: bash -c 'cd spiffworkflow-backend && black'
        entry: black
        language: system
        files: ^spiffworkflow-backend/
        types: [python]
        require_serial: true
        # exclude: ^migrations/
        exclude: "/migrations/"
      - id: check-added-large-files
        files: ^spiffworkflow-backend/
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-toml
        files: ^spiffworkflow-backend/
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-yaml
        files: ^spiffworkflow-backend/
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        files: ^spiffworkflow-backend/
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: flake8
        files: ^spiffworkflow-backend/
        name: flake8
        entry: flake8
        language: system
        types: [python]
        require_serial: true
        exclude: "/migrations/"
      - id: pyupgrade
        files: ^spiffworkflow-backend/
        name: pyupgrade
        description: Automatically upgrade syntax for newer versions.
        entry: pyupgrade
        language: system
        types: [python]
        args: [--py37-plus]
      - id: reorder-python-imports
        files: ^spiffworkflow-backend/
        name: Reorder python imports
        entry: reorder-python-imports
        language: system
        types: [python]
        args: [--application-directories=src]
        exclude: "(/migrations/|load_database_models)"
      - id: trailing-whitespace
        files: ^spiffworkflow-backend/
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
        exclude: "/migrations/"
  # - repo: https://github.com/pre-commit/mirrors-prettier
  #   rev: v2.4.1
  #   hooks:
  #     - id: prettier
  #       files: ^spiffworkflow-backend/
  #       exclude_types: [html]

added script to add test keycloak users and moved all keycloak stuff to keycloak directory w/ burnettk
  .github/workflows/frontend_tests.yml
  spiffworkflow-backend/bin/get_token
  spiffworkflow-backend/bin/keycloak_test_secrets.json
  spiffworkflow-backend/bin/keycloak_test_server.py
  spiffworkflow-backend/bin/test_file_upload
  spiffworkflow-backend/bin/test_with_curl
  spiffworkflow-backend/keycloak/bin/add_test_users_to_keycloak
  spiffworkflow-backend/keycloak/bin/export_keycloak_realms
  spiffworkflow-backend/keycloak/bin/realm_exports
  spiffworkflow-backend/keycloak/bin/start_keycloak
  spiffworkflow-backend/keycloak/bin/wait_for_keycloak
  spiffworkflow-backend/keycloak/realm_exports/finance-realm.json
  spiffworkflow-backend/keycloak/realm_exports/quarkus-realm.json
  spiffworkflow-backend/keycloak/realm_exports/spiffworkflow-realm.json
  spiffworkflow-backend/keycloak/replicate_resource_set_denied_based_on_uri_with_keycloak/replicate_resource_set_denied_based_on_uri
  spiffworkflow-backend/keycloak/replicate_resource_set_denied_based_on_uri_with_keycloak/testing-realm.json
  spiffworkflow-backend/keycloak/test_user_lists/status
  spiffworkflow-frontend/.github/workflows/tests.yml
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

added new test users for status in keycloak w/ burnettk
  spiffworkflow-backend/keycloak/bin/export_keycloak_realms
  spiffworkflow-backend/keycloak/bin/realm_exports
  spiffworkflow-backend/keycloak/realm_exports/spiffworkflow-realm.json
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

Squashed 'SpiffWorkflow/' changes from 1f51db962..450ef3bcd
  SpiffWorkflow/task.py
Due: none

updating spiffworkflow version, and fixing the run_pyl (by removing the corft I stuck in earlier)
  bin/run_pyl
  spiffworkflow-backend/poetry.lock
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

pre-commit-in-ci
  spiffworkflow-backend/keycloak/realm_exports/spiffworkflow-realm.json
  spiffworkflow-backend/keycloak/test_user_lists/status
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_process_instance_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

added configs for sartography env w/ burnettk
  spiffworkflow-backend/keycloak/bin/add_test_users_to_keycloak
  spiffworkflow-backend/keycloak/realm_exports/sartography-realm.json
  spiffworkflow-backend/keycloak/test_user_lists/sartography
  spiffworkflow-backend/keycloak/test_user_lists/status
  spiffworkflow-backend/src/spiffworkflow_backend/config/__init__.py
  spiffworkflow-backend/src/spiffworkflow_backend/config/sartography.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

pyl w/ burnettk
  spiffworkflow-backend/keycloak/realm_exports/spiffworkflow-realm.json
  spiffworkflow-backend/src/spiffworkflow_backend/config/sartography.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_process_instance_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

ensure we have something in the logs w/ burnettk
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_process_instance_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

pyl w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/config/__init__.py
  spiffworkflow-backend/src/spiffworkflow_backend/exceptions/api_error.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/db.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/spec_reference.py
  spiffworkflow-backend/src/spiffworkflow_backend/scripts/script.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/authentication_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/authorization_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/background_processing_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/error_handling_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/file_system_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/logging_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_report_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/spec_file_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/helpers/test_data.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_api.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_spec_file_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

use the correct place for keycloak w/ burnettk
  .github/workflows/frontend_tests.yml
  spiffworkflow-frontend/.github/workflows/tests.yml
Due: none

find the top level process to find the task form when using subprocesses in called activities w/ burnettk danfunk
  .flake8
  spiffworkflow-backend/.flake8
  spiffworkflow-backend/bin/get_bpmn_json_for_process_instance
  spiffworkflow-backend/src/spiffworkflow_backend/routes/tasks_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

allow passing a realm name into start keycloak and added admin user to sartography realm
  spiffworkflow-backend/keycloak/bin/start_keycloak
  spiffworkflow-backend/keycloak/realm_exports/sartography-realm.json
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

updated admin user on sartography realm w/ burnettk
  spiffworkflow-backend/keycloak/realm_exports/sartography-realm.json
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

allow specifying an ssh key for git instead of a username and password w/ burnettk
  spiffworkflow-backend/bin/git_commit_bpmn_models_repo
  spiffworkflow-backend/src/spiffworkflow_backend/config/default.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/git_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

allow getting the GIT SSH key from an app config so we can set it in the secrets file w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/services/git_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

allow updating models on staging for a bit
  spiffworkflow-backend/src/spiffworkflow_backend/config/permissions/staging.yml
Due: check-added-large-files, check-yaml, end-of-file-fixer, trailing-whitespace

commit on save yes for now
  spiffworkflow-backend/src/spiffworkflow_backend/config/staging.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

since accepting the github host entry programatically is no more secure
  spiffworkflow-backend/bin/git_commit_bpmn_models_repo
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace
