Repository sartography/spiff-arena: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

black:
  name: black
  entry: black
  language: system
  require_serial: true

check-added-large-files:
  name: Check for added large files
  entry: check-added-large-files
  language: system

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

end-of-file-fixer:
  name: Fix End of Files
  entry: end-of-file-fixer
  language: system
  stages:
  - commit
  - push
  - manual

flake8:
  name: flake8
  entry: flake8
  language: system
  require_serial: true

pyupgrade:
  name: pyupgrade
  description: Automatically upgrade syntax for newer versions.
  entry: pyupgrade
  language: system
  args:
  - --py37-plus

reorder-python-imports:
  name: Reorder python imports
  entry: reorder-python-imports
  language: system
  args:
  - --application-directories=src

trailing-whitespace:
  name: Trim Trailing Whitespace
  entry: trailing-whitespace-fixer
  language: system
  stages:
  - commit
  - push
  - manual

Getting ./bin/pyl to pass
  spiffworkflow-backend/src/spiffworkflow_backend/scripts/get_encoded_file_data.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Fix issue with looping back to form with file uploads
  spiffworkflow-backend/src/spiffworkflow_backend/scripts/get_encoded_file_data.py
  spiffworkflow-backend/src/spiffworkflow_backend/scripts/markdown_file_download_link.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_process_instance_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Fixed test
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_process_instance_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Getting ./bin/pyl to pass
  spiffworkflow-backend/src/spiffworkflow_backend/scripts/markdown_file_download_link.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_process_instance_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Getting ./bin/pyl to pass
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_process_instance_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

unit tests are passing with the new spec tables
  spiffworkflow-backend/migrations/versions/567d22ded3af_.py
  spiffworkflow-backend/migrations/versions/6315ff2525b0_.py
  spiffworkflow-backend/migrations/versions/def2cbb0ca6b_.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/bpmn_process_definition.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/bpmn_process_definition_relationship.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/process_instance.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
  spiffworkflow-backend/tests/data/dot_notation/diagram.bpmn
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_api.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_dot_notation.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

all tests are passing with new spec tables w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/load_database_models.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/bpmn_process.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/bpmn_process_definition_relationship.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/json_data.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/process_instance.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/spiff_step_details.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/task.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/task_definition.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Don't double digest on loop back
  spiffworkflow-backend/src/spiffworkflow_backend/scripts/get_encoded_file_data.py
  spiffworkflow-backend/src/spiffworkflow_backend/scripts/markdown_file_download_link.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_process_instance_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

clean up bpmn process definition save code a bit w/ burnettk
  spiffworkflow-backend/migrations/versions/04e43b3c9a50_.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/bpmn_process_definition.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/process_instance.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/task_definition.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
  spiffworkflow-backend/tests/data/dot_notation/diagram.bpmn
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Getting ./bin/pyl to pass
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

recreate migrations to set case sensitive columns for mysql w/ burnettk
  spiffworkflow-backend/migrations/versions/04e43b3c9a50_.py
  spiffworkflow-backend/migrations/versions/2fe2830f45e1_.py
  spiffworkflow-backend/migrations/versions/317dd5155137_.py
  spiffworkflow-backend/migrations/versions/3ad01a365c17_.py
  spiffworkflow-backend/migrations/versions/567d22ded3af_.py
  spiffworkflow-backend/migrations/versions/6315ff2525b0_.py
  spiffworkflow-backend/migrations/versions/7422be14adc4_.py
  spiffworkflow-backend/migrations/versions/8930711a75a4_.py
  spiffworkflow-backend/migrations/versions/def2cbb0ca6b_.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/bpmn_process_definition.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/bpmn_process_definition_relationship.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/task.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/task_definition.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

set the collation on the db directly and not in the models w/ burnettk
  spiffworkflow-backend/migrations/env.py
  spiffworkflow-backend/migrations/versions/25f64177f8ec_.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/bpmn_process.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/bpmn_process_definition.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/task_definition.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

recreated branch migration w/ burnettk
  spiffworkflow-backend/migrations/env.py
  spiffworkflow-backend/migrations/versions/7422be14adc4_.py
  spiffworkflow-backend/migrations/versions/8930711a75a4_.py
  spiffworkflow-backend/migrations/versions/ac6b60d7fee9_.py
  spiffworkflow-backend/migrations/versions/d6fd61fd64d7_.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/bpmn_process_definition.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/task_definition.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Special case file data during user form submission (#164)
  spiffworkflow-backend/migrations/versions/1e8167de6df8_.py
  spiffworkflow-backend/src/spiffworkflow_backend/api.yml
  spiffworkflow-backend/src/spiffworkflow_backend/load_database_models.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/process_instance_file_data.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_api_blueprint.py
  spiffworkflow-backend/src/spiffworkflow_backend/scripts/get_encoded_file_data.py
  spiffworkflow-backend/src/spiffworkflow_backend/scripts/markdown_file_download_link.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_process_instance_service.py
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

recreated migration from new one in main
  spiffworkflow-backend/migrations/versions/a63a61a21398_.py
Due: check-added-large-files, end-of-file-fixer, pyupgrade

use the correct db collation for backend ci
  .github/workflows/backend_tests.yml
Due: none

get longblob on mysql, reset migrations since we are going to do that anyway in hours
  spiffworkflow-backend/migrations/versions/1e8167de6df8_.py
  spiffworkflow-backend/migrations/versions/7422be14adc4_.py
  spiffworkflow-backend/migrations/versions/8930711a75a4_.py
  spiffworkflow-backend/migrations/versions/ab91b129b473_.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/process_instance_file_data.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Squashed 'bpmn-js-spiffworkflow/' changes from a547888ef..c4843c17b
  app/app.js
  app/spiffworkflow/DataObject/DataObjectHelpers.js
  app/spiffworkflow/DataObject/DataObjectInterceptor.js
  app/spiffworkflow/DataObject/propertiesPanel/DataObjectArray.js
  app/spiffworkflow/DataObject/propertiesPanel/DataObjectPropertiesProvider.js
  app/spiffworkflow/messages/propertiesPanel/CorrelationPropertiesArray.js
  app/spiffworkflow/messages/propertiesPanel/MessageCorrelationPropertiesArray.js
  test/spec/DataObjectInterceptorSpec.js
Due: none

Updating BPMN-JS
  spiffworkflow-frontend/package-lock.json
Due: none

Fix the super long panel in bpmn-js that is driving me slowly mad
  spiffworkflow-frontend/src/bpmn-js-properties-panel.css
Due: none

some stuff is passing but still needs the process_instance_data w/ burnettk
  spiffworkflow-backend/conftest.py
  spiffworkflow-backend/migrations/versions/61cd3e8462f5_.py
  spiffworkflow-backend/migrations/versions/941f7b76d278_.py
  spiffworkflow-backend/migrations/versions/b0b82fab4cf9_.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/bpmn_process.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/bpmn_process_definition.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/process_instance.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/task.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_message_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Remove orjson
  poetry.lock
  pyproject.toml
Due: none

Remove apscheduler from arena
  poetry.lock
  pyproject.toml
Due: none

Aligning dependencies
  poetry.lock
  spiffworkflow-backend/poetry.lock
  spiffworkflow-backend/pyproject.toml
Due: check-added-large-files, check-toml, end-of-file-fixer, trailing-whitespace

add start of pp1 test
  spiffworkflow-frontend/cypress.config.js
  spiffworkflow-frontend/cypress/e2e/pp1.cy.js
  spiffworkflow-frontend/cypress/support/commands.js
  spiffworkflow-frontend/src/components/ProcessInstanceRun.tsx
Due: none

finish test for pp1
  spiffworkflow-frontend/cypress/e2e/pp1.cy.js
  spiffworkflow-frontend/cypress/support/commands.js
Due: none

Path conditions:
  black: any of: ^spiffworkflow-backend/ and \.py$ and not (/migrations/)
  check-added-large-files: any of: ^spiffworkflow-backend/
  check-toml: any of: ^spiffworkflow-backend/ and \.toml$
  check-yaml: any of: ^spiffworkflow-backend/ and \.(yaml|yml)$
  end-of-file-fixer: any of: ^spiffworkflow-backend/
  flake8: any of: ^spiffworkflow-backend/ and \.py$ and not (/migrations/)
  pyupgrade: any of: ^spiffworkflow-backend/ and \.py$
  reorder-python-imports: any of: ^spiffworkflow-backend/ and \.py$ and not ((/migrations/|load_database_models))
  trailing-whitespace: any of: ^spiffworkflow-backend/, but not: /migrations/
