Repository sartography/spiff-arena: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        # entry: bash -c 'cd spiffworkflow-backend && black'
        entry: black
        language: system
        files: ^spiffworkflow-backend/
        types: [python]
        require_serial: true
        # exclude: ^migrations/
        exclude: "/migrations/"
      - id: check-added-large-files
        files: ^spiffworkflow-backend/
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-toml
        files: ^spiffworkflow-backend/
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-yaml
        files: ^spiffworkflow-backend/
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        files: ^spiffworkflow-backend/
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: flake8
        files: ^spiffworkflow-backend/
        name: flake8
        entry: flake8
        language: system
        types: [python]
        require_serial: true
        exclude: "/migrations/"
      - id: pyupgrade
        files: ^spiffworkflow-backend/
        name: pyupgrade
        description: Automatically upgrade syntax for newer versions.
        entry: pyupgrade
        language: system
        types: [python]
        args: [--py37-plus]
      - id: reorder-python-imports
        files: ^spiffworkflow-backend/
        name: Reorder python imports
        entry: reorder-python-imports
        language: system
        types: [python]
        args: [--application-directories=src]
        exclude: "(/migrations/|load_database_models)"
      - id: trailing-whitespace
        files: ^spiffworkflow-backend/
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
        exclude: "/migrations/"
  # - repo: https://github.com/pre-commit/mirrors-prettier
  #   rev: v2.4.1
  #   hooks:
  #     - id: prettier
  #       files: ^spiffworkflow-backend/
  #       exclude_types: [html]

just look for aborted in the error on interstital page w/ burnettk
  spiffworkflow-frontend/src/components/ProcessInterstitial.tsx
Due: none

a couple updates for extensions w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_instances_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_report_service.py
  spiffworkflow-frontend/src/extension_ui_schema_interfaces.ts
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Refactor finding process models to support finding other file types (#516)
  spiffworkflow-backend/src/spiffworkflow_backend/services/data_setup_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/file_system_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_model_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

call activities do not need to mock data in unit tests and ensure we add the primary bpmn file last otherwise we lose it - seems another fix will be needed for this
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_model_test_runner_service.py
  spiffworkflow-backend/test.json
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

removed test file
  spiffworkflow-backend/test.json
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

better fix where we ensure we get the process id from the primary bpmn file
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_model_test_runner_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Stubbing out with failing test
  spiffworkflow-backend/src/spiffworkflow_backend/services/reference_cache_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_reference_cache_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Untested query
  spiffworkflow-backend/src/spiffworkflow_backend/services/reference_cache_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Getting bin_pyl to pass
  spiffworkflow-backend/src/spiffworkflow_backend/services/reference_cache_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_reference_cache_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Added failing test
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_reference_cache_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Refactor for easier use in tests
  spiffworkflow-backend/src/spiffworkflow_backend/services/data_setup_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/reference_cache_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_reference_cache_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Getting bin_pyl to pass
  spiffworkflow-backend/src/spiffworkflow_backend/services/data_setup_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/reference_cache_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_reference_cache_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Passing tests
  spiffworkflow-backend/src/spiffworkflow_backend/services/data_setup_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/reference_cache_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_reference_cache_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Integrate
  spiffworkflow-backend/src/spiffworkflow_backend/data_stores/json.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Getting bin_pyl to pass
  spiffworkflow-backend/src/spiffworkflow_backend/data_stores/json.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/reference_cache_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_reference_cache_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

added bin/console command that runs flask shell and align zoom tooltips to the bottom w/ burnettk
  spiffworkflow-backend/bin/console
  spiffworkflow-backend/bin/local_development_environment_setup
  spiffworkflow-backend/bin/run_server_locally
  spiffworkflow-backend/realmstuff/master-realm.json
  spiffworkflow-frontend/src/components/ReactDiagramEditor.tsx
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

do not check for git source branch when using the webhook, let it fail naturally if not a git repo w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/services/git_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

make it clearer how the Data View relates to task data
  spiffworkflow-frontend/src/components/ReactFormBuilder/ReactFormBuilder.tsx
Due: none

ignore process instance not found in terms of sentry notification
  spiffworkflow-backend/realmstuff/master-realm.json
  spiffworkflow-backend/src/spiffworkflow_backend/exceptions/api_error.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

move task draft data insert into try statement to handle Deadlock errors
  spiffworkflow-backend/src/spiffworkflow_backend/routes/tasks_controller.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

update bpmn-js-spiffworkflow
  spiffworkflow-frontend/package-lock.json
Due: none

using new spiffworkflow locally and the db can be recreated w/ burnettk
  spiffworkflow-backend/poetry.lock
  spiffworkflow-backend/pyproject.toml
  spiffworkflow-backend/src/spiffworkflow_backend/data_stores/json.py
  spiffworkflow-backend/src/spiffworkflow_backend/data_stores/typeahead.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/task_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/specs/start_event.py
Due: black, check-added-large-files, check-toml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

tests are passing w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/data_stores/typeahead.py
  spiffworkflow-backend/src/spiffworkflow_backend/scripts/get_current_task_info.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/task_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/specs/start_event.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_api.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_process_instance_processor.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

update bpmn js with signal event fix
  spiffworkflow-frontend/package-lock.json
Due: none

avoid notifying sentry on standard 405 method not allowed
  spiffworkflow-backend/src/spiffworkflow_backend/exceptions/api_error.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

update permission check to hopefully improve performance
  spiffworkflow-backend/src/spiffworkflow_backend/models/permission_assignment.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_api_blueprint.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/authorization_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/user_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/helpers/base_test.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_api.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_authorization_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace
