Repository sartography/spiff-arena: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

black:
  name: black
  entry: black
  language: system
  require_serial: true

check-added-large-files:
  name: Check for added large files
  entry: check-added-large-files
  language: system

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

end-of-file-fixer:
  name: Fix End of Files
  entry: end-of-file-fixer
  language: system
  stages:
  - commit
  - push
  - manual

flake8:
  name: flake8
  entry: flake8
  language: system
  require_serial: true

pyupgrade:
  name: pyupgrade
  description: Automatically upgrade syntax for newer versions.
  entry: pyupgrade
  language: system
  args:
  - --py37-plus

reorder-python-imports:
  name: Reorder python imports
  entry: reorder-python-imports
  language: system
  args:
  - --application-directories=src

trailing-whitespace:
  name: Trim Trailing Whitespace
  entry: trailing-whitespace-fixer
  language: system
  stages:
  - commit
  - push
  - manual

Feature/UI tweaks (#419)
  .github/workflows/docker_image_for_main_builds.yml
  spiffworkflow-frontend/src/App.tsx
  spiffworkflow-frontend/src/components/Filters.tsx
  spiffworkflow-frontend/src/components/InstructionsForEndUser.tsx
  spiffworkflow-frontend/src/components/ProcessInstanceListTable.tsx
  spiffworkflow-frontend/src/components/ProcessInstanceRun.tsx
  spiffworkflow-frontend/src/components/ProcessInterstitial.tsx
  spiffworkflow-frontend/src/components/TaskListTable.tsx
  spiffworkflow-frontend/src/index.css
  spiffworkflow-frontend/src/index.scss
  spiffworkflow-frontend/src/rjsf/carbon_theme/AddButton/AddButton.tsx
  spiffworkflow-frontend/src/rjsf/carbon_theme/IconButton/IconButton.tsx
  spiffworkflow-frontend/src/routes/About.tsx
  spiffworkflow-frontend/src/routes/AdminRoutes.tsx
  spiffworkflow-frontend/src/routes/EditorRoutes.tsx
  spiffworkflow-frontend/src/routes/Extension.tsx
  spiffworkflow-frontend/src/routes/HomePageRoutes.tsx
  spiffworkflow-frontend/src/routes/ProcessInstanceShow.tsx
  spiffworkflow-frontend/src/routes/ProcessModelEditDiagram.tsx
  spiffworkflow-frontend/src/routes/ProcessModelShow.tsx
  spiffworkflow-frontend/src/routes/TaskShow.tsx
Due: none

Threads (#439)
  spiffworkflow-backend/src/spiffworkflow_backend/routes/extensions_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/tasks_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/workflow_execution_service.py
  spiffworkflow-backend/tests/data/threads_multi_instance/threads_multi_instance.bpmn
  spiffworkflow-backend/tests/data/threads_with_script_timers/threads_with_script_timers.bpmn
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_threaded_execution.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Feature/guest form submission (#447)
  spiffworkflow-backend/src/spiffworkflow_backend/api.yml
  spiffworkflow-backend/src/spiffworkflow_backend/models/group.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/task.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/user.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/tasks_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/user.py
  spiffworkflow-backend/src/spiffworkflow_backend/scripts/get_current_task_info.py
  spiffworkflow-backend/src/spiffworkflow_backend/scripts/get_url_for_task_with_bpmn_identifier.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/authorization_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/group_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
  spiffworkflow-backend/tests/data/test-allow-guest/test_allow_guest.bpmn
  spiffworkflow-backend/tests/data/test-get-current-task-info-script/process_model.json
  spiffworkflow-backend/tests/data/test-get-current-task-info-script/test-get-current-task-info-script.bpmn
  spiffworkflow-backend/tests/data/test-get-url-for-task-with-bpmn-identifier/process_model.json
  spiffworkflow-backend/tests/data/test-get-url-for-task-with-bpmn-identifier/test-get-url-for-task-with-bpmn-identifier.bpmn
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_tasks_controller.py
  spiffworkflow-backend/tests/spiffworkflow_backend/scripts/test_get_current_task_info.py
  spiffworkflow-backend/tests/spiffworkflow_backend/scripts/test_get_url_for_task_with_bpmn_identifier.py
  spiffworkflow-frontend/src/components/NavigationBar.tsx
  spiffworkflow-frontend/src/components/ProcessBreadcrumb.tsx
  spiffworkflow-frontend/src/interfaces.ts
  spiffworkflow-frontend/src/routes/OnboardingView.tsx
  spiffworkflow-frontend/src/routes/TaskShow.tsx
  spiffworkflow-frontend/src/services/UserService.ts
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Support lazy loading call activities with human tasks (#450)
  spiffworkflow-backend/poetry.lock
  spiffworkflow-backend/pyproject.toml
  spiffworkflow-backend/src/spiffworkflow_backend/config/default.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_tasks_controller.py
Due: black, check-added-large-files, check-toml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

updated the support user permissions to disallow authentications as well and updated webui to nav to auth page if auth is available but secrets are not w/ burnettk (#454)
  spiffworkflow-backend/src/spiffworkflow_backend/services/authorization_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_authorization_service.py
  spiffworkflow-frontend/src/routes/SecretList.tsx
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

some updates to render markdown results on load w/ burnettk
  spiffworkflow-frontend/src/routes/Extension.tsx
Due: none

when we replace variables in enum list in jsonschema ensure it is actually a non-empty list w/ burnettk (#455)
  spiffworkflow-backend/src/spiffworkflow_backend/routes/tasks_controller.py
  spiffworkflow-frontend/src/routes/TaskShow.tsx
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Feature/group mapping from keycloak (#457)
  spiffworkflow-backend/src/spiffworkflow_backend/models/user.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/user_group_assignment.py
  spiffworkflow-backend/src/spiffworkflow_backend/scripts/refresh_permissions.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/authorization_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/group_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/helpers/base_test.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_authentication.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

show an error message and render the remaining page if a bpmn diagram cannot load w/ burnettk (#458)
  spiffworkflow-backend/src/spiffworkflow_backend/models/process_instance.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_instances_controller.py
  spiffworkflow-frontend/src/components/ErrorDisplay.tsx
  spiffworkflow-frontend/src/components/Notification.tsx
  spiffworkflow-frontend/src/interfaces.ts
  spiffworkflow-frontend/src/routes/ProcessInstanceShow.tsx
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

added migration merge file w/ burnettk
  spiffworkflow-backend/bin/recreate_db
  spiffworkflow-backend/migrations/versions/3b0098e20527_merging_two_heads.py
Due: check-added-large-files, end-of-file-fixer, pyupgrade, trailing-whitespace

moved code to fix linting issues w/ burnettk
  spiffworkflow-frontend/src/routes/Extension.tsx
Due: none

Feature/avoid repredicting tasks (#460)
  spiffworkflow-backend/src/spiffworkflow_backend/services/workflow_execution_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

added a widget to allow markdown fields for rjsf (#461)
  spiffworkflow-frontend/src/components/CustomForm.tsx
  spiffworkflow-frontend/src/rjsf/custom_widgets/MarkDownFieldWidget/MarkDownFieldWidget.tsx
Due: none

Feature/view completed user forms (#464)
  spiffworkflow-backend/src/spiffworkflow_backend/api.yml
  spiffworkflow-backend/src/spiffworkflow_backend/routes/tasks_controller.py
  spiffworkflow-frontend/src/components/TaskListTable.tsx
  spiffworkflow-frontend/src/index.css
  spiffworkflow-frontend/src/interfaces.ts
  spiffworkflow-frontend/src/rjsf/custom_widgets/MarkDownFieldWidget/MarkDownFieldWidget.tsx
  spiffworkflow-frontend/src/routes/ProcessInstanceShow.tsx
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

fixed failing cypress test w/ burnettk
  spiffworkflow-frontend/cypress/e2e/process_instances.cy.js
Due: none

WIP - task isn't in the db yet
  spiffworkflow-backend/src/spiffworkflow_backend/data_stores/json.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Allow cycle timers to cycle when a human task is in play (#465)
  spiffworkflow-backend/src/spiffworkflow_backend/routes/tasks_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

updated checkbox widget to use carbon and added tooltip options w/ burnettk (#466)
  spiffworkflow-frontend/src/rjsf/carbon_theme/BaseInputTemplate/BaseInputTemplate.tsx
  spiffworkflow-frontend/src/rjsf/carbon_theme/CheckboxWidget/CheckboxWidget.tsx
  spiffworkflow-frontend/src/rjsf/carbon_theme/SelectWidget/SelectWidget.tsx
  spiffworkflow-frontend/src/rjsf/carbon_theme/TextareaWidget/TextareaWidget.tsx
  spiffworkflow-frontend/src/rjsf/custom_widgets/DateRangePicker/DateRangePickerWidget.tsx
  spiffworkflow-frontend/src/rjsf/custom_widgets/TypeaheadWidget/TypeaheadWidget.tsx
  spiffworkflow-frontend/src/rjsf/helpers.tsx
Due: none

updated with tasks waiting for me query to include tasks manually assigned to the user w/ burnettk (#467)
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_report_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

set overflow to auto so the scrollbar only appears when necessary
  spiffworkflow-frontend/src/index.css
Due: none

add page titles for most routes (#468)
  spiffworkflow-frontend/src/helpers.tsx
  spiffworkflow-frontend/src/routes/Configuration.tsx
  spiffworkflow-frontend/src/routes/DataStorePage.tsx
  spiffworkflow-frontend/src/routes/MessageListPage.tsx
  spiffworkflow-frontend/src/routes/ProcessGroupEdit.tsx
  spiffworkflow-frontend/src/routes/ProcessGroupList.tsx
  spiffworkflow-frontend/src/routes/ProcessGroupNew.tsx
  spiffworkflow-frontend/src/routes/ProcessGroupShow.tsx
  spiffworkflow-frontend/src/routes/ProcessInstanceList.tsx
  spiffworkflow-frontend/src/routes/ProcessInstanceShow.tsx
  spiffworkflow-frontend/src/routes/ProcessModelEdit.tsx
  spiffworkflow-frontend/src/routes/ProcessModelEditDiagram.tsx
  spiffworkflow-frontend/src/routes/ProcessModelNew.tsx
  spiffworkflow-frontend/src/routes/ProcessModelShow.tsx
  spiffworkflow-frontend/src/routes/ReactFormEditor.tsx
  spiffworkflow-frontend/src/routes/TaskShow.tsx
Due: none

added migration merge file
  spiffworkflow-backend/migrations/versions/57df21dc569d_merging_two_heads.py
Due: check-added-large-files, end-of-file-fixer, pyupgrade

multiinstance ui (#469)
  spiffworkflow-backend/migrations/versions/5579975401dd_.py
  spiffworkflow-backend/migrations/versions/57df21dc569d_merging_two_heads.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/task.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_instances_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/task_service.py
  spiffworkflow-frontend/src/interfaces.ts
  spiffworkflow-frontend/src/routes/ProcessInstanceShow.tsx
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Path conditions:
  black: any of: ^spiffworkflow-backend/ and \.py$ and not (/migrations/)
  check-added-large-files: any of: ^spiffworkflow-backend/
  check-toml: any of: ^spiffworkflow-backend/ and \.toml$
  check-yaml: any of: ^spiffworkflow-backend/ and \.(yaml|yml)$
  end-of-file-fixer: any of: ^spiffworkflow-backend/
  flake8: any of: ^spiffworkflow-backend/ and \.py$ and not (/migrations/)
  pyupgrade: any of: ^spiffworkflow-backend/ and \.py$
  reorder-python-imports: any of: ^spiffworkflow-backend/ and \.py$ and not ((/migrations/|load_database_models))
  trailing-whitespace: any of: ^spiffworkflow-backend/, but not: /migrations/
