Repository sartography/spiff-arena: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-added-large-files, check-toml, check-yaml, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: check-added-large-files
        files: ^spiffworkflow-backend/
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-toml
        files: ^spiffworkflow-backend/
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-yaml
        files: ^spiffworkflow-backend/
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        files: ^spiffworkflow-backend/
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: ruff-check
        args: [check, --fix]
        files: ^spiffworkflow-backend/
        name: ruff
        entry: ruff
        language: system
        types: [python]
        require_serial: true
        # this is also specified in spiffworkflow-backend/pyproject.toml but we run pre-commit
        # with all-files which ignores that
        exclude: "/migrations/"
      - id: ruff-format
        args: [format]
        files: ^spiffworkflow-backend/
        name: ruff
        entry: ruff
        language: system
        types: [python]
        require_serial: true
        # this is also specified in spiffworkflow-backend/pyproject.toml but we run pre-commit
        # with all-files which ignores that
        exclude: "/migrations/"
      - id: trailing-whitespace
        files: ^spiffworkflow-backend/
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
        exclude: "/migrations/"

lint w/ burnettk
  spiffworkflow-backend/uv.lock
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

code rabbit w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_instances_controller.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_instances_controller.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

clean up w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/scripts/get_current_task_info.py
  spiffworkflow-backend/tests/spiffworkflow_backend/scripts/test_get_current_task_info.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

upgrade RestrictedPython 8.5 for snyk (#3028)
  docs/reference/bpmn/script_tasks.md
  spiffworkflow-backend/pyproject.toml
  spiffworkflow-backend/src/spiffworkflow_backend/scripts/get_current_task_info.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_script_engine.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_model_test_runner_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/scripts/test_get_current_task_info.py
  spiffworkflow-backend/uv.lock
Due: check-added-large-files, check-toml, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

check pm identifiers w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_instances_controller.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_api.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

Do not error an instance when a callback targets a task that no longer exists
  spiffworkflow-backend/src/spiffworkflow_backend/services/service_task_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_long_running_services.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

cleanups
  docs/how_to_guides/extend_the_system/global_scripts.md
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_api_blueprint.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/error_handling_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/form_schema_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_runtime.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_model_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/workflow_execution_service.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

use the same method between services
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_api_blueprint.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_runtime.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/service_task_service.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

move more stuff to extension w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_model_history.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_instances_controller.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

use model sources so we can more easily override for history w/ burnettk
  docs/explanation/dev/app_extensions.md
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_api_blueprint.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_instances_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/form_schema_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/message_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/model_sources.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_runtime.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_model_history.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_model_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_model_sources.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

lint w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_api_blueprint.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_model_sources.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

try to remove some internal imports w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/services/model_sources.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

fix imports w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/services/model_sources.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_model_service.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

some code rabbit stuff
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_api_blueprint.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

test for complete form task missing task behavior
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_api.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

Do not error an instance when a callback targets a task that no longer exists (#3030)
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_api_blueprint.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_runtime.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/service_task_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_long_running_services.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_api.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

code rabbit w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_instances_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_service.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

some more code rabbit w/ burnettk
  docs/explanation/dev/app_extensions.md
  spiffworkflow-backend/src/spiffworkflow_backend/services/error_handling_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/model_sources.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_error_handling_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_process_instance_service.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

update readmes w/ burnettk
  docs/explanation/dev/app_extensions.md
  docs/how_to_guides/extend_the_system/global_scripts.md
Due: none

use workflowspecservice w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/services/model_sources.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/workflow_spec_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_workflow_spec_service.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

lint w/ burnettk
  docs/explanation/dev/app_extensions.md
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_workflow_spec_service.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

App extensions (#3029)
  docs/explanation/dev/app_extensions.md
  docs/explanation/dev/index.md
  spiffworkflow-backend/src/spiffworkflow_backend/__init__.py
  spiffworkflow-backend/src/spiffworkflow_backend/config/default.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_api_blueprint.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_instances_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/app_extensions.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/bpmn_process_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/error_handling_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/form_schema_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/message_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/model_sources.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_runtime.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_model_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/workflow_execution_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/workflow_spec_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_api.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_app_extensions.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_error_handling_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_form_schema_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_model_sources.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_process_instance_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_workflow_spec_service.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

go to pi show page w/ burnettk
  spiffworkflow-frontend/src/views/TaskShow/ProcessInterstitialPage.tsx
Due: none

go to pi show page (#3035)
  spiffworkflow-frontend/src/views/TaskShow/ProcessInterstitialPage.tsx
Due: none

only require devtools in dev w/ burnettk
  spiffworkflow-frontend/package-lock.json
  spiffworkflow-frontend/package.json
  spiffworkflow-frontend/src/App.tsx
Due: none

update devtools w/ burnettk
  spiffworkflow-frontend/package-lock.json
  spiffworkflow-frontend/package.json
Due: none

Move devtools to dev (#3036)
  spiffworkflow-frontend/package-lock.json
  spiffworkflow-frontend/package.json
  spiffworkflow-frontend/src/App.tsx
Due: none

model source hook test w/ burnettk
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_model_source_hooks.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

model source hook test (#3037)
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_model_source_hooks.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

fix global state logger race condition
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_runtime.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_process_instance_runtime.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

remove comment
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_runtime.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

run playwright at the same time as the scan w/ burnettk
  .github/workflows/tests.yml
Due: none

Safe spiff events (#3038)
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_runtime.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_process_instance_runtime.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

fix tests w/ burnettk
  spiffworkflow-frontend/test/browser/README.md
  spiffworkflow-frontend/test/browser/test_accessibility.py
Due: none

fix tests w/ burnettk
  spiffworkflow-frontend/test/browser/test_accessibility.py
Due: none

try to cache some stuff w/ burnettk
  .github/workflows/tests.yml
Due: none

run playwright at the same time as the scan (#3039)
  .github/workflows/tests.yml
  spiffworkflow-frontend/test/browser/README.md
  spiffworkflow-frontend/test/browser/test_accessibility.py
Due: none

update ubunut tags per warning w/ burnettk
  .github/workflows/actionlint.yml
  .github/workflows/auto-merge-dependabot-prs.yml
  .github/workflows/build_docker_images.yml
  .github/workflows/common.yml
  .github/workflows/connector-proxy-agg.yml
  .github/workflows/connector-proxy-async-http.yml
  .github/workflows/container_retention_policy.yml
  .github/workflows/dev_containers.yml
  .github/workflows/docs.yml
  .github/workflows/renovate.yml
  .github/workflows/slack_notify.yml
  .github/workflows/snyk-security.yml
  .github/workflows/tests.yml
  .github/workflows/zizmor.yml
Due: none

use ubuntu-26.04 w/ burnettk
  .github/workflows/actionlint.yml
  .github/workflows/auto-merge-dependabot-prs.yml
  .github/workflows/build_docker_images.yml
  .github/workflows/common.yml
  .github/workflows/connector-proxy-agg.yml
  .github/workflows/connector-proxy-async-http.yml
  .github/workflows/container_retention_policy.yml
  .github/workflows/dev_containers.yml
  .github/workflows/docs.yml
  .github/workflows/renovate.yml
  .github/workflows/slack_notify.yml
  .github/workflows/snyk-security.yml
  .github/workflows/tests.yml
  .github/workflows/zizmor.yml
Due: none

remaining warnings and actionlint w/ burnettk
  .github/workflows/actionlint.yml
  .github/workflows/tests.yml
Due: none
