Repository sartography/spiff-arena: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        # entry: bash -c 'cd spiffworkflow-backend && black'
        entry: black
        language: system
        files: ^spiffworkflow-backend/
        types: [python]
        require_serial: true
        # exclude: ^migrations/
        exclude: "/migrations/"
      - id: check-added-large-files
        files: ^spiffworkflow-backend/
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-toml
        files: ^spiffworkflow-backend/
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-yaml
        files: ^spiffworkflow-backend/
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        files: ^spiffworkflow-backend/
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: flake8
        files: ^spiffworkflow-backend/
        name: flake8
        entry: flake8
        language: system
        types: [python]
        require_serial: true
        exclude: "/migrations/"
      - id: pyupgrade
        files: ^spiffworkflow-backend/
        name: pyupgrade
        description: Automatically upgrade syntax for newer versions.
        entry: pyupgrade
        language: system
        types: [python]
        args: [--py37-plus]
      - id: reorder-python-imports
        files: ^spiffworkflow-backend/
        name: Reorder python imports
        entry: reorder-python-imports
        language: system
        types: [python]
        args: [--application-directories=src]
        exclude: "(/migrations/|load_database_models)"
      - id: trailing-whitespace
        files: ^spiffworkflow-backend/
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
        exclude: "/migrations/"
  # - repo: https://github.com/pre-commit/mirrors-prettier
  #   rev: v2.4.1
  #   hooks:
  #     - id: prettier
  #       files: ^spiffworkflow-backend/
  #       exclude_types: [html]

log exception as info so it does not go to sentry w/ burnettk
  flask-bpmn/src/flask_bpmn/api/api_error.py
Due: none

update flask-bpmn w/ burnettk
  spiffworkflow-backend/poetry.lock
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

do not delete groups that were just added w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/services/authorization_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Link back to for-me from reports list
  spiffworkflow-frontend/src/routes/ProcessInstanceReportList.tsx
Due: none

Drop for-me
  spiffworkflow-frontend/src/routes/ProcessInstanceReportList.tsx
Due: none

Add report delete button
  spiffworkflow-frontend/src/components/ProcessInstanceListDeleteReport.tsx
  spiffworkflow-frontend/src/components/ProcessInstanceListTable.tsx
Due: none

Clear selection after delete
  spiffworkflow-frontend/src/components/ProcessInstanceListDeleteReport.tsx
  spiffworkflow-frontend/src/components/ProcessInstanceListTable.tsx
Due: none

Getting ./bin/pyl to pass
  flask-bpmn/src/flask_bpmn/api/api_error.py
  spiffworkflow-backend/bin/spiffworkflow-realm.json
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

Revive report deletion (#85)
  flask-bpmn/src/flask_bpmn/api/api_error.py
  spiffworkflow-backend/bin/spiffworkflow-realm.json
  spiffworkflow-frontend/src/components/ProcessInstanceListDeleteReport.tsx
  spiffworkflow-frontend/src/components/ProcessInstanceListTable.tsx
  spiffworkflow-frontend/src/routes/ProcessInstanceReportList.tsx
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

fixed some cypress tests and fixed issue where an invalid date caused the page to constantly reload w/ burnettk
  flask-bpmn/src/flask_bpmn/api/api_error.py
  spiffworkflow-backend/bin/spiffworkflow-realm.json
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_api_blueprint.py
  spiffworkflow-frontend/cypress/e2e/process_instances.cy.js
  spiffworkflow-frontend/cypress/e2e/tasks.cy.js
  spiffworkflow-frontend/src/components/ProcessInstanceListTable.tsx
  spiffworkflow-frontend/src/helpers.tsx
  spiffworkflow-frontend/src/routes/ProcessInstanceList.tsx
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

add baseUrl to cypress configs
  spiffworkflow-frontend/tsconfig.json
Due: none

delete human tasks when process instance is deleted w/ burnettk
  spiffworkflow-backend/migrations/env.py
  spiffworkflow-backend/migrations/versions/907bcf0c3d75_.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/process_instance.py
  spiffworkflow-backend/tests/spiffworkflow_backend/scripts/test_get_localtime.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_authorization_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_process_instance_processor.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

save the process instance even if it fails to run all the way w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_api_blueprint.py
  spiffworkflow-backend/tests/data/error/script_error_with_task_data.bpmn
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_api.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

make sure we are using the same notification component on all pages w/ burnettk
  spiffworkflow-frontend/src/App.tsx
  spiffworkflow-frontend/src/components/Notification.tsx
  spiffworkflow-frontend/src/components/ProcessModelListTiles.tsx
  spiffworkflow-frontend/src/routes/MyTasks.tsx
Due: none

Make list available to script tasks
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Getting ./bin/pyl to pass
  spiffworkflow-backend/migrations/env.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_api.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_process_instance_processor.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

added better error message for failed tasks w/ burnettk
  spiffworkflow-frontend/src/App.tsx
  spiffworkflow-frontend/src/components/Notification.tsx
  spiffworkflow-frontend/src/components/ProcessInstanceListTable.tsx
  spiffworkflow-frontend/src/components/ProcessInstanceRun.tsx
  spiffworkflow-frontend/src/interfaces.ts
  spiffworkflow-frontend/src/routes/AdminRoutes.tsx
  spiffworkflow-frontend/src/routes/AuthenticationList.tsx
  spiffworkflow-frontend/src/routes/Configuration.tsx
  spiffworkflow-frontend/src/routes/HomePageRoutes.tsx
  spiffworkflow-frontend/src/routes/ProcessInstanceShow.tsx
  spiffworkflow-frontend/src/routes/ProcessModelEditDiagram.tsx
  spiffworkflow-frontend/src/routes/ProcessModelShow.tsx
  spiffworkflow-frontend/src/routes/TaskShow.tsx
Due: none

Make list available to script tasks (#86)
  spiffworkflow-backend/migrations/env.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_api.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_process_instance_processor.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

delete videos on success and address race condition in cypress test
  spiffworkflow-frontend/cypress.config.js
  spiffworkflow-frontend/cypress/support/commands.js
  spiffworkflow-frontend/src/routes/ProcessInstanceLogList.tsx
Due: none

fix another race conditions in instance cypress test
  spiffworkflow-frontend/cypress/support/commands.js
  spiffworkflow-frontend/src/routes/ProcessModelShow.tsx
Due: none

make pagination test work for instances as well
  spiffworkflow-frontend/cypress/support/commands.js
  spiffworkflow-frontend/src/components/ProcessInstanceListTable.tsx
  spiffworkflow-frontend/src/routes/ProcessInstanceLogList.tsx
Due: none

Allow map to be called from script tasks
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Don't freak out if git is not yet setup in the working directory.
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_api_blueprint.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Minor fix to SpiffWorkflow library
  spiffworkflow-backend/poetry.lock
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

fix show previous spiff steps
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_api_blueprint.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace
