Repository sartography/spiff-arena: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-added-large-files, check-toml, check-yaml, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: check-added-large-files
        files: ^spiffworkflow-backend/
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-toml
        files: ^spiffworkflow-backend/
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-yaml
        files: ^spiffworkflow-backend/
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        files: ^spiffworkflow-backend/
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: ruff-check
        args: [check, --fix]
        files: ^spiffworkflow-backend/
        name: ruff
        entry: ruff
        language: system
        types: [python]
        require_serial: true
        # this is also specified in spiffworkflow-backend/pyproject.toml but we run pre-commit
        # with all-files which ignores that
        exclude: "/migrations/"
      - id: ruff-format
        args: [format]
        files: ^spiffworkflow-backend/
        name: ruff
        entry: ruff
        language: system
        types: [python]
        require_serial: true
        # this is also specified in spiffworkflow-backend/pyproject.toml but we run pre-commit
        # with all-files which ignores that
        exclude: "/migrations/"
      - id: trailing-whitespace
        files: ^spiffworkflow-backend/
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
        exclude: "/migrations/"

revert lock file w/ burnettk
  spiffworkflow-frontend/package-lock.json
Due: none

remove dup function
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_models_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_model_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_models_controller.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

pytest assert
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_models_controller.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

do not use defuse xml w/ burnettk
  spiffworkflow-backend/bin/detect_multiple_incoming_flows.py
  spiffworkflow-backend/bin/lint_get_current_user_scripts.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/script_unit_tests_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_model_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_model_test_runner_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/spec_file_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/workflow_spec_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_models_controller.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

move test w/ burnettk
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_process_model_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_spec_file_service.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

use correct xpath w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_model_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_models_controller.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

proces model copy frontend
  spiffworkflow-frontend/src/components/ProcessModelCopyModal.tsx
  spiffworkflow-frontend/src/views/ProcessModelShow.tsx
Due: none

tweaks
  spiffworkflow-frontend/src/components/ProcessModelCopyModal.tsx
  spiffworkflow-frontend/src/views/ProcessModelShow.tsx
Due: none

require process group
  spiffworkflow-frontend/src/components/ProcessModelCopyModal.tsx
Due: none

check new process model is valid w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_models_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_model_service.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

display name
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_models_controller.py
  spiffworkflow-frontend/src/views/ProcessModelShow.tsx
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

more actions menu
  spiffworkflow-frontend/src/views/ProcessModelShow.tsx
Due: none

better error on bad group and save caches
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_models_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/data_setup_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_model_service.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

rename functions
  spiffworkflow-backend/bin/save_all_bpmn.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_models_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/data_setup_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/git_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_messages.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_data_setup_service.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

rename script
  spiffworkflow-backend/bin/boot_server_in_docker
  spiffworkflow-backend/bin/refresh_all_caches.py
  spiffworkflow-backend/bin/run_server_locally
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

optimize
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_models_controller.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

localizations
  spiffworkflow-frontend/src/components/ProcessModelCopyModal.tsx
  spiffworkflow-frontend/src/locales/cs_cz/translation.json
  spiffworkflow-frontend/src/locales/de/translation.json
  spiffworkflow-frontend/src/locales/en_us/translation.json
  spiffworkflow-frontend/src/locales/es/translation.json
  spiffworkflow-frontend/src/locales/fi/translation.json
  spiffworkflow-frontend/src/locales/pt_br/translation.json
  spiffworkflow-frontend/src/locales/pt_pt/translation.json
  spiffworkflow-frontend/src/locales/zh_cn/translation.json
Due: none

a little clean up w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/services/data_setup_service.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

copy process model text
  spiffworkflow-frontend/src/locales/cs_cz/translation.json
  spiffworkflow-frontend/src/locales/de/translation.json
  spiffworkflow-frontend/src/locales/en_us/translation.json
  spiffworkflow-frontend/src/locales/es/translation.json
  spiffworkflow-frontend/src/locales/fi/translation.json
  spiffworkflow-frontend/src/locales/pt_br/translation.json
  spiffworkflow-frontend/src/locales/pt_pt/translation.json
  spiffworkflow-frontend/src/locales/zh_cn/translation.json
Due: none

lint
  spiffworkflow-frontend/src/components/ProcessModelCopyModal.tsx
  spiffworkflow-frontend/src/views/ProcessModelShow.tsx
Due: none

safe filesystem access and DE
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_model_service.py
  spiffworkflow-frontend/src/locales/de/translation.json
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

moar safe xml parse
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_model_service.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

fix api spec
  spiffworkflow-backend/src/spiffworkflow_backend/api.yml
Due: check-added-large-files, check-yaml, end-of-file-fixer, trailing-whitespace

break up long method w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_model_service.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

publish in more actions
  spiffworkflow-frontend/src/locales/de/translation.json
  spiffworkflow-frontend/src/locales/en_us/translation.json
  spiffworkflow-frontend/src/views/ProcessModelShow.tsx
Due: none

Copy process model (#2587)
  spiffworkflow-backend/bin/boot_server_in_docker
  spiffworkflow-backend/bin/detect_multiple_incoming_flows.py
  spiffworkflow-backend/bin/lint_get_current_user_scripts.py
  spiffworkflow-backend/bin/refresh_all_caches.py
  spiffworkflow-backend/bin/run_server_locally
  spiffworkflow-backend/src/spiffworkflow_backend/api.yml
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_models_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/script_unit_tests_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/data_setup_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/git_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_model_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_model_test_runner_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/spec_file_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/workflow_spec_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_messages.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_models_controller.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_data_setup_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_process_model_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_spec_file_service.py
  spiffworkflow-frontend/src/components/ProcessModelCopyModal.tsx
  spiffworkflow-frontend/src/locales/cs_cz/translation.json
  spiffworkflow-frontend/src/locales/de/translation.json
  spiffworkflow-frontend/src/locales/en_us/translation.json
  spiffworkflow-frontend/src/locales/es/translation.json
  spiffworkflow-frontend/src/locales/fi/translation.json
  spiffworkflow-frontend/src/locales/pt_br/translation.json
  spiffworkflow-frontend/src/locales/pt_pt/translation.json
  spiffworkflow-frontend/src/locales/zh_cn/translation.json
  spiffworkflow-frontend/src/views/ProcessModelShow.tsx
Due: check-added-large-files, check-yaml, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

get tests passing again after more actions refactor
  spiffworkflow-frontend/AGENTS.md
  spiffworkflow-frontend/bin/run_browser_tests
  spiffworkflow-frontend/src/hooks/useConfirmationDialog.tsx
  spiffworkflow-frontend/src/views/ProcessModelShow.tsx
  spiffworkflow-frontend/test/browser/helpers/process_model.py
  spiffworkflow-frontend/test/browser/process_models/test_can_create_new_bpmn_dmn_json_files.py
  spiffworkflow-frontend/test/browser/process_models/test_can_perform_crud_operations_on_models.py
Due: none

remove verbose options
  spiffworkflow-frontend/bin/run_browser_tests
Due: none

cuter hook code
  spiffworkflow-frontend/src/components/ButtonWithConfirmation.tsx
  spiffworkflow-frontend/src/components/ConfirmButton.tsx
  spiffworkflow-frontend/src/components/ConfirmIconButton.tsx
  spiffworkflow-frontend/src/components/DataStoreButtons.tsx
  spiffworkflow-frontend/src/components/ProcessInstanceListDeleteReport.tsx
  spiffworkflow-frontend/src/components/ProcessModelFileList.tsx
  spiffworkflow-frontend/src/components/ReactDiagramEditor.tsx
  spiffworkflow-frontend/src/views/ProcessInstanceShow.tsx
  spiffworkflow-frontend/src/views/ReactFormEditor.tsx
  spiffworkflow-frontend/src/views/SecretShow.tsx
  spiffworkflow-frontend/src/views/StartProcess/ProcessModelTreePage.tsx
Due: none

fix local state on data store delete
  spiffworkflow-frontend/src/components/DataStoreListTable.tsx
Due: none

remove log
  spiffworkflow-frontend/.gitignore
  spiffworkflow-frontend/frontend.log
Due: none

lint
  spiffworkflow-frontend/src/components/ConfirmButton.tsx
  spiffworkflow-frontend/src/components/ConfirmIconButton.tsx
  spiffworkflow-frontend/src/components/DataStoreButtons.tsx
  spiffworkflow-frontend/src/components/DataStoreListTable.tsx
  spiffworkflow-frontend/src/hooks/useConfirmationDialog.tsx
  spiffworkflow-frontend/src/views/ProcessModelShow.tsx
Due: none

ci
  .github/workflows/tests.yml
Due: none

bump spiff lib
  spiffworkflow-backend/uv.lock
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

bump spiff lib (#2591)
  spiffworkflow-backend/uv.lock
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

do not error if references cannot be loaded w/ burnettk
  spiffworkflow-backend/pyproject.toml
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_models_controller.py
  spiffworkflow-backend/uv.lock
  spiffworkflow-frontend/src/views/ProcessModelShow.tsx
Due: check-added-large-files, check-toml, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

bump lib to allow setting variable for user task result
  spiffworkflow-backend/uv.lock
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

add security fix
  spiffworkflow-frontend/Dockerfile
Due: none

bump spiff lib to allow setting variable for user task result (#2595)
  spiffworkflow-backend/uv.lock
  spiffworkflow-frontend/Dockerfile
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

include any w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace
