Repository sartography/spiff-arena: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

black:
  name: black
  entry: black
  language: system
  require_serial: true

check-added-large-files:
  name: Check for added large files
  entry: check-added-large-files
  language: system

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

end-of-file-fixer:
  name: Fix End of Files
  entry: end-of-file-fixer
  language: system
  stages:
  - commit
  - push
  - manual

flake8:
  name: flake8
  entry: flake8
  language: system
  require_serial: true

pyupgrade:
  name: pyupgrade
  description: Automatically upgrade syntax for newer versions.
  entry: pyupgrade
  language: system
  args:
  - --py37-plus

reorder-python-imports:
  name: Reorder python imports
  entry: reorder-python-imports
  language: system
  args:
  - --application-directories=src

trailing-whitespace:
  name: Trim Trailing Whitespace
  entry: trailing-whitespace-fixer
  language: system
  stages:
  - commit
  - push
  - manual

some initial work to support user api keys w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/api.yml
  spiffworkflow-backend/src/spiffworkflow_backend/models/principal.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/service_account.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/user.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/service_accounts_controller.py
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Adding content for features
  docs/Building_Diagrams/Builtin_examples.md
  docs/DevOps_installation_integration/Secrets.md
  docs/DevOps_installation_integration/images/Secrets_configure_2.png
  docs/DevOps_installation_integration/images/Secrets_step_1.png
  docs/DevOps_installation_integration/images/Secrets_step_2.png
  docs/Getting_Started/images/Events.png
  docs/Getting_Started/images/Filter_icon.png
  docs/Getting_Started/images/Login.png
  docs/Getting_Started/quick_start.md
  docs/Support/Running_Server_Locally.md
  docs/Support/Welcome_Messages.md
  docs/Support/images/onboarding_1.png
  docs/Support/images/onboarding_2.png
  docs/Support/images/onboarding_3.png
  docs/Support/images/onboarding_4.png
  docs/index.md
Due: none

Update migration after merge
  spiffworkflow-backend/migrations/versions/55bbdeb6b635_.py
Due: check-added-large-files, end-of-file-fixer, pyupgrade

update spiff to get a couple bug fixes
  spiffworkflow-backend/poetry.lock
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

add fuzz to the id attribute of a checkbox so the carbon element knows what has been clicked w/ burnettk
  spiffworkflow-frontend/src/rjsf/carbon_theme/CheckboxWidget/CheckboxWidget.tsx
  spiffworkflow-frontend/src/rjsf/carbon_theme/CheckboxesWidget/CheckboxesWidget.tsx
  spiffworkflow-frontend/src/rjsf/helpers.tsx
Due: none

add fuzz to the id attribute of a checkbox so the carbon element knows what has been clicked w/ burnettk (#482)
  spiffworkflow-frontend/src/rjsf/carbon_theme/CheckboxWidget/CheckboxWidget.tsx
  spiffworkflow-frontend/src/rjsf/carbon_theme/CheckboxesWidget/CheckboxesWidget.tsx
  spiffworkflow-frontend/src/rjsf/helpers.tsx
Due: none

some updates to store and use service accounts - migrations do not work in sqlite atm
  spiffworkflow-backend/migrations/versions/ed304a221f59_.py
  spiffworkflow-backend/src/spiffworkflow_backend/api.yml
  spiffworkflow-backend/src/spiffworkflow_backend/models/principal.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/service_account.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/service_accounts_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/authorization_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/user_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_service_accounts_controller.py
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

debugging function
  spiffworkflow-backend/.gitignore
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

add /debug/url-info path
  spiffworkflow-backend/src/spiffworkflow_backend/api.yml
  spiffworkflow-backend/src/spiffworkflow_backend/routes/debug_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/authorization_service.py
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

pass a class to the modal to put it back
  spiffworkflow-frontend/src/components/ButtonWithConfirmation.tsx
  spiffworkflow-frontend/src/components/ProcessModelTestRun.tsx
  spiffworkflow-frontend/src/index.css
  spiffworkflow-frontend/src/routes/ProcessModelShow.tsx
Due: none

update gitpython for safety
  spiffworkflow-backend/poetry.lock
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

pyl
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_service_accounts_controller.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_authorization_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

minor tweak to the migration
  spiffworkflow-backend/migrations/versions/ed304a221f59_.py
Due: check-added-large-files, end-of-file-fixer, pyupgrade

only return guest_confirmation if it is a guest task
  spiffworkflow-backend/src/spiffworkflow_backend/routes/tasks_controller.py
  spiffworkflow-frontend/src/routes/TaskShow.tsx
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

refactored user route
  spiffworkflow-backend/migrations/versions/ed304a221f59_.py
  spiffworkflow-backend/src/spiffworkflow_backend/__init__.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/user.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_service_accounts_controller.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Adding content for features (#481)
  docs/Building_Diagrams/Builtin_examples.md
  docs/DevOps_installation_integration/Secrets.md
  docs/DevOps_installation_integration/images/Secrets_configure_2.png
  docs/DevOps_installation_integration/images/Secrets_step_1.png
  docs/DevOps_installation_integration/images/Secrets_step_2.png
  docs/Getting_Started/images/Events.png
  docs/Getting_Started/images/Filter_icon.png
  docs/Getting_Started/images/Login.png
  docs/Getting_Started/quick_start.md
  docs/Support/Running_Server_Locally.md
  docs/Support/Welcome_Messages.md
  docs/Support/images/onboarding_1.png
  docs/Support/images/onboarding_2.png
  docs/Support/images/onboarding_3.png
  docs/Support/images/onboarding_4.png
  docs/index.md
Due: none

this is working if returning user that created the service account
  spiffworkflow-backend/migrations/versions/ed304a221f59_.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/user.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_service_accounts_controller.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

put back migrations from main w/ burnettk
  spiffworkflow-backend/migrations/versions/ed304a221f59_.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/principal.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/service_account.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/service_accounts_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/user.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

when removing predicted tasks for data storage, don't alter the in-memory version of the workflow.
  spiffworkflow-backend/src/spiffworkflow_backend/services/task_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/workflow_execution_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

run_pyl
  spiffworkflow-backend/src/spiffworkflow_backend/services/workflow_execution_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

tests pass with new migration w/ burnettk
  spiffworkflow-backend/migrations/versions/3004c4a0e617_.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/principal.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/service_account.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/service_accounts_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/user.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_service_accounts_controller.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Bump gitPython for security vulnerability.
  poetry.lock
Due: none

do not remove service account permissions on refresh_permissions w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/models/service_account.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/service_accounts_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/authorization_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/service_account_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/user_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_authentication.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

pass a class to the modal to put it back (#483)
  spiffworkflow-backend/poetry.lock
  spiffworkflow-frontend/src/components/ButtonWithConfirmation.tsx
  spiffworkflow-frontend/src/components/ProcessModelTestRun.tsx
  spiffworkflow-frontend/src/index.css
  spiffworkflow-frontend/src/routes/ProcessModelShow.tsx
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

To avoid the cursor jumps in the Monoco editor, never use "value=xxx" in conjuntion with "onChange". Use defaultValue instead, and make sure that the editor is rerendered when that value is changed.
  spiffworkflow-frontend/src/components/ReactFormBuilder/ReactFormBuilder.tsx
  spiffworkflow-frontend/src/routes/ProcessModelEditDiagram.tsx
Due: none

linting
  spiffworkflow-frontend/src/components/ReactFormBuilder/ReactFormBuilder.tsx
Due: none

Bug/predicted tasks dropped (#484)
  poetry.lock
  spiffworkflow-backend/src/spiffworkflow_backend/services/task_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/workflow_execution_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Feature/editor cursor jumping (#485)
  spiffworkflow-frontend/src/components/ReactFormBuilder/ReactFormBuilder.tsx
  spiffworkflow-frontend/src/routes/ProcessModelEditDiagram.tsx
Due: none

WIP
  spiffworkflow-backend/src/spiffworkflow_backend/data_stores/json.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/workflow_execution_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

added new component to make some api calls to populate child components and routes w/ burnettk
  spiffworkflow-frontend/src/App.tsx
  spiffworkflow-frontend/src/HotApp.tsx
  spiffworkflow-frontend/src/components/NavigationBar.tsx
Due: none

WIP
  spiffworkflow-backend/src/spiffworkflow_backend/data_stores/json.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/workflow_execution_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Path conditions:
  black: any of: ^spiffworkflow-backend/ and \.py$ and not (/migrations/)
  check-added-large-files: any of: ^spiffworkflow-backend/
  check-toml: any of: ^spiffworkflow-backend/ and \.toml$
  check-yaml: any of: ^spiffworkflow-backend/ and \.(yaml|yml)$
  end-of-file-fixer: any of: ^spiffworkflow-backend/
  flake8: any of: ^spiffworkflow-backend/ and \.py$ and not (/migrations/)
  pyupgrade: any of: ^spiffworkflow-backend/ and \.py$
  reorder-python-imports: any of: ^spiffworkflow-backend/ and \.py$ and not ((/migrations/|load_database_models))
  trailing-whitespace: any of: ^spiffworkflow-backend/, but not: /migrations/
