Repository sartography/spiff-arena: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

black:
  name: black
  entry: black
  language: system
  require_serial: true

check-added-large-files:
  name: Check for added large files
  entry: check-added-large-files
  language: system

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

end-of-file-fixer:
  name: Fix End of Files
  entry: end-of-file-fixer
  language: system
  stages:
  - commit
  - push
  - manual

flake8:
  name: flake8
  entry: flake8
  language: system
  require_serial: true

pyupgrade:
  name: pyupgrade
  description: Automatically upgrade syntax for newer versions.
  entry: pyupgrade
  language: system
  args:
  - --py37-plus

reorder-python-imports:
  name: Reorder python imports
  entry: reorder-python-imports
  language: system
  args:
  - --application-directories=src

trailing-whitespace:
  name: Trim Trailing Whitespace
  entry: trailing-whitespace-fixer
  language: system
  stages:
  - commit
  - push
  - manual

only show link to report if there are instances to show
  spiffworkflow-frontend/src/components/ProcessInstanceListTable.tsx
Due: none

many updates for filtering to remove the apply button and clean things up w/ burnettk
  spiffworkflow-frontend/src/components/ProcessInstanceListTable.tsx
  spiffworkflow-frontend/src/components/ProcessInstanceListTableWithFilters.tsx
  spiffworkflow-frontend/src/components/ProcessModelSearch.tsx
Due: none

some more fixes for too many renderings w/ burnettk
  spiffworkflow-frontend/src/components/ProcessInstanceListTable.tsx
  spiffworkflow-frontend/src/components/ProcessInstanceListTableWithFilters.tsx
Due: none

advanced filters are working again w/ burnettk
  spiffworkflow-frontend/src/components/ProcessInstanceListTable.tsx
  spiffworkflow-frontend/src/components/ProcessInstanceListTableWithFilters.tsx
Due: none

clear is working again w/ burnettk
  spiffworkflow-frontend/src/components/ProcessInstanceListSaveAsReport.tsx
  spiffworkflow-frontend/src/components/ProcessInstanceListTableWithFilters.tsx
Due: none

fixed a few linting errors and warnings w/ burnettk
  spiffworkflow-frontend/src/components/ProcessInstanceListTableWithFilters.tsx
  spiffworkflow-frontend/src/components/ProcessModelSearch.tsx
Due: none

fixed some cypress tests
  spiffworkflow-frontend/cypress/e2e/process_instances.cy.js
  spiffworkflow-frontend/src/components/ProcessInstanceListTable.tsx
Due: none

if there are errors then display them right away instead of trying to put together the other elements
  spiffworkflow-frontend/src/components/ProcessInstanceListTable.tsx
Due: none

Feature/homepage extension filter refactor (#919)
  spiffworkflow-backend/src/spiffworkflow_backend/models/group.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/extensions_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/tasks_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/scripts/get_all_permissions.py
  spiffworkflow-backend/src/spiffworkflow_backend/scripts/get_current_user.py
  spiffworkflow-backend/src/spiffworkflow_backend/scripts/get_groups_for_user.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/authorization_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/scripts/test_get_groups_for_user.py
  spiffworkflow-frontend/cypress/e2e/process_instances.cy.js
  spiffworkflow-frontend/src/components/ExtensionUxElementForDisplay.tsx
  spiffworkflow-frontend/src/components/NavigationBar.tsx
  spiffworkflow-frontend/src/components/ProcessInstanceListSaveAsReport.tsx
  spiffworkflow-frontend/src/components/ProcessInstanceListTable.tsx
  spiffworkflow-frontend/src/components/ProcessInstanceListTableWithFilters.tsx
  spiffworkflow-frontend/src/components/SpiffTabs.tsx
  spiffworkflow-frontend/src/components/TaskRouteTabs.tsx
  spiffworkflow-frontend/src/extension_ui_schema_interfaces.ts
  spiffworkflow-frontend/src/index.css
  spiffworkflow-frontend/src/interfaces.ts
  spiffworkflow-frontend/src/routes/BaseRoutes.tsx
  spiffworkflow-frontend/src/routes/CompletedInstances.tsx
  spiffworkflow-frontend/src/routes/Extension.tsx
  spiffworkflow-frontend/src/routes/HomeRoutes.tsx
  spiffworkflow-frontend/src/routes/InProgressInstances.tsx
  spiffworkflow-frontend/src/routes/ProcessInstanceList.tsx
  spiffworkflow-frontend/src/routes/ProcessModelShow.tsx
  spiffworkflow-frontend/src/routes/RootRoute.tsx
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

minor fixes to cypress w/ burnettk
  spiffworkflow-frontend/cypress/e2e/process_models.cy.js
  spiffworkflow-frontend/src/components/ReactDiagramEditor.tsx
Due: none

moved some code blocks from main process instance report service method to own methods w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_report_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

added notes of how to implement on backend w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_report_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

pull in bpmn-js-spiffworkflow/pull/64
  spiffworkflow-frontend/package-lock.json
Due: none

Update wish_list.md
  docs/wish_list/wish_list.md
Due: none

allow looping back in a process to create more messages - minor bug fix - didn't add what would be a complex test to this, as it was a one line change that seems an oversight in the original code.
  spiffworkflow-backend/bin/local_development_environment_setup
  spiffworkflow-backend/src/spiffworkflow_backend/services/workflow_execution_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

consistent license
  CONTRIBUTING.rst
  pyproject.toml
  spiffworkflow-backend/src/spiffworkflow_backend/api.yml
  spiffworkflow-backend/src/spiffworkflow_backend/config/normalized_environment.py
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Added ability to make radio buttons vertical and fixed issues with compensation range field
  spiffworkflow-frontend/src/index.css
  spiffworkflow-frontend/src/rjsf/carbon_theme/RadioWidget/RadioWidget.tsx
  spiffworkflow-frontend/src/rjsf/custom_widgets/NumericRangeField/NumericRangeField.tsx
Due: none

Add chardet
  spiffworkflow-backend/poetry.lock
  spiffworkflow-backend/pyproject.toml
Due: check-added-large-files, check-toml, end-of-file-fixer, trailing-whitespace

update sonarsource/sonarcloud-github-action
  .github/workflows/tests.yml
Due: none

Dumping logs in CI
  .github/workflows/tests.yml
Due: none

Remove tmp CI step, bump gunicorn
  .github/workflows/tests.yml
  spiffworkflow-backend/poetry.lock
  spiffworkflow-backend/pyproject.toml
Due: check-added-large-files, check-toml, end-of-file-fixer, trailing-whitespace

remove SpecReferenceCache
  spiffworkflow-backend/src/spiffworkflow_backend/load_database_models.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/reference_cache.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/spec_reference.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

make sure strings are sometimes unique
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_models_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/templates/bpmn_for_new_process_model.bpmn
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_nested_groups.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_api.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

lint
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_models_controller.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_api.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

more random
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_models_controller.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

bump to get non-ayoub change
  spiffworkflow-frontend/package-lock.json
Due: none

Bump docker (#918)
  spiffworkflow-backend/Dockerfile
  spiffworkflow-backend/poetry.lock
  spiffworkflow-backend/pyproject.toml
Due: check-added-large-files, check-toml, end-of-file-fixer, trailing-whitespace

bump
  README.md
Due: none

update bpmn-js-spiffworkflow (#903)
  README.md
  spiffworkflow-frontend/cypress/e2e/process_models.cy.js
  spiffworkflow-frontend/package-lock.json
  spiffworkflow-frontend/src/components/ReactDiagramEditor.tsx
Due: none

process instances for-me is a basic permissions thing needed by everyone
  spiffworkflow-backend/src/spiffworkflow_backend/services/authorization_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_authorization_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

make data store component respect permissions
  spiffworkflow-frontend/src/components/DataStoreListTiles.tsx
Due: none

make data store component respect permissions (#929)
  spiffworkflow-frontend/src/components/DataStoreListTiles.tsx
Due: none

fix lint
  spiffworkflow-frontend/src/components/DataStoreListTiles.tsx
Due: none

unique bpmn process ids (#927)
  spiffworkflow-backend/src/spiffworkflow_backend/load_database_models.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/reference_cache.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/spec_reference.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_models_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/templates/bpmn_for_new_process_model.bpmn
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_nested_groups.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_api.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Add migration
  spiffworkflow-backend/migrations/versions/343b406f723d_.py
Due: check-added-large-files, end-of-file-fixer, pyupgrade

Tweaking the migration
  spiffworkflow-backend/migrations/versions/343b406f723d_.py
Due: check-added-large-files, end-of-file-fixer, pyupgrade

support executable property
  spiffworkflow-backend/bin/get_model.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/process_model.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_models_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_model_service.py
  spiffworkflow-frontend/src/interfaces.ts
  spiffworkflow-frontend/src/routes/ProcessModelShow.tsx
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Add migration (#931)
  spiffworkflow-backend/migrations/versions/343b406f723d_.py
Due: check-added-large-files, end-of-file-fixer, pyupgrade

process model with no primary file is not executable
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_model_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

update spiff and remove dot notation
  spiffworkflow-backend/poetry.lock
  spiffworkflow-backend/src/spiffworkflow_backend/data_stores/json.py
  spiffworkflow-backend/src/spiffworkflow_backend/data_stores/kkv.py
  spiffworkflow-backend/src/spiffworkflow_backend/data_stores/typeahead.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/extensions_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_model_test_runner_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_dot_notation.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Path conditions:
  black: any of: ^spiffworkflow-backend/ and \.py$ and not (/migrations/)
  check-added-large-files: any of: ^spiffworkflow-backend/
  check-toml: any of: ^spiffworkflow-backend/ and \.toml$
  check-yaml: any of: ^spiffworkflow-backend/ and \.(yaml|yml)$
  end-of-file-fixer: any of: ^spiffworkflow-backend/
  flake8: any of: ^spiffworkflow-backend/ and \.py$ and not (/migrations/)
  pyupgrade: any of: ^spiffworkflow-backend/ and \.py$
  reorder-python-imports: any of: ^spiffworkflow-backend/ and \.py$ and not ((/migrations/|load_database_models))
  trailing-whitespace: any of: ^spiffworkflow-backend/, but not: /migrations/
