Repository sartography/spiff-arena: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        # entry: bash -c 'cd spiffworkflow-backend && black'
        entry: black
        language: system
        files: ^spiffworkflow-backend/
        types: [python]
        require_serial: true
        # exclude: ^migrations/
        exclude: "/migrations/"
      - id: check-added-large-files
        files: ^spiffworkflow-backend/
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-toml
        files: ^spiffworkflow-backend/
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-yaml
        files: ^spiffworkflow-backend/
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        files: ^spiffworkflow-backend/
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: flake8
        files: ^spiffworkflow-backend/
        name: flake8
        entry: flake8
        language: system
        types: [python]
        require_serial: true
        exclude: "/migrations/"
      - id: pyupgrade
        files: ^spiffworkflow-backend/
        name: pyupgrade
        description: Automatically upgrade syntax for newer versions.
        entry: pyupgrade
        language: system
        types: [python]
        args: [--py37-plus]
      - id: reorder-python-imports
        files: ^spiffworkflow-backend/
        name: Reorder python imports
        entry: reorder-python-imports
        language: system
        types: [python]
        args: [--application-directories=src]
        exclude: "(/migrations/|load_database_models)"
      - id: trailing-whitespace
        files: ^spiffworkflow-backend/
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
        exclude: "/migrations/"
  # - repo: https://github.com/pre-commit/mirrors-prettier
  #   rev: v2.4.1
  #   hooks:
  #     - id: prettier
  #       files: ^spiffworkflow-backend/
  #       exclude_types: [html]

added a couple of comments
  spiffworkflow-frontend/src/routes/TaskShow.tsx
Due: none

Getting hardcoded v2 auths into the frontend
  spiffworkflow-backend/src/spiffworkflow_backend/routes/service_tasks_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/oauth_service.py
  spiffworkflow-frontend/src/routes/AuthenticationList.tsx
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Better url for v2 oauth
  spiffworkflow-backend/src/spiffworkflow_backend/api.yml
  spiffworkflow-backend/src/spiffworkflow_backend/routes/service_tasks_controller.py
  spiffworkflow-frontend/src/routes/AuthenticationList.tsx
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

return the process instance early from the interstitial if it is suspended or terminated
  spiffworkflow-backend/src/spiffworkflow_backend/routes/tasks_controller.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

added a test to make sure the interstitial page returns the process instance if suspended or termianted w/ burnettk
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_tasks_controller.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

randomize tests and cleaned up the pyproject file a little bit w/ burnettk
  spiffworkflow-backend/bin/tests-par
  spiffworkflow-backend/poetry.lock
  spiffworkflow-backend/pyproject.toml
Due: check-added-large-files, check-toml, end-of-file-fixer, trailing-whitespace

use carbon components for the rjsf forms as well w/ burnettk
  .github/workflows/docker_image_for_main_builds.yml
  spiffworkflow-frontend/src/index.css
  spiffworkflow-frontend/src/rjsf/carbon_theme/AddButton/AddButton.tsx
  spiffworkflow-frontend/src/rjsf/carbon_theme/IconButton/IconButton.tsx
  spiffworkflow-frontend/src/routes/TaskShow.tsx
Due: none

use the task_updated_at_in_seconds column on the pi show page like we do for the pi tables
  spiffworkflow-frontend/src/routes/ProcessInstanceShow.tsx
Due: none

Pass the auth token from the frontend, don't verify token to start the auth process
  spiffworkflow-backend/src/spiffworkflow_backend/services/authorization_service.py
  spiffworkflow-frontend/src/routes/AuthenticationList.tsx
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Manually verify the token from the querystring
  spiffworkflow-backend/src/spiffworkflow_backend/routes/service_tasks_controller.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

WIP
  spiffworkflow-backend/src/spiffworkflow_backend/routes/service_tasks_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/oauth_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

attempt to save again if deadlock given for draft data save w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/routes/tasks_controller.py
  spiffworkflow-frontend/src/routes/TaskShow.tsx
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

push image for preview env
  .github/workflows/docker_image_for_main_builds.yml
Due: none

added a loading icon on task show page to avoid blank page when loading large datasets w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/api.yml
  spiffworkflow-backend/src/spiffworkflow_backend/routes/tasks_controller.py
  spiffworkflow-frontend/src/interfaces.ts
  spiffworkflow-frontend/src/routes/TaskShow.tsx
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

fixed broken tests w/ burnettk
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_for_good_errors.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_tasks_controller.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

added configs for extensions api w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/config/__init__.py
  spiffworkflow-backend/src/spiffworkflow_backend/config/default.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/extensions_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_model_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/helpers/base_test.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_extensions_controller.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_element_units_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

added the basis for an extensions list api w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/api.yml
  spiffworkflow-backend/src/spiffworkflow_backend/routes/extensions_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_model_service.py
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Introduction Section
  docs/UsingSpiffdemo/Basic_Tools.md
  docs/UsingSpiffdemo/Getting_Started.md
  docs/UsingSpiffdemo/Images/DMN_task_S1.png
  docs/UsingSpiffdemo/Images/DMN_task_S2.png
  docs/UsingSpiffdemo/Images/DMN_task_S3.png
  docs/UsingSpiffdemo/Images/DMN_task_S4.png
  docs/UsingSpiffdemo/Images/Script_Example_S1.png
  docs/UsingSpiffdemo/Images/Script_Example_S2.png
  docs/UsingSpiffdemo/Images/Script_Example_S3.png
  docs/UsingSpiffdemo/Images/Script_Example_S4.png
  docs/UsingSpiffdemo/Images/Script_Example_S5.png
  docs/UsingSpiffdemo/Images/SpiffArena_workflow.svg
  docs/UsingSpiffdemo/Images/spiffarena.png
  docs/UsingSpiffdemo/Introduction.md
  docs/index.md
Due: none

change name images/data_object_prop.png
  docs/bpmn/data_objects.md
  docs/bpmn/images/data_object_prop.png
Due: none

do not raise if the app cannot load an env specific config file w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/config/__init__.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

downcase png files
  docs/bpmn/images/conditions.png
  docs/bpmn/images/event_types.png
  docs/spiffsparkles/images/process_instance_tab.png
Due: none

PR feedback
  spiffworkflow-backend/src/spiffworkflow_backend/routes/onboarding_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_instances_controller.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

PR feedback - add new endpoint to basic permissions
  spiffworkflow-backend/src/spiffworkflow_backend/services/authorization_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

do not display instructions for end events at the top level of the process w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/routes/tasks_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/task_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

fixing KB Comments
  docs/UsingSpiffdemo/Basic_Tools.md
Due: none

Fix basic permissions test
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_authorization_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Add integration tests
  spiffworkflow-backend/tests/data/onboarding/onboarding.bpmn
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_onboarding.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Getting bin_pyl to pass
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_onboarding.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

display the potential task owners or group in the interstitial info message w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/models/task.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/tasks_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_service.py
  spiffworkflow-frontend/src/components/ProcessInterstitial.tsx
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

allow setting a failed process instance to the suspended status w/ burnettk
  spiffworkflow-frontend/src/classes/ProcessInstanceClass.tsx
  spiffworkflow-frontend/src/routes/ProcessInstanceShow.tsx
Due: none

Don't schedule a cycle with 0 second duration
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

use a less wrong scheam for save-draft (#402)
  spiffworkflow-backend/src/spiffworkflow_backend/api.yml
Due: check-added-large-files, check-yaml, end-of-file-fixer, trailing-whitespace
