Repository sartography/spiff-arena: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        # entry: bash -c 'cd spiffworkflow-backend && black'
        entry: black
        language: system
        files: ^spiffworkflow-backend/
        types: [python]
        require_serial: true
        # exclude: ^migrations/
        exclude: "/migrations/"
      - id: check-added-large-files
        files: ^spiffworkflow-backend/
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-toml
        files: ^spiffworkflow-backend/
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-yaml
        files: ^spiffworkflow-backend/
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        files: ^spiffworkflow-backend/
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: flake8
        files: ^spiffworkflow-backend/
        name: flake8
        entry: flake8
        language: system
        types: [python]
        require_serial: true
        exclude: "/migrations/"
      - id: pyupgrade
        files: ^spiffworkflow-backend/
        name: pyupgrade
        description: Automatically upgrade syntax for newer versions.
        entry: pyupgrade
        language: system
        types: [python]
        args: [--py37-plus]
      - id: reorder-python-imports
        files: ^spiffworkflow-backend/
        name: Reorder python imports
        entry: reorder-python-imports
        language: system
        types: [python]
        args: [--application-directories=src]
        exclude: "(/migrations/|load_database_models)"
      - id: trailing-whitespace
        files: ^spiffworkflow-backend/
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
        exclude: "/migrations/"
  # - repo: https://github.com/pre-commit/mirrors-prettier
  #   rev: v2.4.1
  #   hooks:
  #     - id: prettier
  #       files: ^spiffworkflow-backend/
  #       exclude_types: [html]

updated prefix for background instances w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Squashed 'SpiffWorkflow/' changes from 450ef3bcd..98c6294f1
  tests/SpiffWorkflow/bpmn/BpmnLoaderForTests.py
  tests/SpiffWorkflow/bpmn/IOSpecTest.py
  tests/SpiffWorkflow/bpmn/InclusiveGatewayTest.py
  tests/SpiffWorkflow/bpmn/NITimerDurationBoundaryTest.py
  tests/SpiffWorkflow/bpmn/data/MultiInstanceParallelTaskCond.bpmn
  tests/SpiffWorkflow/bpmn/data/Test-Workflows/Parallel-Join-Long-Inclusive.bpmn20.xml
  tests/SpiffWorkflow/bpmn/data/Test-Workflows/Parallel-One-Path-Ends.bpmn20.xml
  tests/SpiffWorkflow/bpmn/data/Test-Workflows/Parallel-Then-Exclusive-No-Inclusive.bpmn20.xml
  tests/SpiffWorkflow/bpmn/data/Test-Workflows/Parallel-Then-Exclusive.bpmn20.xml
  tests/SpiffWorkflow/bpmn/data/Test-Workflows/Parallel-Through-Same-Task.bpmn20.xml
  tests/SpiffWorkflow/bpmn/data/boundary.bpmn
  tests/SpiffWorkflow/bpmn/data/boundary_timer_on_task.bpmn
  tests/SpiffWorkflow/bpmn/data/event-gateway.bpmn
  tests/SpiffWorkflow/bpmn/data/inclusive_gateway.bpmn
  tests/SpiffWorkflow/bpmn/data/serialization/v1-1.json
  tests/SpiffWorkflow/bpmn/data/timer-cycle-start.bpmn
  tests/SpiffWorkflow/bpmn/data/timer-cycle.bpmn
  tests/SpiffWorkflow/bpmn/data/timer-date-start.bpmn
  tests/SpiffWorkflow/bpmn/data/timer-non-interrupt-boundary.bpmn
  tests/SpiffWorkflow/bpmn/data/timer.bpmn
  tests/SpiffWorkflow/bpmn/data/too_many_loops.bpmn
  tests/SpiffWorkflow/bpmn/data/too_many_loops_sub_process.bpmn
  tests/SpiffWorkflow/bpmn/events/ActionManagementTest.py
  tests/SpiffWorkflow/bpmn/events/TimeDurationParseTest.py
  tests/SpiffWorkflow/bpmn/events/TimerCycleStartTest.py
  tests/SpiffWorkflow/bpmn/events/TimerCycleTest.py
  tests/SpiffWorkflow/bpmn/events/TimerDateTest.py
  tests/SpiffWorkflow/bpmn/events/TimerDurationBoundaryOnTaskTest.py
  tests/SpiffWorkflow/bpmn/events/TimerDurationBoundaryTest.py
  tests/SpiffWorkflow/bpmn/events/TimerDurationTest.py
  tests/SpiffWorkflow/bpmn/events/TimerIntermediateTest.py
  tests/SpiffWorkflow/bpmn/serializer/BaseTestCase.py
  tests/SpiffWorkflow/bpmn/serializer/BpmnWorkflowSerializerTest.py
  tests/SpiffWorkflow/bpmn/serializer/VersionMigrationTest.py
  tests/SpiffWorkflow/camunda/data/MessageBoundary.bpmn
  tests/SpiffWorkflow/camunda/data/token_trial.bpmn
  tests/SpiffWorkflow/camunda/data/token_trial_camunda_clash.bpmn
  tests/SpiffWorkflow/camunda/data/token_trial_parallel_simple.bpmn
Due: none

Workflow Data Exceptions were not getting processed, we now catch the WorkflowDataException through the generic top level SpiffWorkflowException.
  spiffworkflow-backend/pyproject.toml
  spiffworkflow-backend/src/spiffworkflow_backend/exceptions/api_error.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
Due: black, check-added-large-files, check-toml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

run_pyl
  spiffworkflow-backend/pyproject.toml
  spiffworkflow-backend/src/spiffworkflow_backend/exceptions/api_error.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
Due: black, check-added-large-files, check-toml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

update lock file in backend and arena, though that one needs pruning
  poetry.lock
  spiffworkflow-backend/poetry.lock
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

Allow set to be called from scripts
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

some initial updates w/ burnettk
  spiffworkflow-backend/poetry.lock
  spiffworkflow-backend/pyproject.toml
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_api.py
Due: black, check-added-large-files, check-toml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

tests are passing now w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
  spiffworkflow-backend/tests/data/process_navigation/process_navigation.bpmn
  spiffworkflow-backend/tests/data/spiff_example/multiinstance.bpmn
  spiffworkflow-backend/tests/data/timer_intermediate_catch_event/timer_intermediate_catch_event.bpmn
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_api.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

removed old pin to spiffworkflow w/ burnettk
  spiffworkflow-backend/pyproject.toml
Due: check-added-large-files, check-toml, end-of-file-fixer, trailing-whitespace

we were expecting an object when doing this check, so codify it
  spiffworkflow-frontend/src/routes/TaskShow.tsx
Due: none

Use local spiff, update Box import
  spiffworkflow-backend/poetry.lock
  spiffworkflow-backend/pyproject.toml
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
Due: black, check-added-large-files, check-toml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Use TaskDataEnvironment to start integration
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Switch over to box env to fix tests
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

backend: avoid redundant steps in Dockerfile
  spiffworkflow-backend/Dockerfile
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

frontend: avoid redundant steps in Dockerfile
  spiffworkflow-frontend/Dockerfile
Due: none

new mechanism to handle help more in line with how carbon works
  spiffworkflow-frontend/src/themes/carbon/BaseInputTemplate/BaseInputTemplate.tsx
  spiffworkflow-frontend/src/themes/carbon/FieldHelpTemplate/FieldHelpTemplate.tsx
  spiffworkflow-frontend/src/themes/carbon/SelectWidget/SelectWidget.tsx
Due: none

add four new status users to spiff realm
  spiffworkflow-backend/keycloak/realm_exports/spiffworkflow-realm.json
  spiffworkflow-backend/keycloak/test_user_lists/status
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

wrap field template so we can style with margin bottom
  spiffworkflow-frontend/src/themes/carbon/FieldTemplate/FieldTemplate.tsx
  spiffworkflow-frontend/src/themes/carbon/index.css
Due: none

Use the id_token, not the auth_token from the open id server for authentication with the front end. The auth_token should be kept safe, and not guranteeded to be a json token.
  spiffworkflow-backend/src/spiffworkflow_backend/routes/user.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Remove commented code, start custom env
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Implement eval for service tasks, save task data for each step
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

replace fieldTemplate with unthemed core version and remove labels since that is handled in there
  spiffworkflow-frontend/src/themes/carbon/BaseInputTemplate/BaseInputTemplate.tsx
  spiffworkflow-frontend/src/themes/carbon/FieldTemplate/FieldTemplate.tsx
  spiffworkflow-frontend/src/themes/carbon/SelectWidget/SelectWidget.tsx
  spiffworkflow-frontend/src/themes/carbon/TextareaWidget/TextareaWidget.tsx
Due: none

Overlay env when returning data
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace
