Repository sartography/spiff-arena: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, ruff, trailing-whitespace

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        # entry: bash -c 'cd spiffworkflow-backend && black'
        entry: black
        language: system
        files: ^spiffworkflow-backend/
        types: [python]
        line-length: 130
        require_serial: true
        # exclude: ^migrations/
        exclude: "/migrations/"

        # --preview because otherwise it will not fix long lines if the long lines contain long strings
        # https://github.com/psf/black/pull/1132
        # https://github.com/psf/black/pull/1609
        # --line-length because then we can avoid the fancy line wrapping in more instances and jason, kb, and elizabeth
        # kind of prefer long lines rather than cutely-formatted sets of lines.
        # TODO: enable when its safe to update the files
        args: [--preview, --line-length, "130"]

      - id: check-added-large-files
        files: ^spiffworkflow-backend/
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-toml
        files: ^spiffworkflow-backend/
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-yaml
        files: ^spiffworkflow-backend/
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        files: ^spiffworkflow-backend/
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: ruff
        args: [ --fix ]
        files: ^spiffworkflow-backend/
        name: ruff
        entry: ruff
        language: system
        types: [python]
        require_serial: true
        # this is also specified in spiffworkflow-backend/pyproject.toml but we run pre-commit
        # with all-files which ignores that
        exclude: "/migrations/"
      - id: trailing-whitespace
        files: ^spiffworkflow-backend/
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
        exclude: "/migrations/"
  # - repo: https://github.com/pre-commit/mirrors-prettier
  #   rev: v2.4.1
  #   hooks:
  #     - id: prettier
  #       files: ^spiffworkflow-backend/
  #       exclude_types: [html]

Update package-lock.json
  spiffworkflow-frontend/package-lock.json
Due: none

iterate
  spiffworkflow-backend/bin/local_development_environment_setup
  spiffworkflow-backend/src/spiffworkflow_backend/routes/script_assist_controller.py
Due: black, check-added-large-files, end-of-file-fixer, ruff, trailing-whitespace

Possibly ran npm i in the wrong directory hmm...
  spiffworkflow-backend/package-lock.json
  spiffworkflow-backend/package.json
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

add optional platform dep
  spiffworkflow-frontend/package.json
Due: none

do not wait for the message id to be set since it is not necessary w/ burnettk
  spiffworkflow-frontend/src/components/messages/MessageEditor.tsx
Due: none

update lock file with optional dep info
  spiffworkflow-frontend/package-lock.json
Due: none

Add ESBuild (this package was not found)
  spiffworkflow-frontend/package-lock.json
  spiffworkflow-frontend/package.json
Due: none

Trying to make esbuild optional (it might already be global)
  spiffworkflow-frontend/package-lock.json
  spiffworkflow-frontend/package.json
Due: none

allow large tokens to pass through nginx
  spiffworkflow-backend/bin/local_development_environment_setup
  spiffworkflow-frontend/docker_build/nginx.conf.template
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

improve comment
  spiffworkflow-frontend/docker_build/nginx.conf.template
Due: none

allow large tokens to pass through nginx (#1550)
  spiffworkflow-backend/bin/local_development_environment_setup
  spiffworkflow-frontend/docker_build/nginx.conf.template
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

Accordions for tasks, and create a hook to enable some flexible customization.
  spiffworkflow-frontend/src/a-spiffui-v2/hooks/useSpiffTheme.tsx
  spiffworkflow-frontend/src/a-spiffui-v2/views/Dashboards/infopanels/ProcessInfo.tsx
  spiffworkflow-frontend/src/a-spiffui-v2/views/Dashboards/infopanels/TaskItem.tsx
Due: none

save all bpmn files right before starting the server w/ burnettk
  spiffworkflow-backend/bin/boot_server_in_docker
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

get more code from old version of rjsf
  spiffworkflow-frontend/src/rjsf/carbon_theme/SelectWidget/SelectWidget.tsx
Due: none

Updates and refactoring to make more (possibly) extension-ready components for the data displays.
  spiffworkflow-frontend/src/a-spiffui-v2/components/InfoPanel.tsx
  spiffworkflow-frontend/src/a-spiffui-v2/hooks/useTask.tsx
  spiffworkflow-frontend/src/a-spiffui-v2/hooks/useTaskCollection.tsx
  spiffworkflow-frontend/src/a-spiffui-v2/views/Dashboards/infopanels/ProcessInfo.tsx
  spiffworkflow-frontend/src/a-spiffui-v2/views/Dashboards/infopanels/TaskDetail.tsx
  spiffworkflow-frontend/src/a-spiffui-v2/views/Dashboards/infopanels/TaskListItem.tsx
Due: none

updated SpiffWorkflow and added test to make sure correct task gets the error in a multi-instance w/ burnettk
  spiffworkflow-backend/poetry.lock
  spiffworkflow-backend/pyproject.toml
  spiffworkflow-backend/src/spiffworkflow_backend/services/service_task_service.py
  spiffworkflow-backend/tests/data/multiinstance_with_inner_error_boundary_event/multiinstance_with_inner_error_boundary_event.bpmn
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_service_task_delegate.py
Due: black, check-added-large-files, check-toml, end-of-file-fixer, ruff, trailing-whitespace

use main of SpiffWorkflow w/ burnettk
  spiffworkflow-backend/poetry.lock
  spiffworkflow-backend/pyproject.toml
Due: check-added-large-files, check-toml, end-of-file-fixer, trailing-whitespace

refactor: deixando para 5 o numero de instancias padrão em uma tabela
  spiffworkflow-backend/Dockerfile
  spiffworkflow-frontend/src/helpers.tsx
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

enhancement/allow-worfklow-targets-from-external-events (#1552)
  spiffworkflow-backend/poetry.lock
  spiffworkflow-backend/src/spiffworkflow_backend/services/service_task_service.py
  spiffworkflow-backend/tests/data/multiinstance_with_inner_error_boundary_event/multiinstance_with_inner_error_boundary_event.bpmn
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_service_task_delegate.py
Due: black, check-added-large-files, end-of-file-fixer, ruff, trailing-whitespace

get token object for local development env
  spiffworkflow-backend/bin/local_dev_get_token.py
Due: black, check-added-large-files, end-of-file-fixer, ruff, trailing-whitespace

print just token to stdout in case we want to shell out to this script for some reason
  spiffworkflow-backend/bin/local_dev_get_token.py
Due: black, check-added-large-files, end-of-file-fixer, ruff, trailing-whitespace

debounce date after 100 ms instead of 1s w/ burnettk
  spiffworkflow-frontend/src/rjsf/carbon_theme/BaseInputTemplate/BaseInputTemplate.tsx
  spiffworkflow-frontend/src/services/DateAndTimeService.tsx
Due: none

debounce date after 100 ms instead of 1s w/ burnettk (#1556)
  spiffworkflow-frontend/src/rjsf/carbon_theme/BaseInputTemplate/BaseInputTemplate.tsx
  spiffworkflow-frontend/src/services/DateAndTimeService.tsx
Due: none

updated bpmn-js-spiffworkflow w/ burnettk
  spiffworkflow-frontend/package-lock.json
Due: none

build images for this branch w/ burnettk
  .github/workflows/docker_image_for_main_builds.yml
Due: none

PI times summary report
  spiffworkflow-frontend/src/a-spiffui-v2/hooks/useProcessInstanceTimes.tsx
  spiffworkflow-frontend/src/a-spiffui-v2/hooks/useTaskCollection.tsx
  spiffworkflow-frontend/src/a-spiffui-v2/views/Dashboards/myProcesses/MyProcesses.tsx
Due: none

build images for newui
  .github/workflows/docker_image_for_main_builds.yml
Due: none

put location in path of message-models so we can control permissions on it w/ burnettk
  spiffworkflow-backend/conftest.py
  spiffworkflow-backend/src/spiffworkflow_backend/api.yml
  spiffworkflow-backend/src/spiffworkflow_backend/routes/messages_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/authorization_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_messages.py
  spiffworkflow-frontend/src/components/messages/MessageModelList.tsx
  spiffworkflow-frontend/src/routes/ProcessModelEditDiagram.tsx
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, ruff, trailing-whitespace

revert some changes in package-lock that did not help
  spiffworkflow-frontend/package-lock.json
  spiffworkflow-frontend/package.json
Due: none

Rebuilding repo (had "bad objects" error)
  spiffworkflow-frontend/src/a-spiffui-v2/assets/theme/SpiffTheme.ts
  spiffworkflow-frontend/src/a-spiffui-v2/hooks/useProcessInstanceTimes.tsx
  spiffworkflow-frontend/src/a-spiffui-v2/views/Dashboards/DashboardCharts.tsx
  spiffworkflow-frontend/src/a-spiffui-v2/views/Dashboards/Dashboards.tsx
  spiffworkflow-frontend/src/a-spiffui-v2/views/Dashboards/myProcesses/CellRenderer.tsx
  spiffworkflow-frontend/src/a-spiffui-v2/views/Dashboards/myProcesses/MyProcesses.tsx
  spiffworkflow-frontend/src/a-spiffui-v2/views/Dashboards/myTasks/MyTasks.tsx
Due: none

Charts (mostly for demo)
  spiffworkflow-frontend/package-lock.json
  spiffworkflow-frontend/package.json
  spiffworkflow-frontend/src/a-spiffui-v2/hooks/useProcessInstanceTimes.tsx
  spiffworkflow-frontend/src/a-spiffui-v2/views/Dashboards/DashboardCharts.tsx
  spiffworkflow-frontend/src/a-spiffui-v2/views/Dashboards/cards/FilterCard.tsx
  spiffworkflow-frontend/src/a-spiffui-v2/views/Dashboards/cards/ProcessInstanceCard.tsx
  spiffworkflow-frontend/src/a-spiffui-v2/views/Dashboards/myProcesses/MyProcesses.tsx
Due: none

Responsive!
  spiffworkflow-frontend/src/a-spiffui-v2/views/Dashboards/DashboardCharts.tsx
Due: none

Failing test for process model delete case
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_callers.py
Due: black, check-added-large-files, end-of-file-fixer, ruff, trailing-whitespace

Fixed first failure case
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_models_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/spec_file_service.py
Due: black, check-added-large-files, end-of-file-fixer, ruff, trailing-whitespace

Getting ./bin/pyl to pass
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_models_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/spec_file_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_callers.py
Due: black, check-added-large-files, end-of-file-fixer, ruff, trailing-whitespace

Collapsible side menu
  spiffworkflow-backend/pyproject.toml
  spiffworkflow-frontend/src/a-spiffui-v2/views/app/sidemenu/CollapseButton.tsx
  spiffworkflow-frontend/src/a-spiffui-v2/views/app/sidemenu/SideMenu.tsx
  spiffworkflow-frontend/src/routes/SpiffUIV2.tsx
Due: check-added-large-files, check-toml, end-of-file-fixer, trailing-whitespace

Adjust menu to display abbreviated spiff logo when collapsed.
  spiffworkflow-frontend/src/a-spiffui-v2/views/app/sidemenu/SideMenu.tsx
  spiffworkflow-frontend/src/routes/SpiffUIV2.tsx
Due: none

Checking the called element results
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_models_controller.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_callers.py
Due: black, check-added-large-files, end-of-file-fixer, ruff, trailing-whitespace

Update DashboardCharts.tsx
  spiffworkflow-frontend/src/a-spiffui-v2/views/Dashboards/DashboardCharts.tsx
Due: none

Inserted Paper wrapper for sidemenu
  spiffworkflow-frontend/src/routes/SpiffUIV2.tsx
Due: none
