Repository sartography/spiff-arena: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

black:
  name: black
  entry: black
  language: system
  require_serial: true

check-added-large-files:
  name: Check for added large files
  entry: check-added-large-files
  language: system

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

end-of-file-fixer:
  name: Fix End of Files
  entry: end-of-file-fixer
  language: system
  stages:
  - commit
  - push
  - manual

flake8:
  name: flake8
  entry: flake8
  language: system
  require_serial: true

pyupgrade:
  name: pyupgrade
  description: Automatically upgrade syntax for newer versions.
  entry: pyupgrade
  language: system
  args:
  - --py37-plus

reorder-python-imports:
  name: Reorder python imports
  entry: reorder-python-imports
  language: system
  args:
  - --application-directories=src

trailing-whitespace:
  name: Trim Trailing Whitespace
  entry: trailing-whitespace-fixer
  language: system
  stages:
  - commit
  - push
  - manual

lint and upgrade cypress
  spiffworkflow-frontend/package-lock.json
  spiffworkflow-frontend/src/routes/ProcessInstanceList.tsx
Due: none

added permission to run privileged scripts w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/config/permissions/development.yml
  spiffworkflow-backend/src/spiffworkflow_backend/routes/user.py
  spiffworkflow-backend/src/spiffworkflow_backend/scripts/add_permission.py
  spiffworkflow-backend/src/spiffworkflow_backend/scripts/script.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_model_service.py
  spiffworkflow-backend/tests/data/script_add_permission/add_permission.bpmn
  spiffworkflow-backend/tests/spiffworkflow_backend/scripts/test_add_permission.py
  spiffworkflow-frontend/src/routes/ProcessModelEditDiagram.tsx
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

default requiring permissions to run a script to True w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/scripts/add_permission.py
  spiffworkflow-backend/src/spiffworkflow_backend/scripts/fact_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/scripts/get_current_user.py
  spiffworkflow-backend/src/spiffworkflow_backend/scripts/get_env.py
  spiffworkflow-backend/src/spiffworkflow_backend/scripts/get_frontend_url.py
  spiffworkflow-backend/src/spiffworkflow_backend/scripts/get_group_members.py
  spiffworkflow-backend/src/spiffworkflow_backend/scripts/get_localtime.py
  spiffworkflow-backend/src/spiffworkflow_backend/scripts/get_process_info.py
  spiffworkflow-backend/src/spiffworkflow_backend/scripts/script.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

pyl w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/routes/user.py
  spiffworkflow-backend/src/spiffworkflow_backend/scripts/script.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_report_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/scripts/test_add_permission.py
  spiffworkflow-backend/tests/spiffworkflow_backend/scripts/test_save_process_instance_metadata.py
  spiffworkflow-frontend/src/routes/ProcessModelEditDiagram.tsx
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

do not force permissions to use the v1.0 path prefix but it can be used if desired w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/__init__.py
  spiffworkflow-backend/src/spiffworkflow_backend/config/permissions/development.yml
  spiffworkflow-backend/src/spiffworkflow_backend/config/permissions/example.yml
  spiffworkflow-backend/src/spiffworkflow_backend/config/permissions/staging.yml
  spiffworkflow-backend/src/spiffworkflow_backend/config/permissions/terraform_deployed_environment.yml
  spiffworkflow-backend/src/spiffworkflow_backend/config/permissions/testing.yml
  spiffworkflow-backend/src/spiffworkflow_backend/helpers/api_version.py
  spiffworkflow-backend/src/spiffworkflow_backend/scripts/script.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/authorization_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/helpers/base_test.py
  spiffworkflow-backend/tests/spiffworkflow_backend/scripts/test_add_permission.py
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Do not require a Git Repository to start a process.
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

fixing a linting error
  spiffworkflow-frontend/src/routes/ProcessModelEditDiagram.tsx
Due: none

minor tweak to test bpmn w/ burnettk
  spiffworkflow-backend/tests/data/script_add_permission/add_permission.bpmn
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

added method to add permissions based on macros w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/config/permissions/development.yml
  spiffworkflow-backend/src/spiffworkflow_backend/config/permissions/terraform_deployed_environment.yml
  spiffworkflow-backend/src/spiffworkflow_backend/services/authorization_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_service.py
  spiffworkflow-frontend/src/routes/ProcessModelEditDiagram.tsx
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

added test for perm macros w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/services/authorization_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_authorization_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

added remaining tests for current permission macros
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_authorization_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

added ALL macro for easier use with admin groups and some failure test cases
  spiffworkflow-backend/src/spiffworkflow_backend/services/authorization_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_authorization_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

pyl
  spiffworkflow-backend/src/spiffworkflow_backend/config/permissions/terraform_deployed_environment.yml
  spiffworkflow-backend/src/spiffworkflow_backend/services/authorization_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_authorization_service.py
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

fixed slashes to colons in permission macros w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/config/permissions/development.yml
  spiffworkflow-backend/src/spiffworkflow_backend/config/permissions/testing.yml
  spiffworkflow-backend/src/spiffworkflow_backend/models/permission_assignment.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/authorization_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_authorization_service.py
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

added test to for permission to process group w/ burnettk
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_authorization_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

added script to get all permissions for the confirmation page when adding permissions from a process model w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/config/permissions/development.yml
  spiffworkflow-backend/src/spiffworkflow_backend/scripts/add_permission.py
  spiffworkflow-backend/src/spiffworkflow_backend/scripts/get_all_permissions.py
  spiffworkflow-backend/tests/spiffworkflow_backend/scripts/test_get_all_permissions.py
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

pyl w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/scripts/add_permission.py
  spiffworkflow-backend/src/spiffworkflow_backend/scripts/get_all_permissions.py
  spiffworkflow-backend/tests/spiffworkflow_backend/scripts/test_get_all_permissions.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_authorization_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

added script to refresh permissions w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/scripts/refresh_permissions.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/authorization_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/group_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_authorization_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

removed scripts for permissions since that code has been mostly moved and superseded by refresh_permissions w/ burnettk
  spiffworkflow-backend/src/.coverage.jason-Gazelle.473795.719220
  spiffworkflow-backend/src/.coverage.jason-Gazelle.475245.497833
  spiffworkflow-backend/src/.coverage.jason-Gazelle.476451.578823
  spiffworkflow-backend/src/spiffworkflow_backend/scripts/add_permission.py
  spiffworkflow-backend/src/spiffworkflow_backend/scripts/add_user_to_group.py
  spiffworkflow-backend/src/spiffworkflow_backend/scripts/clear_permissions.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

pyl passes w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/scripts/get_all_permissions.py
  spiffworkflow-backend/src/spiffworkflow_backend/scripts/refresh_permissions.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/authorization_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/group_service.py
  spiffworkflow-backend/tests/data/script_add_permission/add_permission.bpmn
  spiffworkflow-backend/tests/spiffworkflow_backend/scripts/test_add_permission.py
  spiffworkflow-backend/tests/spiffworkflow_backend/scripts/test_add_user_to_group.py
  spiffworkflow-backend/tests/spiffworkflow_backend/scripts/test_delete_permissions.py
  spiffworkflow-backend/tests/spiffworkflow_backend/scripts/test_get_all_permissions.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_authorization_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Path conditions:
  black: any of: ^spiffworkflow-backend/ and \.py$ and not (/migrations/)
  check-added-large-files: any of: ^spiffworkflow-backend/
  check-toml: any of: ^spiffworkflow-backend/ and \.toml$
  check-yaml: any of: ^spiffworkflow-backend/ and \.(yaml|yml)$
  end-of-file-fixer: any of: ^spiffworkflow-backend/
  flake8: any of: ^spiffworkflow-backend/ and \.py$ and not (/migrations/)
  pyupgrade: any of: ^spiffworkflow-backend/ and \.py$
  reorder-python-imports: any of: ^spiffworkflow-backend/ and \.py$ and not ((/migrations/|load_database_models))
  trailing-whitespace: any of: ^spiffworkflow-backend/, but not: /migrations/
