Repository sartography/spiff-arena: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        # entry: bash -c 'cd spiffworkflow-backend && black'
        entry: black
        language: system
        files: ^spiffworkflow-backend/
        types: [python]
        require_serial: true
        # exclude: ^migrations/
        exclude: "/migrations/"
      - id: check-added-large-files
        files: ^spiffworkflow-backend/
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-toml
        files: ^spiffworkflow-backend/
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-yaml
        files: ^spiffworkflow-backend/
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        files: ^spiffworkflow-backend/
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: flake8
        files: ^spiffworkflow-backend/
        name: flake8
        entry: flake8
        language: system
        types: [python]
        require_serial: true
        exclude: "/migrations/"
      - id: pyupgrade
        files: ^spiffworkflow-backend/
        name: pyupgrade
        description: Automatically upgrade syntax for newer versions.
        entry: pyupgrade
        language: system
        types: [python]
        args: [--py37-plus]
      - id: reorder-python-imports
        files: ^spiffworkflow-backend/
        name: Reorder python imports
        entry: reorder-python-imports
        language: system
        types: [python]
        args: [--application-directories=src]
        exclude: "(/migrations/|load_database_models)"
      - id: trailing-whitespace
        files: ^spiffworkflow-backend/
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
        exclude: "/migrations/"
  # - repo: https://github.com/pre-commit/mirrors-prettier
  #   rev: v2.4.1
  #   hooks:
  #     - id: prettier
  #       files: ^spiffworkflow-backend/
  #       exclude_types: [html]

WIP: initial work to have a home page created from an extension w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/routes/extensions_controller.py
  spiffworkflow-frontend/src/extension_ui_schema_interfaces.ts
  spiffworkflow-frontend/src/routes/Extension.tsx
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Pass in the process_group_identifier for filtering
  spiffworkflow-backend/src/spiffworkflow_backend/api.yml
  spiffworkflow-backend/src/spiffworkflow_backend/routes/data_store_controller.py
  spiffworkflow-frontend/src/components/DataStoreListTiles.tsx
  spiffworkflow-frontend/src/routes/ProcessGroupShow.tsx
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Pass in the process_group_identifier for filtering
  spiffworkflow-backend/src/spiffworkflow_backend/data_stores/crud.py
  spiffworkflow-backend/src/spiffworkflow_backend/data_stores/json.py
  spiffworkflow-backend/src/spiffworkflow_backend/data_stores/kkv.py
  spiffworkflow-backend/src/spiffworkflow_backend/data_stores/typeahead.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/data_store_controller.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Getting ./bin/pyl to pass
  spiffworkflow-backend/src/spiffworkflow_backend/data_stores/kkv.py
  spiffworkflow-backend/src/spiffworkflow_backend/data_stores/typeahead.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/data_store_controller.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Link is no longer undefined
  spiffworkflow-backend/src/spiffworkflow_backend/data_stores/json.py
  spiffworkflow-backend/src/spiffworkflow_backend/data_stores/kkv.py
  spiffworkflow-backend/src/spiffworkflow_backend/data_stores/typeahead.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

added debounce to rjsf date picker to avoid converting dates too early when typing
  spiffworkflow-frontend/src/rjsf/carbon_theme/BaseInputTemplate/BaseInputTemplate.tsx
Due: none

Add edit route
  spiffworkflow-frontend/src/components/DataStoreListTiles.tsx
  spiffworkflow-frontend/src/routes/DataStoreEdit.tsx
  spiffworkflow-frontend/src/routes/DataStoreRoutes.tsx
Due: none

Prep for new api calls
  spiffworkflow-backend/src/spiffworkflow_backend/api.yml
  spiffworkflow-backend/src/spiffworkflow_backend/routes/data_store_controller.py
  spiffworkflow-frontend/src/components/DataStoreForm.tsx
  spiffworkflow-frontend/src/components/DataStoreListTable.tsx
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

added debounce to rjsf date picker to avoid converting dates too early when typing (#909)
  spiffworkflow-frontend/src/rjsf/carbon_theme/BaseInputTemplate/BaseInputTemplate.tsx
Due: none

added support to display an extension as the root page w/ burnettk
  spiffworkflow-frontend/src/components/ExtensionUxElementForDisplay.tsx
  spiffworkflow-frontend/src/routes/BaseRoutes.tsx
  spiffworkflow-frontend/src/routes/Extension.tsx
  spiffworkflow-frontend/src/routes/RootRoute.tsx
Due: none

allow extensions to add new routes to base routes w/ burnettk
  spiffworkflow-frontend/src/components/ExtensionUxElementForDisplay.tsx
  spiffworkflow-frontend/src/extension_ui_schema_interfaces.ts
  spiffworkflow-frontend/src/routes/BaseRoutes.tsx
  spiffworkflow-frontend/src/routes/RootRoute.tsx
Due: none

Populate for editing
  spiffworkflow-backend/src/spiffworkflow_backend/api.yml
  spiffworkflow-backend/src/spiffworkflow_backend/data_stores/crud.py
  spiffworkflow-backend/src/spiffworkflow_backend/data_stores/json.py
  spiffworkflow-backend/src/spiffworkflow_backend/data_stores/kkv.py
  spiffworkflow-backend/src/spiffworkflow_backend/data_stores/typeahead.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/data_store_controller.py
  spiffworkflow-frontend/src/routes/DataStoreEdit.tsx
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

use page instead of creating new key route w/ burnettk
  spiffworkflow-frontend/src/components/NavigationBar.tsx
  spiffworkflow-frontend/src/extension_ui_schema_interfaces.ts
  spiffworkflow-frontend/src/routes/BaseRoutes.tsx
  spiffworkflow-frontend/src/routes/Extension.tsx
Due: none

added components to support pi tables in extensions w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/models/group.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/tasks_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/scripts/get_all_permissions.py
  spiffworkflow-backend/src/spiffworkflow_backend/scripts/get_current_user.py
  spiffworkflow-backend/src/spiffworkflow_backend/scripts/get_groups_for_user.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/authorization_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/scripts/test_get_groups_for_user.py
  spiffworkflow-frontend/src/components/ProcessInstanceListTable.tsx
  spiffworkflow-frontend/src/components/SpiffTabs.tsx
  spiffworkflow-frontend/src/components/TaskRouteTabs.tsx
  spiffworkflow-frontend/src/index.css
  spiffworkflow-frontend/src/interfaces.ts
  spiffworkflow-frontend/src/routes/CompletedInstances.tsx
  spiffworkflow-frontend/src/routes/Extension.tsx
  spiffworkflow-frontend/src/routes/InProgressInstances.tsx
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

allow using asterisks to mark words as bold in process instance list table
  spiffworkflow-frontend/src/components/ProcessInstanceListTable.tsx
  spiffworkflow-frontend/src/routes/Extension.tsx
Due: none

validate prefix and make saveFile async
  spiffworkflow-frontend/src/components/ReactFormBuilder/ReactFormBuilder.tsx
Due: none

Fix infinite requests, [object Object]
  spiffworkflow-frontend/src/routes/DataStoreEdit.tsx
Due: none

Getting ./bin/pyl to pass
  spiffworkflow-backend/src/spiffworkflow_backend/api.yml
  spiffworkflow-backend/src/spiffworkflow_backend/routes/data_store_controller.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_data_stores.py
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Load existing type on edit
  spiffworkflow-frontend/src/components/DataStoreForm.tsx
Due: none

lint:fix
  spiffworkflow-frontend/src/components/DataStoreForm.tsx
  spiffworkflow-frontend/src/components/DataStoreListTiles.tsx
  spiffworkflow-frontend/src/routes/DataStoreEdit.tsx
Due: none

Getting ./bin/pyl to pass
  spiffworkflow-backend/src/spiffworkflow_backend/data_stores/crud.py
  spiffworkflow-backend/src/spiffworkflow_backend/data_stores/json.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/data_store_controller.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Getting ./bin/pyl to pass
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_data_stores.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Pre pr cleanup
  spiffworkflow-frontend/src/routes/DataStoreEdit.tsx
Due: none

moved table component from InstancesListTable to own component w/ burnettk
  spiffworkflow-frontend/src/components/ProcessInstanceListTable.tsx
  spiffworkflow-frontend/src/components/ProcessInstanceListTableOnly.tsx
Due: none

validate prefix and make saveFile async (#915)
  spiffworkflow-frontend/src/components/ReactFormBuilder/ReactFormBuilder.tsx
Due: none

update per_page doc
  spiffworkflow-backend/src/spiffworkflow_backend/api.yml
Due: check-added-large-files, check-yaml, end-of-file-fixer, trailing-whitespace

per page doc
  spiffworkflow-backend/src/spiffworkflow_backend/api.yml
Due: check-added-large-files, check-yaml, end-of-file-fixer, trailing-whitespace

Validate writes to the json data store against its schema (#875)
  spiffworkflow-backend/src/spiffworkflow_backend/data_stores/json.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Get backend working with Python 3.12 (#876)
  .github/workflows/tests.yml
  spiffworkflow-backend/.tool-versions
  spiffworkflow-backend/poetry.lock
  spiffworkflow-backend/pyproject.toml
  spiffworkflow-backend/src/spiffworkflow_backend/services/file_system_service.py
Due: black, check-added-large-files, check-toml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

PR feedback, rename data_store_query
  spiffworkflow-backend/src/spiffworkflow_backend/data_stores/crud.py
  spiffworkflow-backend/src/spiffworkflow_backend/data_stores/json.py
  spiffworkflow-backend/src/spiffworkflow_backend/data_stores/kkv.py
  spiffworkflow-backend/src/spiffworkflow_backend/data_stores/typeahead.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/data_store_controller.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Bump docker base image to python 3.12.1
  spiffworkflow-backend/Dockerfile
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

Add libffi-dev
  spiffworkflow-backend/Dockerfile
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

filters are somewhat working again w/ burnettk
  spiffworkflow-frontend/src/components/ProcessInstanceListTable.tsx
  spiffworkflow-frontend/src/components/ProcessInstanceListTableOnly.tsx
Due: none

Show Data Store tiles on the Process Group page (#917)
  spiffworkflow-backend/src/spiffworkflow_backend/api.yml
  spiffworkflow-backend/src/spiffworkflow_backend/data_stores/crud.py
  spiffworkflow-backend/src/spiffworkflow_backend/data_stores/json.py
  spiffworkflow-backend/src/spiffworkflow_backend/data_stores/kkv.py
  spiffworkflow-backend/src/spiffworkflow_backend/data_stores/typeahead.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/data_store_controller.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_data_stores.py
  spiffworkflow-frontend/src/components/DataStoreForm.tsx
  spiffworkflow-frontend/src/components/DataStoreListTable.tsx
  spiffworkflow-frontend/src/components/DataStoreListTiles.tsx
  spiffworkflow-frontend/src/index.css
  spiffworkflow-frontend/src/routes/DataStoreEdit.tsx
  spiffworkflow-frontend/src/routes/DataStoreRoutes.tsx
  spiffworkflow-frontend/src/routes/ProcessGroupShow.tsx
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

default homepage uses the table without filters component now w/ burnettk
  spiffworkflow-frontend/src/components/ProcessInstanceListTable.tsx
  spiffworkflow-frontend/src/components/ProcessInstanceListTableOnly.tsx
  spiffworkflow-frontend/src/routes/CompletedInstances.tsx
  spiffworkflow-frontend/src/routes/InProgressInstances.tsx
Due: none

renamed instance list tables to be more appropriate w/ burnettk
  spiffworkflow-frontend/src/components/ProcessInstanceListTable.tsx
  spiffworkflow-frontend/src/components/ProcessInstanceListTableOnly.tsx
  spiffworkflow-frontend/src/components/ProcessInstanceListTableWithFilters.tsx
  spiffworkflow-frontend/src/routes/CompletedInstances.tsx
  spiffworkflow-frontend/src/routes/Extension.tsx
  spiffworkflow-frontend/src/routes/InProgressInstances.tsx
  spiffworkflow-frontend/src/routes/ProcessInstanceList.tsx
  spiffworkflow-frontend/src/routes/ProcessModelShow.tsx
Due: none

display errors if list table is used incorrectly w/ burnettk
  spiffworkflow-frontend/src/components/ProcessInstanceListTable.tsx
  spiffworkflow-frontend/src/routes/Extension.tsx
Due: none

fixed issue where columns were not displaying in the filter list
  spiffworkflow-frontend/src/components/ProcessInstanceListTableWithFilters.tsx
  spiffworkflow-frontend/src/components/TaskRouteTabs.tsx
  spiffworkflow-frontend/src/routes/HomeRoutes.tsx
Due: none

pyl
  spiffworkflow-backend/tests/spiffworkflow_backend/scripts/test_get_groups_for_user.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

rely on changes in report hash to determine if report hash state needs updating
  spiffworkflow-frontend/src/components/ProcessInstanceListTableWithFilters.tsx
Due: none
