Repository sartography/spiff-arena: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, ruff, trailing-whitespace

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        # entry: bash -c 'cd spiffworkflow-backend && black'
        entry: black
        language: system
        files: ^spiffworkflow-backend/
        types: [python]
        line-length: 130
        require_serial: true
        # exclude: ^migrations/
        exclude: "/migrations/"

        # --preview because otherwise it will not fix long lines if the long lines contain long strings
        # https://github.com/psf/black/pull/1132
        # https://github.com/psf/black/pull/1609
        # --line-length because then we can avoid the fancy line wrapping in more instances and jason, kb, and elizabeth
        # kind of prefer long lines rather than cutely-formatted sets of lines.
        # TODO: enable when its safe to update the files
        args: [--preview, --line-length, "130"]

      - id: check-added-large-files
        files: ^spiffworkflow-backend/
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-toml
        files: ^spiffworkflow-backend/
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-yaml
        files: ^spiffworkflow-backend/
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        files: ^spiffworkflow-backend/
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: ruff
        args: [ --fix ]
        files: ^spiffworkflow-backend/
        name: ruff
        entry: ruff
        language: system
        types: [python]
        require_serial: true
        # this is also specified in spiffworkflow-backend/pyproject.toml but we run pre-commit
        # with all-files which ignores that
        exclude: "/migrations/"
      - id: trailing-whitespace
        files: ^spiffworkflow-backend/
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
        exclude: "/migrations/"
  # - repo: https://github.com/pre-commit/mirrors-prettier
  #   rev: v2.4.1
  #   hooks:
  #     - id: prettier
  #       files: ^spiffworkflow-backend/
  #       exclude_types: [html]

build this branch
  .github/workflows/tests.yml
Due: none

build image
  .github/workflows/docker_image_for_main_builds.yml
  .github/workflows/tests.yml
Due: none

use more url_for, which includes a slash, and things are working locally
  spiffworkflow-backend/src/spiffworkflow_backend/routes/authentication_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/openid_blueprint/templates/login.html
  spiffworkflow-backend/src/spiffworkflow_backend/services/authentication_service.py
Due: black, check-added-large-files, end-of-file-fixer, ruff, trailing-whitespace

fix hopefully the last missing url_for
  spiffworkflow-backend/src/spiffworkflow_backend/routes/openid_blueprint/openid_blueprint.py
Due: black, check-added-large-files, end-of-file-fixer, ruff, trailing-whitespace

add some code that works for any openid provider
  spiffworkflow-backend/src/spiffworkflow_backend/services/authentication_service.py
Due: black, check-added-large-files, end-of-file-fixer, ruff, trailing-whitespace

one more url_for and remove more backend url config references
  spiffworkflow-backend/bin/local_development_environment_setup
  spiffworkflow-backend/src/spiffworkflow_backend/routes/openid_blueprint/openid_blueprint.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/authentication_service.py
Due: black, check-added-large-files, end-of-file-fixer, ruff, trailing-whitespace

Show path in location
  spiffworkflow-frontend/src/components/messages/MessageEditor.tsx
Due: none

load all task data when attempting to get the next task instruction w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/routes/tasks_controller.py
Due: black, check-added-large-files, end-of-file-fixer, ruff, trailing-whitespace

load all task data when attempting to get the next task instruction w/ burnettk (#1355)
  spiffworkflow-backend/src/spiffworkflow_backend/routes/tasks_controller.py
Due: black, check-added-large-files, end-of-file-fixer, ruff, trailing-whitespace

Mac compat for true
  Makefile
Due: none

Prevent duplicated path prefix elements in generated URLs take two (#1350)
  .github/workflows/docker_image_for_main_builds.yml
  spiffworkflow-backend/bin/local_development_environment_setup
  spiffworkflow-backend/src/spiffworkflow_backend/config/unit_testing.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/authentication_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/debug_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/openid_blueprint/openid_blueprint.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/openid_blueprint/templates/login.html
  spiffworkflow-backend/src/spiffworkflow_backend/services/authentication_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_openid_blueprint.py
Due: black, check-added-large-files, end-of-file-fixer, ruff, trailing-whitespace

Mac compat for true (#1356)
  Makefile
Due: none

ignore venv, and ensure always sort group members to fix flaky test in postgres
  spiffworkflow-backend/.gitignore
  spiffworkflow-backend/src/spiffworkflow_backend/scripts/get_group_members.py
Due: black, check-added-large-files, end-of-file-fixer, ruff, trailing-whitespace

ignore venv, and ensure always sort group members to fix flaky test in postgres (#1357)
  spiffworkflow-backend/.gitignore
  spiffworkflow-backend/src/spiffworkflow_backend/scripts/get_group_members.py
Due: black, check-added-large-files, end-of-file-fixer, ruff, trailing-whitespace

upgraded dmn-js versions w/ burnettk
  spiffworkflow-frontend/package-lock.json
  spiffworkflow-frontend/package.json
  spiffworkflow-frontend/src/routes/ProcessModelEditDiagram.tsx
Due: none

update bpmn-js-spiffworkflow w/ burnettk
  spiffworkflow-frontend/package-lock.json
  spiffworkflow-frontend/src/routes/ProcessModelEditDiagram.tsx
Due: none

Dmn js upgrade (#1358)
  spiffworkflow-frontend/package-lock.json
  spiffworkflow-frontend/package.json
  spiffworkflow-frontend/src/routes/ProcessModelEditDiagram.tsx
Due: none

Data Store Documentation
  docs/Building_Diagrams/data_stores.md
  docs/Building_Diagrams/images/DataStore_JSON_Output.png
  docs/Building_Diagrams/images/DataStore_KKV.png
  docs/Building_Diagrams/images/DataStore_KKV_1.png
  docs/Building_Diagrams/images/DataStore_KKV_2.png
  docs/Building_Diagrams/images/DataStore_KKV_3.png
  docs/Building_Diagrams/images/DataStore_KKV_4.png
  docs/Building_Diagrams/images/DataStore_KKV_Output.png
  docs/Building_Diagrams/images/DataStore_KKV_Store.png
  docs/Building_Diagrams/images/JSON_Data_Store_1.png
  docs/Building_Diagrams/images/JSON_data_store.png
Due: none

Rename var
  spiffworkflow-frontend/src/components/messages/MessageEditor.tsx
  spiffworkflow-frontend/src/routes/ProcessModelEditDiagram.tsx
Due: none

Rename test
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_element_units_service.py
Due: black, check-added-large-files, end-of-file-fixer, ruff, trailing-whitespace

added new api to show secrets so we can use that in permissions
  spiffworkflow-backend/src/spiffworkflow_backend/api.yml
  spiffworkflow-backend/src/spiffworkflow_backend/routes/secrets_controller.py
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, ruff, trailing-whitespace

Purging
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/workflow_execution_service.py
Due: black, check-added-large-files, end-of-file-fixer, ruff, trailing-whitespace

Purging
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
Due: black, check-added-large-files, end-of-file-fixer, ruff, trailing-whitespace

Purging
  spiffworkflow-backend/src/spiffworkflow_backend/services/element_units_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
Due: black, check-added-large-files, end-of-file-fixer, ruff, trailing-whitespace

Purging
  spiffworkflow-backend/poetry.lock
  spiffworkflow-backend/pyproject.toml
Due: check-added-large-files, check-toml, end-of-file-fixer, trailing-whitespace

updated frontend to use new secret show value api
  spiffworkflow-backend/bin/boot_server_in_docker
  spiffworkflow-backend/bin/local_development_environment_setup
  spiffworkflow-backend/src/spiffworkflow_backend/api.yml
  spiffworkflow-backend/src/spiffworkflow_backend/routes/secrets_controller.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_secrets_controller.py
  spiffworkflow-frontend/src/hooks/UriListForPermissions.tsx
  spiffworkflow-frontend/src/interfaces.ts
  spiffworkflow-frontend/src/routes/Configuration.tsx
  spiffworkflow-frontend/src/routes/SecretShow.tsx
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, ruff, trailing-whitespace

cleaned up secret_show method
  spiffworkflow-backend/src/spiffworkflow_backend/routes/secrets_controller.py
Due: black, check-added-large-files, end-of-file-fixer, ruff, trailing-whitespace

Auth for secrets (#1369)
  spiffworkflow-backend/bin/boot_server_in_docker
  spiffworkflow-backend/bin/local_development_environment_setup
  spiffworkflow-backend/src/spiffworkflow_backend/api.yml
  spiffworkflow-backend/src/spiffworkflow_backend/routes/secrets_controller.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_secrets_controller.py
  spiffworkflow-frontend/src/hooks/UriListForPermissions.tsx
  spiffworkflow-frontend/src/interfaces.ts
  spiffworkflow-frontend/src/routes/Configuration.tsx
  spiffworkflow-frontend/src/routes/SecretShow.tsx
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, ruff, trailing-whitespace

install packages from bpmn-js-spiffworkflow as well for local development
  spiffworkflow-frontend/package.json
Due: none

process group api can add and update message models now w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_groups_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/message_definition_service.py
  spiffworkflow-frontend/package-lock.json
  spiffworkflow-frontend/src/components/messages/MessageEditor.tsx
Due: black, check-added-large-files, end-of-file-fixer, ruff, trailing-whitespace

backend tests are passing now w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/services/data_setup_service.py
  spiffworkflow-backend/tests/data/message_send_one_conversation/process_group.json
  spiffworkflow-backend/tests/process_models_example_dir/examples/1-basic-concepts/process_group.json
  spiffworkflow-backend/tests/process_models_example_dir/examples/process_group.json
  spiffworkflow-backend/tests/spiffworkflow_backend/helpers/base_test.py
Due: black, check-added-large-files, end-of-file-fixer, ruff, trailing-whitespace

the launch message edit button is loading the editor w/ burnettk
  spiffworkflow-frontend/src/components/ReactDiagramEditor.tsx
  spiffworkflow-frontend/src/routes/ProcessModelEditDiagram.tsx
Due: none

initial script to find get_current_user calls
  spiffworkflow-backend/bin/lint_get_current_user_scripts.py
Due: black, check-added-large-files, end-of-file-fixer, ruff, trailing-whitespace

handle pre and post scripts as well
  spiffworkflow-backend/bin/lint_get_current_user_scripts.py
Due: black, check-added-large-files, end-of-file-fixer, ruff, trailing-whitespace

refactor
  spiffworkflow-backend/bin/lint_get_current_user_scripts.py
Due: black, check-added-large-files, end-of-file-fixer, ruff, trailing-whitespace

omit absolute root dir path when printing
  spiffworkflow-backend/bin/lint_get_current_user_scripts.py
Due: black, check-added-large-files, end-of-file-fixer, ruff, trailing-whitespace

avoid printing NS
  spiffworkflow-backend/bin/lint_get_current_user_scripts.py
Due: black, check-added-large-files, end-of-file-fixer, ruff, trailing-whitespace

consolidate lxml parsing in one place
  Makefile
  bin/run_pyl
  spiffworkflow-backend/bin/lint_get_current_user_scripts.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_model_test_runner_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/spec_file_service.py
Due: black, check-added-large-files, end-of-file-fixer, ruff, trailing-whitespace

Drop element units as a dependecy (#1366)
  spiffworkflow-backend/poetry.lock
  spiffworkflow-backend/pyproject.toml
  spiffworkflow-backend/src/spiffworkflow_backend/services/element_units_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/workflow_execution_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_element_units_service.py
Due: black, check-added-large-files, check-toml, end-of-file-fixer, ruff, trailing-whitespace
