Repository sartography/spiff-arena: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

black:
  name: black
  entry: black
  language: system
  require_serial: true

check-added-large-files:
  name: Check for added large files
  entry: check-added-large-files
  language: system

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

end-of-file-fixer:
  name: Fix End of Files
  entry: end-of-file-fixer
  language: system
  stages:
  - commit
  - push
  - manual

flake8:
  name: flake8
  entry: flake8
  language: system
  require_serial: true

pyupgrade:
  name: pyupgrade
  description: Automatically upgrade syntax for newer versions.
  entry: pyupgrade
  language: system
  args:
  - --py37-plus

reorder-python-imports:
  name: Reorder python imports
  entry: reorder-python-imports
  language: system
  args:
  - --application-directories=src

trailing-whitespace:
  name: Trim Trailing Whitespace
  entry: trailing-whitespace-fixer
  language: system
  stages:
  - commit
  - push
  - manual

update README
  spiffworkflow-backend/README.rst
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

Squashed 'bpmn-js-spiffworkflow/' changes from 9dcca6c80..6007a770a
  .github/workflows/labeler.yml
  .github/workflows/publish.yml
  .github/workflows/tests.yml
  app/app.js
  app/spiffworkflow/InputOutput/IoInterceptor.js
  app/spiffworkflow/eventSelect.js
  app/spiffworkflow/extensions/extensionHelpers.js
  app/spiffworkflow/extensions/propertiesPanel/ExtensionsPropertiesProvider.js
  app/spiffworkflow/extensions/propertiesPanel/ScriptUnitTestArray.js
  app/spiffworkflow/extensions/propertiesPanel/SpiffExtensionCheckboxEntry.js
  app/spiffworkflow/extensions/propertiesPanel/SpiffExtensionLaunchButton.js
  app/spiffworkflow/extensions/propertiesPanel/SpiffExtensionSelect.js
  app/spiffworkflow/extensions/propertiesPanel/SpiffExtensionServiceProperties.js
  app/spiffworkflow/extensions/propertiesPanel/SpiffScriptGroup.js
  app/spiffworkflow/messages/propertiesPanel/MessagePayload.js
  app/spiffworkflow/messages/propertiesPanel/MessageVariable.js
  app/spiffworkflow/moddle/spiffworkflow.json
  package-lock.json
  package.json
  test/spec/BusinessRulePropsSpec.js
  test/spec/IOInterceptorSpec.js
  test/spec/MessagesSpec.js
  test/spec/ScriptsPropsSpec.js
  test/spec/UserTaskPropsSpec.js
Due: none

we already have poetry in base image, and we do not have a dev stanza
  connector-proxy-demo/Dockerfile
Due: none

WIP
  spiffworkflow-backend/src/spiffworkflow_backend/data_stores/kkv.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

WIP
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_kkv_data_store.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

WIP
  spiffworkflow-backend/src/spiffworkflow_backend/data_stores/kkv.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_kkv_data_store.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Getting bin_pyl to pass
  spiffworkflow-backend/src/spiffworkflow_backend/data_stores/kkv.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_kkv_data_store.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

misspelling.
  spiffworkflow-frontend/src/routes/ProcessModelEditDiagram.tsx
Due: none

Getting bin_pyl to pass
  spiffworkflow-backend/src/spiffworkflow_backend/data_stores/kkv.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

add cris
  spiffworkflow-backend/src/spiffworkflow_backend/config/permissions/demo.yml
Due: check-added-large-files, check-yaml, end-of-file-fixer, trailing-whitespace

check if form contents is None and not truthy when deciding to return back to the user w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/routes/tasks_controller.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

put back the handlefileNameSave call w/ burnettk
  spiffworkflow-frontend/src/routes/ProcessModelEditDiagram.tsx
Due: none

corrected typename for tasks in data migration 3 w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/data_migrations/version_3.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

do not save events to db when running data migrations w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/data_migrations/version_2.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/task_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Remove migration
  spiffworkflow-backend/migrations/versions/f0b628eae008_.py
Due: check-added-large-files, end-of-file-fixer, pyupgrade

WIP
  spiffworkflow-backend/src/spiffworkflow_backend/models/kkv_data_store.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

New migration
  spiffworkflow-backend/migrations/versions/78f5c2c65bf3_.py
Due: check-added-large-files, end-of-file-fixer, pyupgrade

Keyed key/value data store implementation (#548)
  spiffworkflow-backend/migrations/versions/78f5c2c65bf3_.py
  spiffworkflow-backend/src/spiffworkflow_backend/data_stores/kkv.py
  spiffworkflow-backend/src/spiffworkflow_backend/load_database_models.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/kkv_data_store.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/custom_parser.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_kkv_data_store.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

added more tests for the service task service call connector to test errors w/ burnettk
  connector-proxy-demo/poetry.lock
  connector-proxy-demo/pyproject.toml
  spiffworkflow-backend/src/spiffworkflow_backend/services/service_task_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_service_task_delegate.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

added spiffworkflow-connector-command and some code clean up
  spiffworkflow-backend/poetry.lock
  spiffworkflow-backend/pyproject.toml
  spiffworkflow-backend/src/spiffworkflow_backend/routes/authentication_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/authentication_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/service_task_service.py
Due: black, check-added-large-files, check-toml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

updated the connectors in the proxy demo
  connector-proxy-demo/poetry.lock
  connector-proxy-demo/pyproject.toml
Due: none

use SpiffWorkflow from git instead of locally
  spiffworkflow-backend/poetry.lock
  spiffworkflow-backend/pyproject.toml
Due: check-added-large-files, check-toml, end-of-file-fixer, trailing-whitespace

some cleanup while code reviewing
  spiffworkflow-backend/src/spiffworkflow_backend/services/service_task_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_service_task_delegate.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

updated urllib3 for snyk
  spiffworkflow-backend/poetry.lock
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

Feature/error boundary (#552)
  connector-proxy-demo/bin/run_server_locally
  connector-proxy-demo/poetry.lock
  connector-proxy-demo/pyproject.toml
  spiffworkflow-backend/poetry.lock
  spiffworkflow-backend/pyproject.toml
  spiffworkflow-backend/src/spiffworkflow_backend/routes/authentication_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/authentication_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/custom_parser.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/service_task_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_service_task_delegate.py
Due: black, check-added-large-files, check-toml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Path conditions:
  black: any of: ^spiffworkflow-backend/ and \.py$ and not (/migrations/)
  check-added-large-files: any of: ^spiffworkflow-backend/
  check-toml: any of: ^spiffworkflow-backend/ and \.toml$
  check-yaml: any of: ^spiffworkflow-backend/ and \.(yaml|yml)$
  end-of-file-fixer: any of: ^spiffworkflow-backend/
  flake8: any of: ^spiffworkflow-backend/ and \.py$ and not (/migrations/)
  pyupgrade: any of: ^spiffworkflow-backend/ and \.py$
  reorder-python-imports: any of: ^spiffworkflow-backend/ and \.py$ and not ((/migrations/|load_database_models))
  trailing-whitespace: any of: ^spiffworkflow-backend/, but not: /migrations/
