Repository sartography/spiff-arena: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, ruff, trailing-whitespace

black:
  name: black
  entry: black
  language: system
  line-length: 130
  require_serial: true
  args:
  - --preview
  - --line-length
  - '130'

check-added-large-files:
  name: Check for added large files
  entry: check-added-large-files
  language: system

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

end-of-file-fixer:
  name: Fix End of Files
  entry: end-of-file-fixer
  language: system
  stages:
  - commit
  - push
  - manual

ruff:
  args:
  - --fix
  name: ruff
  entry: ruff
  language: system
  require_serial: true

trailing-whitespace:
  name: Trim Trailing Whitespace
  entry: trailing-whitespace-fixer
  language: system
  stages:
  - commit
  - push
  - manual

ruff should ignore print statements in bin script w/ burnettk
  spiffworkflow-backend/bin/get_token
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

bump spiff to get bugfix/missing-data-output update
  spiffworkflow-backend/poetry.lock
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

fix-file-upload (#1583)
  spiffworkflow-frontend/src/rjsf/carbon_theme/BaseInputTemplate/BaseInputTemplate.tsx
  spiffworkflow-frontend/src/rjsf/carbon_theme/index.css
Due: none

Hunter is me main (#1585)
  spiffworkflow-backend/bin/get_token
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

attempt to wait a little after typing in cypress tests for the debounce w/ burnettk
  spiffworkflow-frontend/cypress/e2e/tasks.cy.js
Due: none

bump spiff to get bugfix/missing-data-output update (#1584)
  spiffworkflow-backend/poetry.lock
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

create a top level route for the new spiff ui from App.tsx w/ burnettk
  spiffworkflow-backend/poetry.lock
  spiffworkflow-frontend/src/App.tsx
  spiffworkflow-frontend/src/ContainerForExtensions.tsx
  spiffworkflow-frontend/src/routes/BaseRoutes.tsx
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

Grids, carousels, accordions, etc.
  spiffworkflow-frontend/src/a-spiffui-v2/assets/theme/SpiffTheme.ts
  spiffworkflow-frontend/src/a-spiffui-v2/views/Dashboards/DashboardCharts.tsx
  spiffworkflow-frontend/src/a-spiffui-v2/views/Dashboards/Dashboards.tsx
  spiffworkflow-frontend/src/routes/SpiffUIV2.tsx
Due: none

All finished
  spiffworkflow-frontend/package-lock.json
  spiffworkflow-frontend/package.json
  spiffworkflow-frontend/src/a-spiffui-v2/assets/theme/SpiffTheme.ts
  spiffworkflow-frontend/src/a-spiffui-v2/hooks/useTaskCollection.tsx
  spiffworkflow-frontend/src/a-spiffui-v2/views/Dashboards/DashboardCharts.tsx
  spiffworkflow-frontend/src/a-spiffui-v2/views/Dashboards/Dashboards.tsx
  spiffworkflow-frontend/src/a-spiffui-v2/views/Dashboards/cards/TaskCard.tsx
  spiffworkflow-frontend/src/a-spiffui-v2/views/Dashboards/myProcesses/MyProcesses.tsx
  spiffworkflow-frontend/src/a-spiffui-v2/views/Dashboards/myTasks/MyTasks.tsx
  spiffworkflow-frontend/src/routes/SpiffUIV2.tsx
Due: none

Tweaks and good to go.
  spiffworkflow-frontend/src/a-spiffui-v2/views/Dashboards/TopMenu.tsx
  spiffworkflow-frontend/src/a-spiffui-v2/views/Dashboards/myTasks/MyTasks.tsx
Due: none

Update MyProcesses.tsx
  spiffworkflow-frontend/src/a-spiffui-v2/views/Dashboards/myProcesses/MyProcesses.tsx
Due: none

Collapse process detail by default, and fix tasks label.
  spiffworkflow-frontend/src/a-spiffui-v2/views/Dashboards/myTasks/MyTasks.tsx
Due: none

Full screen containers
  spiffworkflow-frontend/src/a-spiffui-v2/views/Dashboards/Dashboards.tsx
  spiffworkflow-frontend/src/routes/SpiffUIV2.tsx
Due: none

TopNav responsiveness and speedial
  spiffworkflow-frontend/src/a-spiffui-v2/components/SpiffLogo.tsx
  spiffworkflow-frontend/src/a-spiffui-v2/views/Dashboards/TopMenu.tsx
Due: none

Responsive grid areas
  spiffworkflow-frontend/src/a-spiffui-v2/components/SpiffLogo.tsx
  spiffworkflow-frontend/src/a-spiffui-v2/views/Dashboards/Dashboards.tsx
  spiffworkflow-frontend/src/a-spiffui-v2/views/Dashboards/TopMenu.tsx
Due: none

Add task counts
  spiffworkflow-frontend/src/a-spiffui-v2/views/Dashboards/cards/ProcessInstanceCard.tsx
  spiffworkflow-frontend/src/a-spiffui-v2/views/Dashboards/myProcesses/MyProcesses.tsx
  spiffworkflow-frontend/src/a-spiffui-v2/views/Dashboards/myTasks/MyTasks.tsx
Due: none

create a top level route for the new spiff ui from App.tsx w/ burnettk (#1586)
  spiffworkflow-backend/poetry.lock
  spiffworkflow-frontend/src/App.tsx
  spiffworkflow-frontend/src/ContainerForExtensions.tsx
  spiffworkflow-frontend/src/routes/BaseRoutes.tsx
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

Unused imports
  spiffworkflow-frontend/src/a-spiffui-v2/hooks/useProcessInstance.tsx
  spiffworkflow-frontend/src/a-spiffui-v2/views/Dashboards/InfoWindow.tsx
  spiffworkflow-frontend/src/a-spiffui-v2/views/Dashboards/cards/ProcessInstanceCard.tsx
  spiffworkflow-frontend/src/a-spiffui-v2/views/Dashboards/infopanels/TaskDetail.tsx
  spiffworkflow-frontend/src/a-spiffui-v2/views/app/sidemenu/CollapseButton.tsx
Due: none

fixed onChangeOverride issue w/ burnettk
  spiffworkflow-frontend/src/rjsf/carbon_theme/BaseInputTemplate/BaseInputTemplate.tsx
Due: none

Clean up wonky pie chart.
  spiffworkflow-frontend/src/a-spiffui-v2/assets/theme/SpiffTheme.ts
  spiffworkflow-frontend/src/a-spiffui-v2/views/Dashboards/DashboardCharts.tsx
Due: none

Remove hardcoded url
  spiffworkflow-frontend/src/a-spiffui-v2/views/Dashboards/infopanels/TaskInfo.tsx
Due: none

WIP
  spiffworkflow-frontend/public/new_dmn_diagram.dmn
  spiffworkflow-frontend/src/components/ReactDiagramEditor.tsx
Due: none

Clean up info panel
  spiffworkflow-frontend/src/a-spiffui-v2/components/InfoPanel.tsx
  spiffworkflow-frontend/src/a-spiffui-v2/views/Dashboards/Dashboards.tsx
Due: none

fixed the select widget and text fields so they are no longer so slow when typing (#1573)
  spiffworkflow-frontend/cypress/e2e/tasks.cy.js
  spiffworkflow-frontend/src/rjsf/carbon_theme/BaseInputTemplate/BaseInputTemplate.tsx
  spiffworkflow-frontend/src/rjsf/carbon_theme/SelectWidget/SelectWidget.tsx
  spiffworkflow-frontend/src/rjsf/carbon_theme/TextareaWidget/TextareaWidget.tsx
Due: none

Fix menu button responsive text wrap wonk
  spiffworkflow-frontend/src/a-spiffui-v2/views/app/sidemenu/MenuItem.tsx
Due: none

fixed issues with new version of ruff w/ burnettk
  spiffworkflow-backend/poetry.lock
  spiffworkflow-backend/pyproject.toml
  spiffworkflow-backend/src/spiffworkflow_backend/__init__.py
  spiffworkflow-backend/src/spiffworkflow_backend/exceptions/api_error.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_service.py
Due: black, check-added-large-files, check-toml, end-of-file-fixer, ruff, trailing-whitespace

find decision based on starting value w/ burnettk
  spiffworkflow-frontend/cypress/e2e/process_models.cy.js
Due: none

sonarjs needs recommended-legacy for eslint 8 w/ burnettk
  spiffworkflow-frontend/.eslintrc.cjs
Due: none

Detect duplicate process ids when uploading/creating a new file (#1581)
  spiffworkflow-backend/src/spiffworkflow_backend/services/spec_file_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_process_model_service.py
  spiffworkflow-frontend/cypress/e2e/process_models.cy.js
  spiffworkflow-frontend/public/new_dmn_diagram.dmn
  spiffworkflow-frontend/src/components/ReactDiagramEditor.tsx
Due: black, check-added-large-files, end-of-file-fixer, ruff, trailing-whitespace

update eslint to fix sonar issues w/ burnettk
  spiffworkflow-frontend/package-lock.json
Due: none

allow guest users to use typeahead w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/services/authorization_service.py
Due: black, check-added-large-files, end-of-file-fixer, ruff, trailing-whitespace

allow guest users to use typeahead w/ burnettk (#1594)
  spiffworkflow-backend/src/spiffworkflow_backend/services/authorization_service.py
Due: black, check-added-large-files, end-of-file-fixer, ruff, trailing-whitespace

Put grid back
  spiffworkflow-frontend/src/a-spiffui-v2/views/Dashboards/Dashboards.tsx
  spiffworkflow-frontend/src/a-spiffui-v2/views/Dashboards/cards/ProcessInstanceCard.tsx
  spiffworkflow-frontend/src/a-spiffui-v2/views/Dashboards/myProcesses/CellRenderer.tsx
  spiffworkflow-frontend/src/a-spiffui-v2/views/Dashboards/myProcesses/MyProcesses.tsx
Due: none

some initial code to attempt to store json data using top level keys
  spiffworkflow-backend/src/spiffworkflow_backend/models/json_data.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/keyed_json_data.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/keyed_json_data_task.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/task_service.py
Due: black, check-added-large-files, end-of-file-fixer, ruff, trailing-whitespace

Remove cell focus outline with CSS overrides MUI
  spiffworkflow-frontend/src/a-spiffui-v2/views/Dashboards/cards/ProcessInstanceCard.tsx
  spiffworkflow-frontend/src/a-spiffui-v2/views/Dashboards/myProcesses/MyProcesses.tsx
Due: none

Lane owners fix
  docs/Building_Diagrams/pools_and_lanes.md
Due: none

Flyout Panel for demo (new look etc.)
  spiffworkflow-frontend/src/a-spiffui-v2/components/InfoPanel.tsx
  spiffworkflow-frontend/src/a-spiffui-v2/views/Dashboards/Dashboards.tsx
  spiffworkflow-frontend/src/a-spiffui-v2/views/Dashboards/cards/ProcessInstanceCard.tsx
  spiffworkflow-frontend/src/a-spiffui-v2/views/Dashboards/infopanels/ProcessInfo.tsx
  spiffworkflow-frontend/src/a-spiffui-v2/views/Dashboards/myTasks/MyTasks.tsx
  spiffworkflow-frontend/src/a-spiffui-v2/views/app/sidemenu/CollapseButton.tsx
Due: none

Task switching in panel.
  spiffworkflow-frontend/src/a-spiffui-v2/components/InfoPanel.tsx
  spiffworkflow-frontend/src/a-spiffui-v2/views/Dashboards/Dashboards.tsx
  spiffworkflow-frontend/src/a-spiffui-v2/views/Dashboards/infopanels/TaskInfo.tsx
Due: none

Cleanup tweaks pre-demo.
  spiffworkflow-frontend/src/a-spiffui-v2/views/Dashboards/Dashboards.tsx
  spiffworkflow-frontend/src/a-spiffui-v2/views/Dashboards/infopanels/ProcessInfo.tsx
Due: none

Path conditions:
  black: any of: ^spiffworkflow-backend/ and \.py$ and not (/migrations/)
  check-added-large-files: any of: ^spiffworkflow-backend/
  check-toml: any of: ^spiffworkflow-backend/ and \.toml$
  check-yaml: any of: ^spiffworkflow-backend/ and \.(yaml|yml)$
  end-of-file-fixer: any of: ^spiffworkflow-backend/
  ruff: any of: ^spiffworkflow-backend/ and \.py$ and not (/migrations/)
  trailing-whitespace: any of: ^spiffworkflow-backend/, but not: /migrations/
