Repository sartography/spiff-arena: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        # entry: bash -c 'cd spiffworkflow-backend && black'
        entry: black
        language: system
        files: ^spiffworkflow-backend/
        types: [python]
        require_serial: true
        # exclude: ^migrations/
        exclude: "/migrations/"
      - id: check-added-large-files
        files: ^spiffworkflow-backend/
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-toml
        files: ^spiffworkflow-backend/
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-yaml
        files: ^spiffworkflow-backend/
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        files: ^spiffworkflow-backend/
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: flake8
        files: ^spiffworkflow-backend/
        name: flake8
        entry: flake8
        language: system
        types: [python]
        require_serial: true
        exclude: "/migrations/"
      - id: pyupgrade
        files: ^spiffworkflow-backend/
        name: pyupgrade
        description: Automatically upgrade syntax for newer versions.
        entry: pyupgrade
        language: system
        types: [python]
        args: [--py37-plus]
      - id: reorder-python-imports
        files: ^spiffworkflow-backend/
        name: Reorder python imports
        entry: reorder-python-imports
        language: system
        types: [python]
        args: [--application-directories=src]
        exclude: "(/migrations/|load_database_models)"
      - id: trailing-whitespace
        files: ^spiffworkflow-backend/
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
        exclude: "/migrations/"
  # - repo: https://github.com/pre-commit/mirrors-prettier
  #   rev: v2.4.1
  #   hooks:
  #     - id: prettier
  #       files: ^spiffworkflow-backend/
  #       exclude_types: [html]

future tasks should not cause anything to happen if the instance is suspended
  spiffworkflow-backend/migrations/versions/acf20342181e_.py
  spiffworkflow-backend/src/spiffworkflow_backend/background_processing/background_processing_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/background_processing/celery_tasks/process_instance_task_producer.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/future_task.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/process_instance.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_background_processing_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Revert "future tasks should not cause anything to happen if the instance is suspended"
  spiffworkflow-backend/migrations/versions/acf20342181e_.py
  spiffworkflow-backend/src/spiffworkflow_backend/background_processing/background_processing_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/background_processing/celery_tasks/process_instance_task_producer.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/future_task.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/process_instance.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_background_processing_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Reapply "future tasks should not cause anything to happen if the instance is suspended"
  spiffworkflow-backend/migrations/versions/acf20342181e_.py
  spiffworkflow-backend/src/spiffworkflow_backend/background_processing/background_processing_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/background_processing/celery_tasks/process_instance_task_producer.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/future_task.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/process_instance.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_background_processing_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

lint
  spiffworkflow-backend/src/spiffworkflow_backend/models/process_instance.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

add required approval and merge instead of mark as auto merge
  .github/workflows/auto-merge-dependabot-prs.yml
Due: none

lint
  spiffworkflow-backend/src/spiffworkflow_backend/models/process_instance.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_background_processing_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Fixing tests
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_kkv_data_store.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Getting ./bin/pyl to pass
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_kkv_data_store.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Pre pr cleanup
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_kkv_data_store.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

pull in new bpmn js spiff ux and data stores updates
  spiffworkflow-frontend/package-lock.json
  spiffworkflow-frontend/package.json
Due: none

Fix imports
  spiffworkflow-backend/src/spiffworkflow_backend/data_stores/json.py
  spiffworkflow-backend/src/spiffworkflow_backend/data_stores/kkv.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Fixing up the data stores tab drop down
  spiffworkflow-backend/src/spiffworkflow_backend/data_stores/json.py
  spiffworkflow-backend/src/spiffworkflow_backend/data_stores/kkv.py
  spiffworkflow-frontend/src/components/DataStoreListTable.tsx
  spiffworkflow-frontend/src/interfaces.ts
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Fixing up the data stores tab drop down
  spiffworkflow-backend/src/spiffworkflow_backend/api.yml
  spiffworkflow-backend/src/spiffworkflow_backend/data_stores/json.py
  spiffworkflow-backend/src/spiffworkflow_backend/data_stores/kkv.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/data_store_controller.py
  spiffworkflow-frontend/src/components/DataStoreListTable.tsx
  spiffworkflow-frontend/src/routes/DataStoreEdit.tsx
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Getting ./bin/pyl to pass
  spiffworkflow-backend/src/spiffworkflow_backend/routes/data_store_controller.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Likely fix postgres
  spiffworkflow-backend/migrations/versions/60c13a48d675_.py
Due: check-added-large-files, end-of-file-fixer, pyupgrade

PR feedback, rename the column
  spiffworkflow-backend/migrations/versions/6344d90d20fa_.py
  spiffworkflow-backend/src/spiffworkflow_backend/data_stores/kkv.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/kkv_data_store_entry.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_kkv_data_store.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Fix the script
  spiffworkflow-backend/src/spiffworkflow_backend/scripts/create_unique_kkv_top_level_key.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

PR feedback, remove tmp testing code
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_kkv_data_store.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Postgres fix take 2
  spiffworkflow-backend/migrations/versions/6344d90d20fa_.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/kkv_data_store.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

update bpmn js spiff for data stores update
  spiffworkflow-frontend/package-lock.json
  spiffworkflow-frontend/package.json
Due: none

update bpmn js spiff for data stores update (#969)
  spiffworkflow-frontend/package-lock.json
  spiffworkflow-frontend/package.json
Due: none

PR feedback, fix test names
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_kkv_data_store.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

allow pr write permission for pr review
  .github/workflows/auto-merge-dependabot-prs.yml
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_api_blueprint.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

update root of arena, too, i guess
  .github/dependabot.yml
Due: none

delete human task for task that is being reset to in a process instance w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/task_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

fixed based on some code rabbit suggestions
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_report_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

pyl
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_report_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

added server default to new future_task column so default is actually added to the table schema w/ burnettk
  spiffworkflow-backend/migrations/versions/29b261f5edf4_.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/future_task.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

process instance report refactor (#977)
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_report_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

pyl w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/models/future_task.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

added script to remove duplicate human tasks from the database w/ burnettk
  spiffworkflow-backend/bin/data_migrations/run_all.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

future tasks should not cause anything to happen if the instance is suspended (#952)
  spiffworkflow-backend/migrations/versions/29b261f5edf4_.py
  spiffworkflow-backend/src/spiffworkflow_backend/background_processing/background_processing_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/background_processing/celery_tasks/process_instance_task_producer.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/future_task.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/process_instance.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_background_processing_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

test that human tasks are not duplicated during pi reset w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/services/task_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_process_instance_processor.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Feature/reset pi go button (#978)
  spiffworkflow-backend/bin/data_migrations/run_all.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/task_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_process_instance_processor.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Update schema
  spiffworkflow-backend/migrations/versions/60c13a48d675_.py
Due: check-added-large-files, end-of-file-fixer, pyupgrade

Possible postgres fix
  spiffworkflow-backend/src/spiffworkflow_backend/data_stores/json.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Possible postgres fix
  spiffworkflow-backend/src/spiffworkflow_backend/data_stores/json.py
  spiffworkflow-backend/src/spiffworkflow_backend/data_stores/kkv.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

KKV Revamp (#968)
  spiffworkflow-backend/migrations/versions/60c13a48d675_.py
  spiffworkflow-backend/migrations/versions/6344d90d20fa_.py
  spiffworkflow-backend/src/spiffworkflow_backend/api.yml
  spiffworkflow-backend/src/spiffworkflow_backend/data_stores/crud.py
  spiffworkflow-backend/src/spiffworkflow_backend/data_stores/json.py
  spiffworkflow-backend/src/spiffworkflow_backend/data_stores/kkv.py
  spiffworkflow-backend/src/spiffworkflow_backend/load_database_models.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/kkv_data_store.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/kkv_data_store_entry.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/data_store_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/scripts/create_unique_kkv_top_level_key.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_kkv_data_store.py
  spiffworkflow-frontend/src/components/DataStoreListTable.tsx
  spiffworkflow-frontend/src/components/DataStoreListTiles.tsx
  spiffworkflow-frontend/src/interfaces.ts
  spiffworkflow-frontend/src/routes/DataStoreEdit.tsx
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace
