Repository sartography/spiff-arena: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        # entry: bash -c 'cd spiffworkflow-backend && black'
        entry: black
        language: system
        files: ^spiffworkflow-backend/
        types: [python]
        require_serial: true
        # exclude: ^migrations/
        exclude: "/migrations/"
      - id: check-added-large-files
        files: ^spiffworkflow-backend/
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-toml
        files: ^spiffworkflow-backend/
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-yaml
        files: ^spiffworkflow-backend/
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        files: ^spiffworkflow-backend/
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: flake8
        files: ^spiffworkflow-backend/
        name: flake8
        entry: flake8
        language: system
        types: [python]
        require_serial: true
        exclude: "/migrations/"
      - id: pyupgrade
        files: ^spiffworkflow-backend/
        name: pyupgrade
        description: Automatically upgrade syntax for newer versions.
        entry: pyupgrade
        language: system
        types: [python]
        args: [--py37-plus]
      - id: reorder-python-imports
        files: ^spiffworkflow-backend/
        name: Reorder python imports
        entry: reorder-python-imports
        language: system
        types: [python]
        args: [--application-directories=src]
        exclude: "(/migrations/|load_database_models)"
      - id: trailing-whitespace
        files: ^spiffworkflow-backend/
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
        exclude: "/migrations/"
  # - repo: https://github.com/pre-commit/mirrors-prettier
  #   rev: v2.4.1
  #   hooks:
  #     - id: prettier
  #       files: ^spiffworkflow-backend/
  #       exclude_types: [html]

PR feedback - updated table name
  spiffworkflow-backend/migrations/versions/1b5a9f7af28e_.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/cache_generation.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/feature_flag.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Feature flag support (#787)
  spiffworkflow-backend/migrations/versions/1b5a9f7af28e_.py
  spiffworkflow-backend/src/spiffworkflow_backend/config/default.py
  spiffworkflow-backend/src/spiffworkflow_backend/load_database_models.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/cache_generation.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/feature_flag.py
  spiffworkflow-backend/src/spiffworkflow_backend/scripts/set_feature_flags.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/element_units_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/feature_flag_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_element_units_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_feature_flag_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

created new migration to clean up old migrations
  spiffworkflow-backend/migrations/versions/441dca328887_.py
Due: check-added-large-files, end-of-file-fixer, pyupgrade

upgrade ruff and add a few rules
  spiffworkflow-backend/poetry.lock
  spiffworkflow-backend/pyproject.toml
Due: check-added-large-files, check-toml, end-of-file-fixer, trailing-whitespace

Testing test parametrize
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_feature_flag_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

support amd64 and arm64 images w/ burnettk
  .github/workflows/docker_image_for_main_builds.yml
Due: none

Getting bin_pyl to pass
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_feature_flag_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

use buildx to support multiple platforms for docker images w/ burnettk
  .github/workflows/docker_image_for_main_builds.yml
Due: none

upgrade charset-normalizer in connector demo
  connector-proxy-demo/poetry.lock
Due: none

check that connector-proxy-demo can run when releasing new tags w/ burnettk
  .github/workflows/release_builds.yml
  .github/workflows/tests.yml
  connector-proxy-demo/bin/wait_for_connector_to_be_up
  connector-proxy-demo/poetry.lock
  spiffworkflow-backend/bin/build_and_run_with_docker_compose
  spiffworkflow-backend/bin/wait_for_backend_to_be_up
  spiffworkflow-frontend/.github/workflows/tests.yml
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

also do multi platform on release w/ burnettk
  .github/workflows/release_builds.yml
Due: none

WIP: some initial code for category in data objects
  spiffworkflow-backend/bin/run_local_python_script
  spiffworkflow-backend/src/spiffworkflow_backend/api.yml
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_api_blueprint.py
  spiffworkflow-frontend/package-lock.json
  spiffworkflow-frontend/src/routes/ProcessInstanceShow.tsx
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Test params (#789)
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_feature_flag_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

queue the process instance AFTER unlocking it, do not set celery worker concurrency to 12, log already locked error in celery workers for debugging
  spiffworkflow-backend/bin/start_celery_worker
  spiffworkflow-backend/src/spiffworkflow_backend/background_processing/celery_tasks/process_instance_task.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

attempt to get the data object for the given bpmn process and instance of it w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/api.yml
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_api_blueprint.py
  spiffworkflow-frontend/src/routes/ProcessInstanceShow.tsx
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

updates for data objects
  spiffworkflow-backend/bin/get_bpmn_json_for_process_instance
  spiffworkflow-backend/poetry.lock
  spiffworkflow-backend/pyproject.toml
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_api_blueprint.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/custom_parser.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
  spiffworkflow-frontend/package-lock.json
  spiffworkflow-frontend/src/routes/ProcessInstanceShow.tsx
Due: black, check-added-large-files, check-toml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

fixed tests
  spiffworkflow-backend/src/spiffworkflow_backend/specs/start_event.py
  spiffworkflow-backend/tests/data/data_object_test/data_object.bpmn
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_api.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

upgrade pip for safety
  .github/workflows/constraints.txt
  spiffworkflow-backend/Dockerfile
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

made suggestions by code rabbit and moved logic to get process data file out of shared method since it has a completely different implentation
  spiffworkflow-backend/bin/get_bpmn_json_for_process_instance
  spiffworkflow-backend/src/spiffworkflow_backend/api.yml
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_api_blueprint.py
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

remove commented out code
  spiffworkflow-backend/src/spiffworkflow_backend/services/custom_parser.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

updated SpiffWorkflow for data object category
  spiffworkflow-backend/poetry.lock
  spiffworkflow-backend/pyproject.toml
Due: check-added-large-files, check-toml, end-of-file-fixer, trailing-whitespace

added bpmn template file that will get added when a new process model is created with the api w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_models_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/spec_file_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/templates/bpmn_for_new_process_model.bpmn
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_api.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Numeric range field added
  spiffworkflow-frontend/package-lock.json
  spiffworkflow-frontend/src/components/CustomForm.tsx
  spiffworkflow-frontend/src/index.css
  spiffworkflow-frontend/src/rjsf/custom_widgets/NumericRangeField/NumericRangeField.tsx
Due: none

Numeric range field added (#799)
  spiffworkflow-frontend/package-lock.json
  spiffworkflow-frontend/src/components/CustomForm.tsx
  spiffworkflow-frontend/src/index.css
  spiffworkflow-frontend/src/rjsf/custom_widgets/NumericRangeField/NumericRangeField.tsx
Due: none

autofix lint stuff
  spiffworkflow-frontend/src/components/CustomForm.tsx
  spiffworkflow-frontend/src/rjsf/custom_widgets/NumericRangeField/NumericRangeField.tsx
Due: none

Feature/data object category (#796)
  spiffworkflow-backend/bin/get_bpmn_json_for_process_instance
  spiffworkflow-backend/bin/run_local_python_script
  spiffworkflow-backend/poetry.lock
  spiffworkflow-backend/src/spiffworkflow_backend/api.yml
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_api_blueprint.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/custom_parser.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
  spiffworkflow-backend/src/spiffworkflow_backend/specs/start_event.py
  spiffworkflow-backend/tests/data/data_object_test/data_object.bpmn
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_api.py
  spiffworkflow-frontend/package-lock.json
  spiffworkflow-frontend/src/routes/ProcessInstanceShow.tsx
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace
