Repository sartography/spiff-arena: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-added-large-files, check-toml, check-yaml, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: check-added-large-files
        files: ^spiffworkflow-backend/
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-toml
        files: ^spiffworkflow-backend/
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-yaml
        files: ^spiffworkflow-backend/
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        files: ^spiffworkflow-backend/
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: ruff-check
        args: [check, --fix]
        files: ^spiffworkflow-backend/
        name: ruff
        entry: ruff
        language: system
        types: [python]
        require_serial: true
        # this is also specified in spiffworkflow-backend/pyproject.toml but we run pre-commit
        # with all-files which ignores that
        exclude: "/migrations/"
      - id: ruff-format
        args: [format]
        files: ^spiffworkflow-backend/
        name: ruff
        entry: ruff
        language: system
        types: [python]
        require_serial: true
        # this is also specified in spiffworkflow-backend/pyproject.toml but we run pre-commit
        # with all-files which ignores that
        exclude: "/migrations/"
      - id: trailing-whitespace
        files: ^spiffworkflow-backend/
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
        exclude: "/migrations/"

instead of upgrading just remove the lib as well as some others w/ burnettk
  spiffworkflow-frontend/package-lock.json
  spiffworkflow-frontend/package.json
  spiffworkflow-frontend/src/index.tsx
  spiffworkflow-frontend/src/reportWebVitals.tsx
Due: none

lint w/ burnettk
  spiffworkflow-frontend/src/__tests__/ProcessBreadcrumb.test.tsx
  spiffworkflow-frontend/src/index.tsx
Due: none

execution and set permissions debug
  spiffworkflow-backend/src/spiffworkflow_backend/scripts/refresh_permissions.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/authorization_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

execution and set permissions debug (#2409)
  spiffworkflow-backend/src/spiffworkflow_backend/scripts/refresh_permissions.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/authorization_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

update rtd theme as well w/ burnettk
  docs/requirements.txt
Due: none

add test for reset to error task
  spiffworkflow-backend/tests/data/script_with_error/script_with_error.bpmn
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_process_instance_processor.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

mypy
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_process_instance_processor.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

Feature/allow reset to error tasks (#2410)
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_instances_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/task_service.py
  spiffworkflow-backend/tests/data/script_with_error/script_with_error.bpmn
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_process_instance_processor.py
  spiffworkflow-frontend/src/views/ProcessInstanceShow.tsx
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

model import specs
  PROCESS_MODEL_IMPORT.md
  PROCESS_MODEL_IMPORT_API_DESIGN.md
  PROCESS_MODEL_IMPORT_PHASE1.md
  PROCESS_MODEL_IMPORT_UI_DESIGN.md
  bin/clean_up_sample_process_models
  spiffworkflow-frontend/test/browser/test_process_model_import.py
Due: none

simplify
  PROCESS_MODEL_IMPORT_PHASE1.md
  spiffworkflow-backend/src/spiffworkflow_backend/api.yml
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_model_import_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_model_import_service.py
  spiffworkflow-frontend/test/browser/test_process_model_import.py
Due: check-added-large-files, check-yaml, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

impl
  spiffworkflow-backend/src/spiffworkflow_backend/api.yml.addition
  spiffworkflow-frontend/src/components/ProcessModelImportButton.tsx
  spiffworkflow-frontend/src/components/ProcessModelImportDialog.tsx
  spiffworkflow-frontend/src/views/StartProcess/ProcessModelTreePage.tsx
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

debug
  spiffworkflow-frontend/.gitignore
  spiffworkflow-frontend/test/browser/debug_process_model_list.py
  spiffworkflow-frontend/test/browser/test_process_model_import.py
Due: none

update spec
  PROCESS_MODEL_IMPORT_PHASE1.md
  spiffworkflow-frontend/PROCESS_MODEL_IMPORT.md
  spiffworkflow-frontend/src/views/ProcessModelNew.tsx
  spiffworkflow-frontend/test/browser/test_process_model_import.py
Due: none

wip
  spiffworkflow-frontend/src/components/ProcessModelImportButton.tsx
  spiffworkflow-frontend/src/components/ProcessModelImportDialog.tsx
  spiffworkflow-frontend/src/views/ProcessModelNew.tsx
  spiffworkflow-frontend/src/views/StartProcess/ProcessModelTreePage.tsx
  spiffworkflow-frontend/test/browser/test_process_model_import.py
Due: none

wip
  spiffworkflow-backend/src/spiffworkflow_backend/api.yml
  spiffworkflow-backend/src/spiffworkflow_backend/api.yml.addition
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_model_import_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_models_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_model_import_service.py
  spiffworkflow-frontend/src/components/ProcessModelImportDialog.tsx
  spiffworkflow-frontend/src/views/StartProcess/ProcessModelTreePage.tsx
Due: check-added-large-files, check-yaml, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

wip
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_model_import_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_model_import_service.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

test
  spiffworkflow-frontend/test/browser/test_process_model_import.py
Due: none

wip
  spiffworkflow-backend/src/spiffworkflow_backend/api.yml.addition
  spiffworkflow-frontend/src/components/ProcessModelImportDialog.tsx
  spiffworkflow-frontend/src/views/StartProcess/ProcessModelTreePage.tsx
  spiffworkflow-frontend/test/browser/test_process_model_import.py
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

new backend test
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_model_import_controller.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

tests
  bin/run_pyl
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_model_import_controller.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_model_import_controller.py
  spiffworkflow-frontend/src/components/ProcessModelImportDialog.tsx
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

tests
  spiffworkflow-backend/src/spiffworkflow_backend/api.yml
  spiffworkflow-backend/src/spiffworkflow_backend/api.yml.addition
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_model_import_controller.py
Due: check-added-large-files, check-yaml, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

precise
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_model_import_controller.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_model_import_controller.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

wip
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_model_import_controller.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_model_import_controller.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

edge
  PROCESS_MODEL_IMPORT.md
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_model_import_controller.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

not needed
  spiffworkflow-frontend/src/views/StartProcess/ProcessModelTreePage.tsx
Due: none

lint
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_model_import_controller.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

some updates for data store docs w/ burnettk
  docs/reference/bpmn/data_stores.md
Due: none

minor tweak w/ burnettk
  docs/reference/bpmn/data_stores.md
Due: none

added json data store example and cleaned up images w/ burnettk
  docs/images/DataStore_JSON_File_Output.png
  docs/images/JSON_File_Data_Store_1.png
  docs/images/JSON_data_store.png
  docs/images/JSON_data_store_output.png
  docs/images/JSON_file_data_store.png
  docs/reference/bpmn/data_stores.md
Due: none

unique process ids
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_model_import_service.py
  spiffworkflow-frontend/test/browser/test_process_model_import.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

lint
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_model_import_service.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

image ref
  docs/reference/bpmn/data_stores.md
Due: none

add myst references
  docs/reference/bpmn/data_stores.md
Due: none

bump req
  docs/requirements.txt
Due: none

Fix data store docs (#2413)
  docs/images/DataStore_JSON_File_Output.png
  docs/images/JSON_File_Data_Store_1.png
  docs/images/JSON_data_store.png
  docs/images/JSON_data_store_output.png
  docs/images/JSON_file_data_store.png
  docs/reference/bpmn/data_stores.md
  docs/requirements.txt
Due: none

connexion
  PROCESS_MODEL_IMPORT.md
  PROCESS_MODEL_IMPORT_API_DESIGN.md
  PROCESS_MODEL_IMPORT_PHASE1.md
  PROCESS_MODEL_IMPORT_UI_DESIGN.md
  bin/clean_up_sample_process_models
  spiffworkflow-backend/src/spiffworkflow_backend/api.yml.addition
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_model_import_controller.py
  spiffworkflow-frontend/PROCESS_MODEL_IMPORT.md
  spiffworkflow-frontend/src/views/StartProcess/ProcessModelTreePage.tsx
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

duplicate def
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_models_controller.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

nodup
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_model_import_service.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace
