Repository sartography/spiff-arena: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-added-large-files, check-toml, check-yaml, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: check-added-large-files
        files: ^spiffworkflow-backend/
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-toml
        files: ^spiffworkflow-backend/
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-yaml
        files: ^spiffworkflow-backend/
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        files: ^spiffworkflow-backend/
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: ruff-check
        args: [check, --fix]
        files: ^spiffworkflow-backend/
        name: ruff
        entry: ruff
        language: system
        types: [python]
        require_serial: true
        # this is also specified in spiffworkflow-backend/pyproject.toml but we run pre-commit
        # with all-files which ignores that
        exclude: "/migrations/"
      - id: ruff-format
        args: [format]
        files: ^spiffworkflow-backend/
        name: ruff
        entry: ruff
        language: system
        types: [python]
        require_serial: true
        # this is also specified in spiffworkflow-backend/pyproject.toml but we run pre-commit
        # with all-files which ignores that
        exclude: "/migrations/"
      - id: trailing-whitespace
        files: ^spiffworkflow-backend/
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
        exclude: "/migrations/"

update data migrations and remove old processor completely w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/constants.py
  spiffworkflow-backend/src/spiffworkflow_backend/data_migrations/version_2.py
  spiffworkflow-backend/src/spiffworkflow_backend/data_migrations/version_4.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

code rabbit w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/routes/tasks_controller.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

missed the bin files w/ burnettk
  spiffworkflow-backend/bin/get_bpmn_json_for_process_instance.py
  spiffworkflow-backend/bin/import_process_instance_from_bpmn_json.py
  spiffworkflow-backend/bin/import_tickets_for_command_line.py
  spiffworkflow-backend/bin/multiinstance_performance.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

more code rabbit w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_persistence_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_process_instance_runtime.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

more code rabbit w/ burnettk
  spiffworkflow-backend/tests/spiffworkflow_backend/scripts/test_refresh_permissions.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_process_instance_runtime.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

last code rabbit w/ burnettk
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_process_instance_runtime.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_process_instance_service.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

update the save report align with quick filters w/ burnettk
  spiffworkflow-frontend/src/components/ProcessInstanceReportSearch.tsx
Due: none

update the save report align with quick filters (#2885)
  spiffworkflow-frontend/src/components/ProcessInstanceReportSearch.tsx
Due: none

try to fix failing mysql flaky test w/ burnettk
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_process_instance_service.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

spec
  screenshots/1.png
  screenshots/absolute_date_or_range.png
  screenshots/absolute_date_or_range_seleected.png
  screenshots/typeahead.png
  spec.md
Due: none

spec
  spec.md
Due: none

note
  spec.md
Due: none

revert config w/ burnettk
  spiffworkflow-frontend/src/config.tsx
Due: none

unused config w/ jasquat
  spiffworkflow-backend/src/spiffworkflow_backend/config/default.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

Filestore (#2859)
  spiffworkflow-backend/bin/bootstrap.py
  spiffworkflow-backend/bin/local_development_environment_setup
  spiffworkflow-backend/bin/recreate_db
  spiffworkflow-backend/src/spiffworkflow_backend/api.yml
  spiffworkflow-backend/src/spiffworkflow_backend/background_processing/apscheduler.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_models_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/authentication_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/authorization_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/logging_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_model_import_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_authentication.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_model_import_controller.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_webhooks_controller.py
Due: check-added-large-files, check-yaml, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

potential fix and a load test w/ burnettk
  spiffworkflow-backend/bin/load_tests/README.md
  spiffworkflow-backend/bin/load_tests/process_definition_relationship_race.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/bpmn_process_definition_relationship.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/bpmn_process_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/utils/db_utils.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_bpmn_process_definition_persistence.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

use external backend w/ burnettk
  spiffworkflow-backend/bin/load_tests/README.md
  spiffworkflow-backend/bin/load_tests/process_definition_relationship_race.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

analytics runs at 8000 w/ burnettk
  spiffworkflow-backend/bin/load_tests/process_definition_relationship_race.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

change port back w/ burnettk
  spiffworkflow-backend/bin/load_tests/process_definition_relationship_race.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

updated script w/ burnettk
  spiffworkflow-backend/bin/load_tests/process_definition_relationship_race.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

second race w/ jasquat
  spiffworkflow-backend/src/spiffworkflow_backend/models/bpmn_process_definition.py
  spiffworkflow-backend/src/spiffworkflow_backend/utils/db_utils.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_bpmn_process_definition_persistence.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

move other load tests to load test area w/ jasquat
  spiffworkflow-backend/bin/load_tests/README.md
  spiffworkflow-backend/bin/load_tests/task_submission/README.md
  spiffworkflow-backend/bin/load_tests/task_submission/parallel-task.bpmn
  spiffworkflow-backend/bin/load_tests/task_submission/parallel_tasks.js
  spiffworkflow-backend/bin/load_tests/task_submission/run_parallel_tasks_test.sh
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

tighter test
  spiffworkflow-backend/bin/load_tests/README.md
  spiffworkflow-backend/bin/load_tests/concurrent_message_starts.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

update task_submission load test to be more like other
  spiffworkflow-backend/bin/load_tests/README.md
  spiffworkflow-backend/bin/load_tests/task_submission/README.md
  spiffworkflow-backend/bin/load_tests/task_submission/parallel_tasks.js
  spiffworkflow-backend/bin/load_tests/task_submission/run_parallel_tasks_test.sh
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

unique message names
  spiffworkflow-backend/bin/load_tests/task_submission/README.md
  spiffworkflow-backend/bin/load_tests/task_submission/parallel_tasks.js
  spiffworkflow-backend/bin/load_tests/task_submission/run_parallel_tasks_test.sh
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

safe json serialization
  spiffworkflow-backend/src/spiffworkflow_backend/models/json_data.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/task_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_json_data.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

move unsaved changes message to a spot next to Save button
  spiffworkflow-frontend/packages/bpmn-js-spiffworkflow-react/src/components/DiagramActionBar.tsx
  spiffworkflow-frontend/src/components/ReactDiagramEditor.tsx
  spiffworkflow-frontend/src/views/ProcessModelEditDiagram.tsx
Due: none

fit
  spiffworkflow-frontend/packages/bpmn-js-spiffworkflow-react/src/components/DiagramActionBar.tsx
Due: none

perms
  spiffworkflow-frontend/packages/bpmn-js-spiffworkflow-react/src/components/DiagramActionBar.tsx
Due: none

Move message about unsaved changes next to save button (#2888)
  spiffworkflow-frontend/packages/bpmn-js-spiffworkflow-react/src/components/DiagramActionBar.tsx
  spiffworkflow-frontend/src/components/ReactDiagramEditor.tsx
  spiffworkflow-frontend/src/views/ProcessModelEditDiagram.tsx
Due: none

fail fast
  spiffworkflow-backend/src/spiffworkflow_backend/models/json_data.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_json_data.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

safe json serialization for objects with mixed-type keys (#2887)
  spiffworkflow-backend/src/spiffworkflow_backend/models/json_data.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/task_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_json_data.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

only look for fat process instances within a window of recent instances
  spiffworkflow-backend/src/spiffworkflow_backend/api.yml
  spiffworkflow-backend/src/spiffworkflow_backend/routes/debug_controller.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_debug_controller.py
Due: check-added-large-files, check-yaml, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

mypy
  spiffworkflow-backend/src/spiffworkflow_backend/routes/debug_controller.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

use configured sample rate
  spiffworkflow-backend/src/spiffworkflow_backend/services/monitoring_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_monitoring_service.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

use sentry asgi middleware, respect sample rate, upgrades
  spiffworkflow-backend/bin/boot_server_in_docker
  spiffworkflow-backend/bin/run_server_locally
  spiffworkflow-backend/spiff_web_server.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/monitoring_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_monitoring_service.py
  spiffworkflow-backend/uv.lock
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

remove sentry stuff
  spiffworkflow-backend/src/spiffworkflow_backend/services/monitoring_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_monitoring_service.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

just do not display stats if no access
  spiffworkflow-frontend/src/components/processGroupTree/useProcessGroupTree.ts
  spiffworkflow-frontend/src/views/StartProcess/ProcessModelTreePage.tsx
Due: none
