Repository sartography/spiff-arena: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

black:
  name: black
  entry: black
  language: system
  require_serial: true

check-added-large-files:
  name: Check for added large files
  entry: check-added-large-files
  language: system

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

end-of-file-fixer:
  name: Fix End of Files
  entry: end-of-file-fixer
  language: system
  stages:
  - commit
  - push
  - manual

flake8:
  name: flake8
  entry: flake8
  language: system
  require_serial: true

pyupgrade:
  name: pyupgrade
  description: Automatically upgrade syntax for newer versions.
  entry: pyupgrade
  language: system
  args:
  - --py37-plus

reorder-python-imports:
  name: Reorder python imports
  entry: reorder-python-imports
  language: system
  args:
  - --application-directories=src

trailing-whitespace:
  name: Trim Trailing Whitespace
  entry: trailing-whitespace-fixer
  language: system
  stages:
  - commit
  - push
  - manual

clear advanced filter options as well
  spiffworkflow-frontend/src/components/ProcessInstanceListTable.tsx
Due: none

Plumbing for the spec loader
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/workflow_execution_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

added script to demonstrate how to use message start events w/ burnettk
  spiffworkflow-backend/bin/run_message_start_event_with_api
  spiffworkflow-backend/src/spiffworkflow_backend/routes/messages_controller.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

removed commented out variables w/ burnettk
  spiffworkflow-backend/bin/run_message_start_event_with_api
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

run_pyl
  spiffworkflow-backend/src/spiffworkflow_backend/config/__init__.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/process_instance.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_process_instance_processor.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

added ability to display users showing on the process model edit diagram page w/ burnettk
  spiffworkflow-backend/migrations/versions/a41f08815751_.py
  spiffworkflow-backend/src/spiffworkflow_backend/api.yml
  spiffworkflow-backend/src/spiffworkflow_backend/load_database_models.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/active_user.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/active_users_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/health_controller.py
  spiffworkflow-frontend/src/index.css
  spiffworkflow-frontend/src/routes/ProcessModelEditDiagram.tsx
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Ugly but wrestling with it all
  spiffworkflow-backend/src/spiffworkflow_backend/routes/tasks_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/workflow_execution_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Load 'em up
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Getting bin_pyl to pass
  spiffworkflow-backend/src/spiffworkflow_backend/services/element_units_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/workflow_execution_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_element_units_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Clean up
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/workflow_execution_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Bump to latest release
  spiffworkflow-backend/poetry.lock
  spiffworkflow-backend/pyproject.toml
Due: check-added-large-files, check-toml, end-of-file-fixer, trailing-whitespace

Getting bin_pyl to pass
  spiffworkflow-backend/src/spiffworkflow_backend/services/element_units_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

allow adding waiting_for and task_title columns in instance list page
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_instances_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_report_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

do not raise errors if a process cannot be found in the spec reference cache when trying to get a task trace for an error
  spiffworkflow-backend/src/spiffworkflow_backend/config/__init__.py
  spiffworkflow-backend/src/spiffworkflow_backend/exceptions/api_error.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/process_instance.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/task_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_for_good_errors.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

adding permissions for send-event
  spiffworkflow-backend/src/spiffworkflow_backend/services/authorization_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_authorization_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

added endpoint for send-signal-event for users so we can handle permissions more easily w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/api.yml
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_api_blueprint.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_instances_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/authorization_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_authorization_service.py
  spiffworkflow-frontend/src/routes/ProcessInstanceShow.tsx
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

pyl w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_api_blueprint.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_instances_controller.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

cleaned up displaying active users in frontend w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/models/active_user.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/active_users_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/health_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/logging_service.py
  spiffworkflow-frontend/src/components/ReactDiagramEditor.tsx
  spiffworkflow-frontend/src/index.css
  spiffworkflow-frontend/src/routes/ProcessModelEditDiagram.tsx
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

fixed test w/ burnettk
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_api.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

updated active user db model w/ burnettk
  spiffworkflow-backend/migrations/versions/6aa02463da9c_.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/active_user.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/active_users_controller.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Integrate spiff-element-units 0.3.0 for (some) lazy call activities (#239)
  spiffworkflow-backend/poetry.lock
  spiffworkflow-backend/pyproject.toml
  spiffworkflow-backend/src/spiffworkflow_backend/routes/tasks_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/element_units_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/workflow_execution_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_element_units_service.py
Due: black, check-added-large-files, check-toml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

added config to specify the absolute path to a permissions yaml file so a different one can be set outside of the app repo w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/config/__init__.py
  spiffworkflow-backend/src/spiffworkflow_backend/config/default.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/openid_blueprint/openid_blueprint.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/authorization_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

poll the backend for active users instead of keeping the connection open so it does not hang on a process w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/routes/active_users_controller.py
  spiffworkflow-frontend/src/helpers.tsx
  spiffworkflow-frontend/src/routes/ProcessModelEditDiagram.tsx
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

call correct send signal event from task show page w/ burnettk
  spiffworkflow-frontend/src/routes/TaskShow.tsx
Due: none

Path conditions:
  black: any of: ^spiffworkflow-backend/ and \.py$ and not (/migrations/)
  check-added-large-files: any of: ^spiffworkflow-backend/
  check-toml: any of: ^spiffworkflow-backend/ and \.toml$
  check-yaml: any of: ^spiffworkflow-backend/ and \.(yaml|yml)$
  end-of-file-fixer: any of: ^spiffworkflow-backend/
  flake8: any of: ^spiffworkflow-backend/ and \.py$ and not (/migrations/)
  pyupgrade: any of: ^spiffworkflow-backend/ and \.py$
  reorder-python-imports: any of: ^spiffworkflow-backend/ and \.py$ and not ((/migrations/|load_database_models))
  trailing-whitespace: any of: ^spiffworkflow-backend/, but not: /migrations/
