Repository sartography/spiff-arena: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

black:
  name: black
  entry: black
  language: system
  require_serial: true

check-added-large-files:
  name: Check for added large files
  entry: check-added-large-files
  language: system

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

end-of-file-fixer:
  name: Fix End of Files
  entry: end-of-file-fixer
  language: system
  stages:
  - commit
  - push
  - manual

flake8:
  name: flake8
  entry: flake8
  language: system
  require_serial: true

pyupgrade:
  name: pyupgrade
  description: Automatically upgrade syntax for newer versions.
  entry: pyupgrade
  language: system
  args:
  - --py37-plus

reorder-python-imports:
  name: Reorder python imports
  entry: reorder-python-imports
  language: system
  args:
  - --application-directories=src

trailing-whitespace:
  name: Trim Trailing Whitespace
  entry: trailing-whitespace-fixer
  language: system
  stages:
  - commit
  - push
  - manual

some attempts to not change the process instance status w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/models/process_instance.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/tasks_controller.py
  spiffworkflow-frontend/src/interfaces.ts
  spiffworkflow-frontend/src/routes/ProcessInterstitial.tsx
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

set the returned file as the new file when saving a process model file so we get the new contents hash w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_models_controller.py
  spiffworkflow-frontend/src/routes/ProcessModelEditDiagram.tsx
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

fix editing json
  spiffworkflow-frontend/src/routes/ReactFormEditor.tsx
Due: none

added active-users endpoint to basic permissions
  spiffworkflow-backend/src/spiffworkflow_backend/services/authorization_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_authorization_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

made activeuser component which can be used wherever and only use it if the user can save the file on the form and diagram edit pages
  spiffworkflow-frontend/src/components/ActiveUsers.tsx
  spiffworkflow-frontend/src/components/ReactDiagramEditor.tsx
  spiffworkflow-frontend/src/routes/ProcessModelEditDiagram.tsx
  spiffworkflow-frontend/src/routes/ReactFormEditor.tsx
Due: none

do not perform any tasks if instance is suspended from the interstitial page w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/routes/tasks_controller.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_api.py
  spiffworkflow-frontend/src/routes/ProcessInterstitial.tsx
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

added permissions file for demo site w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/config/permissions/demo.yml
Due: check-added-large-files, check-yaml, end-of-file-fixer, trailing-whitespace

check permissions on process group and model list api endpoints w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/config/permissions/demo.yml
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_groups_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_models_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/authorization_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_model_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_authorization_service.py
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

check if user has access to full process models or groups before checking each one w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_model_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

make logs less chatty and support new localopenid convenience arg when booting backend locally
  spiffworkflow-backend/bin/run_server_locally
  spiffworkflow-backend/src/spiffworkflow_backend/config/default.py
  spiffworkflow-backend/src/spiffworkflow_backend/config/permissions/demo.yml
  spiffworkflow-backend/src/spiffworkflow_backend/services/logging_service.py
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Updates related to the changes in the Cancel button and things around that.
  spiffworkflow-frontend/cypress/pilot/NDR_PP1/consultingfees.cy.js
  spiffworkflow-frontend/cypress/pilot/NDR_PP1/equipment.cy.js
  spiffworkflow-frontend/cypress/pilot/NDR_PP1/initiaterequest.cy.js
  spiffworkflow-frontend/cypress/pilot/NDR_PP1/learninganddev.cy.js
  spiffworkflow-frontend/cypress/pilot/NDR_PP1/otherfees.cy.js
  spiffworkflow-frontend/cypress/pilot/NDR_PP1/softwarelicense.cy.js
Due: none

added tests to make sure users can only list process models and groups that they have access to
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_api.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

pyl
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_api.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

pyl and i am not sure how mypy missed that one typing issue
  spiffworkflow-backend/src/spiffworkflow_backend/routes/tasks_controller.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_api.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

use a better var name to check perms against w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_model_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

listen on all interfaces w/ jasquat
  spiffworkflow-backend/bin/run_server_locally
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

fix configuration page on safari w/ jasquat
  spiffworkflow-frontend/src/routes/Configuration.tsx
Due: none

avoid percentage widths, which appear to not do what we want in safari w/ jasquat
  spiffworkflow-frontend/src/index.css
Due: none

make all browsers act the same way on our site w/ jasquat
  spiffworkflow-frontend/src/themes/carbon/SelectWidget/SelectWidget.tsx
Due: none

Revert "make all browsers act the same way on our site w/ jasquat"
  spiffworkflow-frontend/src/themes/carbon/SelectWidget/SelectWidget.tsx
Due: none

Path conditions:
  black: any of: ^spiffworkflow-backend/ and \.py$ and not (/migrations/)
  check-added-large-files: any of: ^spiffworkflow-backend/
  check-toml: any of: ^spiffworkflow-backend/ and \.toml$
  check-yaml: any of: ^spiffworkflow-backend/ and \.(yaml|yml)$
  end-of-file-fixer: any of: ^spiffworkflow-backend/
  flake8: any of: ^spiffworkflow-backend/ and \.py$ and not (/migrations/)
  pyupgrade: any of: ^spiffworkflow-backend/ and \.py$
  reorder-python-imports: any of: ^spiffworkflow-backend/ and \.py$ and not ((/migrations/|load_database_models))
  trailing-whitespace: any of: ^spiffworkflow-backend/, but not: /migrations/
