Repository sartography/spiff-arena: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-added-large-files, check-toml, check-yaml, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: check-added-large-files
        files: ^spiffworkflow-backend/
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-toml
        files: ^spiffworkflow-backend/
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-yaml
        files: ^spiffworkflow-backend/
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        files: ^spiffworkflow-backend/
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: ruff-check
        args: [check, --fix]
        files: ^spiffworkflow-backend/
        name: ruff
        entry: ruff
        language: system
        types: [python]
        require_serial: true
        # this is also specified in spiffworkflow-backend/pyproject.toml but we run pre-commit
        # with all-files which ignores that
        exclude: "/migrations/"
      - id: ruff-format
        args: [format]
        files: ^spiffworkflow-backend/
        name: ruff
        entry: ruff
        language: system
        types: [python]
        require_serial: true
        # this is also specified in spiffworkflow-backend/pyproject.toml but we run pre-commit
        # with all-files which ignores that
        exclude: "/migrations/"
      - id: trailing-whitespace
        files: ^spiffworkflow-backend/
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
        exclude: "/migrations/"

Allow refresh token to be rotated and allow option to enable PKCE
  spiffworkflow-backend/src/spiffworkflow_backend/config/default.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/authentication_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/authentication_service.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

Update spiffworkflow-backend/src/spiffworkflow_backend/services/authentication_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/authentication_service.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

address code review
  spiffworkflow-backend/src/spiffworkflow_backend/services/authentication_service.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

extract operation from openapi w/ jasquat
  spiffworkflow-backend/extract_operation_info.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

most things are not actually workflows w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/api.yml
Due: check-added-large-files, check-yaml, end-of-file-fixer, trailing-whitespace

extract
  spiffworkflow-backend/extract_operation_info.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

wip
  spiffworkflow-backend/bin/test_bootstrap
  spiffworkflow-backend/src/spiffworkflow_backend/connectors/http_connector.py
  spiffworkflow-backend/tests/data/providers/bootstrap_provider.py
  spiffworkflow-backend/tests/integration/test_bootstrap.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

use connexion test client
  spiffworkflow-backend/src/spiffworkflow_backend/__init__.py
  spiffworkflow-backend/src/spiffworkflow_backend/connectors/http_connector.py
  spiffworkflow-backend/src/spiffworkflow_backend/testing/local_test_client.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

clean up
  spiffworkflow-backend/conftest.py
  spiffworkflow-backend/tests/data/providers/__init__.py
  spiffworkflow-backend/tests/data/providers/bootstrap_provider.py
  spiffworkflow-backend/tests/integration/test_bootstrap.py
  spiffworkflow-frontend/package-lock.json
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

clean up
  spiffworkflow-backend/src/spiffworkflow_backend/scripts/script.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

clean up
  spiffworkflow-backend/tests/__init__.py
  spiffworkflow-backend/tests/data/__init__.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

remove local test client
  spiffworkflow-backend/src/spiffworkflow_backend/connectors/http_connector.py
  spiffworkflow-backend/src/spiffworkflow_backend/testing/local_test_client.py
  spiffworkflow-backend/uv.lock
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

lint
  spiffworkflow-backend/src/spiffworkflow_backend/connectors/http_connector.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

revert to like main
  spiffworkflow-backend/uv.lock
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

i guess upgrade whatever
  spiffworkflow-backend/uv.lock
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

clean up
  spiffworkflow-backend/src/spiffworkflow_backend/connectors/http_connector.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

clean up
  spiffworkflow-backend/src/spiffworkflow_backend/__init__.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

fix line too long
  spiffworkflow-backend/src/spiffworkflow_backend/services/authentication_service.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

Send error line information, add jsonschema dependency
  pyproject.toml
  spiff-arena-common/pyproject.toml
  spiff-arena-common/src/spiff_arena_common/runner.py
  spiff-arena-common/tests/spiff_arena_common/test_script_error.py
  uv.lock
Due: none

handle post requests and auth w/ jasquat
  spiffworkflow-backend/src/spiffworkflow_backend/connectors/http_connector.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

hit local backend api when no server running (#2622)
  spiffworkflow-backend/bin/test_bootstrap
  spiffworkflow-backend/src/spiffworkflow_backend/connectors/http_connector.py
  spiffworkflow-backend/uv.lock
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

Send error line information, add jsonschema dependency (#2623)
  pyproject.toml
  spiff-arena-common/pyproject.toml
  spiff-arena-common/src/spiff_arena_common/runner.py
  spiff-arena-common/tests/spiff_arena_common/test_script_error.py
  uv.lock
Due: none

document configuring openid provider w/ jasquat
  docs/how_to_guides/deployment/configure_openid_provider.md
  docs/how_to_guides/deployment/index.md
Due: none

document configuring openid provider w/ jasquat (#2624)
  docs/how_to_guides/deployment/configure_openid_provider.md
  docs/how_to_guides/deployment/index.md
Due: none

initial upgrade to rjsf 6 w/ burnettk
  spiffworkflow-backend/bin/test_bootstrap
  spiffworkflow-frontend/package-lock.json
  spiffworkflow-frontend/package.json
  spiffworkflow-frontend/src/components/ProcessInstanceListTable.tsx
  spiffworkflow-frontend/src/components/ProcessModelForm.tsx
  spiffworkflow-frontend/src/views/ProcessModelEditDiagram.tsx
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

step 1 of updating Grid w/ burnettk
  spiffworkflow-frontend/src/components/Filters.tsx
  spiffworkflow-frontend/src/components/ProcessInstanceListTable.tsx
  spiffworkflow-frontend/src/components/ProcessInstanceLogList.tsx
  spiffworkflow-frontend/src/components/ProcessInstanceReportSearch.tsx
  spiffworkflow-frontend/src/components/ProcessModelForm.tsx
  spiffworkflow-frontend/src/components/ProcessModelTabs.tsx
  spiffworkflow-frontend/src/components/TaskCard.tsx
  spiffworkflow-frontend/src/rjsf/custom_templates/ObjectFieldTemplate.tsx
  spiffworkflow-frontend/src/views/Login.tsx
  spiffworkflow-frontend/src/views/ProcessInstanceShow.tsx
  spiffworkflow-frontend/src/views/public/PublicForm.tsx
Due: none

finished updating Grid usage w/ burnettk
  spiffworkflow-frontend/src/components/Filters.tsx
  spiffworkflow-frontend/src/components/ProcessInstanceListTable.tsx
  spiffworkflow-frontend/src/components/ProcessInstanceLogList.tsx
  spiffworkflow-frontend/src/components/ProcessInstanceReportSearch.tsx
  spiffworkflow-frontend/src/components/ProcessModelForm.tsx
  spiffworkflow-frontend/src/components/ProcessModelTabs.tsx
  spiffworkflow-frontend/src/components/ReactFormBuilder/ReactFormBuilder.tsx
  spiffworkflow-frontend/src/components/TaskCard.tsx
  spiffworkflow-frontend/src/components/TaskTable.tsx
  spiffworkflow-frontend/src/rjsf/custom_templates/ObjectFieldTemplate.tsx
  spiffworkflow-frontend/src/views/Login.tsx
  spiffworkflow-frontend/src/views/ProcessInstanceShow.tsx
  spiffworkflow-frontend/src/views/ProcessModelEditDiagram.tsx
  spiffworkflow-frontend/src/views/public/PublicForm.tsx
Due: none

format w/ burnettk
  spiffworkflow-frontend/package.json
  spiffworkflow-frontend/src/components/Filters.tsx
Due: none

update usage of onChange w/ burnettk
  spiffworkflow-frontend/src/rjsf/custom_widgets/NumericRangeField/NumericRangeField.tsx
Due: none

more lint w/ burnettk
  spiffworkflow-frontend/package-lock.json
  spiffworkflow-frontend/package.json
  spiffworkflow-frontend/src/components/ProcessModelTabs.tsx
Due: none

lint w/ burnettk
  spiffworkflow-frontend/src/rjsf/custom_templates/ObjectFieldTemplate.tsx
Due: none

minor tweak w/ burnettk
  spiffworkflow-frontend/src/rjsf/custom_widgets/NumericRangeField/NumericRangeField.tsx
Due: none

bpmn js changed ever so slightly and our tests caught it w/ jasquat
  spiffworkflow-frontend/test/browser/process_instances/test_can_create_and_modify.py
  spiffworkflow-frontend/test/browser/process_models/test_can_create_new_bpmn_dmn_json_files.py
Due: none

try to fix weird error we are seeing in dev
  spiffworkflow-backend/src/spiffworkflow_backend/services/monitoring_service.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

forgot to generate migration file
  spiffworkflow-backend/migrations/versions/bbc242f01974_.py
Due: check-added-large-files, end-of-file-fixer

Revert changes to deprecated login_api_return endpoint, remove logs, update pkce_code_verifier docs
  .github/workflows/build_docker_images.yml
  spiffworkflow-backend/src/spiffworkflow_backend/models/pkce_code_verifier.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/authentication_controller.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

remove white-space from autoformatter
  .github/workflows/build_docker_images.yml
Due: none
