Repository sartography/spiff-arena: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-added-large-files, check-toml, check-yaml, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: check-added-large-files
        files: ^spiffworkflow-backend/
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-toml
        files: ^spiffworkflow-backend/
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-yaml
        files: ^spiffworkflow-backend/
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        files: ^spiffworkflow-backend/
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: ruff-check
        args: [check, --fix]
        files: ^spiffworkflow-backend/
        name: ruff
        entry: ruff
        language: system
        types: [python]
        require_serial: true
        # this is also specified in spiffworkflow-backend/pyproject.toml but we run pre-commit
        # with all-files which ignores that
        exclude: "/migrations/"
      - id: ruff-format
        args: [format]
        files: ^spiffworkflow-backend/
        name: ruff
        entry: ruff
        language: system
        types: [python]
        require_serial: true
        # this is also specified in spiffworkflow-backend/pyproject.toml but we run pre-commit
        # with all-files which ignores that
        exclude: "/migrations/"
      - id: trailing-whitespace
        files: ^spiffworkflow-backend/
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
        exclude: "/migrations/"

Support Gzip'd workflow state (#2749)
  spiff-arena-common/pyproject.toml
  spiff-arena-common/src/spiff_arena_common/runner.py
  uv.lock
Due: none

minor fix
  spiffworkflow-backend/src/spiffworkflow_backend/services/service_task_service.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

wip
  spiff-arena-common/pyproject.toml
  spiff-arena-common/src/spiff_arena_common/runner.py
Due: none

wip
  spiff-arena-common/src/spiff_arena_common/runner.py
  uv.lock
Due: none

wip
  spiff-arena-common/src/spiff_arena_common/runner.py
Due: none

remove codemod w/ burnettk
  spiffworkflow-backend/bin/codemod/rewrite_public_api_v1_url_helper.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

Api path prefix confusion (#2750)
  spiffworkflow-backend/src/spiffworkflow_backend/helpers/api_version.py
  spiffworkflow-backend/src/spiffworkflow_backend/helpers/public_api_urls.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/service_tasks_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/scripts/markdown_file_download_link.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/authentication_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/service_task_delegate.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/service_task_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_authentication.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_long_running_services.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_public_api_urls.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

~75% Faster Hot Loop (#2752)
  spiff-arena-common/pyproject.toml
  spiff-arena-common/src/spiff_arena_common/runner.py
  uv.lock
Due: none

prevents info logs from being 'double wrapped' and mislabeled as err
  connector-proxy-demo/bin/boot_server_in_docker
Due: none

transactional w/ jasquat
  spiffworkflow-backend/src/spiffworkflow_backend/api.yml
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_groups_controller.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_groups_controller.py
  spiffworkflow-frontend/src/components/messages/MessageEditor.test.tsx
  spiffworkflow-frontend/src/components/messages/MessageEditor.tsx
  spiffworkflow-frontend/src/components/messages/MessageModelList.test.tsx
  spiffworkflow-frontend/src/components/messages/MessageModelList.tsx
  spiffworkflow-frontend/src/locales/cs_cz/translation.json
  spiffworkflow-frontend/src/locales/de/translation.json
  spiffworkflow-frontend/src/locales/en_us/translation.json
  spiffworkflow-frontend/src/locales/es/translation.json
  spiffworkflow-frontend/src/locales/fi/translation.json
  spiffworkflow-frontend/src/locales/fr_fr/translation.json
  spiffworkflow-frontend/src/locales/pt_br/translation.json
  spiffworkflow-frontend/src/locales/pt_pt/translation.json
  spiffworkflow-frontend/src/locales/zh_cn/translation.json
  spiffworkflow-frontend/src/views/MessageListPage.test.tsx
  spiffworkflow-frontend/src/views/MessageListPage.tsx
  spiffworkflow-frontend/test/diagram_edit_acceptance/config.py
  spiffworkflow-frontend/test/diagram_edit_acceptance/helpers.py
  spiffworkflow-frontend/test/diagram_edit_acceptance/test_message_start_event_editor.py
Due: check-added-large-files, check-yaml, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

open message editor in new tab
  spiffworkflow-frontend/src/views/ProcessModelEditDiagram.tsx
Due: none

fix buttons
  spiffworkflow-frontend/src/components/messages/MessageModelList.tsx
Due: none

move code out of controller w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_groups_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/message_definition_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_groups_controller.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_message_definition_service.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

more refactor w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/services/message_definition_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_model_service.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

Don't recompute lazy_loads
  spiff-arena-common/pyproject.toml
  spiff-arena-common/src/spiff_arena_common/runner.py
  uv.lock
Due: none

do not import items not used w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_model_service.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

Don't recompute lazy_loads (#2753)
  spiff-arena-common/pyproject.toml
  spiff-arena-common/src/spiff_arena_common/runner.py
  uv.lock
Due: none

move code around w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_groups_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/message_definition_service.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

reduce code w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_groups_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/message_definition_service.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

reorder message tabs and remove params when closing the modal
  spiffworkflow-frontend/src/components/messages/MessageModelList.tsx
  spiffworkflow-frontend/src/views/MessageListPage.tsx
  spiffworkflow-frontend/src/views/ProcessModelEditDiagram.tsx
Due: none

coderabbit
  spiffworkflow-backend/src/spiffworkflow_backend/services/message_definition_service.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

check null as well
  spiffworkflow-frontend/src/components/messages/MessageHelper.tsx
Due: none

Changes to support mocking out messages in Ed.
  spiff-arena-common/src/spiff_arena_common/runner.py
Due: none

skip test that cannot work in in ci in sqlite
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_migration_guard.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

fix tests
  spiffworkflow-frontend/src/components/messages/MessageModelList.test.tsx
  spiffworkflow-frontend/src/views/MessageListPage.test.tsx
Due: none

Removing some rogue methods.
  spiff-arena-common/src/spiff_arena_common/runner.py
Due: none

not going well.
  spiff-arena-common/src/spiff_arena_common/runner.py
Due: none

bump version.
  spiff-arena-common/pyproject.toml
Due: none

Feature/messages in ed (#2754)
  spiff-arena-common/pyproject.toml
  spiff-arena-common/src/spiff_arena_common/runner.py
Due: none

wip
  spiff-arena-common/pyproject.toml
  spiff-arena-common/src/spiff_arena_common/runner.py
  uv.lock
Due: none

Perf changes for single step debugging (#2756)
  spiff-arena-common/pyproject.toml
  spiff-arena-common/src/spiff_arena_common/runner.py
  uv.lock
Due: none

SpiffWorkflow has a custom encoder that allows serializing datetime objects. Added a custom encoder to Ed, so that it also supports datetimes.
  spiff-arena-common/pyproject.toml
  spiff-arena-common/src/spiff_arena_common/runner.py
  uv.lock
Due: none

make adding definitions transactional, for process and task and relationship and detect badness
  spiffworkflow-backend/bin/audit_process_definitions.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/bpmn_process_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_bpmn_process_definition_persistence.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

check script
  spiffworkflow-backend/bin/audit_process_definitions.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_bpmn_process_definition_persistence.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

Add a few minor methods to support built in methods from SpiffArena, and correct the version number bump
  spiff-arena-common/pyproject.toml
  spiff-arena-common/src/spiff_arena_common/runner.py
Due: none
