Repository sartography/spiff-arena: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-added-large-files, check-toml, check-yaml, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

check-added-large-files:
  name: Check for added large files
  entry: check-added-large-files
  language: system

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

end-of-file-fixer:
  name: Fix End of Files
  entry: end-of-file-fixer
  language: system
  stages:
  - commit
  - push
  - manual

ruff-check:
  args:
  - check
  - --fix
  name: ruff
  entry: ruff
  language: system
  require_serial: true

ruff-format:
  args:
  - format
  name: ruff
  entry: ruff
  language: system
  require_serial: true

trailing-whitespace:
  name: Trim Trailing Whitespace
  entry: trailing-whitespace-fixer
  language: system
  stages:
  - commit
  - push
  - manual

be more tolerant with unit test timing
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_process_instance_queue_service.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

handle starlette exceptions
  spiffworkflow-backend/src/spiffworkflow_backend/services/monitoring_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_monitoring_service.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

handle starlette exceptions (#2786)
  spiffworkflow-backend/src/spiffworkflow_backend/services/monitoring_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_monitoring_service.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

avoid spamming sentry twice for the same issue
  spiffworkflow-backend/src/spiffworkflow_backend/background_processing/celery_tasks/process_instance_task.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/authentication_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/scripts/refresh_permissions.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/authorization_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/user_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_api_error_handler.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

avoid spamming sentry twice for the same issue (#2787)
  spiffworkflow-backend/src/spiffworkflow_backend/background_processing/celery_tasks/process_instance_task.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/authentication_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/scripts/refresh_permissions.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/authorization_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/user_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_api_error_handler.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

webhook wins over local changes
  spiffworkflow-backend/src/spiffworkflow_backend/services/git_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_git_service.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

log
  spiffworkflow-backend/src/spiffworkflow_backend/services/git_service.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

refactor and fix ci flake
  spiffworkflow-backend/src/spiffworkflow_backend/services/git_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/helpers/base_test.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_data_setup_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_git_service.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

Let webhooks optionally win if work on the git remote conflicts with the working copy (#2788)
  spiffworkflow-backend/src/spiffworkflow_backend/services/git_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/helpers/base_test.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_data_setup_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_git_service.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

find task defs w/ o2
  spiffworkflow-backend/bin/migrate_if_needed
  spiffworkflow-backend/src/spiffworkflow_backend/api.yml
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_models_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/bpmn_process_service.py
  spiffworkflow-backend/tests/data/task_definition_search/main.bpmn
  spiffworkflow-backend/tests/data/task_definition_search/nested.bpmn
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_models_controller.py
Due: check-added-large-files, check-yaml, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

try to address async service task race with message start event w/ jasquat o2
  spiffworkflow-backend/src/spiffworkflow_backend/services/message_service.py
  spiffworkflow-backend/tests/data/message_start_service_task/message_start_service_task.bpmn
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_long_running_services.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

fix test name w/ jasquat o2
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_long_running_services.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

comment w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_queue_service.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

better comment w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_queue_service.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

remove useless dequeue block w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/services/message_service.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

load test w/ jasquat o2
  spiffworkflow-backend/bin/load_test_concurrent_message_starts.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/bpmn_process_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/message_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_queue_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_long_running_services.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

lint and put back comment w/ jasquat o2
  spiffworkflow-backend/src/spiffworkflow_backend/services/bpmn_process_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/message_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_queue_service.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

simplify and converge back to main a bit w/ jasquat o2
  spiffworkflow-backend/src/spiffworkflow_backend/services/bpmn_process_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/message_service.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

new bin/load_tests dir w/ jasquat o2
  spiffworkflow-backend/bin/load_test_message_start_event.py
  spiffworkflow-backend/bin/load_tests/README.md
  spiffworkflow-backend/bin/load_tests/concurrent_message_starts.py
  spiffworkflow-backend/pyproject.toml
Due: check-added-large-files, check-toml, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

handle multiple process definitions created concurrently w/ jasquat o2
  spiffworkflow-backend/bin/load_tests/README.md
  spiffworkflow-backend/bin/load_tests/concurrent_message_starts.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/bpmn_process_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_bpmn_process_definition_persistence.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

handle mysql deadlock w/ jasquat o2
  spiffworkflow-backend/src/spiffworkflow_backend/services/bpmn_process_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/utils/db_utils.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_bpmn_process_definition_persistence.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

add test w/ jasquat o2
  spiffworkflow-backend/tests/data/parallel_service_task_callback/parallel_service_task_callback.bpmn
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_long_running_services.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

Address async service task race (#2792)
  spiffworkflow-backend/bin/load_test_message_start_event.py
  spiffworkflow-backend/bin/load_tests/README.md
  spiffworkflow-backend/bin/load_tests/concurrent_message_starts.py
  spiffworkflow-backend/pyproject.toml
  spiffworkflow-backend/src/spiffworkflow_backend/services/bpmn_process_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/message_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_queue_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/utils/db_utils.py
  spiffworkflow-backend/tests/data/message_start_service_task/message_start_service_task.bpmn
  spiffworkflow-backend/tests/data/parallel_service_task_callback/parallel_service_task_callback.bpmn
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_long_running_services.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_bpmn_process_definition_persistence.py
Due: check-added-large-files, check-toml, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

This should fix an issue with messages that was preventing a message receive task from having data during it's evaluation.
  spiff-arena-common/pyproject.toml
  spiff-arena-common/src/spiff_arena_common/runner.py
  spiff-arena-common/tests/spiff_arena_common/test_receive_task_data.py
  uv.lock
Due: none

This should fix an issue with messages that was preventing a message … (#2793)
  spiff-arena-common/pyproject.toml
  spiff-arena-common/src/spiff_arena_common/runner.py
  spiff-arena-common/tests/spiff_arena_common/test_receive_task_data.py
  uv.lock
Due: none

some fixes for snyk w/ burnettk
  spiffworkflow-backend/pyproject.toml
  spiffworkflow-backend/uv.lock
Due: check-added-large-files, check-toml, end-of-file-fixer, trailing-whitespace

some fixes for snyk w/ burnettk
  uv.lock
Due: none

run npm install w/ burnettk
  .github/workflows/snyk-security.yml
Due: none

figure out what the docker build issue is w/ burnettk
  .github/workflows/snyk-security.yml
Due: none

create version file w/ burnettk
  .github/workflows/snyk-security.yml
Due: none

remove node_modules w/ burnettk
  .github/workflows/snyk-security.yml
Due: none

try bulding with github action w/ burnettk
  .github/workflows/snyk-security.yml
Due: none

reduce complexity w/ burnettk
  .github/workflows/snyk-security.yml
Due: none

ignore node_modules in docker, even nested ones w/ burnettk
  .github/workflows/snyk-security.yml
  spiffworkflow-frontend/.dockerignore
Due: none

make ruff passes
  spiff-arena-common/src/spiff_arena_common/runner.py
  uv.lock
Due: none

Bump
  spiff-arena-common/pyproject.toml
Due: none

make ruff passes (#2795)
  spiff-arena-common/pyproject.toml
  spiff-arena-common/src/spiff_arena_common/runner.py
  uv.lock
Due: none

Don't commit inside secret_service
  spiffworkflow-backend/src/spiffworkflow_backend/routes/secrets_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/service_tasks_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/secret_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_secret_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_secrets_controller.py
  uv.lock
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

perf: index process-group permission lookups
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_model_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_process_model_service.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

Path conditions:
  check-added-large-files: any of: ^spiffworkflow-backend/
  check-toml: any of: ^spiffworkflow-backend/ and \.toml$
  check-yaml: any of: ^spiffworkflow-backend/ and \.(yaml|yml)$
  end-of-file-fixer: any of: ^spiffworkflow-backend/
  ruff-check: any of: ^spiffworkflow-backend/ and \.py$ and not (/migrations/)
  ruff-format: any of: ^spiffworkflow-backend/ and \.py$ and not (/migrations/)
  trailing-whitespace: any of: ^spiffworkflow-backend/, but not: /migrations/
