Repository sartography/spiff-arena: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-added-large-files, check-toml, check-yaml, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

check-added-large-files:
  name: Check for added large files
  entry: check-added-large-files
  language: system

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

end-of-file-fixer:
  name: Fix End of Files
  entry: end-of-file-fixer
  language: system
  stages:
  - commit
  - push
  - manual

ruff-check:
  args:
  - check
  - --fix
  name: ruff
  entry: ruff
  language: system
  require_serial: true

ruff-format:
  args:
  - format
  name: ruff
  entry: ruff
  language: system
  require_serial: true

trailing-whitespace:
  name: Trim Trailing Whitespace
  entry: trailing-whitespace-fixer
  language: system
  stages:
  - commit
  - push
  - manual

Update out-of-date example.yml documentation link (#2687)
  spiffworkflow-backend/src/spiffworkflow_backend/config/permissions/example.yml
Due: check-added-large-files, check-yaml, end-of-file-fixer, trailing-whitespace

Add metadata to all calls to connectors
  spiffworkflow-backend/src/spiffworkflow_backend/api.yml
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/service_task_service.py
  spiffworkflow-backend/tests/data/service_task/service_task.bpmn
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_long_running_services.py
Due: check-added-large-files, check-yaml, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

Add unittest strategy
  spiff-arena-common/pyproject.toml
  spiff-arena-common/src/spiff_arena_common/runner.py
  spiff-arena-common/tests/spiff_arena_common/test_tester.py
  uv.lock
Due: none

Add unittest strategy (#2688)
  spiff-arena-common/pyproject.toml
  spiff-arena-common/src/spiff_arena_common/runner.py
  spiff-arena-common/tests/spiff_arena_common/test_tester.py
  uv.lock
Due: none

incoporate data item name validation from bpmn-js-spiffworkflow
  spiffworkflow-frontend/package-lock.json
Due: none

add markdown_file_download_link function per docs
  spiffworkflow-backend/src/spiffworkflow_backend/scripts/markdown_file_download_link.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

add markdown_file_download_link script function (#2690)
  spiffworkflow-backend/src/spiffworkflow_backend/scripts/markdown_file_download_link.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

incoporate data item name validation from bpmn-js-spiffworkflow (#2689)
  spiffworkflow-frontend/package-lock.json
Due: none

code rabbit w/ burnettk
  spiffworkflow-frontend/test/browser/diagram_edit_acceptance/test_activity_rename.py
Due: none

safety w/ burnettk
  spiffworkflow-backend/uv.lock
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

wip
  spiff-arena-common/pyproject.toml
  spiff-arena-common/src/spiff_arena_common/tester.py
  uv.lock
Due: none

remove unused file w/ burnettk
  spiffworkflow-frontend/test/browser/helpers.py
Due: none

move diagram edit to own dir w/ burnettk
  spiffworkflow-frontend/test/diagram_edit_acceptance/config.py
  spiffworkflow-frontend/test/diagram_edit_acceptance/conftest.py
  spiffworkflow-frontend/test/diagram_edit_acceptance/helpers.py
  spiffworkflow-frontend/test/diagram_edit_acceptance/test_activity_rename.py
  spiffworkflow-frontend/test/diagram_edit_acceptance/test_business_rule_task_dmn_editor.py
  spiffworkflow-frontend/test/diagram_edit_acceptance/test_call_activity_process_id_update.py
  spiffworkflow-frontend/test/diagram_edit_acceptance/test_call_activity_search.py
  spiffworkflow-frontend/test/diagram_edit_acceptance/test_manual_task_instructions_editor.py
  spiffworkflow-frontend/test/diagram_edit_acceptance/test_message_start_event_editor.py
  spiffworkflow-frontend/test/diagram_edit_acceptance/test_script_task_launch_editor.py
  spiffworkflow-frontend/test/diagram_edit_acceptance/test_service_task_operator.py
  spiffworkflow-frontend/test/diagram_edit_acceptance/test_user_task_json_schema_editor.py
Due: none

wip
  spiff-arena-common/src/spiff_arena_common/tester.py
Due: none

allow callbacks on service tasks.
  .gitignore
  spiffworkflow-backend/.gitignore
  spiffworkflow-backend/src/spiffworkflow_backend/api.yml
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_api_blueprint.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/tasks_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/authorization_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/service_task_service.py
  spiffworkflow-backend/tests/data/service_task/service_task.bpmn
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_long_running_services.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_service_task_delegate.py
Due: check-added-large-files, check-yaml, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

wip
  spiff-arena-common/src/spiff_arena_common/tester.py
  spiff-arena-common/tests/spiff_arena_common/test_tester.py
Due: none

wip
  spiff-arena-common/tests/spiff_arena_common/test_tester.py
Due: none

wip
  spiff-arena-common/src/spiff_arena_common/coverage.py
  spiff-arena-common/tests/spiff_arena_common/test_tester.py
Due: none

Moving bpmn unit test runner and task coverage into common package (#2691)
  spiff-arena-common/pyproject.toml
  spiff-arena-common/src/spiff_arena_common/coverage.py
  spiff-arena-common/src/spiff_arena_common/tester.py
  spiff-arena-common/tests/spiff_arena_common/test_tester.py
  uv.lock
Due: none

return a sinsbile error message if the task is no longer waiting for a response.
  spiffworkflow-backend/.gitignore
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_api_blueprint.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/tasks_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/workflow_execution_service.py
  spiffworkflow-backend/tests/data/service_task/service_task.bpmn
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_long_running_services.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

somme fixes w/ burnettk
  spiffworkflow-frontend/src/components/ReactDiagramEditor.tsx
  spiffworkflow-frontend/test/browser/helpers/login.py
  spiffworkflow-frontend/test/browser/process_models/test_can_create_new_bpmn_dmn_json_files.py
  spiffworkflow-frontend/test/browser/test_login.py
Due: none

test passes w/ burnettk
  spiffworkflow-frontend/src/views/ProcessModelEditDiagram.tsx
  spiffworkflow-frontend/src/views/ReactFormEditor.tsx
  spiffworkflow-frontend/test/browser/process_models/test_can_create_new_bpmn_dmn_json_files.py
Due: none

Assure there is an endpoint that reports back all the processes that are waiting for a callback.
  spiffworkflow-backend/src/spiffworkflow_backend/api.yml
  spiffworkflow-backend/src/spiffworkflow_backend/routes/tasks_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/service_task_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_long_running_services.py
Due: check-added-large-files, check-yaml, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

some more fixes w/ burnettk
  spiffworkflow-frontend/test/browser/process_instances/test_can_create_and_modify.py
Due: none

build this branch
  .github/workflows/build_docker_images.yml
Due: none

pick up security upgrades
  .tool-versions
  spiffworkflow-backend/Dockerfile
  spiffworkflow-frontend/.tool-versions
  spiffworkflow-frontend/Dockerfile
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

fixed test w/ burnettk
  spiffworkflow-frontend/test/browser/process_instances/test_can_create_and_modify.py
Due: none

test authorization.
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_api_blueprint.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/tasks_controller.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_long_running_services.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

Remove unnecissary code
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_api_blueprint.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

run_pyl
  spiffworkflow-backend/src/spiffworkflow_backend/routes/tasks_controller.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_long_running_services.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

fixed last test w/ burnettk
  spiffworkflow-frontend/test/browser/tasks/public_tasks/test_can_complete_guest_task.py
Due: none

log exception w/ jasquat
  spiffworkflow-backend/src/spiffworkflow_backend/services/service_task_service.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

update docks
  docs/how_to_guides/building_diagrams/index.md
  docs/how_to_guides/building_diagrams/long_running_service_tasks.md
Due: none

some damn whitespace thing.
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_long_running_services.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

rename to match conventions and make it sound worse
  spiffworkflow-backend/src/spiffworkflow_backend/api.yml
  spiffworkflow-backend/src/spiffworkflow_backend/routes/tasks_controller.py
Due: check-added-large-files, check-yaml, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

service tasks, only
  spiffworkflow-backend/src/spiffworkflow_backend/api.yml
  spiffworkflow-backend/src/spiffworkflow_backend/routes/tasks_controller.py
Due: check-added-large-files, check-yaml, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

Path conditions:
  check-added-large-files: any of: ^spiffworkflow-backend/
  check-toml: any of: ^spiffworkflow-backend/ and \.toml$
  check-yaml: any of: ^spiffworkflow-backend/ and \.(yaml|yml)$
  end-of-file-fixer: any of: ^spiffworkflow-backend/
  ruff-check: any of: ^spiffworkflow-backend/ and \.py$ and not (/migrations/)
  ruff-format: any of: ^spiffworkflow-backend/ and \.py$ and not (/migrations/)
  trailing-whitespace: any of: ^spiffworkflow-backend/, but not: /migrations/
