Repository sartography/spiff-arena: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

black:
  name: black
  entry: black
  language: system
  require_serial: true

check-added-large-files:
  name: Check for added large files
  entry: check-added-large-files
  language: system

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

end-of-file-fixer:
  name: Fix End of Files
  entry: end-of-file-fixer
  language: system
  stages:
  - commit
  - push
  - manual

flake8:
  name: flake8
  entry: flake8
  language: system
  require_serial: true

pyupgrade:
  name: pyupgrade
  description: Automatically upgrade syntax for newer versions.
  entry: pyupgrade
  language: system
  args:
  - --py37-plus

reorder-python-imports:
  name: Reorder python imports
  entry: reorder-python-imports
  language: system
  args:
  - --application-directories=src

trailing-whitespace:
  name: Trim Trailing Whitespace
  entry: trailing-whitespace-fixer
  language: system
  stages:
  - commit
  - push
  - manual

created process instance list and show pages to handle all and for-me w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/api.yml
  spiffworkflow-backend/src/spiffworkflow_backend/config/permissions/development.yml
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_api_blueprint.py
  spiffworkflow-frontend/src/components/ProcessInstanceListTable.tsx
  spiffworkflow-frontend/src/hooks/UriListForPermissions.tsx
  spiffworkflow-frontend/src/routes/AdminRoutes.tsx
  spiffworkflow-frontend/src/routes/ProcessInstanceList.tsx
  spiffworkflow-frontend/src/routes/ProcessInstanceShow.tsx
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

renamed active task to human task since we are no longer deleting them w/ burnettk
  spiffworkflow-backend/conftest.py
  spiffworkflow-backend/migrations/env.py
  spiffworkflow-backend/migrations/versions/b86f7cc3a74b_.py
  spiffworkflow-backend/src/spiffworkflow_backend/load_database_models.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/human_task.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/human_task_user.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/process_instance.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_api_blueprint.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/authorization_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/user_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_api.py
  spiffworkflow-backend/tests/spiffworkflow_backend/scripts/test_get_localtime.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_authorization_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_dot_notation.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_process_instance_processor.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

added correct process instance permissions w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/config/permissions/development.yml
  spiffworkflow-backend/src/spiffworkflow_backend/config/permissions/staging.yml
  spiffworkflow-backend/src/spiffworkflow_backend/config/permissions/terraform_deployed_environment.yml
Due: check-added-large-files, check-yaml, end-of-file-fixer, trailing-whitespace

fix getting task info for a process instance w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/api.yml
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_api_blueprint.py
  spiffworkflow-frontend/src/hooks/UriListForPermissions.tsx
  spiffworkflow-frontend/src/routes/ProcessInstanceShow.tsx
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

process model show now only shows my instances
  spiffworkflow-frontend/src/components/ProcessInstanceListTable.tsx
  spiffworkflow-frontend/src/routes/ProcessInstanceList.tsx
  spiffworkflow-frontend/src/routes/ProcessInstanceShow.tsx
  spiffworkflow-frontend/src/routes/ProcessModelShow.tsx
Due: none

fix filtering issue on completed instances tab and lint junk
  spiffworkflow-backend/src/spiffworkflow_backend/models/human_task.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/human_task_user.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_api_blueprint.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

fix lint errors
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_api_blueprint.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

fix more bs errors
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_api_blueprint.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

some initial changes to refactor report filters w/ burnettk
  spiffworkflow-backend/migrations/env.py
  spiffworkflow-backend/migrations/versions/b99a4cb94b5b_.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/human_task.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/spiff_step_details.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_api_blueprint.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_report_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_process_instance_report_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

renamed test process instance create method w/ burnettk
  spiffworkflow-backend/tests/spiffworkflow_backend/helpers/base_test.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_logging_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_nested_groups.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_api.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_dot_notation.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

reformat file again
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

added test for report filters w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_api_blueprint.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_report_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_process_instance_report_service.py
  spiffworkflow-frontend/src/components/MyCompletedInstances.tsx
  spiffworkflow-frontend/src/routes/CompletedInstances.tsx
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

added another filter test
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_report_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_process_instance_report_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

added remaining filter tests w/ burnettk
  spiffworkflow-backend/migrations/env.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/human_task.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/spiff_step_details.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_api_blueprint.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_report_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_process_instance_report_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

set the completed by user on human task w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_process_instance_processor.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Adding color picker feature into the demo spiffworkflow-bpmn-js, just useful for example purposes.
  bpmn-js-spiffworkflow/app/app.js
  bpmn-js-spiffworkflow/app/index.html
  bpmn-js-spiffworkflow/package-lock.json
  bpmn-js-spiffworkflow/package.json
Due: none

a little refactor w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_api_blueprint.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

fixed completed instances filter w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_report_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

pyl w/ burnettk
  spiffworkflow-backend/migrations/env.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/group.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/user.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/user_group_assignment_waiting.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/openid_blueprint/openid_blueprint.py
  spiffworkflow-backend/src/spiffworkflow_backend/scripts/add_permission.py
  spiffworkflow-backend/src/spiffworkflow_backend/scripts/add_user_to_group.py
  spiffworkflow-backend/src/spiffworkflow_backend/scripts/clear_permissions.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/authorization_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/user_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_openid_blueprint.py
  spiffworkflow-backend/tests/spiffworkflow_backend/scripts/test_add_permission.py
  spiffworkflow-backend/tests/spiffworkflow_backend/scripts/test_add_user_to_group.py
  spiffworkflow-backend/tests/spiffworkflow_backend/scripts/test_delete_permissions.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_authorization_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_user_service.py
  spiffworkflow-frontend/src/routes/ProcessModelEditDiagram.tsx
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

fixed get tasks and process instances by group w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/api.yml
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_report_service.py
  spiffworkflow-frontend/src/components/TasksWaitingForMyGroups.tsx
  spiffworkflow-frontend/src/routes/CompletedInstances.tsx
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

pyl fixed w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/models/group.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/user_group_assignment_waiting.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/authorization_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/scripts/test_add_permission.py
  spiffworkflow-backend/tests/spiffworkflow_backend/scripts/test_add_user_to_group.py
  spiffworkflow-backend/tests/spiffworkflow_backend/scripts/test_delete_permissions.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_user_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Path conditions:
  black: any of: ^spiffworkflow-backend/ and \.py$ and not (/migrations/)
  check-added-large-files: any of: ^spiffworkflow-backend/
  check-toml: any of: ^spiffworkflow-backend/ and \.toml$
  check-yaml: any of: ^spiffworkflow-backend/ and \.(yaml|yml)$
  end-of-file-fixer: any of: ^spiffworkflow-backend/
  flake8: any of: ^spiffworkflow-backend/ and \.py$ and not (/migrations/)
  pyupgrade: any of: ^spiffworkflow-backend/ and \.py$
  reorder-python-imports: any of: ^spiffworkflow-backend/ and \.py$ and not ((/migrations/|load_database_models))
  trailing-whitespace: any of: ^spiffworkflow-backend/, but not: /migrations/
