Repository sartography/spiff-arena: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-added-large-files, check-toml, check-yaml, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

check-added-large-files:
  name: Check for added large files
  entry: check-added-large-files
  language: system

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

end-of-file-fixer:
  name: Fix End of Files
  entry: end-of-file-fixer
  language: system
  stages:
  - commit
  - push
  - manual

ruff-check:
  args:
  - check
  - --fix
  name: ruff
  entry: ruff
  language: system
  require_serial: true

ruff-format:
  args:
  - format
  name: ruff
  entry: ruff
  language: system
  require_serial: true

trailing-whitespace:
  name: Trim Trailing Whitespace
  entry: trailing-whitespace-fixer
  language: system
  stages:
  - commit
  - push
  - manual

Update spiff-arena-common/pyproject.toml
  spiff-arena-common/pyproject.toml
Due: none

Share python code between the front and backends (#2338)
  .github/workflows/common.yml
  Makefile
  pyproject.toml
  spiff-arena-common/.python-version
  spiff-arena-common/README.md
  spiff-arena-common/pyproject.toml
  spiff-arena-common/src/spiff_arena_common/__init__.py
  spiff-arena-common/src/spiff_arena_common/jinja.py
  spiff-arena-common/src/spiff_arena_common/py.typed
  spiffworkflow-backend/pyproject.toml
  spiffworkflow-backend/src/spiffworkflow_backend/services/jinja_service.py
  spiffworkflow-backend/uv.lock
  spiffworkflow-frontend/src/workers/python.ts
  uv.lock
Due: check-added-large-files, check-toml, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

add DMN expression instructions (#2335)
  docs/reference/bpmn/decision_tables.md
Due: none

fix(openid): check also env
  spiffworkflow-backend/src/spiffworkflow_backend/__init__.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

fix(auth): use backend_url for redirection
  spiffworkflow-backend/src/spiffworkflow_backend/services/authentication_service.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

fix(user): do not fail on URL parse
  spiffworkflow-frontend/src/services/UserService.ts
Due: none

Show start button
  spiffworkflow-frontend/src/components/ReactDiagramEditor.tsx
  spiffworkflow-frontend/src/views/ProcessModelEditDiagram.tsx
Due: none

WIP
  spiffworkflow-frontend/src/components/ReactDiagramEditor.tsx
Due: none

fix(param): reinvent process_instance_id
  spiffworkflow-frontend/src/components/messages/MessageInstanceList.tsx
Due: none

fix(processmodel): use non-translated keyword as value
  spiffworkflow-frontend/src/components/ProcessModelTabs.tsx
Due: none

fix(title): page title cache
  spiffworkflow-frontend/src/views/Configuration.tsx
  spiffworkflow-frontend/src/views/DataStoreEdit.tsx
  spiffworkflow-frontend/src/views/DataStoreList.tsx
  spiffworkflow-frontend/src/views/DataStoreNew.tsx
  spiffworkflow-frontend/src/views/MessageListPage.tsx
  spiffworkflow-frontend/src/views/ProcessGroupEdit.tsx
  spiffworkflow-frontend/src/views/ProcessGroupNew.tsx
  spiffworkflow-frontend/src/views/ProcessInstanceList.tsx
  spiffworkflow-frontend/src/views/ProcessModelEdit.tsx
  spiffworkflow-frontend/src/views/ProcessModelNew.tsx
Due: none

fix(timeago): dynamic i18n
  spiffworkflow-frontend/src/helpers/timeago.ts
Due: none

fix(user): do not fail on URL parse (#2345)
  spiffworkflow-frontend/src/services/UserService.ts
Due: none

remove unused code w/ burnettk
  spiffworkflow-frontend/src/services/UserService.ts
Due: none

Allow returning to start location
  spiffworkflow-frontend/src/components/ProcessInstanceProgress.tsx
  spiffworkflow-frontend/src/components/ProcessInstanceRun.tsx
  spiffworkflow-frontend/src/components/ProcessInterstitial.tsx
  spiffworkflow-frontend/src/services/LocalStorageService.ts
Due: none

Lint fix
  spiffworkflow-frontend/src/components/ProcessInstanceProgress.tsx
  spiffworkflow-frontend/src/components/ProcessInstanceRun.tsx
  spiffworkflow-frontend/src/components/ProcessInterstitial.tsx
  spiffworkflow-frontend/src/services/LocalStorageService.ts
Due: none

Try to fix the build
  spiffworkflow-backend/pyproject.toml
  spiffworkflow-backend/uv.lock
Due: check-added-large-files, check-toml, end-of-file-fixer, trailing-whitespace

Use contraints.txt intead
  .github/workflows/constraints.txt
  spiffworkflow-backend/pyproject.toml
  spiffworkflow-backend/uv.lock
Due: check-added-large-files, check-toml, end-of-file-fixer, trailing-whitespace

Revert "Use contraints.txt intead"
  .github/workflows/constraints.txt
  spiffworkflow-backend/pyproject.toml
  spiffworkflow-backend/uv.lock
Due: check-added-large-files, check-toml, end-of-file-fixer, trailing-whitespace

Try to fix the build (#2354)
  spiffworkflow-backend/pyproject.toml
  spiffworkflow-backend/uv.lock
Due: check-added-large-files, check-toml, end-of-file-fixer, trailing-whitespace

Auto save when save button enables
  spiffworkflow-frontend/src/components/ReactDiagramEditor.tsx
  spiffworkflow-frontend/src/views/ProcessModelEditDiagram.tsx
Due: none

Lint fixes
  spiffworkflow-frontend/src/components/ReactDiagramEditor.tsx
Due: none

Auto save while editing (#2355)
  spiffworkflow-frontend/src/components/ReactDiagramEditor.tsx
  spiffworkflow-frontend/src/views/ProcessModelEditDiagram.tsx
Due: none

Return from start (#2353)
  spiffworkflow-frontend/src/components/ProcessInstanceProgress.tsx
  spiffworkflow-frontend/src/components/ProcessInstanceRun.tsx
  spiffworkflow-frontend/src/components/ProcessInterstitial.tsx
  spiffworkflow-frontend/src/components/ReactDiagramEditor.tsx
  spiffworkflow-frontend/src/services/LocalStorageService.ts
  spiffworkflow-frontend/src/views/ProcessModelEditDiagram.tsx
Due: none

Start from diagram editor (#2348)
  spiffworkflow-frontend/src/components/ProcessInstanceProgress.tsx
  spiffworkflow-frontend/src/components/ProcessInstanceRun.tsx
  spiffworkflow-frontend/src/components/ProcessInterstitial.tsx
  spiffworkflow-frontend/src/components/ReactDiagramEditor.tsx
  spiffworkflow-frontend/src/services/LocalStorageService.ts
  spiffworkflow-frontend/src/views/ProcessModelEditDiagram.tsx
Due: none

tweak local run script
  spiffworkflow-backend/bin/run_process_model_with_api
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

improve db script for postgres
  spiffworkflow-backend/bin/recreate_db
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

fix(process): typos and unused process column
  spiffworkflow-frontend/src/locales/cs_cz/translation.json
  spiffworkflow-frontend/src/locales/de/translation.json
  spiffworkflow-frontend/src/locales/en_us/translation.json
  spiffworkflow-frontend/src/locales/es/translation.json
  spiffworkflow-frontend/src/locales/fi/translation.json
  spiffworkflow-frontend/src/locales/pt_br/translation.json
  spiffworkflow-frontend/src/locales/pt_pt/translation.json
  spiffworkflow-frontend/src/views/ProcessGroupNew.tsx
Due: none

Get rjsf 6.0.0-beta.10 to load
  spiffworkflow-frontend/package.json
  spiffworkflow-frontend/src/components/ProcessInstanceListTable.tsx
  spiffworkflow-frontend/src/components/ProcessModelForm.tsx
Due: none

fix laydout with rjsf beta
  spiffworkflow-frontend/package-lock.json
  spiffworkflow-frontend/src/components/ReactFormBuilder/ReactFormBuilder.tsx
Due: none

feat(username): record username to db instead of email
  docs/reference/bpmn/script_tasks.md
  spiffworkflow-backend/src/spiffworkflow_backend/routes/openid_blueprint/openid_blueprint.py
  spiffworkflow-backend/src/spiffworkflow_backend/scripts/get_user.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/authorization_service.py
  spiffworkflow-frontend/src/components/TaskTable.tsx
  spiffworkflow-frontend/src/services/UserService.ts
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

fix(diagram)
  .vscode/launch.json
  spiffworkflow-frontend/src/locales/cs_cz/translation.json
  spiffworkflow-frontend/src/locales/de/translation.json
  spiffworkflow-frontend/src/locales/en_us/translation.json
  spiffworkflow-frontend/src/locales/es/translation.json
  spiffworkflow-frontend/src/locales/fi/translation.json
  spiffworkflow-frontend/src/locales/pt_br/translation.json
  spiffworkflow-frontend/src/locales/pt_pt/translation.json
  spiffworkflow-frontend/src/views/ReactFormEditor.tsx
Due: none

revert(vscode)
  .vscode/launch.json
Due: none

WIP
  spiffworkflow-backend/src/spiffworkflow_backend/scripts/extract_from_task_data.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

Lint fixes
  spiffworkflow-backend/src/spiffworkflow_backend/scripts/extract_from_task_data.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

Path conditions:
  check-added-large-files: any of: ^spiffworkflow-backend/
  check-toml: any of: ^spiffworkflow-backend/ and \.toml$
  check-yaml: any of: ^spiffworkflow-backend/ and \.(yaml|yml)$
  end-of-file-fixer: any of: ^spiffworkflow-backend/
  ruff-check: any of: ^spiffworkflow-backend/ and \.py$ and not (/migrations/)
  ruff-format: any of: ^spiffworkflow-backend/ and \.py$ and not (/migrations/)
  trailing-whitespace: any of: ^spiffworkflow-backend/, but not: /migrations/
