Repository sartography/spiff-arena: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-added-large-files, check-toml, check-yaml, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

check-added-large-files:
  name: Check for added large files
  entry: check-added-large-files
  language: system

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

end-of-file-fixer:
  name: Fix End of Files
  entry: end-of-file-fixer
  language: system
  stages:
  - commit
  - push
  - manual

ruff-check:
  args:
  - check
  - --fix
  name: ruff
  entry: ruff
  language: system
  require_serial: true

ruff-format:
  args:
  - format
  name: ruff
  entry: ruff
  language: system
  require_serial: true

trailing-whitespace:
  name: Trim Trailing Whitespace
  entry: trailing-whitespace-fixer
  language: system
  stages:
  - commit
  - push
  - manual

remove base64
  spiffworkflow-frontend/src/helpers.tsx
Due: none

do not use Buffer directly (#2547)
  spiffworkflow-frontend/src/helpers.tsx
Due: none

WIP
  connector-proxies/aggregate/Dockerfile
  connector-proxies/aggregate/bin/prepdata
  connector-proxies/aggregate/dev.docker-compose.yml
  connector-proxies/aggregate/fly.toml
  connector-proxies/aggregate/nginx/conf.d/default.conf
Due: none

WIP
  .github/workflows/connector-proxy-agg.yml
Due: none

Deploy aggregate connector proxy to fly.io on merge to main (#2548)
  .github/workflows/connector-proxy-agg.yml
  connector-proxies/aggregate/Dockerfile
  connector-proxies/aggregate/bin/prepdata
  connector-proxies/aggregate/dev.docker-compose.yml
  connector-proxies/aggregate/fly.toml
  connector-proxies/aggregate/nginx/conf.d/default.conf
Due: none

setup
  spiffworkflow-backend/AGENTS.md
  spiffworkflow-backend/bin/agent_setup.sh
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

agent_setup.sh (#2549)
  spiffworkflow-backend/AGENTS.md
  spiffworkflow-backend/bin/agent_setup.sh
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

get sample process models
  spiffworkflow-backend/bin/agent_setup.sh
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

try as sibling to /app
  spiffworkflow-backend/bin/agent_setup.sh
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

mysql server
  spiffworkflow-backend/bin/agent_setup.sh
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

there is nothing extended about the sed regexes w/ burnettk
  spiffworkflow-frontend/bin/boot_server_in_docker
Due: none

iterating on setup script
  spiffworkflow-backend/bin/agent_setup.sh
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

remove perl take 2 (#2539)
  spiffworkflow-frontend/Dockerfile
  spiffworkflow-frontend/bin/boot_server_in_docker
Due: none

debug boot script
  spiffworkflow-frontend/Dockerfile
  spiffworkflow-frontend/before
  spiffworkflow-frontend/bin/boot_server_in_docker
  spiffworkflow-frontend/default.conf
  spiffworkflow-frontend/index.html
Due: none

debug
  spiffworkflow-frontend/Dockerfile
  spiffworkflow-frontend/bin/boot_server_in_docker
  spiffworkflow-frontend/default.conf.expected
  spiffworkflow-frontend/index.html.expected
Due: none

that sed seems to work
  spiffworkflow-frontend/bin/boot_server_in_docker
Due: none

smack down other perl
  spiffworkflow-frontend/bin/boot_server_in_docker
Due: none

clean up
  spiffworkflow-frontend/Dockerfile
  spiffworkflow-frontend/before
  spiffworkflow-frontend/bin/boot_server_in_docker
  spiffworkflow-frontend/default.conf
  spiffworkflow-frontend/default.conf.expected
  spiffworkflow-frontend/index.html.expected
Due: none

Fix boot (#2553)
  spiffworkflow-frontend/bin/boot_server_in_docker
Due: none

agent setup
  bin/agents/run_playwright.sh
  bin/agents/setup.sh
  spiffworkflow-backend/bin/agents/setup.sh
  spiffworkflow-frontend/bin/agents/setup.sh
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

clean
  spiffworkflow-backend/bin/agent_setup.sh
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

tweaks
  AGENTS.md
  bin/agents/run_playwright.sh
  bin/agents/setup.sh
  spiffworkflow-backend/AGENTS.md
  spiffworkflow-backend/bin/agents/setup.sh
  spiffworkflow-frontend/AGENTS.md
  spiffworkflow-frontend/bin/agents/setup.sh
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

Agent setup (#2557)
  AGENTS.md
  bin/agents/run_playwright.sh
  bin/agents/setup.sh
  spiffworkflow-backend/AGENTS.md
  spiffworkflow-backend/bin/agents/setup.sh
  spiffworkflow-frontend/AGENTS.md
  spiffworkflow-frontend/bin/agents/setup.sh
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

lint
  spiffworkflow-backend/bin/agents/setup.sh
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

update setup script
  spiffworkflow-backend/bin/agents/setup.sh
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

remove defunct file
  bin/agent_playwright_setup.sh
Due: none

support using a subdir of the bpmn repo
  spiffworkflow-backend/src/spiffworkflow_backend/config/default.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/git_service.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

build branch
  .github/workflows/build_docker_images.yml
Due: none

lint
  spiffworkflow-backend/src/spiffworkflow_backend/config/default.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

support using a subdir of the bpmn repo (#2558)
  .github/workflows/build_docker_images.yml
  spiffworkflow-backend/src/spiffworkflow_backend/config/default.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/git_service.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

revert
  spiffworkflow-frontend/test/browser/helpers/debug.py
Due: none

FIx playwright test race condition (#2560)
  .gitignore
  bin/agents/run_playwright.sh
Due: none

fix sed
  .github/workflows/build_docker_images.yml
  .github/workflows/cypress-tests.yml
Due: none

fixes
  .github/workflows/e2e-tests.yml
  spiffworkflow-frontend/test/browser/helpers/login.py
Due: none

vars
  .github/workflows/e2e-tests.yml
Due: none

E2e for ci (#2561)
  .github/workflows/build_docker_images.yml
  .github/workflows/e2e-tests.yml
  spiffworkflow-frontend/test/browser/helpers/login.py
Due: none

renames and setup
  .github/workflows/e2e-tests.yml
Due: none

automerge dependabot w/ burnettk
  .github/workflows/auto-merge-dependabot-prs.yml
Due: none

agent tweaks w/ burnettk
  .gitignore
  bin/agents/setup.sh
  spiffworkflow-backend/AGENTS.md
  spiffworkflow-backend/bin/agents/backend_setup.sh
  spiffworkflow-frontend/bin/agents/frontend_setup.sh
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

Path conditions:
  check-added-large-files: any of: ^spiffworkflow-backend/
  check-toml: any of: ^spiffworkflow-backend/ and \.toml$
  check-yaml: any of: ^spiffworkflow-backend/ and \.(yaml|yml)$
  end-of-file-fixer: any of: ^spiffworkflow-backend/
  ruff-check: any of: ^spiffworkflow-backend/ and \.py$ and not (/migrations/)
  ruff-format: any of: ^spiffworkflow-backend/ and \.py$ and not (/migrations/)
  trailing-whitespace: any of: ^spiffworkflow-backend/, but not: /migrations/
