Repository sartography/spiff-arena: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-added-large-files, check-toml, check-yaml, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: check-added-large-files
        files: ^spiffworkflow-backend/
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-toml
        files: ^spiffworkflow-backend/
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-yaml
        files: ^spiffworkflow-backend/
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        files: ^spiffworkflow-backend/
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: ruff-check
        args: [check, --fix]
        files: ^spiffworkflow-backend/
        name: ruff
        entry: ruff
        language: system
        types: [python]
        require_serial: true
        # this is also specified in spiffworkflow-backend/pyproject.toml but we run pre-commit
        # with all-files which ignores that
        exclude: "/migrations/"
      - id: ruff-format
        args: [format]
        files: ^spiffworkflow-backend/
        name: ruff
        entry: ruff
        language: system
        types: [python]
        require_serial: true
        # this is also specified in spiffworkflow-backend/pyproject.toml but we run pre-commit
        # with all-files which ignores that
        exclude: "/migrations/"
      - id: trailing-whitespace
        files: ^spiffworkflow-backend/
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
        exclude: "/migrations/"

conventional responses
  spiffworkflow-backend/src/spiffworkflow_backend/routes/openid_blueprint/openid_blueprint.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_instances_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/secrets_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/user_blueprint.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

wip
  spiffworkflow-backend/pyproject.toml
  spiffworkflow-backend/src/spiffworkflow_backend/data_stores/json.py
  spiffworkflow-backend/src/spiffworkflow_backend/data_stores/kkv.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_json_schema_validation.py
  spiffworkflow-backend/uv.lock
Due: check-added-large-files, check-toml, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

undo rename
  spiffworkflow-frontend/src/ContainerForExtensions.tsx
Due: none

avoid calling controller methods from services w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/routes/health_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/authentication_service.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

return file name for milestones as well w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/api.yml
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_models_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/spec_file_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_model_milestones.py
Due: check-added-large-files, check-yaml, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

remove useless browser test helper
  spiffworkflow-frontend/test/browser/README.md
  spiffworkflow-frontend/test/browser/helpers/playwright_setup.py
  spiffworkflow-frontend/test/browser/process_groups/test_can_perform_crud_operations.py
  spiffworkflow-frontend/test/browser/process_instances/test_can_create_and_modify.py
  spiffworkflow-frontend/test/browser/process_instances/test_can_display_logs.py
  spiffworkflow-frontend/test/browser/process_instances/test_can_filter.py
  spiffworkflow-frontend/test/browser/process_instances/test_can_paginate_items.py
  spiffworkflow-frontend/test/browser/process_models/test_can_allow_searching_for_model.py
  spiffworkflow-frontend/test/browser/process_models/test_can_create_new_bpmn_dmn_json_files.py
  spiffworkflow-frontend/test/browser/process_models/test_can_perform_crud_operations_on_models.py
  spiffworkflow-frontend/test/browser/tasks/public_tasks/test_can_complete_guest_task.py
  spiffworkflow-frontend/test/browser/tasks/public_tasks/test_can_start_process_from_message_form.py
  spiffworkflow-frontend/test/browser/tasks/test_can_complete_and_navigate_a_form.py
  spiffworkflow-frontend/test/browser/test_login.py
  spiffworkflow-frontend/test/browser/test_process_model_import.py
Due: none

do not mock if not necessary w/ burnettk
  spiffworkflow-backend/tests/data/test-last-milestone/test_last_milestone_call_activity.bpmn
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_model_milestones.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

Process model milestone list API method (#2508)
  CLAUDE.md
  spiffworkflow-backend/src/spiffworkflow_backend/api.yml
  spiffworkflow-backend/src/spiffworkflow_backend/routes/active_users_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/openid_blueprint/openid_blueprint.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_groups_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_instances_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_models_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/script_unit_tests_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/secrets_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/service_tasks_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/user_blueprint.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/webhooks_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/spec_file_service.py
  spiffworkflow-backend/tests/data/test-last-milestone/test_last_milestone_call_activity.bpmn
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_model_import_controller.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_model_milestones.py
Due: check-added-large-files, check-yaml, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

fix relative path w/ burnettk
  spiffworkflow-frontend/test/browser/pyproject.toml
Due: none

Alllow restricting access to spiffworkflow-frontend (#2509)
  spiffworkflow-backend/src/spiffworkflow_backend/routes/health_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/authorization_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_authorization_service.py
  spiffworkflow-frontend/src/ContainerForExtensions.tsx
  spiffworkflow-frontend/src/locales/cs_cz/translation.json
  spiffworkflow-frontend/src/locales/de/translation.json
  spiffworkflow-frontend/src/locales/en_us/translation.json
  spiffworkflow-frontend/src/locales/es/translation.json
  spiffworkflow-frontend/src/locales/fi/translation.json
  spiffworkflow-frontend/src/locales/pt_br/translation.json
  spiffworkflow-frontend/src/locales/pt_pt/translation.json
  spiffworkflow-frontend/src/locales/zh_cn/translation.json
  spiffworkflow-frontend/src/views/FrontendAccessDenied.tsx
  spiffworkflow-frontend/test/browser/README.md
  spiffworkflow-frontend/test/browser/helpers/playwright_setup.py
  spiffworkflow-frontend/test/browser/process_groups/test_can_perform_crud_operations.py
  spiffworkflow-frontend/test/browser/process_instances/test_can_create_and_modify.py
  spiffworkflow-frontend/test/browser/process_instances/test_can_display_logs.py
  spiffworkflow-frontend/test/browser/process_instances/test_can_filter.py
  spiffworkflow-frontend/test/browser/process_instances/test_can_paginate_items.py
  spiffworkflow-frontend/test/browser/process_models/test_can_allow_searching_for_model.py
  spiffworkflow-frontend/test/browser/process_models/test_can_create_new_bpmn_dmn_json_files.py
  spiffworkflow-frontend/test/browser/process_models/test_can_perform_crud_operations_on_models.py
  spiffworkflow-frontend/test/browser/pyproject.toml
  spiffworkflow-frontend/test/browser/tasks/public_tasks/test_can_complete_guest_task.py
  spiffworkflow-frontend/test/browser/tasks/public_tasks/test_can_start_process_from_message_form.py
  spiffworkflow-frontend/test/browser/tasks/test_can_complete_and_navigate_a_form.py
  spiffworkflow-frontend/test/browser/test_login.py
  spiffworkflow-frontend/test/browser/test_process_model_import.py
  spiffworkflow-frontend/test/browser/uv.lock
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

share duplicate code w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/data_stores/crud.py
  spiffworkflow-backend/src/spiffworkflow_backend/data_stores/json.py
  spiffworkflow-backend/src/spiffworkflow_backend/data_stores/kkv.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

Validate user task with schema (#2510)
  spiffworkflow-backend/pyproject.toml
  spiffworkflow-backend/src/spiffworkflow_backend/config/default.py
  spiffworkflow-backend/src/spiffworkflow_backend/data_stores/crud.py
  spiffworkflow-backend/src/spiffworkflow_backend/data_stores/json.py
  spiffworkflow-backend/src/spiffworkflow_backend/data_stores/kkv.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_json_schema_validation.py
  spiffworkflow-backend/uv.lock
Due: check-added-large-files, check-toml, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

tests pass
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_model_import_controller.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

Add calendar to common allowed imports
  spiff-arena-common/pyproject.toml
  spiff-arena-common/src/spiff_arena_common/runner.py
Due: none

try except for the lose
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_model_import_controller.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_model_import_controller.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

remove useless comments w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_model_import_service.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

clean up config
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_model_import_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_model_import_controller.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

Import model via alias (#2443)
  spiffworkflow-backend/src/spiffworkflow_backend/config/default.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_model_import_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_model_import_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_model_import_controller.py
  spiffworkflow-frontend/src/components/ProcessModelImportButton.tsx
  spiffworkflow-frontend/src/components/ProcessModelImportDialog.tsx
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

Add calendar to common allowed imports (#2511)
  spiff-arena-common/pyproject.toml
  spiff-arena-common/src/spiff_arena_common/runner.py
Due: none

Add calendar to allowed backend imports
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

actually use the notification message name config w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/config/default.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/error_handling_service.py
  uv.lock
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

disabling dependabot while comporised npm packages are being fixed w/ burnettk
  .github/workflows/auto-merge-dependabot-prs.yml
Due: none

new celery task to run process instance update notifier w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/background_processing/__init__.py
  spiffworkflow-backend/src/spiffworkflow_backend/background_processing/celery_tasks/process_instance_task.py
  spiffworkflow-backend/src/spiffworkflow_backend/background_processing/celery_tasks/process_instance_task_producer.py
  spiffworkflow-backend/src/spiffworkflow_backend/config/__init__.py
  spiffworkflow-backend/src/spiffworkflow_backend/config/default.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_api_blueprint.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_instances_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/message_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_service.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

use same config name everywhere w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/background_processing/celery_tasks/process_instance_task.py
  spiffworkflow-backend/src/spiffworkflow_backend/background_processing/celery_tasks/process_instance_task_producer.py
  spiffworkflow-backend/src/spiffworkflow_backend/config/default.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

pyl w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/background_processing/celery_tasks/process_instance_task_producer.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

move log event common start process method
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_instances_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_service.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

test for pi event notifier
  spiffworkflow-backend/src/spiffworkflow_backend/background_processing/__init__.py
  spiffworkflow-backend/src/spiffworkflow_backend/background_processing/celery_tasks/process_instance_task.py
  spiffworkflow-backend/src/spiffworkflow_backend/background_processing/celery_tasks/process_instance_task_producer.py
  spiffworkflow-backend/src/spiffworkflow_backend/config/__init__.py
  spiffworkflow-backend/src/spiffworkflow_backend/config/default.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_background_processing_service.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

bump uv lock
  uv.lock
Due: none

move log event common start process method (#2513)
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_instances_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_service.py
  uv.lock
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

also send event on instance complete
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_background_processing_service.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

do not queue instance if it is from the event notifier model
  spiffworkflow-backend/src/spiffworkflow_backend/background_processing/celery_tasks/process_instance_task_producer.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

update libsqlite for trivy
  connector-proxy-demo/Dockerfile
  spiffworkflow-frontend/Dockerfile
Due: none

go for broke with upgrades while fixing vulns
  .github/workflows/tests.yml
  .tool-versions
  connector-proxy-demo/Dockerfile
  spiffworkflow-backend/Dockerfile
  spiffworkflow-frontend/.tool-versions
  spiffworkflow-frontend/Dockerfile
  spiffworkflow-frontend/package-lock.json
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

Add calendar to allowed backend imports (#2512)
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

Pi status webhook (#2514)
  .github/workflows/tests.yml
  .tool-versions
  connector-proxy-demo/Dockerfile
  spiffworkflow-backend/Dockerfile
  spiffworkflow-backend/src/spiffworkflow_backend/background_processing/__init__.py
  spiffworkflow-backend/src/spiffworkflow_backend/background_processing/celery_tasks/process_instance_task.py
  spiffworkflow-backend/src/spiffworkflow_backend/background_processing/celery_tasks/process_instance_task_producer.py
  spiffworkflow-backend/src/spiffworkflow_backend/config/__init__.py
  spiffworkflow-backend/src/spiffworkflow_backend/config/default.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_api_blueprint.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_instances_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/error_handling_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/message_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_background_processing_service.py
  spiffworkflow-frontend/.tool-versions
  spiffworkflow-frontend/Dockerfile
  spiffworkflow-frontend/package-lock.json
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

a couple fixes for civitos event notifier w/ burnettk
  spiffworkflow-backend/bin/login_with_user
  spiffworkflow-backend/bin/run_message_start_event_with_api
  spiffworkflow-backend/bin/run_process_model_with_api
  spiffworkflow-backend/src/spiffworkflow_backend/background_processing/celery_tasks/process_instance_task.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

a couple fixes for civitos event notifier w/ burnettk (#2515)
  spiffworkflow-backend/bin/login_with_user
  spiffworkflow-backend/bin/run_message_start_event_with_api
  spiffworkflow-backend/bin/run_process_model_with_api
  spiffworkflow-backend/src/spiffworkflow_backend/background_processing/celery_tasks/process_instance_task.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

rename pi event notifier to just event notifier w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/background_processing/__init__.py
  spiffworkflow-backend/src/spiffworkflow_backend/background_processing/celery_tasks/process_instance_task.py
  spiffworkflow-backend/src/spiffworkflow_backend/background_processing/celery_tasks/process_instance_task_producer.py
  spiffworkflow-backend/src/spiffworkflow_backend/config/__init__.py
  spiffworkflow-backend/src/spiffworkflow_backend/config/default.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_background_processing_service.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

rename pi event notifier to just event notifier w/ burnettk (#2516)
  spiffworkflow-backend/src/spiffworkflow_backend/background_processing/__init__.py
  spiffworkflow-backend/src/spiffworkflow_backend/background_processing/celery_tasks/process_instance_task.py
  spiffworkflow-backend/src/spiffworkflow_backend/background_processing/celery_tasks/process_instance_task_producer.py
  spiffworkflow-backend/src/spiffworkflow_backend/config/__init__.py
  spiffworkflow-backend/src/spiffworkflow_backend/config/default.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_background_processing_service.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

you know what we actually want bash not sh
  spiffworkflow-frontend/Dockerfile
Due: none
