Repository sartography/spiff-arena: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

black:
  name: black
  entry: black
  language: system
  require_serial: true

check-added-large-files:
  name: Check for added large files
  entry: check-added-large-files
  language: system

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

end-of-file-fixer:
  name: Fix End of Files
  entry: end-of-file-fixer
  language: system
  stages:
  - commit
  - push
  - manual

flake8:
  name: flake8
  entry: flake8
  language: system
  require_serial: true

pyupgrade:
  name: pyupgrade
  description: Automatically upgrade syntax for newer versions.
  entry: pyupgrade
  language: system
  args:
  - --py37-plus

reorder-python-imports:
  name: Reorder python imports
  entry: reorder-python-imports
  language: system
  args:
  - --application-directories=src

trailing-whitespace:
  name: Trim Trailing Whitespace
  entry: trailing-whitespace-fixer
  language: system
  stages:
  - commit
  - push
  - manual

alighn reset tooltip to top-left
  spiffworkflow-frontend/src/routes/ProcessInstanceShow.tsx
Due: none

some updates to script w/ burnettk
  spiffworkflow-backend/bin/data_migrations/version_1_3.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

only show helper text in the start date range and not both w/ burnettk
  spiffworkflow-frontend/src/rjsf/custom_widgets/DateRangePicker/DateRangePickerWidget.tsx
Due: none

ensure we convert date ranges to ymd before saving to the task-data w/ burnettk
  spiffworkflow-frontend/src/config.tsx
  spiffworkflow-frontend/src/rjsf/custom_widgets/DateRangePicker/DateRangePickerWidget.tsx
Due: none

set the default date format back to y-m-d w/ burnettk
  spiffworkflow-frontend/src/config.tsx
Due: none

added uniqueness constraint to human task so it cannot have multiple human tasks for a process instance and task id w/ burnettk
  spiffworkflow-backend/migrations/versions/56e17aab85ca_.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/human_task.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

just ensure we have a value when creating date range objects w/ burnettk
  spiffworkflow-frontend/src/rjsf/custom_widgets/DateRangePicker/DateRangePickerWidget.tsx
Due: none

script has been written, needs to be tested
  spiffworkflow-backend/bin/data_migrations/version_1_3.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

pyl w/ burnettk
  spiffworkflow-backend/bin/data_migrations/version_1_3.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

grab total seconds, not just the seconds that have been explicitly assigned to the timedelta. w/ jason and elizabeth w/ jasquat
  spiffworkflow-backend/src/spiffworkflow_backend/specs/start_event.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

make duration in seconds an int w/ jasquat
  spiffworkflow-backend/src/spiffworkflow_backend/specs/start_event.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

updates to migration script so it can work w/ burnettk
  spiffworkflow-backend/bin/data_migrations/version_1_3.py
  spiffworkflow-backend/src/spiffworkflow_backend/specs/start_event.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

pyl w/ burnettk
  bin/run_pyl
  spiffworkflow-backend/bin/data_migrations/version_1_3.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

added comment to data migration file
  spiffworkflow-backend/bin/data_migrations/version_1_3.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

fixed how button sets are displayed and removed test date range picker from secret list w/ burnettk
  spiffworkflow-frontend/src/components/Filters.tsx
  spiffworkflow-frontend/src/components/ProcessGroupForm.tsx
  spiffworkflow-frontend/src/components/ProcessModelForm.tsx
  spiffworkflow-frontend/src/index.css
  spiffworkflow-frontend/src/routes/ProcessInstanceFindById.tsx
  spiffworkflow-frontend/src/routes/ProcessInstanceShow.tsx
  spiffworkflow-frontend/src/routes/SecretList.tsx
Due: none

fixed how button sets are displayed and removed test date range picker from secret list w/ burnettk (#397)
  spiffworkflow-frontend/src/components/Filters.tsx
  spiffworkflow-frontend/src/components/ProcessGroupForm.tsx
  spiffworkflow-frontend/src/components/ProcessModelForm.tsx
  spiffworkflow-frontend/src/index.css
  spiffworkflow-frontend/src/routes/ProcessInstanceFindById.tsx
  spiffworkflow-frontend/src/routes/ProcessInstanceShow.tsx
  spiffworkflow-frontend/src/routes/SecretList.tsx
Due: none

added uniqueness constraint to human task so it cannot have multiple human tasks for a process instance and task id w/ burnettk (#396)
  spiffworkflow-backend/migrations/versions/56e17aab85ca_.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/human_task.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Revert "added uniqueness constraint to human task so it cannot have multiple human tasks for a process instance and task id w/ burnettk (#396)"
  spiffworkflow-backend/migrations/versions/56e17aab85ca_.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/human_task.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Revert "Revert "added uniqueness constraint to human task so it cannot have multiple human tasks for a process instance and task id w/ burnettk (#396)""
  spiffworkflow-backend/migrations/versions/56e17aab85ca_.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/human_task.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

some initial ui tweaks w/ burnettk
  spiffworkflow-frontend/src/components/ProcessInstanceListTable.tsx
  spiffworkflow-frontend/src/components/ProcessInstanceRun.tsx
  spiffworkflow-frontend/src/components/TaskListTable.tsx
Due: none

run the version 1 3 migration on app boot w/ burnettk
  spiffworkflow-backend/bin/boot_server_in_docker
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

left align more items as per the figma page w/ burnettk
  spiffworkflow-frontend/src/components/ProcessInstanceListTable.tsx
  spiffworkflow-frontend/src/components/ProcessInterstitial.tsx
  spiffworkflow-frontend/src/index.css
  spiffworkflow-frontend/src/routes/ProcessInstanceShow.tsx
  spiffworkflow-frontend/src/routes/ProcessModelShow.tsx
Due: none

pyl w/ burnettk
  spiffworkflow-frontend/src/components/ProcessInstanceListTable.tsx
Due: none

left align additional pages w/ burnettk
  spiffworkflow-frontend/src/index.css
  spiffworkflow-frontend/src/index.scss
  spiffworkflow-frontend/src/routes/ProcessModelShow.tsx
  spiffworkflow-frontend/src/routes/TaskShow.tsx
Due: none

Feature/event payloads (#393)
  bin/run_pyl
  spiffworkflow-backend/bin/boot_server_in_docker
  spiffworkflow-backend/bin/data_migrations/version_1_3.py
  spiffworkflow-backend/migrations/versions/214e0c5fb418_.py
  spiffworkflow-backend/poetry.lock
  spiffworkflow-backend/src/spiffworkflow_backend/models/message_instance_correlation.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/message_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/workflow_execution_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/specs/start_event.py
  spiffworkflow-backend/tests/data/manual_task_with_subprocesses/test_process_to_call.bpmn
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_api.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

poet not available in container
  spiffworkflow-backend/bin/boot_server_in_docker
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

move data migration code out of bin so it can be reused in background processor
  spiffworkflow-backend/bin/data_migrations/version_1_3.py
  spiffworkflow-backend/bin/start_blocking_appscheduler.py
  spiffworkflow-backend/src/spiffworkflow_backend/data_migrations/version_1_3.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

sleep for 5 minutes and update bpmn js to pull in some fixes from elizabeth
  spiffworkflow-backend/bin/start_blocking_appscheduler.py
  spiffworkflow-frontend/package-lock.json
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Path conditions:
  black: any of: ^spiffworkflow-backend/ and \.py$ and not (/migrations/)
  check-added-large-files: any of: ^spiffworkflow-backend/
  check-toml: any of: ^spiffworkflow-backend/ and \.toml$
  check-yaml: any of: ^spiffworkflow-backend/ and \.(yaml|yml)$
  end-of-file-fixer: any of: ^spiffworkflow-backend/
  flake8: any of: ^spiffworkflow-backend/ and \.py$ and not (/migrations/)
  pyupgrade: any of: ^spiffworkflow-backend/ and \.py$
  reorder-python-imports: any of: ^spiffworkflow-backend/ and \.py$ and not ((/migrations/|load_database_models))
  trailing-whitespace: any of: ^spiffworkflow-backend/, but not: /migrations/
