Repository sartography/spiff-arena: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

black:
  name: black
  entry: black
  language: system
  require_serial: true

check-added-large-files:
  name: Check for added large files
  entry: check-added-large-files
  language: system

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

end-of-file-fixer:
  name: Fix End of Files
  entry: end-of-file-fixer
  language: system
  stages:
  - commit
  - push
  - manual

flake8:
  name: flake8
  entry: flake8
  language: system
  require_serial: true

pyupgrade:
  name: pyupgrade
  description: Automatically upgrade syntax for newer versions.
  entry: pyupgrade
  language: system
  args:
  - --py37-plus

reorder-python-imports:
  name: Reorder python imports
  entry: reorder-python-imports
  language: system
  args:
  - --application-directories=src

trailing-whitespace:
  name: Trim Trailing Whitespace
  entry: trailing-whitespace-fixer
  language: system
  stages:
  - commit
  - push
  - manual

check out bpmn unit test wish list item
  docs/wish_list/wish_list.md
Due: none

some pyl and test fixes w/ burnettk
  spiffworkflow-backend/poetry.lock
  spiffworkflow-backend/pyproject.toml
  spiffworkflow-backend/src/spiffworkflow_backend/__init__.py
  spiffworkflow-backend/src/spiffworkflow_backend/celery_tasks/process_instance_task.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/task_instructions_for_end_user.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_instances_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/tasks_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/workflow_execution_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_process_instance_processor.py
Due: black, check-added-large-files, check-toml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

fixed tests w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/services/user_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

WIP: added in page to show instructions on pi show page w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/api.yml
  spiffworkflow-backend/src/spiffworkflow_backend/routes/tasks_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/jinja_service.py
  spiffworkflow-frontend/package-lock.json
  spiffworkflow-frontend/src/components/ProcessInstanceCurrentTaskInfo.tsx
  spiffworkflow-frontend/src/interfaces.ts
  spiffworkflow-frontend/src/routes/ProcessInstanceShow.tsx
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

tweak
  spiffworkflow-backend/bin/login_with_user
  spiffworkflow-frontend/package-lock.json
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

reset to page 1 when status changes to fix #765 w/ jasquat
  spiffworkflow-frontend/src/components/ProcessInstanceListTable.tsx
Due: none

upgrade connexion and werkzeug to fix snyk w/ jasquat
  spiffworkflow-backend/poetry.lock
  spiffworkflow-backend/pyproject.toml
Due: check-added-large-files, check-toml, end-of-file-fixer, trailing-whitespace

fix all security issues like a boss w/ jasquat
  spiffworkflow-backend/.snyk
  spiffworkflow-backend/poetry.lock
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

whoops, still no resolution for cryptography w/ jasquat
  spiffworkflow-backend/.snyk
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

reset to page 1 when status changes to fix #765 (#769)
  spiffworkflow-backend/.snyk
  spiffworkflow-backend/poetry.lock
  spiffworkflow-backend/pyproject.toml
  spiffworkflow-frontend/src/components/ProcessInstanceListTable.tsx
Due: check-added-large-files, check-toml, end-of-file-fixer, trailing-whitespace

removed bad dir w/ jasquat
  spiffworkflow-backend/realmstuff/master-realm.json
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

remove accidentally added keycloak dir ignore w/ jasquat
  spiffworkflow-backend/.gitignore
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

added spiffworkflow-2 realm based on spiffworkflow realm w/ burnettk
  spiffworkflow-backend/keycloak/realm_exports/spiffworkflow-2-realm.json
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

WIP
  spiffworkflow-backend/src/spiffworkflow_backend/models/feature_flag.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/feature_flag_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

pi show page is fully using not interstitial now w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/celery_tasks/process_instance_task.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/process_instance.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/task.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_api_blueprint.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_instances_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/tasks_controller.py
  spiffworkflow-frontend/src/components/InstructionsForEndUser.tsx
  spiffworkflow-frontend/src/components/ProcessInstanceCurrentTaskInfo.tsx
  spiffworkflow-frontend/src/components/ProcessInstanceProgress.tsx
  spiffworkflow-frontend/src/components/ProcessInstanceRun.tsx
  spiffworkflow-frontend/src/interfaces.ts
  spiffworkflow-frontend/src/routes/ProcessInstanceShow.tsx
  spiffworkflow-frontend/src/routes/TaskShow.tsx
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

fixed broken test w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/routes/tasks_controller.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

moved background processing items to own module w/ burnettk
  spiffworkflow-backend/bin/start_celery_worker
  spiffworkflow-backend/src/spiffworkflow_backend/__init__.py
  spiffworkflow-backend/src/spiffworkflow_backend/background_processing/apscheduler.py
  spiffworkflow-backend/src/spiffworkflow_backend/background_processing/background_processing_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/background_processing/celery.py
  spiffworkflow-backend/src/spiffworkflow_backend/background_processing/celery_tasks/__init__.py
  spiffworkflow-backend/src/spiffworkflow_backend/background_processing/celery_tasks/process_instance_task.py
  spiffworkflow-backend/src/spiffworkflow_backend/background_processing/celery_worker.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/debug_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_instances_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/tasks_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/monitoring_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

fixed apscheduler start script
  spiffworkflow-backend/bin/start_blocking_appscheduler.py
  spiffworkflow-backend/src/spiffworkflow_backend/background_processing/apscheduler.py
  spiffworkflow-backend/src/spiffworkflow_backend/background_processing/celery.py
  spiffworkflow-backend/src/spiffworkflow_backend/celery_tasks/process_instance_task.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/monitoring_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

fixed guest user access w/ burnettk
  spiffworkflow-frontend/src/helpers.tsx
  spiffworkflow-frontend/src/services/UserService.ts
Due: none

added support to run future tasks using countdown w/ burnettk
  spiffworkflow-backend/bin/run_server_locally_with_celery
  spiffworkflow-backend/bin/start_celery_worker
  spiffworkflow-backend/src/spiffworkflow_backend/background_processing/background_processing_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/background_processing/celery_tasks/process_instance_task.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

add init in services
  spiffworkflow-backend/src/spiffworkflow_backend/services/__init__.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

command to run pydeps
  spiffworkflow-backend/.gitignore
  spiffworkflow-backend/bin/run_pydeps
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

argument to switch to left right mode
  spiffworkflow-backend/bin/run_pydeps
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

checking if user can edit a readme file should be a PUT, not a GET
  spiffworkflow-frontend/src/routes/ProcessModelShow.tsx
Due: none

This fixes guest login with using multiple auths, removes empty items from ApiError, and raises if redirect_url given to login does not match expected frontend host w/ burnettk
  spiffworkflow-backend/bin/get_bpmn_json_for_process_instance
  spiffworkflow-backend/src/spiffworkflow_backend/api.yml
  spiffworkflow-backend/src/spiffworkflow_backend/exceptions/api_error.py
  spiffworkflow-backend/src/spiffworkflow_backend/exceptions/error.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/authentication_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/tasks_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/acceptance_test_fixtures.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/authentication_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/authorization_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/background_processing_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/custom_parser.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/data_setup_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/error_handling_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/file_system_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/git_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/jinja_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/message_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/oauth_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_caller_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_lock_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_report_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_tmp_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_model_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_model_test_runner_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/reference_cache_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/script_unit_test_runner.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/secret_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/service_task_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/spec_file_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/task_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/user_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/workflow_execution_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/workflow_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_authentication.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_tasks_controller.py
  spiffworkflow-frontend/src/helpers.tsx
  spiffworkflow-frontend/src/routes/Login.tsx
  spiffworkflow-frontend/src/services/UserService.ts
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

get body for debug
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_authentication.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

try to get the logs from the correct place to upload w/ burnettk
  .github/workflows/tests.yml
Due: none

mock the openid call instead of actually calling it w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/services/authentication_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_authentication.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

avoid print statements, generally
  spiffworkflow-backend/bin/data_migrations/version_1_3.py
  spiffworkflow-backend/pyproject.toml
  spiffworkflow-backend/src/spiffworkflow_backend/__main__.py
  spiffworkflow-backend/src/spiffworkflow_backend/config/__init__.py
  spiffworkflow-backend/src/spiffworkflow_backend/data_migrations/version_1_3.py
  spiffworkflow-backend/src/spiffworkflow_backend/helpers/db_helper.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/acceptance_test_fixtures.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/authentication_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/authorization_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/background_processing_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/custom_parser.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/data_setup_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/error_handling_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/file_system_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/git_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/jinja_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/message_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/oauth_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_caller_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_lock_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_report_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_tmp_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_model_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_model_test_runner_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/reference_cache_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/script_unit_test_runner.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/secret_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/service_task_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/spec_file_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/task_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/user_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/workflow_execution_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/workflow_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_extensions_controller.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_nested_groups.py
Due: black, check-added-large-files, check-toml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Path conditions:
  black: any of: ^spiffworkflow-backend/ and \.py$ and not (/migrations/)
  check-added-large-files: any of: ^spiffworkflow-backend/
  check-toml: any of: ^spiffworkflow-backend/ and \.toml$
  check-yaml: any of: ^spiffworkflow-backend/ and \.(yaml|yml)$
  end-of-file-fixer: any of: ^spiffworkflow-backend/
  flake8: any of: ^spiffworkflow-backend/ and \.py$ and not (/migrations/)
  pyupgrade: any of: ^spiffworkflow-backend/ and \.py$
  reorder-python-imports: any of: ^spiffworkflow-backend/ and \.py$ and not ((/migrations/|load_database_models))
  trailing-whitespace: any of: ^spiffworkflow-backend/, but not: /migrations/
