Repository sartography/spiff-arena: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-added-large-files, check-toml, check-yaml, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: check-added-large-files
        files: ^spiffworkflow-backend/
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-toml
        files: ^spiffworkflow-backend/
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-yaml
        files: ^spiffworkflow-backend/
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        files: ^spiffworkflow-backend/
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: ruff-check
        args: [check, --fix]
        files: ^spiffworkflow-backend/
        name: ruff
        entry: ruff
        language: system
        types: [python]
        require_serial: true
        # this is also specified in spiffworkflow-backend/pyproject.toml but we run pre-commit
        # with all-files which ignores that
        exclude: "/migrations/"
      - id: ruff-format
        args: [format]
        files: ^spiffworkflow-backend/
        name: ruff
        entry: ruff
        language: system
        types: [python]
        require_serial: true
        # this is also specified in spiffworkflow-backend/pyproject.toml but we run pre-commit
        # with all-files which ignores that
        exclude: "/migrations/"
      - id: trailing-whitespace
        files: ^spiffworkflow-backend/
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
        exclude: "/migrations/"

Fix dmn and user tasks (#1996)
  spiffworkflow-frontend/src/components/ReactFormBuilder/ReactFormBuilder.tsx
  spiffworkflow-frontend/src/routes/ProcessModelEditDiagram.tsx
Due: none

it seems to work now but needs cleanup w/ burnettk
  spiffworkflow-frontend/src/routes/ProcessModelEditDiagram.tsx
Due: none

removed debug code w/ burnettk
  spiffworkflow-frontend/src/routes/ProcessModelEditDiagram.tsx
Due: none

Update spiffworkflow-frontend/src/routes/ProcessModelEditDiagram.tsx
  spiffworkflow-frontend/src/routes/ProcessModelEditDiagram.tsx
Due: none

fixed coderabbit suggestion to avoid react refreshes w/ burnettk
  spiffworkflow-frontend/src/routes/ProcessModelEditDiagram.tsx
Due: none

Select form file when created (#2001)
  spiffworkflow-frontend/src/routes/ProcessModelEditDiagram.tsx
Due: none

Event stream (#1993)
  Makefile
  event-stream/demo.mk
  event-stream/elasticsearch.Dockerfile
  event-stream/elasticsearch.py
  spiffworkflow-backend/dev.docker-compose.yml
  spiffworkflow-backend/poetry.lock
  spiffworkflow-backend/src/spiffworkflow_backend/config/default.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/process_instance_event.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_instances_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/logging_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_tmp_service.py
  spiffworkflow-backend/tests/files/bpmn_multi_instance_task_version_4.json
  spiffworkflow-backend/tests/files/bpmn_process_instance_data_objects_version_3.json
Due: check-added-large-files, check-yaml, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

added a group and mapper to keycloak w/ burnettk
  spiffworkflow-backend/keycloak/bin/export_keycloak_realms
  spiffworkflow-backend/keycloak/realm_exports/spiffworkflow-local-realm.json
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

accept an internal uri to keycloak w/ burnettk
  .github/workflows/build_docker_images.yml
  spiffworkflow-backend/src/spiffworkflow_backend/config/__init__.py
  spiffworkflow-backend/src/spiffworkflow_backend/config/default.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/authentication_service.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

pyl w/ burnettk
  spiffworkflow-backend/keycloak/realm_exports/spiffworkflow-local-realm.json
  spiffworkflow-backend/src/spiffworkflow_backend/config/__init__.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/authentication_service.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

the only time we ever use internal arg to open_id_endpoint_for_name we want it True
  spiffworkflow-backend/src/spiffworkflow_backend/services/authentication_service.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

protect users of openid urls from internal urls
  spiffworkflow-backend/src/spiffworkflow_backend/services/authentication_service.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

allow port 8000/8001 for docker and avoid public urls when using requests again
  spiffworkflow-backend/keycloak/realm_exports/spiffworkflow-local-realm.json
  spiffworkflow-backend/src/spiffworkflow_backend/services/authentication_service.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

allow 8001 frontend in docker compose post logout redirect url
  spiffworkflow-backend/keycloak/realm_exports/spiffworkflow-local-realm.json
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

Keycloak realm with groups (#2002)
  .github/workflows/build_docker_images.yml
  spiffworkflow-backend/keycloak/bin/export_keycloak_realms
  spiffworkflow-backend/keycloak/realm_exports/spiffworkflow-local-realm.json
  spiffworkflow-backend/src/spiffworkflow_backend/config/__init__.py
  spiffworkflow-backend/src/spiffworkflow_backend/config/default.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/authentication_service.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

some basics to update human task users when a group is updated w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/config/permissions/local_development.yml
  spiffworkflow-backend/src/spiffworkflow_backend/models/human_task_user.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/user_service.py
Due: check-added-large-files, check-yaml, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

pass the script element through instead of defaulting to the state to avoid state updates w/ burnettk
  spiffworkflow-frontend/src/routes/ProcessModelEditDiagram.tsx
Due: none

pass the script element through instead of defaulting to the state to avoid state updates w/ burnettk (#2008)
  spiffworkflow-frontend/src/routes/ProcessModelEditDiagram.tsx
Due: none

do not delete groups that were specified from open id groups w/ burnettk
  spiffworkflow-backend/migrations/versions/f318f9f1b110_.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/group.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/authorization_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/user_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_authentication.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

some updates to remove old user task assignments w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/models/human_task_user.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/authorization_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/user_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_process_instance_report_service.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

still need additional tests but pyl is passing w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/interfaces.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/human_task_user.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/user_service.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

add label to docker network and convert timestamps for elastic
  Makefile
  event-stream/demo.mk
  event-stream/elasticsearch.py
Due: none

add label to docker network and convert timestamps for elastic (#2009)
  Makefile
  event-stream/demo.mk
  event-stream/elasticsearch.py
Due: none

added a test to ensure user is assigned and unassigned a task when using open id as source for groups w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/services/authorization_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/user_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_authorization_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_process_instance_report_service.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

set added_by in missing places w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/routes/public_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/tasks_controller.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

more event props from spiff
  spiffworkflow-backend/src/spiffworkflow_backend/services/logging_service.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

lint
  spiffworkflow-backend/src/spiffworkflow_backend/services/logging_service.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

more event props from spiff (#2013)
  spiffworkflow-backend/src/spiffworkflow_backend/services/logging_service.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

scrap pytz
  event-stream/elasticsearch.py
Due: none

Ht user on group update (#2012)
  spiffworkflow-backend/migrations/versions/f318f9f1b110_.py
  spiffworkflow-backend/src/spiffworkflow_backend/config/permissions/local_development.yml
  spiffworkflow-backend/src/spiffworkflow_backend/interfaces.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/group.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/human_task_user.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/public_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/tasks_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/authorization_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/user_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_authentication.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_authorization_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_process_instance_report_service.py
Due: check-added-large-files, check-yaml, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

updated some of the permission and config files to add groups in token and remove email addresses w/ burnettk
  spiffworkflow-backend/keycloak/realm_exports/spiffworkflow-realm.json
  spiffworkflow-backend/src/spiffworkflow_backend/config/permissions/example.yml
  spiffworkflow-backend/src/spiffworkflow_backend/config/permissions/example_process_model_read_only.yml
  spiffworkflow-backend/src/spiffworkflow_backend/config/permissions/example_process_model_read_only_with_publish.yml
  spiffworkflow-backend/src/spiffworkflow_backend/config/permissions/terraform_deployed_environment.yml
  spiffworkflow-backend/src/spiffworkflow_backend/config/permissions/unit_testing.yml
  spiffworkflow-backend/src/spiffworkflow_backend/config/qa2.py
Due: check-added-large-files, check-yaml, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

updated some of the permission and config files to add groups in token and remove email addresses w/ burnettk (#2014)
  spiffworkflow-backend/keycloak/realm_exports/spiffworkflow-realm.json
  spiffworkflow-backend/src/spiffworkflow_backend/config/permissions/example.yml
  spiffworkflow-backend/src/spiffworkflow_backend/config/permissions/example_process_model_read_only.yml
  spiffworkflow-backend/src/spiffworkflow_backend/config/permissions/example_process_model_read_only_with_publish.yml
  spiffworkflow-backend/src/spiffworkflow_backend/config/permissions/terraform_deployed_environment.yml
  spiffworkflow-backend/src/spiffworkflow_backend/config/permissions/unit_testing.yml
  spiffworkflow-backend/src/spiffworkflow_backend/config/qa2.py
Due: check-added-large-files, check-yaml, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

5.19.4 across the board
  spiffworkflow-frontend/package-lock.json
  spiffworkflow-frontend/package.json
Due: none

updated spiffworkflow keycloak realm w/ burnettk
  spiffworkflow-backend/keycloak/realm_exports/spiffworkflow-2-realm.json
  spiffworkflow-backend/keycloak/realm_exports/spiffworkflow-realm.json
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

keep root and backend ruff insync w/ burnettk
  poetry.lock
  pyproject.toml
  spiffworkflow-backend/poetry.lock
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

added call activity nav link back to mi call activity child tasks and cleaned up the process a little bit w/ burnettk
  spiffworkflow-frontend/src/call_activity_navigate_arrow_up.svg
  spiffworkflow-frontend/src/components/ReactDiagramEditor.tsx
  spiffworkflow-frontend/src/helpers.tsx
  spiffworkflow-frontend/src/icons/bpmn_js_script_icon.svg
  spiffworkflow-frontend/src/icons/call_activity_navigate_arrow_up.svg
  spiffworkflow-frontend/src/index.css
  spiffworkflow-frontend/src/routes/ProcessInstanceShow.tsx
Due: none

added call activity nav link back to mi call activity child tasks and cleaned up the process a little bit w/ burnettk (#2020)
  spiffworkflow-frontend/src/call_activity_navigate_arrow_up.svg
  spiffworkflow-frontend/src/components/ReactDiagramEditor.tsx
  spiffworkflow-frontend/src/helpers.tsx
  spiffworkflow-frontend/src/icons/bpmn_js_script_icon.svg
  spiffworkflow-frontend/src/icons/call_activity_navigate_arrow_up.svg
  spiffworkflow-frontend/src/index.css
  spiffworkflow-frontend/src/routes/ProcessInstanceShow.tsx
Due: none

do not show the script icon if value is not set
  spiffworkflow-frontend/src/components/ReactDiagramEditor.tsx
Due: none

updated bpmn-js-spiffworkflow
  spiffworkflow-frontend/package-lock.json
Due: none

Null script icon fix (#2021)
  spiffworkflow-frontend/package-lock.json
  spiffworkflow-frontend/src/components/ReactDiagramEditor.tsx
Due: none
