Repository sartography/spiff-arena: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-added-large-files, check-toml, check-yaml, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: check-added-large-files
        files: ^spiffworkflow-backend/
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-toml
        files: ^spiffworkflow-backend/
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-yaml
        files: ^spiffworkflow-backend/
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        files: ^spiffworkflow-backend/
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: ruff-check
        args: [check, --fix]
        files: ^spiffworkflow-backend/
        name: ruff
        entry: ruff
        language: system
        types: [python]
        require_serial: true
        # this is also specified in spiffworkflow-backend/pyproject.toml but we run pre-commit
        # with all-files which ignores that
        exclude: "/migrations/"
      - id: ruff-format
        args: [format]
        files: ^spiffworkflow-backend/
        name: ruff
        entry: ruff
        language: system
        types: [python]
        require_serial: true
        # this is also specified in spiffworkflow-backend/pyproject.toml but we run pre-commit
        # with all-files which ignores that
        exclude: "/migrations/"
      - id: trailing-whitespace
        files: ^spiffworkflow-backend/
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
        exclude: "/migrations/"

lint w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_models_controller.py
  spiffworkflow-frontend/src/components/QuickFilterChips.tsx
  spiffworkflow-frontend/src/interfaces.ts
  spiffworkflow-frontend/src/views/StartProcess/ProcessModelCard.tsx
  spiffworkflow-frontend/src/views/StartProcess/SearchBar.tsx
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

code rabbit w/ burnettk
  spiffworkflow-frontend/src/components/ProcessInstanceListTableWithFilters.tsx
Due: none

some code rabbit and refactor w/ burnettk
  spiffworkflow-frontend/src/components/QuickFilterChips.tsx
  spiffworkflow-frontend/src/views/StartProcess/ProcessModelCard.tsx
Due: none

last code rabbit w/ burnettk
  spiffworkflow-frontend/src/views/StartProcess/ProcessModelTreePage.tsx
Due: none

do not run ap scheduler in dev containers in ci w/ burnettk
  spiffworkflow-backend/conftest.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

we support python 3.13 w/ burnettk
  .github/copilot-instructions.md
  pyproject.toml
  uv.lock
Due: none

update for 3.13 inother locations as well w/ burnettk
  .github/workflows/tests.yml
  .tool-versions
  connector-proxy-demo/.tool-versions
  connector-proxy-demo/connector-example/.tool-versions
  docs/reference/how_to_contribute_to_the_documentation.md
  spiffworkflow-backend/sonar-project.properties
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

remove copilot file w/ burnettk
  .github/copilot-instructions.md
Due: none

use our standard naming w/ burnettk
  spiffworkflow-frontend/src/components/ProcessInstanceGroupByModel.tsx
  spiffworkflow-frontend/src/components/processGroupTree/CollapsibleGroupTree.tsx
  spiffworkflow-frontend/src/views/StartProcess/ProcessModelTreePage.tsx
Due: none

refactor large component w/ burnettk
  spiffworkflow-frontend/src/views/StartProcess/ProcessModelTreePage.tsx
Due: none

attempt to fix playwright w/ burnettk
  spiffworkflow-frontend/test/browser/test_process_model_import.py
Due: none

maybe fix playwright and update list view colors w/ burnettk
  spiffworkflow-frontend/src/components/ProcessInstanceGroupByModel.tsx
  spiffworkflow-frontend/src/components/processGroupTree/CollapsibleGroupTree.tsx
  spiffworkflow-frontend/src/views/StartProcess/ProcessModelTreePage.tsx
  spiffworkflow-frontend/test/browser/helpers/process_groups.py
  spiffworkflow-frontend/test/browser/process_groups/test_can_perform_crud_operations.py
  spiffworkflow-frontend/test/browser/process_instances/test_can_create_and_modify.py
  spiffworkflow-frontend/test/browser/process_instances/test_can_display_logs.py
  spiffworkflow-frontend/test/browser/process_instances/test_can_filter.py
  spiffworkflow-frontend/test/browser/process_instances/test_can_paginate_items.py
  spiffworkflow-frontend/test/browser/process_models/test_can_allow_searching_for_model.py
  spiffworkflow-frontend/test/browser/process_models/test_can_create_new_bpmn_dmn_json_files.py
  spiffworkflow-frontend/test/browser/process_models/test_can_perform_crud_operations_on_models.py
  spiffworkflow-frontend/test/browser/tasks/public_tasks/test_can_complete_guest_task.py
  spiffworkflow-frontend/test/browser/tasks/test_can_complete_and_navigate_a_form.py
  spiffworkflow-frontend/test/browser/test_process_model_import.py
Due: none

maybe fix w/ burnettk
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_long_running_services.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

colors and icons w/ jasquat
  spiffworkflow-frontend/src/components/ProcessInstanceGroupByModel.tsx
  spiffworkflow-frontend/src/components/processGroupTree/CollapsibleGroupTree.tsx
  spiffworkflow-frontend/src/views/StartProcess/ProcessModelTreePage.tsx
Due: none

less bold w/ jasquat
  spiffworkflow-frontend/src/components/ProcessInstanceGroupByModel.tsx
  spiffworkflow-frontend/src/components/processGroupTree/CollapsibleGroupTree.tsx
  spiffworkflow-frontend/src/views/StartProcess/ProcessModelTreePage.tsx
Due: none

switch to card view for tests
  spiffworkflow-frontend/test/browser/helpers/process_groups.py
  spiffworkflow-frontend/test/browser/process_groups/test_can_perform_crud_operations.py
Due: none

Ci fixes (#2880)
  .github/copilot-instructions.md
  .github/workflows/tests.yml
  .tool-versions
  connector-proxy-demo/.tool-versions
  connector-proxy-demo/connector-example/.tool-versions
  docs/reference/how_to_contribute_to_the_documentation.md
  pyproject.toml
  spiffworkflow-backend/conftest.py
  spiffworkflow-backend/sonar-project.properties
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_long_running_services.py
  spiffworkflow-frontend/test/browser/test_process_model_import.py
  uv.lock
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

Feat/process model sort and filter (#2879)
  spiffworkflow-backend/src/spiffworkflow_backend/api.yml
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_models_controller.py
  spiffworkflow-frontend/src/components/ProcessInstanceGroupByModel.tsx
  spiffworkflow-frontend/src/components/ProcessInstanceListTable.tsx
  spiffworkflow-frontend/src/components/ProcessInstanceListTableWithFilters.tsx
  spiffworkflow-frontend/src/components/QuickFilterChips.tsx
  spiffworkflow-frontend/src/components/processGroupTree/CollapsibleGroupTree.tsx
  spiffworkflow-frontend/src/components/processGroupTree/groupTreeHelpers.ts
  spiffworkflow-frontend/src/components/processGroupTree/useProcessGroupTree.ts
  spiffworkflow-frontend/src/interfaces.ts
  spiffworkflow-frontend/src/locales/en_us/translation.json
  spiffworkflow-frontend/src/views/StartProcess/ProcessModelCard.tsx
  spiffworkflow-frontend/src/views/StartProcess/ProcessModelTreePage.tsx
  spiffworkflow-frontend/src/views/StartProcess/SearchBar.tsx
  spiffworkflow-frontend/test/browser/helpers/process_groups.py
  spiffworkflow-frontend/test/browser/process_groups/test_can_perform_crud_operations.py
  spiffworkflow-frontend/test/browser/process_instances/test_can_create_and_modify.py
  spiffworkflow-frontend/test/browser/process_instances/test_can_display_logs.py
  spiffworkflow-frontend/test/browser/process_instances/test_can_filter.py
  spiffworkflow-frontend/test/browser/process_instances/test_can_paginate_items.py
  spiffworkflow-frontend/test/browser/process_models/test_can_allow_searching_for_model.py
  spiffworkflow-frontend/test/browser/process_models/test_can_create_new_bpmn_dmn_json_files.py
  spiffworkflow-frontend/test/browser/process_models/test_can_perform_crud_operations_on_models.py
  spiffworkflow-frontend/test/browser/tasks/public_tasks/test_can_complete_guest_task.py
  spiffworkflow-frontend/test/browser/tasks/test_can_complete_and_navigate_a_form.py
  spiffworkflow-frontend/test/browser/test_process_model_import.py
Due: check-added-large-files, check-yaml, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

remove db session? w/ burnettk
  spiffworkflow-backend/conftest.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

avoid tests for this branch at the moment w/ burnettk
  .github/workflows/tests.yml
Due: none

put back ci w/ burnettk
  .github/workflows/tests.yml
Due: none

ci-fixes-2 (#2881)
  spiffworkflow-backend/conftest.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

better logging apscheduler
  spiffworkflow-backend/src/spiffworkflow_backend/background_processing/apscheduler.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/logging_service.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

update import
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_model_import_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_model_import_controller.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

move quick filtres w/ burnettk
  docs/getting_started/quickstart_guide.md
  spiffworkflow-frontend/src/components/ProcessInstanceListTableWithFilters.tsx
Due: none

better align quickfilters w/ burnettk
  spiffworkflow-frontend/src/components/Filters.tsx
  spiffworkflow-frontend/src/components/ProcessInstanceListTableWithFilters.tsx
  spiffworkflow-frontend/src/components/QuickFilterChips.tsx
Due: none

fix seven day w/ burnettk
  spiffworkflow-frontend/src/components/QuickFilterChips.test.tsx
  spiffworkflow-frontend/src/components/QuickFilterChips.tsx
Due: none

keep quick filters when opening advanced filters w/ burnettk
  spiffworkflow-frontend/src/components/ProcessInstanceListTableWithFilters.tsx
Due: none

do not select quick filters even if they match selected items w/ burnettk
  spiffworkflow-frontend/src/components/ProcessInstanceListTableWithFilters.tsx
  spiffworkflow-frontend/src/components/QuickFilterChips.test.tsx
  spiffworkflow-frontend/src/components/QuickFilterChips.tsx
Due: none

code rabbit w/ burnettk
  spiffworkflow-frontend/src/components/QuickFilterChips.test.tsx
  spiffworkflow-frontend/src/components/QuickFilterChips.tsx
Due: none

code rabbit w/ burnettk
  spiffworkflow-frontend/src/components/QuickFilterChips.test.tsx
Due: none

Pi filters (#2882)
  docs/getting_started/quickstart_guide.md
  spiffworkflow-frontend/src/components/Filters.tsx
  spiffworkflow-frontend/src/components/ProcessInstanceListTableWithFilters.tsx
  spiffworkflow-frontend/src/components/QuickFilterChips.test.tsx
  spiffworkflow-frontend/src/components/QuickFilterChips.tsx
Due: none

some initial changes to remove tmp service w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/background_processing/celery_tasks/process_instance_task.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_instances_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/tasks_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/error_handling_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/message_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_event_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_queue_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_script_engine.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_model_test_runner_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/script_unit_test_runner.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/task_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/workflow_execution_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_instance_events_controller.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

lint w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

restore comments w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_event_service.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

code rabbit w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_script_engine.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

Processor refactor (#2883)
  spiffworkflow-backend/src/spiffworkflow_backend/background_processing/celery_tasks/process_instance_task.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_instances_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/tasks_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/error_handling_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/message_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_event_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_queue_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_script_engine.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_model_test_runner_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/script_unit_test_runner.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/task_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/workflow_execution_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_instance_events_controller.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

lint w/ burnettk
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_process_instance_runtime.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_task_available_process_model_trigger.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace
