Repository sartography/spiff-arena: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, ruff, trailing-whitespace

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        # entry: bash -c 'cd spiffworkflow-backend && black'
        entry: black
        language: system
        files: ^spiffworkflow-backend/
        types: [python]
        line-length: 130
        require_serial: true
        # exclude: ^migrations/
        exclude: "/migrations/"

        # --preview because otherwise it will not fix long lines if the long lines contain long strings
        # https://github.com/psf/black/pull/1132
        # https://github.com/psf/black/pull/1609
        # --line-length because then we can avoid the fancy line wrapping in more instances and jason, kb, and elizabeth
        # kind of prefer long lines rather than cutely-formatted sets of lines.
        # TODO: enable when its safe to update the files
        args: [--preview, --line-length, "130"]

      - id: check-added-large-files
        files: ^spiffworkflow-backend/
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-toml
        files: ^spiffworkflow-backend/
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-yaml
        files: ^spiffworkflow-backend/
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        files: ^spiffworkflow-backend/
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: ruff
        args: [ --fix ]
        files: ^spiffworkflow-backend/
        name: ruff
        entry: ruff
        language: system
        types: [python]
        require_serial: true
        # this is also specified in spiffworkflow-backend/pyproject.toml but we run pre-commit
        # with all-files which ignores that
        exclude: "/migrations/"
      - id: trailing-whitespace
        files: ^spiffworkflow-backend/
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
        exclude: "/migrations/"
  # - repo: https://github.com/pre-commit/mirrors-prettier
  #   rev: v2.4.1
  #   hooks:
  #     - id: prettier
  #       files: ^spiffworkflow-backend/
  #       exclude_types: [html]

Newui README and component notes.
  spiffworkflow-frontend/src/a-spiffui-v2/README.md
  spiffworkflow-frontend/src/routes/SpiffUIV2.tsx
Due: none

ignore flask cors issue with no fix
  spiffworkflow-backend/.snyk
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

do not invalidate a numeric range field if it is unset and not required (#1478)
  spiffworkflow-frontend/src/components/CustomForm.tsx
  spiffworkflow-frontend/src/rjsf/custom_widgets/NumericRangeField/NumericRangeField.tsx
Due: none

unit tests are passing and commented out unrelated failing test w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/models/reference_cache.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_api_blueprint.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/reference_cache_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_process_instance_processor.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_process_model.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_spec_file_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_task_service.py
Due: black, check-added-large-files, end-of-file-fixer, ruff, trailing-whitespace

all tests are passing almost w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/models/reference_cache.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_api_blueprint.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/reference_cache_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_models_controller.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_spec_file_service.py
Due: black, check-added-large-files, end-of-file-fixer, ruff, trailing-whitespace

uncommented flakey test w/ burnettk
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_process_instance_processor.py
Due: black, check-added-large-files, end-of-file-fixer, ruff, trailing-whitespace

minor change while reviewing w/ burnettk
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_process_caller_service.py
Due: black, check-added-large-files, end-of-file-fixer, ruff, trailing-whitespace

some changes from coderabbit suggestions w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_models_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/spec_file_service.py
Due: black, check-added-large-files, end-of-file-fixer, ruff, trailing-whitespace

commented out sampling change w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/services/monitoring_service.py
Due: black, check-added-large-files, end-of-file-fixer, ruff, trailing-whitespace

name the foreign keys on the process caller table w/ burnettk
  spiffworkflow-backend/migrations/versions/d4b900e71852_.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/process_caller_relationship.py
Due: black, check-added-large-files, end-of-file-fixer, ruff, trailing-whitespace

allowing switch form to MUI using ui:theme mui in the ui schema
  spiffworkflow-frontend/src/components/CustomForm.tsx
Due: none

updates to screenshots and tables
  docs/Building_Diagrams/Script_Tasks.md
  docs/Getting_Started/images/Events_Example.png
  docs/Getting_Started/images/Milestone_Screenshot.png
  docs/Getting_Started/quick_start.md
Due: none

Add docs, cleanups, etc.
  spiffworkflow-frontend/src/a-spiffui-v2/assets/icons/README.md
  spiffworkflow-frontend/src/a-spiffui-v2/assets/theme/SpiffTheme.ts
  spiffworkflow-frontend/src/a-spiffui-v2/components/SpiffLogo.tsx
  spiffworkflow-frontend/src/a-spiffui-v2/components/sidemenu/MenuItem.tsx
  spiffworkflow-frontend/src/a-spiffui-v2/components/sidemenu/SideMenu.tsx
  spiffworkflow-frontend/src/a-spiffui-v2/hooks/useProcessInstances.tsx
Due: none

Component docs
  spiffworkflow-frontend/src/a-spiffui-v2/views/Dashboards/Dashboards.tsx
  spiffworkflow-frontend/src/a-spiffui-v2/views/Dashboards/FilterCard.tsx
  spiffworkflow-frontend/src/a-spiffui-v2/views/Dashboards/ProcessInstanceCard.tsx
  spiffworkflow-frontend/src/a-spiffui-v2/views/Dashboards/Toolbar.tsx
Due: none

New calling process table (#1480)
  spiffworkflow-backend/bin/boot_server_in_docker
  spiffworkflow-backend/bin/local_development_environment_setup
  spiffworkflow-backend/bin/run_server_locally
  spiffworkflow-backend/bin/save_all_bpmn.py
  spiffworkflow-backend/keycloak/bin/add_test_users_to_keycloak
  spiffworkflow-backend/migrations/versions/d4b900e71852_.py
  spiffworkflow-backend/src/spiffworkflow_backend/load_database_models.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/process_caller.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/process_caller_relationship.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/reference_cache.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_api_blueprint.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_models_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/data_setup_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/monitoring_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_caller_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/reference_cache_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/spec_file_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/helpers/example_data.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_api.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_models_controller.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_process_caller_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_process_model.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_spec_file_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_task_service.py
Due: black, check-added-large-files, end-of-file-fixer, ruff, trailing-whitespace

added test to make sure we can get the data object of a sub process
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_api_blueprint.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_api.py
Due: black, check-added-large-files, end-of-file-fixer, ruff, trailing-whitespace

avoid the processor altogether to get data objects but use the db directly
  spiffworkflow-backend/src/spiffworkflow_backend/api.yml
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_api_blueprint.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_api.py
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, ruff, trailing-whitespace

Fix process data get subprocess (#1493)
  spiffworkflow-backend/src/spiffworkflow_backend/api.yml
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_api_blueprint.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_api.py
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, ruff, trailing-whitespace

Theme more robust
  spiffworkflow-frontend/src/a-spiffui-v2/assets/theme/SpiffTheme.ts
  spiffworkflow-frontend/src/a-spiffui-v2/views/Dashboards/FilterCard.tsx
  spiffworkflow-frontend/src/routes/SpiffUIV2.tsx
Due: none

allowing switch form to MUI using ui:theme mui in the ui schema (#1482)
  spiffworkflow-frontend/src/components/CustomForm.tsx
Due: none

deploy docs
  docs/DevOps_installation_integration/deployment.md
  docs/index.md
Due: none

add jq to backend deployment image
  spiffworkflow-backend/Dockerfile
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

Dark mode and theme enhancements
  spiffworkflow-frontend/src/a-spiffui-v2/assets/theme/SpiffTheme.ts
  spiffworkflow-frontend/src/a-spiffui-v2/components/sidemenu/MenuItem.tsx
  spiffworkflow-frontend/src/a-spiffui-v2/components/sidemenu/SideMenu.tsx
  spiffworkflow-frontend/src/a-spiffui-v2/views/Dashboards/FilterCard.tsx
  spiffworkflow-frontend/src/a-spiffui-v2/views/Dashboards/Toolbar.tsx
  spiffworkflow-frontend/src/routes/SpiffUIV2.tsx
Due: none

fixed run process model script to work with celery w/ burnettk
  spiffworkflow-backend/bin/run_process_model_with_api
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

added option to clone process models in boot in docker script w/ burnettk
  spiffworkflow-backend/bin/boot_server_in_docker
  spiffworkflow-backend/bin/clone_process_models
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

Install signals integration for vite, cleanup, and working darkmode toggle.
  spiffworkflow-frontend/package-lock.json
  spiffworkflow-frontend/package.json
  spiffworkflow-frontend/src/a-spiffui-v2/components/sidemenu/SideMenu.tsx
  spiffworkflow-frontend/src/routes/SpiffUIV2.tsx
Due: none

Update SpiffUIV2.tsx
  spiffworkflow-frontend/src/routes/SpiffUIV2.tsx
Due: none

Toggle feature for menu items
  spiffworkflow-frontend/src/a-spiffui-v2/components/sidemenu/MenuItem.tsx
  spiffworkflow-frontend/src/a-spiffui-v2/components/sidemenu/SideMenu.tsx
  spiffworkflow-frontend/src/routes/SpiffUIV2.tsx
Due: none

User menu pinned to bottom of VH
  spiffworkflow-frontend/src/a-spiffui-v2/components/sidemenu/SideMenu.tsx
Due: none

Color fixes for dark mode, added in tokens where possible.
  spiffworkflow-frontend/src/a-spiffui-v2/assets/theme/SpiffTheme.ts
  spiffworkflow-frontend/src/a-spiffui-v2/views/Dashboards/FilterCard.tsx
Due: none

Responsive Side Menu
  spiffworkflow-frontend/src/a-spiffui-v2/components/SpiffLogo.tsx
  spiffworkflow-frontend/src/a-spiffui-v2/components/sidemenu/SideMenu.tsx
  spiffworkflow-frontend/src/routes/SpiffUIV2.tsx
Due: none

adjusted filter cards to dark mode
  spiffworkflow-frontend/src/a-spiffui-v2/views/Dashboards/ProcessInstanceCard.tsx
Due: none

Customize global themes for light and dark success/light/info/warning/error
  spiffworkflow-backend/package-lock.json
  spiffworkflow-backend/package.json
  spiffworkflow-frontend/src/a-spiffui-v2/assets/theme/SpiffTheme.ts
  spiffworkflow-frontend/src/a-spiffui-v2/views/Dashboards/Dashboards.tsx
  spiffworkflow-frontend/src/a-spiffui-v2/views/Dashboards/ProcessInstanceCard.tsx
  spiffworkflow-frontend/src/routes/SpiffUIV2.tsx
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

Fix tab light/dark mode swap
  spiffworkflow-frontend/src/a-spiffui-v2/assets/theme/SpiffTheme.ts
  spiffworkflow-frontend/src/a-spiffui-v2/views/Dashboards/FilterCard.tsx
Due: none

Slide transition for menu
  spiffworkflow-frontend/src/a-spiffui-v2/views/Dashboards/FilterCard.tsx
  spiffworkflow-frontend/src/routes/SpiffUIV2.tsx
Due: none

Solved very annoying MUI problem
  spiffworkflow-frontend/src/a-spiffui-v2/hooks/useProcessInstances.tsx
  spiffworkflow-frontend/src/a-spiffui-v2/views/Dashboards/Dashboards.tsx
  spiffworkflow-frontend/src/index.css
Due: none

Revert "Fix process data get subprocess (#1493)"
  spiffworkflow-backend/src/spiffworkflow_backend/api.yml
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_api_blueprint.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_api.py
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, ruff, trailing-whitespace

added process model so we can test fixing loading task data with mi w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
  spiffworkflow-backend/tests/data/multiinstance-manual-task.bpmn
Due: black, check-added-large-files, end-of-file-fixer, ruff, trailing-whitespace

added test and a potential fix w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
  spiffworkflow-backend/tests/data/multiinstance_manual_task/multiinstance-manual-task.bpmn
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_process_instance_processor.py
Due: black, check-added-large-files, end-of-file-fixer, ruff, trailing-whitespace

pyl is passing
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
Due: black, check-added-large-files, end-of-file-fixer, ruff, trailing-whitespace
