Repository sartography/spiff-arena: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        # entry: bash -c 'cd spiffworkflow-backend && black'
        entry: black
        language: system
        files: ^spiffworkflow-backend/
        types: [python]
        require_serial: true
        # exclude: ^migrations/
        exclude: "/migrations/"
      - id: check-added-large-files
        files: ^spiffworkflow-backend/
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-toml
        files: ^spiffworkflow-backend/
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-yaml
        files: ^spiffworkflow-backend/
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        files: ^spiffworkflow-backend/
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: flake8
        files: ^spiffworkflow-backend/
        name: flake8
        entry: flake8
        language: system
        types: [python]
        require_serial: true
        exclude: "/migrations/"
      - id: pyupgrade
        files: ^spiffworkflow-backend/
        name: pyupgrade
        description: Automatically upgrade syntax for newer versions.
        entry: pyupgrade
        language: system
        types: [python]
        args: [--py37-plus]
      - id: reorder-python-imports
        files: ^spiffworkflow-backend/
        name: Reorder python imports
        entry: reorder-python-imports
        language: system
        types: [python]
        args: [--application-directories=src]
        exclude: "(/migrations/|load_database_models)"
      - id: trailing-whitespace
        files: ^spiffworkflow-backend/
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
        exclude: "/migrations/"
  # - repo: https://github.com/pre-commit/mirrors-prettier
  #   rev: v2.4.1
  #   hooks:
  #     - id: prettier
  #       files: ^spiffworkflow-backend/
  #       exclude_types: [html]

made human task attributes optional and noted them in frontend interfaces w/ burnettk
  spiffworkflow-frontend/src/interfaces.ts
Due: none

removed draft completed tasks component w/ burnettk
  spiffworkflow-frontend/src/components/FormsCompletedByMe.tsx
Due: none

do not allow guest users to see completed tasks and remove save and close button for guest users w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/models/task.py
  spiffworkflow-frontend/src/routes/TaskShow.tsx
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Refactor to prep for manual task handling
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

multiinstance ui
  spiffworkflow-backend/migrations/versions/5579975401dd_.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/task.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_instances_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/task_service.py
  spiffworkflow-frontend/src/interfaces.ts
  spiffworkflow-frontend/src/routes/ProcessInstanceShow.tsx
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

updated checkbox widget to use carbon and added tooltip options w/ burnettk
  spiffworkflow-frontend/src/rjsf/carbon_theme/BaseInputTemplate/BaseInputTemplate.tsx
  spiffworkflow-frontend/src/rjsf/carbon_theme/CheckboxWidget/CheckboxWidget.tsx
  spiffworkflow-frontend/src/rjsf/carbon_theme/SelectWidget/SelectWidget.tsx
  spiffworkflow-frontend/src/rjsf/carbon_theme/TextareaWidget/TextareaWidget.tsx
  spiffworkflow-frontend/src/rjsf/custom_widgets/DateRangePicker/DateRangePickerWidget.tsx
  spiffworkflow-frontend/src/rjsf/custom_widgets/TypeaheadWidget/TypeaheadWidget.tsx
  spiffworkflow-frontend/src/rjsf/helpers.tsx
Due: none

Fix for manual tasks that complete workflows with cycle timer events
  spiffworkflow-backend/src/spiffworkflow_backend/routes/tasks_controller.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Getting bin_pyl to pass
  spiffworkflow-backend/src/spiffworkflow_backend/routes/tasks_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

added ability to display navigation items in user profile toggle
  spiffworkflow-frontend/src/components/NavigationBar.tsx
  spiffworkflow-frontend/src/interfaces.ts
Due: none

updated with tasks waiting for me query to include tasks manually assigned to the user w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_report_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Cleanup the formatting of arrays, so that they are sligtly intended, do not contain an awkward unneeded heading, and have some tighter css.
  spiffworkflow-frontend/src/rjsf/carbon_theme/ArrayFieldItemTemplate/ArrayFieldItemTemplate.tsx
  spiffworkflow-frontend/src/rjsf/carbon_theme/index.css
Due: none

Connect the form editing in the modal back to the BPMN-JS editor
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_models_controller.py
  spiffworkflow-frontend/src/components/ReactFormBuilder/ReactFormBuilder.tsx
  spiffworkflow-frontend/src/routes/ProcessModelEditDiagram.tsx
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

add page titles for most routes
  spiffworkflow-frontend/src/helpers.tsx
  spiffworkflow-frontend/src/routes/Configuration.tsx
  spiffworkflow-frontend/src/routes/DataStorePage.tsx
  spiffworkflow-frontend/src/routes/MessageListPage.tsx
  spiffworkflow-frontend/src/routes/ProcessGroupEdit.tsx
  spiffworkflow-frontend/src/routes/ProcessGroupList.tsx
  spiffworkflow-frontend/src/routes/ProcessGroupNew.tsx
  spiffworkflow-frontend/src/routes/ProcessGroupShow.tsx
  spiffworkflow-frontend/src/routes/ProcessInstanceList.tsx
  spiffworkflow-frontend/src/routes/ProcessInstanceShow.tsx
  spiffworkflow-frontend/src/routes/ProcessModelEdit.tsx
  spiffworkflow-frontend/src/routes/ProcessModelEditDiagram.tsx
  spiffworkflow-frontend/src/routes/ProcessModelNew.tsx
  spiffworkflow-frontend/src/routes/ProcessModelShow.tsx
  spiffworkflow-frontend/src/routes/ReactFormEditor.tsx
  spiffworkflow-frontend/src/routes/TaskShow.tsx
Due: none

updated naming of some extension elements
  spiffworkflow-frontend/src/components/NavigationBar.tsx
  spiffworkflow-frontend/src/interfaces.ts
Due: none

fix black
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_instances_controller.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

inscreased cap for metadata key when displayed and allow word-wrapping w/ burnettk
  spiffworkflow-frontend/src/index.css
  spiffworkflow-frontend/src/routes/ProcessInstanceShow.tsx
Due: none

updated to use new spiff branch and fixed broken tests w/ burnettk essweine
  spiffworkflow-backend/poetry.lock
  spiffworkflow-backend/pyproject.toml
  spiffworkflow-backend/src/spiffworkflow_backend/services/workflow_execution_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_process_instance_processor.py
Due: black, check-added-large-files, check-toml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

updated spiffworkflow with new main build w/ burnettk essweine
  spiffworkflow-backend/poetry.lock
  spiffworkflow-backend/pyproject.toml
Due: check-added-large-files, check-toml, end-of-file-fixer, trailing-whitespace

initial updates to new spiff branch w/ burnettk essweine
  spiffworkflow-backend/poetry.lock
  spiffworkflow-backend/pyproject.toml
  spiffworkflow-backend/src/spiffworkflow_backend/models/task.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/tasks_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_model_test_runner_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/task_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/workflow_execution_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/workflow_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_api.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_process_instance_processor.py
Due: black, check-added-large-files, check-toml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Prep to migrate
  spiffworkflow-backend/src/spiffworkflow_backend/load_database_models.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Prep to migrate
  spiffworkflow-backend/src/spiffworkflow_backend/models/json_data_store.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Migration
  spiffworkflow-backend/migrations/versions/2491a6a95f44_.py
Due: check-added-large-files, end-of-file-fixer, pyupgrade

more updates for new spiff w/ burnettk essweine
  spiffworkflow-backend/src/spiffworkflow_backend/models/task.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/onboarding_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/tasks_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_model_test_runner_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/workflow_execution_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/workflow_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_dot_notation.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_jinja_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_process_instance_processor.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

fixed some linting issues w/ burnettk essweine
  spiffworkflow-backend/src/spiffworkflow_backend/models/task.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/onboarding_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/tasks_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_model_test_runner_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/task_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/workflow_execution_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/workflow_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_dot_notation.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_jinja_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_process_instance_processor.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Write into the datastore
  spiffworkflow-backend/src/spiffworkflow_backend/data_stores/json.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/json_data_store.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Read from datastore
  spiffworkflow-backend/src/spiffworkflow_backend/data_stores/json.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

fixed some failing tests w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_api.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

updated spiffworkflow for cancel fix w/ burnettk
  spiffworkflow-backend/poetry.lock
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

updated SpiffWorkflow to include fix for mi data w/ burnettk
  spiffworkflow-backend/poetry.lock
  spiffworkflow-backend/pyproject.toml
Due: check-added-large-files, check-toml, end-of-file-fixer, trailing-whitespace

various fixes.
  spiffworkflow-backend/src/spiffworkflow_backend/api.yml
  spiffworkflow-backend/src/spiffworkflow_backend/routes/tasks_controller.py
  spiffworkflow-frontend/package-lock.json
  spiffworkflow-frontend/src/components/ReactFormBuilder/ExamplesTable.tsx
  spiffworkflow-frontend/src/components/ReactFormBuilder/ReactFormBuilder.tsx
  spiffworkflow-frontend/src/interfaces.ts
  spiffworkflow-frontend/src/resources/json_schema_examples/nested-exampledata.json
  spiffworkflow-frontend/src/resources/json_schema_examples/procurement-exampledata.json
  spiffworkflow-frontend/src/resources/json_schema_examples/procurement-schema.json
  spiffworkflow-frontend/src/resources/json_schema_examples/procurement-uischema.json
  spiffworkflow-frontend/src/resources/json_schema_examples/registration-exampledata.json
  spiffworkflow-frontend/src/routes/ProcessModelEditDiagram.tsx
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

test for prepare_schema
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_tasks_controller.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

minor fix for run_pyl
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_models_controller.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

css cleanup less issues with reloading and jumping about when in the editor Don't sort keys when returning the json. More intelligent "ready"
  spiffworkflow-backend/src/spiffworkflow_backend/routes/tasks_controller.py
  spiffworkflow-frontend/src/components/ReactFormBuilder/ReactFormBuilder.tsx
  spiffworkflow-frontend/src/rjsf/carbon_theme/index.css
  spiffworkflow-frontend/src/routes/ProcessModelEditDiagram.tsx
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

added user property table and updates for extensions to use it w/ burnettk
  spiffworkflow-backend/migrations/versions/349b48184dfe_.py
  spiffworkflow-backend/src/spiffworkflow_backend/load_database_models.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/user_property.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/extensions_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/scripts/get_user_properties.py
  spiffworkflow-backend/src/spiffworkflow_backend/scripts/script.py
  spiffworkflow-backend/src/spiffworkflow_backend/scripts/set_user_properties.py
  spiffworkflow-frontend/src/App.tsx
  spiffworkflow-frontend/src/components/NavigationBar.tsx
  spiffworkflow-frontend/src/interfaces.ts
  spiffworkflow-frontend/src/routes/Extension.tsx
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

pull in version of spiff with MI fix
  spiffworkflow-backend/poetry.lock
  spiffworkflow-backend/pyproject.toml
Due: check-added-large-files, check-toml, end-of-file-fixer, trailing-whitespace

bump package to point to branch of bpmn-js-spiffworkflow so others can check it out.
  spiffworkflow-frontend/package-lock.json
  spiffworkflow-frontend/package.json
Due: none

moved extension ui interfaces to own file and linting issues
  spiffworkflow-backend/src/spiffworkflow_backend/models/user_property.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/extensions_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/scripts/get_user_properties.py
  spiffworkflow-backend/src/spiffworkflow_backend/scripts/script.py
  spiffworkflow-backend/src/spiffworkflow_backend/scripts/set_user_properties.py
  spiffworkflow-frontend/src/components/NavigationBar.tsx
  spiffworkflow-frontend/src/extension_ui_schema_interfaces.ts
  spiffworkflow-frontend/src/interfaces.ts
  spiffworkflow-frontend/src/routes/Extension.tsx
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Feature/business end states (#333)
  .github/workflows/docker_image_for_main_builds.yml
  bin/run_pyl
  spiffworkflow-backend/bin/last_pi_milestone_query
  spiffworkflow-backend/migrations/versions/f04cbd9f43ec_.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/process_instance.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/tasks_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_report_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_model_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/workflow_execution_service.py
  spiffworkflow-backend/tests/data/test-last-milestone/test_last_milestone.bpmn
  spiffworkflow-backend/tests/data/test-last-milestone/test_last_milestone_call_activity.bpmn
  spiffworkflow-backend/tests/spiffworkflow_backend/helpers/base_test.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_api.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_workflow_execution_service.py
  spiffworkflow-frontend/src/components/ProcessInstanceListTable.tsx
  spiffworkflow-frontend/src/components/ProcessInstanceLogList.tsx
  spiffworkflow-frontend/src/helpers.tsx
  spiffworkflow-frontend/src/index.css
  spiffworkflow-frontend/src/interfaces.ts
  spiffworkflow-frontend/src/routes/ProcessInstanceShow.tsx
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Feature/UI tweaks (#419)
  .github/workflows/docker_image_for_main_builds.yml
  spiffworkflow-frontend/src/App.tsx
  spiffworkflow-frontend/src/components/Filters.tsx
  spiffworkflow-frontend/src/components/InstructionsForEndUser.tsx
  spiffworkflow-frontend/src/components/ProcessInstanceListTable.tsx
  spiffworkflow-frontend/src/components/ProcessInstanceRun.tsx
  spiffworkflow-frontend/src/components/ProcessInterstitial.tsx
  spiffworkflow-frontend/src/components/TaskListTable.tsx
  spiffworkflow-frontend/src/index.css
  spiffworkflow-frontend/src/index.scss
  spiffworkflow-frontend/src/rjsf/carbon_theme/AddButton/AddButton.tsx
  spiffworkflow-frontend/src/rjsf/carbon_theme/IconButton/IconButton.tsx
  spiffworkflow-frontend/src/routes/About.tsx
  spiffworkflow-frontend/src/routes/AdminRoutes.tsx
  spiffworkflow-frontend/src/routes/EditorRoutes.tsx
  spiffworkflow-frontend/src/routes/Extension.tsx
  spiffworkflow-frontend/src/routes/HomePageRoutes.tsx
  spiffworkflow-frontend/src/routes/ProcessInstanceShow.tsx
  spiffworkflow-frontend/src/routes/ProcessModelEditDiagram.tsx
  spiffworkflow-frontend/src/routes/ProcessModelShow.tsx
  spiffworkflow-frontend/src/routes/TaskShow.tsx
Due: none
