Repository sartography/spiff-arena: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

black:
  name: black
  entry: black
  language: system
  require_serial: true

check-added-large-files:
  name: Check for added large files
  entry: check-added-large-files
  language: system

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

end-of-file-fixer:
  name: Fix End of Files
  entry: end-of-file-fixer
  language: system
  stages:
  - commit
  - push
  - manual

flake8:
  name: flake8
  entry: flake8
  language: system
  require_serial: true

pyupgrade:
  name: pyupgrade
  description: Automatically upgrade syntax for newer versions.
  entry: pyupgrade
  language: system
  args:
  - --py37-plus

reorder-python-imports:
  name: Reorder python imports
  entry: reorder-python-imports
  language: system
  args:
  - --application-directories=src

trailing-whitespace:
  name: Trim Trailing Whitespace
  entry: trailing-whitespace-fixer
  language: system
  stages:
  - commit
  - push
  - manual

do not write to logs when a task is inheriting data from the parent w/ burnettk
  spiffworkflow-backend/bin/run_server_locally
  spiffworkflow-backend/poetry.lock
  spiffworkflow-backend/pyproject.toml
  spiffworkflow-backend/src/spiffworkflow_backend/__init__.py
  spiffworkflow-backend/src/spiffworkflow_backend/config/development.py
  spiffworkflow-backend/tests/data/call-activity-to-human-task/manual_task.bpmn
  spiffworkflow-backend/tests/data/call-activity-to-human-task/primary_process.bpmn
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_process_instance_service.py
Due: black, check-added-large-files, check-toml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

do not write to logs when a task is inheriting data from the parent w/ burnettk
  SpiffWorkflow/SpiffWorkflow/task.py
  spiffworkflow-backend/bin/run_server_locally
  spiffworkflow-backend/poetry.lock
  spiffworkflow-backend/pyproject.toml
  spiffworkflow-backend/src/spiffworkflow_backend/__init__.py
  spiffworkflow-backend/src/spiffworkflow_backend/config/development.py
  spiffworkflow-backend/tests/data/call-activity-to-human-task/manual_task.bpmn
  spiffworkflow-backend/tests/data/call-activity-to-human-task/primary_process.bpmn
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_process_instance_service.py
Due: black, check-added-large-files, check-toml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

do not resolve entities when parsing xml w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/routes/script_unit_tests_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_model_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/spec_file_service.py
  spiffworkflow-backend/tests/data/xml_with_entity/file_to_inject
  spiffworkflow-backend/tests/data/xml_with_entity/invoice.bpmn
  spiffworkflow-backend/tests/spiffworkflow_backend/helpers/base_test.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_spec_file_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

only show milestones for simple log view w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_instances_controller.py
  spiffworkflow-frontend/src/routes/ProcessInstanceLogList.tsx
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

fixed broken test w/ burnettk
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_logging_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

favor user_input_required over waiting status for process instances w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

use the correct windows path separator in test file
  spiffworkflow-backend/tests/data/xml_with_entity/invoice.bpmn
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_spec_file_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

skip failing xml test on windows w/ burnettk
  spiffworkflow-backend/tests/data/xml_with_entity/invoice.bpmn
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_spec_file_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

pyl w/ burnettk
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_spec_file_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

added End Event to simple log view w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_instances_controller.py
  spiffworkflow-frontend/src/routes/ProcessInstanceLogList.tsx
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

do not allow overwriting process models and process groups w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_groups_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_models_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_model_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/helpers/base_test.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_acceptance_test_fixtures.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

do not navigate away from diagram editor page if there are changes w/ burnettk
  spiffworkflow-frontend/package-lock.json
  spiffworkflow-frontend/package.json
  spiffworkflow-frontend/src/components/ReactDiagramEditor.tsx
  spiffworkflow-frontend/src/hooks/UsePrompt.tsx
  spiffworkflow-frontend/src/routes/ProcessModelEditDiagram.tsx
Due: none

do not write set data logs at all since they are redundant w/ burnettk
  SpiffWorkflow/SpiffWorkflow/task.py
Due: none

upgrade certifi to fix security vulnerability
  spiffworkflow-backend/poetry.lock
  spiffworkflow-frontend/cypress/e2e/process_models.cy.js
  spiffworkflow-frontend/package-lock.json
  spiffworkflow-frontend/package.json
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

downgrade spiff and upgrade some other stuff
  poetry.lock
  spiffworkflow-backend/poetry.lock
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

show start events in logs as well and added bpmn process identifiers to log table w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_instances_controller.py
  spiffworkflow-frontend/src/routes/ProcessInstanceLogList.tsx
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

disabled flake8 forcing comments to avoid all of the useless comments but still enforcing the formatting of comments if they exist w/ burnettk
  .flake8
  bin/run_pyl
  spiffworkflow-backend/.flake8
  spiffworkflow-backend/src/spiffworkflow_backend/routes/user.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

pin SpiffWorkflow to passing version for CI tests w/ burnettk
  spiffworkflow-backend/poetry.lock
  spiffworkflow-backend/pyproject.toml
Due: check-added-large-files, check-toml, end-of-file-fixer, trailing-whitespace

added script to add test keycloak users and moved all keycloak stuff to keycloak directory w/ burnettk
  .github/workflows/frontend_tests.yml
  spiffworkflow-backend/bin/get_token
  spiffworkflow-backend/bin/keycloak_test_secrets.json
  spiffworkflow-backend/bin/keycloak_test_server.py
  spiffworkflow-backend/bin/test_file_upload
  spiffworkflow-backend/bin/test_with_curl
  spiffworkflow-backend/keycloak/bin/add_test_users_to_keycloak
  spiffworkflow-backend/keycloak/bin/export_keycloak_realms
  spiffworkflow-backend/keycloak/bin/realm_exports
  spiffworkflow-backend/keycloak/bin/start_keycloak
  spiffworkflow-backend/keycloak/bin/wait_for_keycloak
  spiffworkflow-backend/keycloak/realm_exports/finance-realm.json
  spiffworkflow-backend/keycloak/realm_exports/quarkus-realm.json
  spiffworkflow-backend/keycloak/realm_exports/spiffworkflow-realm.json
  spiffworkflow-backend/keycloak/replicate_resource_set_denied_based_on_uri_with_keycloak/replicate_resource_set_denied_based_on_uri
  spiffworkflow-backend/keycloak/replicate_resource_set_denied_based_on_uri_with_keycloak/testing-realm.json
  spiffworkflow-backend/keycloak/test_user_lists/status
  spiffworkflow-frontend/.github/workflows/tests.yml
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Path conditions:
  black: any of: ^spiffworkflow-backend/ and \.py$ and not (/migrations/)
  check-added-large-files: any of: ^spiffworkflow-backend/
  check-toml: any of: ^spiffworkflow-backend/ and \.toml$
  check-yaml: any of: ^spiffworkflow-backend/ and \.(yaml|yml)$
  end-of-file-fixer: any of: ^spiffworkflow-backend/
  flake8: any of: ^spiffworkflow-backend/ and \.py$ and not (/migrations/)
  pyupgrade: any of: ^spiffworkflow-backend/ and \.py$
  reorder-python-imports: any of: ^spiffworkflow-backend/ and \.py$ and not ((/migrations/|load_database_models))
  trailing-whitespace: any of: ^spiffworkflow-backend/, but not: /migrations/
