Repository sartography/spiff-arena: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-added-large-files, check-toml, check-yaml, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

check-added-large-files:
  name: Check for added large files
  entry: check-added-large-files
  language: system

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

end-of-file-fixer:
  name: Fix End of Files
  entry: end-of-file-fixer
  language: system
  stages:
  - commit
  - push
  - manual

ruff-check:
  args:
  - check
  - --fix
  name: ruff
  entry: ruff
  language: system
  require_serial: true

ruff-format:
  args:
  - format
  name: ruff
  entry: ruff
  language: system
  require_serial: true

trailing-whitespace:
  name: Trim Trailing Whitespace
  entry: trailing-whitespace-fixer
  language: system
  stages:
  - commit
  - push
  - manual

fix test that would not complete w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/services/metadata_backfill_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_metadata_backfill_service.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

some cleanup w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/background_processing/celery_tasks/metadata_backfill_task.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_models_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/metadata_backfill_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_metadata_backfill_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_metadata_backfill_task.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_process_model_metadata_backfill_integration.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

some more cleanup w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/services/metadata_backfill_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_metadata_backfill_service.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

use exsiting pm controller test file for pm integration tests w/ burnettk
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_models_controller.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_process_model_metadata_backfill_integration.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

kill prompt
  spiffworkflow-backend/claude_spec_prompt.txt
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

no need to set these manually
  spiffworkflow-backend/src/spiffworkflow_backend/services/metadata_backfill_service.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

more cleanup w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/models/process_model.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/metadata_backfill_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_model_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_metadata_backfill_service.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

remove init
  spiffworkflow-backend/src/spiffworkflow_backend/background_processing/celery_tasks/__init__.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

move to how to guides
  docs/how_to_guides/index.md
  docs/how_to_guides/use_custom_process_metadata.md
  docs/how_to_guides/use_process_metadata_backfill.md
  spiffworkflow-backend/docs/process_instance_metadata_backfill.md
  spiffworkflow-backend/docs/process_instance_metadata_backfill_usage.md
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

move pycharm docs
  docs/explanation/dev/index.md
  docs/explanation/dev/pycharm_setup.md
  docs/pycharm_config.png
  spiffworkflow-backend/docs/pycharm.md
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

add test to make sure that metadata is properly added to the db w/ burnettk
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_metadata_backfill_service.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

import in celery init file w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/background_processing/celery_tasks/__init__.py
  spiffworkflow-backend/src/spiffworkflow_backend/background_processing/celery_worker.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

pyl w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/background_processing/celery_worker.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

remove claude file w/ burnettk
  spiffworkflow-backend/CLAUDE.md
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

process metadata backfill (#2405)
  .gitignore
  bin/run_pyl
  docs/explanation/dev/index.md
  docs/explanation/dev/pycharm_setup.md
  docs/how_to_guides/index.md
  docs/how_to_guides/use_custom_process_metadata.md
  docs/how_to_guides/use_process_metadata_backfill.md
  docs/pycharm_config.png
  spiffworkflow-backend/docs/pycharm.md
  spiffworkflow-backend/src/spiffworkflow_backend/background_processing/celery_tasks/__init__.py
  spiffworkflow-backend/src/spiffworkflow_backend/background_processing/celery_tasks/metadata_backfill_task.py
  spiffworkflow-backend/src/spiffworkflow_backend/background_processing/celery_worker.py
  spiffworkflow-backend/src/spiffworkflow_backend/config/__init__.py
  spiffworkflow-backend/src/spiffworkflow_backend/config/default.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/process_model.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_models_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/metadata_backfill_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_model_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_models_controller.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_metadata_backfill_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_metadata_backfill_task.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

turn off uv sync when running in docker w/ burnettk
  spiffworkflow-backend/Dockerfile
  spiffworkflow-backend/bin/boot_server_in_docker
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

pull 1500 process models for dropdown
  spiffworkflow-frontend/src/components/ProcessInstanceListTableWithFilters.tsx
Due: none

turn off uv sync when running in docker w/ burnettk (#2407)
  spiffworkflow-backend/Dockerfile
  spiffworkflow-backend/bin/boot_server_in_docker
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

specify optional requestBody to pi list api to fix pi report create w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/api.yml
Due: check-added-large-files, check-yaml, end-of-file-fixer, trailing-whitespace

spiffworkflow.org works like everyone else now w/ burnettk
  spiffworkflow-backend/bin/get_token
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

Update Guest Task Documentation (#2397)
  docs/how_to_guides/building_diagrams/use_user_tasks_and_forms.md
  docs/images/Email_connector_configuration.png
  docs/images/Email_preview.png
  docs/images/Expanded_process_flow.png
  docs/images/Guest_access.png
  docs/images/Instructions_customization.png
  docs/images/Script_to_generate_guest_link.png
  docs/images/Task_data_payload.png
  docs/images/after_submission.png
  docs/images/before_submission.png
  docs/images/manual_task_config_ID.png
  docs/images/simple_guest_enabled_process.png
Due: none

dynamic css extensions
  docs/explanation/dev/extensions.md
  spiffworkflow-backend/src/spiffworkflow_backend/models/file.py
  spiffworkflow-frontend/src/ContainerForExtensions.tsx
  spiffworkflow-frontend/src/components/DynamicCSSInjection.tsx
  spiffworkflow-frontend/src/extension_ui_schema_interfaces.ts
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

notes
  .gitignore
  docs/explanation/dev/extensions.md
Due: none

revert gitignore
  .gitignore
Due: none

allow reset to error tasks
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_instances_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/task_service.py
  spiffworkflow-frontend/src/views/ProcessInstanceShow.tsx
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

use valid json w/ burnettk
  docs/explanation/dev/extensions.md
Due: none

css and css_file
  docs/explanation/dev/extensions.md
  spiffworkflow-frontend/src/ContainerForExtensions.tsx
  spiffworkflow-frontend/src/extension_ui_schema_interfaces.ts
Due: none

location specific configs for css file
  docs/explanation/dev/extensions.md
  spiffworkflow-frontend/src/ContainerForExtensions.tsx
  spiffworkflow-frontend/src/extension_ui_schema_interfaces.ts
Due: none

clean up
  docs/explanation/dev/extensions.md
  spiffworkflow-frontend/src/ContainerForExtensions.tsx
  spiffworkflow-frontend/src/components/DynamicCSSInjection.tsx
  spiffworkflow-frontend/src/extension_ui_schema_interfaces.ts
Due: none

lint
  spiffworkflow-frontend/src/components/DynamicCSSInjection.tsx
Due: none

do not load sort_index from json files w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/models/process_group.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

clarity
  docs/explanation/dev/extensions.md
Due: none

Remove marshmallow (#2377)
  spiffworkflow-backend/pyproject.toml
  spiffworkflow-backend/src/spiffworkflow_backend/models/file.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/process_group.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/process_instance.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/process_model.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/reference_cache.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/secret_model.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/task.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/messages_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_api_blueprint.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_groups_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_instances_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_models_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/secrets_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/tasks_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_model_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/helpers/base_test.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_nested_groups.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_api.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_secrets_controller.py
  spiffworkflow-backend/uv.lock
  spiffworkflow-frontend/src/services/HttpService.ts
Due: check-added-large-files, check-toml, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

sanitize css for safety
  spiffworkflow-frontend/package-lock.json
  spiffworkflow-frontend/package.json
  spiffworkflow-frontend/src/__tests__/DynamicCSSInjection.test.tsx
  spiffworkflow-frontend/src/components/DynamicCSSInjection.tsx
Due: none

Dynamic css extensions (#2408)
  docs/explanation/dev/extensions.md
  spiffworkflow-backend/src/spiffworkflow_backend/models/file.py
  spiffworkflow-frontend/package-lock.json
  spiffworkflow-frontend/package.json
  spiffworkflow-frontend/src/ContainerForExtensions.tsx
  spiffworkflow-frontend/src/__tests__/DynamicCSSInjection.test.tsx
  spiffworkflow-frontend/src/components/DynamicCSSInjection.tsx
  spiffworkflow-frontend/src/extension_ui_schema_interfaces.ts
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

note on sanitize
  docs/explanation/dev/extensions.md
Due: none

lint
  spiffworkflow-frontend/src/components/ErrorDisplay.tsx
  spiffworkflow-frontend/src/components/ProcessInstanceListTable.tsx
  spiffworkflow-frontend/src/components/ProcessInstanceLogList.tsx
  spiffworkflow-frontend/src/components/ProcessInstanceProgress.tsx
  spiffworkflow-frontend/src/components/ProcessModelTestRun.tsx
  spiffworkflow-frontend/src/views/Homepage.tsx
  spiffworkflow-frontend/src/views/ProcessInstanceShow.tsx
  spiffworkflow-frontend/src/views/public/PublicForm.tsx
Due: none

standardized on ID over Id
  spiffworkflow-frontend/test/browser/tasks/test_can_complete_and_navigate_a_form.py
  src/a-spiffui-v3/components/ProcessInstanceListTable.tsx
Due: none

torch unused file
  src/a-spiffui-v3/components/ProcessInstanceListTable.tsx
Due: none

Path conditions:
  check-added-large-files: any of: ^spiffworkflow-backend/
  check-toml: any of: ^spiffworkflow-backend/ and \.toml$
  check-yaml: any of: ^spiffworkflow-backend/ and \.(yaml|yml)$
  end-of-file-fixer: any of: ^spiffworkflow-backend/
  ruff-check: any of: ^spiffworkflow-backend/ and \.py$ and not (/migrations/)
  ruff-format: any of: ^spiffworkflow-backend/ and \.py$ and not (/migrations/)
  trailing-whitespace: any of: ^spiffworkflow-backend/, but not: /migrations/
