Repository sartography/spiff-arena: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

black:
  name: black
  entry: black
  language: system
  require_serial: true

check-added-large-files:
  name: Check for added large files
  entry: check-added-large-files
  language: system

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

end-of-file-fixer:
  name: Fix End of Files
  entry: end-of-file-fixer
  language: system
  stages:
  - commit
  - push
  - manual

flake8:
  name: flake8
  entry: flake8
  language: system
  require_serial: true

pyupgrade:
  name: pyupgrade
  description: Automatically upgrade syntax for newer versions.
  entry: pyupgrade
  language: system
  args:
  - --py37-plus

reorder-python-imports:
  name: Reorder python imports
  entry: reorder-python-imports
  language: system
  args:
  - --application-directories=src

trailing-whitespace:
  name: Trim Trailing Whitespace
  entry: trailing-whitespace-fixer
  language: system
  stages:
  - commit
  - push
  - manual

copy was not creating the spifftheme directory.
  spiffworkflow-backend/keycloak/Dockerfile
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

document functions available to script tasks, tho needs params
  docs/Building_Diagrams/Script_Tasks.md
Due: none

do the joinedload so we actually eliminate the n plus 1 query
  spiffworkflow-backend/keycloak/spifftheme/login/resources/css/styles.css
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_api_blueprint.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Features
  docs/Building_Diagrams/images/Output_extensions.png
  docs/Building_Diagrams/images/Typeahead.png
  docs/Building_Diagrams/images/Usecase.png
  docs/Building_Diagrams/images/Usecase_extensions.png
  docs/Getting_Started/images/Grey Image.png
  docs/Getting_Started/images/Grey_color.png
  docs/Getting_Started/images/Purple.png
  docs/Getting_Started/images/Red.png
  docs/Getting_Started/images/Yellow.png
  docs/Getting_Started/quick_start.md
  docs/Support/FAQ.md
Due: none

Fixing build issue
  docs/Getting_Started/quick_start.md
Due: none

Fixing FAQ link
  docs/Support/FAQ.md
Due: none

removed group service in favor of user service and messing around with ruff and pre-commeit w/ burnettk
  .pre-commit-config.yaml
  bin/run_pyl
  spiffworkflow-backend/bin/tests-par
  spiffworkflow-backend/pyproject.toml
  spiffworkflow-backend/src/spiffworkflow_backend/routes/tasks_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/authorization_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/group_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/task_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/user_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_api.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_authorization_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_user_service.py
Due: black, check-added-large-files, check-toml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

pyl can succeed now w/ burnettk
  .pre-commit-config.yaml
  bin/run_pyl
Due: none

removed debug code w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/services/user_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

pyl
  spiffworkflow-backend/src/spiffworkflow_backend/services/user_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Feature/remove group service (#529)
  .pre-commit-config.yaml
  spiffworkflow-backend/bin/tests-par
  spiffworkflow-backend/pyproject.toml
  spiffworkflow-backend/src/spiffworkflow_backend/routes/tasks_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/authorization_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/group_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/task_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/user_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_api.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_authorization_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_user_service.py
Due: black, check-added-large-files, check-toml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

use the class name to determine what a task type is w/ burnettk (#527)
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

keycloak output on import seems to have changed
  spiffworkflow-backend/keycloak/bin/start_keycloak
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

support wildcards when adding users to groups from waiting table
  spiffworkflow-backend/src/spiffworkflow_backend/models/user_group_assignment_waiting.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/user_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

moved the user route to authentication_controller to avoid having so many user routes and this controller was all about login
  spiffworkflow-backend/src/spiffworkflow_backend/__init__.py
  spiffworkflow-backend/src/spiffworkflow_backend/api.yml
  spiffworkflow-backend/src/spiffworkflow_backend/routes/authentication_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/service_tasks_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/user_service.py
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

added test to ensure regexes work for permissions - still need to remove old ones on refresh
  spiffworkflow-backend/src/spiffworkflow_backend/models/user_group_assignment_waiting.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/user_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_authorization_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_user_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

moved token related code out of authorization service and into authentication service w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/exceptions/api_error.py
  spiffworkflow-backend/src/spiffworkflow_backend/exceptions/error.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/authentication_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_api_blueprint.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/tasks_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/authentication_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/authorization_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/spec_file_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_authorization_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_process_instance_processor.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

overriding more of the login screen - can't do it all with CSS anymore so overriding one of the ftl files (Whatever they are, not sure, but works)
  spiffworkflow-backend/keycloak/bin/start_keycloak
  spiffworkflow-backend/keycloak/spifftheme/login/login.ftl
  spiffworkflow-backend/keycloak/spifftheme/login/resources/css/styles.css
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

initial thoughts to fix cancel timer issue w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

remove old user group assignment waiting entries when refreshing permissions w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/services/authorization_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/user_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_authorization_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

pyl w/ burnettk
  spiffworkflow-backend/keycloak/spifftheme/login/resources/css/styles.css
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

Feature/regex support in permissions (#530)
  spiffworkflow-backend/src/spiffworkflow_backend/__init__.py
  spiffworkflow-backend/src/spiffworkflow_backend/api.yml
  spiffworkflow-backend/src/spiffworkflow_backend/exceptions/api_error.py
  spiffworkflow-backend/src/spiffworkflow_backend/exceptions/error.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/user_group_assignment_waiting.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/authentication_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_api_blueprint.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/service_tasks_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/tasks_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/authentication_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/authorization_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/spec_file_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/user_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_authorization_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_process_instance_processor.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_user_service.py
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

added migration to run predict on all open instances w/ burnettk
  spiffworkflow-backend/bin/boot_server_in_docker
  spiffworkflow-backend/bin/data_migrations/run_all.py
  spiffworkflow-backend/src/spiffworkflow_backend/data_migrations/version_2.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

remove debug, refactor data migrations, add benchmark_log_func
  spiffworkflow-backend/bin/data_migrations/run_all.py
  spiffworkflow-backend/bin/run_data_migrations_locally
  spiffworkflow-backend/src/spiffworkflow_backend/data_migrations/version_2.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

add dinithi
  spiffworkflow-backend/src/spiffworkflow_backend/config/permissions/demo.yml
Due: check-added-large-files, check-yaml, end-of-file-fixer, trailing-whitespace

log progress of script
  spiffworkflow-backend/src/spiffworkflow_backend/data_migrations/version_2.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

only process predicted tasks and their parents in the version 2 data miagration w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/data_migrations/version_2.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

added data migrator and using that to run version 2 migrations when needed w/ burnettk
  spiffworkflow-backend/bin/data_migrations/run_all.py
  spiffworkflow-backend/bin/run_data_migrations_locally
  spiffworkflow-backend/src/spiffworkflow_backend/data_migrations/process_instance_migrator.py
  spiffworkflow-backend/src/spiffworkflow_backend/data_migrations/version_2.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/extensions_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_instances_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/tasks_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

removed some unwanted code
  spiffworkflow-backend/src/spiffworkflow_backend/data_migrations/process_instance_migrator.py
  spiffworkflow-backend/src/spiffworkflow_backend/data_migrations/version_2.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_instances_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/tasks_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

some basics to set a display type for a metadata column when displaying w/ burnettk
  spiffworkflow-frontend/src/components/ProcessInstanceListTable.tsx
  spiffworkflow-frontend/src/interfaces.ts
Due: none

fix issue, but tests still need updating
  spiffworkflow-backend/src/spiffworkflow_backend/data_migrations/process_instance_migrator.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Path conditions:
  black: any of: ^spiffworkflow-backend/ and \.py$ and not (/migrations/)
  check-added-large-files: any of: ^spiffworkflow-backend/
  check-toml: any of: ^spiffworkflow-backend/ and \.toml$
  check-yaml: any of: ^spiffworkflow-backend/ and \.(yaml|yml)$
  end-of-file-fixer: any of: ^spiffworkflow-backend/
  flake8: any of: ^spiffworkflow-backend/ and \.py$ and not (/migrations/)
  pyupgrade: any of: ^spiffworkflow-backend/ and \.py$
  reorder-python-imports: any of: ^spiffworkflow-backend/ and \.py$ and not ((/migrations/|load_database_models))
  trailing-whitespace: any of: ^spiffworkflow-backend/, but not: /migrations/
