Repository sartography/spiff-arena: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

black:
  name: black
  entry: black
  language: system
  require_serial: true

check-added-large-files:
  name: Check for added large files
  entry: check-added-large-files
  language: system

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

end-of-file-fixer:
  name: Fix End of Files
  entry: end-of-file-fixer
  language: system
  stages:
  - commit
  - push
  - manual

flake8:
  name: flake8
  entry: flake8
  language: system
  require_serial: true

pyupgrade:
  name: pyupgrade
  description: Automatically upgrade syntax for newer versions.
  entry: pyupgrade
  language: system
  args:
  - --py37-plus

reorder-python-imports:
  name: Reorder python imports
  entry: reorder-python-imports
  language: system
  args:
  - --application-directories=src

trailing-whitespace:
  name: Trim Trailing Whitespace
  entry: trailing-whitespace-fixer
  language: system
  stages:
  - commit
  - push
  - manual

removed unneeded useEffect w/ burnettk
  spiffworkflow-frontend/src/routes/Extension.tsx
Due: none

feature/formatting-in-extension-md (#559)
  spiffworkflow-backend/src/spiffworkflow_backend/routes/extensions_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_report_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/helpers/base_test.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_api.py
  spiffworkflow-frontend/src/components/InstructionsForEndUser.tsx
  spiffworkflow-frontend/src/components/ProcessInstanceListTable.tsx
  spiffworkflow-frontend/src/helpers.tsx
  spiffworkflow-frontend/src/routes/Extension.tsx
  spiffworkflow-frontend/src/services/FormattingService.tsx
  spiffworkflow-frontend/tsconfig.json
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

added a DateAndTimeService on the frontend to get those functions out of helpers w/ burnettk
  spiffworkflow-frontend/src/components/ActiveUsers.tsx
  spiffworkflow-frontend/src/components/MessageInstanceList.tsx
  spiffworkflow-frontend/src/components/ProcessInstanceListTable.tsx
  spiffworkflow-frontend/src/components/ProcessInstanceLogList.tsx
  spiffworkflow-frontend/src/components/TableCellWithTimeAgoInWords.tsx
  spiffworkflow-frontend/src/components/TaskListTable.tsx
  spiffworkflow-frontend/src/helpers.test.tsx
  spiffworkflow-frontend/src/helpers.tsx
  spiffworkflow-frontend/src/rjsf/carbon_theme/BaseInputTemplate/BaseInputTemplate.tsx
  spiffworkflow-frontend/src/rjsf/carbon_theme/DateWidget/DateWidget.tsx
  spiffworkflow-frontend/src/rjsf/custom_widgets/DateRangePicker/DateRangePickerWidget.tsx
  spiffworkflow-frontend/src/routes/MyTasks.tsx
  spiffworkflow-frontend/src/routes/ProcessInstanceShow.tsx
  spiffworkflow-frontend/src/services/DateAndTimeService.test.tsx
  spiffworkflow-frontend/src/services/DateAndTimeService.tsx
  spiffworkflow-frontend/src/services/FormattingService.tsx
Due: none

added a DateAndTimeService on the frontend to get those functions out of helpers w/ burnettk (#560)
  spiffworkflow-frontend/src/components/ActiveUsers.tsx
  spiffworkflow-frontend/src/components/MessageInstanceList.tsx
  spiffworkflow-frontend/src/components/ProcessInstanceListTable.tsx
  spiffworkflow-frontend/src/components/ProcessInstanceLogList.tsx
  spiffworkflow-frontend/src/components/TableCellWithTimeAgoInWords.tsx
  spiffworkflow-frontend/src/components/TaskListTable.tsx
  spiffworkflow-frontend/src/helpers.test.tsx
  spiffworkflow-frontend/src/helpers.tsx
  spiffworkflow-frontend/src/rjsf/carbon_theme/BaseInputTemplate/BaseInputTemplate.tsx
  spiffworkflow-frontend/src/rjsf/carbon_theme/DateWidget/DateWidget.tsx
  spiffworkflow-frontend/src/rjsf/custom_widgets/DateRangePicker/DateRangePickerWidget.tsx
  spiffworkflow-frontend/src/routes/MyTasks.tsx
  spiffworkflow-frontend/src/routes/ProcessInstanceShow.tsx
  spiffworkflow-frontend/src/services/DateAndTimeService.test.tsx
  spiffworkflow-frontend/src/services/DateAndTimeService.tsx
  spiffworkflow-frontend/src/services/FormattingService.tsx
Due: none

do not remove errors from configuration route useEffect and do not display errors on extensions page if under configuration w/ burnettk
  spiffworkflow-frontend/src/routes/Configuration.tsx
  spiffworkflow-frontend/src/routes/Extension.tsx
Due: none

Adding guest content
  docs/Getting_Started/images/Guest.png
  docs/Getting_Started/images/Guest_1.png
  docs/Getting_Started/images/Guest_2.png
  docs/Getting_Started/images/Guest_3.png
  docs/Getting_Started/images/Guest_@.png
Due: none

fixing KB Comments
  docs/Support/FAQ.md
Due: none

updated bpmn-js-spiffworkflow to support conditional boundary events w/ burnettk
  spiffworkflow-frontend/package-lock.json
Due: none

updated target links for Read and Learn More in rjsf editor so they pin to different tabs w/ burnettk
  spiffworkflow-frontend/src/components/ReactFormBuilder/ReactFormBuilder.tsx
Due: none

minor formatting to Read and Learn more w/ burnettk
  spiffworkflow-frontend/src/components/ReactFormBuilder/ReactFormBuilder.tsx
Due: none

updated to new connector versions w/ burnettk
  connector-proxy-demo/poetry.lock
Due: none

added migration to drop the id column from json_data and make hash the primary key
  .github/workflows/docker_image_for_main_builds.yml
  spiffworkflow-backend/bin/recreate_db
  spiffworkflow-backend/migrations/versions/d8901960326e_.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/json_data.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

updated connector-http for fixed post request v2 w/ burnettk
  connector-proxy-demo/poetry.lock
Due: none

create connectory-proxy-demo docker images w/ burnettk
  .github/workflows/docker_image_for_main_builds.yml
Due: none

do not save cancelled task events again
  spiffworkflow-backend/src/spiffworkflow_backend/services/task_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/workflow_execution_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Backend changes
  spiffworkflow-backend/src/spiffworkflow_backend/routes/data_store_controller.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Support objects as data store values
  spiffworkflow-frontend/src/components/DataStoreList.tsx
Due: none

actually only process cancelled events that were cancelled during the current run
  spiffworkflow-backend/src/spiffworkflow_backend/services/task_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/workflow_execution_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Pre pr cleanup
  spiffworkflow-backend/src/spiffworkflow_backend/routes/data_store_controller.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Getting bin_pyl to pass
  spiffworkflow-backend/src/spiffworkflow_backend/routes/data_store_controller.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Remove box, use non task data environment
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Add support for KKV data stores to the data stores tab (#576)
  spiffworkflow-backend/src/spiffworkflow_backend/routes/data_store_controller.py
  spiffworkflow-frontend/src/components/DataStoreList.tsx
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Feature/do not save cancelled task events twice (#575)
  spiffworkflow-backend/src/spiffworkflow_backend/services/task_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/workflow_execution_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Stop using box based environment, remove dot notation from scripts in tests
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
  spiffworkflow-backend/tests/data/message_send_two_conversations/message_receiver_one.bpmn
  spiffworkflow-backend/tests/data/message_send_two_conversations/message_receiver_two.bpmn
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Remove box type hint
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Removing Library Question
  docs/Support/FAQ.md
Due: none

added test and some additional support for deny permissions w/ burnettk
  spiffworkflow-backend/bin/get_perms
  spiffworkflow-backend/src/spiffworkflow_backend/api.yml
  spiffworkflow-backend/src/spiffworkflow_backend/services/authorization_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_api.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_authorization_service.py
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

added support for deny through permissions-check api w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/services/authorization_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/helpers/base_test.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_api.py
  spiffworkflow-frontend/src/routes/ProcessInstanceShow.tsx
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Path conditions:
  black: any of: ^spiffworkflow-backend/ and \.py$ and not (/migrations/)
  check-added-large-files: any of: ^spiffworkflow-backend/
  check-toml: any of: ^spiffworkflow-backend/ and \.toml$
  check-yaml: any of: ^spiffworkflow-backend/ and \.(yaml|yml)$
  end-of-file-fixer: any of: ^spiffworkflow-backend/
  flake8: any of: ^spiffworkflow-backend/ and \.py$ and not (/migrations/)
  pyupgrade: any of: ^spiffworkflow-backend/ and \.py$
  reorder-python-imports: any of: ^spiffworkflow-backend/ and \.py$ and not ((/migrations/|load_database_models))
  trailing-whitespace: any of: ^spiffworkflow-backend/, but not: /migrations/
