Repository sartography/spiff-arena: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-added-large-files, check-toml, check-yaml, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

check-added-large-files:
  name: Check for added large files
  entry: check-added-large-files
  language: system

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

end-of-file-fixer:
  name: Fix End of Files
  entry: end-of-file-fixer
  language: system
  stages:
  - commit
  - push
  - manual

ruff-check:
  args:
  - check
  - --fix
  name: ruff
  entry: ruff
  language: system
  require_serial: true

ruff-format:
  args:
  - format
  name: ruff
  entry: ruff
  language: system
  require_serial: true

trailing-whitespace:
  name: Trim Trailing Whitespace
  entry: trailing-whitespace-fixer
  language: system
  stages:
  - commit
  - push
  - manual

more fixes w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/api.yml
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_extensions_controller.py
Due: check-added-large-files, check-yaml, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

some more fixes w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_models_controller.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_models_controller.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

some updates w/ burnettk
  spiffworkflow-backend/bin/save_all_bpmn.py
  spiffworkflow-backend/tests/spiffworkflow_backend/helpers/base_test.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_api.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_user_blueprint.py
  spiffworkflow-backend/tests/spiffworkflow_backend/scripts/test_generate_markdown_table.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

some tests can pass now w/ burnettk
  spiffworkflow-backend/tests/spiffworkflow_backend/helpers/base_test.py
  spiffworkflow-backend/tests/spiffworkflow_backend/helpers/example_data.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

some fix for bin w/ burnettk
  spiffworkflow-backend/bin/save_all_bpmn.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

run local server with uvicorn instead of flask w/ burnettk
  spiffworkflow-backend/bin/run_server_locally
  spiffworkflow-backend/pyproject.toml
  spiffworkflow-backend/uv.lock
  spiffworkflow-backend/wsgi.py
Due: check-added-large-files, check-toml, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

do not follow redirects in starlette, reload on save in uvicorn, and set base url for starellet
  spiffworkflow-backend/bin/run_server_locally
  spiffworkflow-backend/conftest.py
  spiffworkflow-backend/src/spiffworkflow_backend/api.yml
  spiffworkflow-backend/tests/spiffworkflow_backend/helpers/example_data.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_authentication.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_openid_blueprint.py
Due: check-added-large-files, check-yaml, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

mypy works again
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_extensions_controller.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_messages.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_openid_blueprint.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_api.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_models_controller.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_public_controller.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_service_accounts.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_tasks_controller.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_webhooks_controller.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

fix api tests and null out g.user between each test
  spiffworkflow-backend/conftest.py
  spiffworkflow-backend/tests/spiffworkflow_backend/helpers/base_test.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_api.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_models_controller.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

fix extension usage w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/api.yml
Due: check-added-large-files, check-yaml, end-of-file-fixer, trailing-whitespace

make sure post bodies are required when necessary w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/api.yml
Due: check-added-large-files, check-yaml, end-of-file-fixer, trailing-whitespace

all but one test is passing consistently w/ burnettk
  spiffworkflow-backend/conftest.py
  spiffworkflow-backend/src/spiffworkflow_backend/api.yml
  spiffworkflow-backend/src/spiffworkflow_backend/routes/tasks_controller.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_authentication.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_messages.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_groups_controller.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_public_controller.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_secrets_controller.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_service_accounts.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_tasks_controller.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_webhooks_controller.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_feature_flag_service.py
Due: check-added-large-files, check-yaml, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

all tests are passing w/ burnettk
  spiffworkflow-backend/conftest.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_error_handling_service.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

handle when no additional valid issuers, like with local open id
  spiffworkflow-backend/src/spiffworkflow_backend/services/authentication_service.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

handle when no additional valid issuers, like with local open id (#2392)
  spiffworkflow-backend/src/spiffworkflow_backend/services/authentication_service.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

fix locator
  spiffworkflow-frontend/test/browser/tasks/test_can_complete_and_navigate_a_form.py
Due: none

get pid
  spiffworkflow-frontend/test/browser/tasks/test_can_complete_and_navigate_a_form.py
Due: none

tests
  spiffworkflow-frontend/src/components/TaskTable.tsx
  spiffworkflow-frontend/test/browser/tasks/test_can_complete_and_navigate_a_form.py
Due: none

no lambda
  spiffworkflow-frontend/test/browser/tasks/test_can_complete_and_navigate_a_form.py
Due: none

passing
  spiffworkflow-frontend/src/views/ProcessInstanceShow.tsx
  spiffworkflow-frontend/test/browser/tasks/test_can_complete_and_navigate_a_form.py
Due: none

deprecate
  spiffworkflow-frontend/cypress/README.md
Due: none

partial to pass along app
  spiffworkflow-backend/src/spiffworkflow_backend/__init__.py
  spiffworkflow-backend/src/spiffworkflow_backend/exceptions/api_error.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

cors before exception
  spiffworkflow-backend/src/spiffworkflow_backend/__init__.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

no auth on static assets w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/background_processing/background_processing_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/authorization_service.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

fixes for hosting openid blueprint and swagger w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/api.yml
  spiffworkflow-backend/src/spiffworkflow_backend/services/authorization_service.py
Due: check-added-large-files, check-yaml, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

OpenID not Open ID
  spiffworkflow-backend/src/spiffworkflow_backend/routes/openid_blueprint/templates/login.html
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

various fixes for celery, use app.py instead of FLASK_APP, rename wsgi w/ burnettk
  spiffworkflow-backend/app.py
  spiffworkflow-backend/bin/boot_server_in_docker
  spiffworkflow-backend/bin/local_development_environment_setup
  spiffworkflow-backend/bin/recreate_db
  spiffworkflow-backend/bin/run_ci_session
  spiffworkflow-backend/bin/run_server_locally
  spiffworkflow-backend/spiff_web_server.py
  spiffworkflow-backend/src/spiffworkflow_backend/__init__.py
  spiffworkflow-backend/src/spiffworkflow_backend/background_processing/celery.py
  spiffworkflow-backend/src/spiffworkflow_backend/background_processing/celery_worker.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

use the app object provided by flask whenever possible w/ burnettk
  spiffworkflow-backend/app.py
  spiffworkflow-backend/conftest.py
  spiffworkflow-backend/tests/spiffworkflow_backend/helpers/base_test.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_authentication.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_api.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_instances_controller.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_public_controller.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_webhooks_controller.py
  spiffworkflow-backend/tests/spiffworkflow_backend/scripts/test_get_url_for_task_with_bpmn_identifier.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_feature_flag_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_kkv_data_store.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_process_instance_migrator.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_process_instance_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_process_model_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_script_unit_test_runner.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

more cleanup w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/__init__.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/monitoring_service.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

this must have been a bad merge resolution
  spiffworkflow-backend/src/spiffworkflow_backend/services/authentication_service.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

Update spiffworkflow-backend/src/spiffworkflow_backend/scripts/generate_markdown_table.py
  spiffworkflow-backend/src/spiffworkflow_backend/scripts/generate_markdown_table.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

Revert "Update spiffworkflow-backend/src/spiffworkflow_backend/scripts/generate_markdown_table.py"
  spiffworkflow-backend/src/spiffworkflow_backend/scripts/generate_markdown_table.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

some code rabbit w/ burnettk
  spiffworkflow-backend/app.py
  spiffworkflow-backend/src/spiffworkflow_backend/api.yml
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_user_blueprint.py
Due: check-added-large-files, check-yaml, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

script args can be anything w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/scripts/generate_markdown_table.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

no new to ignore anything
  spiffworkflow-backend/bin/run_ci_session
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

Path conditions:
  check-added-large-files: any of: ^spiffworkflow-backend/
  check-toml: any of: ^spiffworkflow-backend/ and \.toml$
  check-yaml: any of: ^spiffworkflow-backend/ and \.(yaml|yml)$
  end-of-file-fixer: any of: ^spiffworkflow-backend/
  ruff-check: any of: ^spiffworkflow-backend/ and \.py$ and not (/migrations/)
  ruff-format: any of: ^spiffworkflow-backend/ and \.py$ and not (/migrations/)
  trailing-whitespace: any of: ^spiffworkflow-backend/, but not: /migrations/
