Repository sartography/spiff-arena: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        # entry: bash -c 'cd spiffworkflow-backend && black'
        entry: black
        language: system
        files: ^spiffworkflow-backend/
        types: [python]
        require_serial: true
        # exclude: ^migrations/
        exclude: "/migrations/"
      - id: check-added-large-files
        files: ^spiffworkflow-backend/
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-toml
        files: ^spiffworkflow-backend/
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-yaml
        files: ^spiffworkflow-backend/
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        files: ^spiffworkflow-backend/
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: flake8
        files: ^spiffworkflow-backend/
        name: flake8
        entry: flake8
        language: system
        types: [python]
        require_serial: true
        exclude: "/migrations/"
      - id: pyupgrade
        files: ^spiffworkflow-backend/
        name: pyupgrade
        description: Automatically upgrade syntax for newer versions.
        entry: pyupgrade
        language: system
        types: [python]
        args: [--py37-plus]
      - id: reorder-python-imports
        files: ^spiffworkflow-backend/
        name: Reorder python imports
        entry: reorder-python-imports
        language: system
        types: [python]
        args: [--application-directories=src]
        exclude: "(/migrations/|load_database_models)"
      - id: trailing-whitespace
        files: ^spiffworkflow-backend/
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
        exclude: "/migrations/"
  # - repo: https://github.com/pre-commit/mirrors-prettier
  #   rev: v2.4.1
  #   hooks:
  #     - id: prettier
  #       files: ^spiffworkflow-backend/
  #       exclude_types: [html]

add demo group access to the customer-contracts to give us 5 tiles for the dmeo.
  spiffworkflow-backend/src/spiffworkflow_backend/config/permissions/development.yml
  spiffworkflow-backend/src/spiffworkflow_backend/config/permissions/terraform_deployed_environment.yml
Due: check-added-large-files, check-yaml, end-of-file-fixer, trailing-whitespace

make sasha, harmeet, manuchehr, and admin have desired permissions for demo
  spiffworkflow-backend/bin/spiffworkflow-realm.json
  spiffworkflow-backend/src/spiffworkflow_backend/config/permissions/development.yml
  spiffworkflow-backend/src/spiffworkflow_backend/config/permissions/terraform_deployed_environment.yml
  spiffworkflow-backend/src/spiffworkflow_backend/models/process_instance.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_api_blueprint.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_report_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_service.py
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

upgrade keycloak
  spiffworkflow-backend/keycloak/Dockerfile
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

put sasha and manuchehr in demo group
  spiffworkflow-backend/src/spiffworkflow_backend/config/permissions/terraform_deployed_environment.yml
Due: check-added-large-files, check-yaml, end-of-file-fixer, trailing-whitespace

everybody gets access to read processes
  spiffworkflow-backend/src/spiffworkflow_backend/config/permissions/terraform_deployed_environment.yml
Due: check-added-large-files, check-yaml, end-of-file-fixer, trailing-whitespace

Query fix with the gang
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_api_blueprint.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Getting ./bin/pyl to pass
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_api_blueprint.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

get rid of Project Lead group
  spiffworkflow-backend/src/spiffworkflow_backend/config/permissions/development.yml
  spiffworkflow-backend/src/spiffworkflow_backend/config/permissions/terraform_deployed_environment.yml
Due: check-added-large-files, check-yaml, end-of-file-fixer, trailing-whitespace

only delete active tasks if needed w/ burnettk cullerton
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Save as report component
  spiffworkflow-frontend/src/components/ProcessInstanceListSaveAsReport.tsx
  spiffworkflow-frontend/src/components/ProcessInstanceListTable.tsx
Due: none

WIP
  spiffworkflow-frontend/src/components/ProcessInstanceListSaveAsReport.tsx
  spiffworkflow-frontend/src/components/ProcessInstanceListTable.tsx
Due: none

Use current columns
  spiffworkflow-frontend/src/components/ProcessInstanceListSaveAsReport.tsx
  spiffworkflow-frontend/src/components/ProcessInstanceListTable.tsx
Due: none

Save selected process model
  spiffworkflow-frontend/src/components/ProcessInstanceListSaveAsReport.tsx
  spiffworkflow-frontend/src/components/ProcessInstanceListTable.tsx
Due: none

added script to save process instance metadata and fixed permissions issue w/ burnettk cullerton
  bin/run_pyl
  spiffworkflow-backend/migrations/versions/ff1c1628337c_.py
  spiffworkflow-backend/src/spiffworkflow_backend/config/permissions/development.yml
  spiffworkflow-backend/src/spiffworkflow_backend/config/permissions/terraform_deployed_environment.yml
  spiffworkflow-backend/src/spiffworkflow_backend/load_database_models.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/process_instance.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/process_instance_metadata.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/spiff_step_details.py
  spiffworkflow-backend/src/spiffworkflow_backend/scripts/save_process_instance_metadata.py
  spiffworkflow-backend/tests/data/save_process_instance_metadata/save_process_instance_metadata.bpmn
  spiffworkflow-backend/tests/spiffworkflow_backend/scripts/test_save_process_instance_metadata.py
  spiffworkflow-frontend/src/components/ProcessModelListTiles.tsx
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

fixed issue ensuring active tasks are up to date w/ burnettk cullerton
  spiffworkflow-backend/src/spiffworkflow_backend/scripts/save_process_instance_metadata.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
  spiffworkflow-backend/tests/spiffworkflow_backend/scripts/test_save_process_instance_metadata.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_process_instance_processor.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Save first status
  spiffworkflow-frontend/src/components/ProcessInstanceListSaveAsReport.tsx
  spiffworkflow-frontend/src/components/ProcessInstanceListTable.tsx
Due: none

some basics to add metadata to reports w/ burnettk cullerton
  spiffworkflow-backend/src/spiffworkflow_backend/models/process_instance_report.py
  spiffworkflow-backend/tests/data/test-process-instance-metadata-report/process_instance_metadata.bpmn
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_api.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Save dates
  spiffworkflow-frontend/src/components/ProcessInstanceListSaveAsReport.tsx
  spiffworkflow-frontend/src/components/ProcessInstanceListTable.tsx
Due: none

Choose new report
  spiffworkflow-frontend/src/components/ProcessInstanceListSaveAsReport.tsx
  spiffworkflow-frontend/src/components/ProcessInstanceListTable.tsx
Due: none

WIP more metadata reporting w/ burnettk
  spiffworkflow-backend/:
  spiffworkflow-backend/src/spiffworkflow_backend/services/authentication_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_report_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_api.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace
