Repository sartography/spiff-arena: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        # entry: bash -c 'cd spiffworkflow-backend && black'
        entry: black
        language: system
        files: ^spiffworkflow-backend/
        types: [python]
        require_serial: true
        # exclude: ^migrations/
        exclude: "/migrations/"
      - id: check-added-large-files
        files: ^spiffworkflow-backend/
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-toml
        files: ^spiffworkflow-backend/
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-yaml
        files: ^spiffworkflow-backend/
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        files: ^spiffworkflow-backend/
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: flake8
        files: ^spiffworkflow-backend/
        name: flake8
        entry: flake8
        language: system
        types: [python]
        require_serial: true
        exclude: "/migrations/"
      - id: pyupgrade
        files: ^spiffworkflow-backend/
        name: pyupgrade
        description: Automatically upgrade syntax for newer versions.
        entry: pyupgrade
        language: system
        types: [python]
        args: [--py37-plus]
      - id: reorder-python-imports
        files: ^spiffworkflow-backend/
        name: Reorder python imports
        entry: reorder-python-imports
        language: system
        types: [python]
        args: [--application-directories=src]
        exclude: "(/migrations/|load_database_models)"
      - id: trailing-whitespace
        files: ^spiffworkflow-backend/
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
        exclude: "/migrations/"
  # - repo: https://github.com/pre-commit/mirrors-prettier
  #   rev: v2.4.1
  #   hooks:
  #     - id: prettier
  #       files: ^spiffworkflow-backend/
  #       exclude_types: [html]

fix two issues, one where we were not sorting after globbing, and another where we forgot about process groups
  spiffworkflow-backend/tests/spiffworkflow_backend/helpers/example_data.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Support retry when user_input_required is locked
  spiffworkflow-backend/src/spiffworkflow_backend/config/default.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/tasks_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Getting ./bin/pyl to pass
  spiffworkflow-backend/src/spiffworkflow_backend/routes/tasks_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Retry locked user input submissions (#185)
  spiffworkflow-backend/src/spiffworkflow_backend/config/default.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/tasks_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

tests are now passing w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/models/task.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/task_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/workflow_execution_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_api.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_process_instance_processor.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

add finance.project-lead user
  spiffworkflow-backend/keycloak/realm_exports/spiffworkflow-realm.json
  spiffworkflow-backend/keycloak/test_user_lists/status
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

pyl w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/task_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/workflow_execution_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_api.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_process_instance_processor.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

added bpmn process definition to bpmn process w/ burnettk
  spiffworkflow-backend/migrations/versions/8ee0f1c23cc7_.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/bpmn_process.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/task_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/workflow_execution_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

add in missing fields to logs
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_instances_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/workflow_execution_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_logging_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_process_instance_processor.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

fix all deprecation warnings
  spiffworkflow-backend/pyproject.toml
  spiffworkflow-backend/src/spiffworkflow_backend/models/bpmn_process.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/human_task_user.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/task.py
Due: black, check-added-large-files, check-toml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

lint
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_instances_controller.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_logging_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_process_instance_processor.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

add bin/reorder_python_imports_in_backend script
  bin/reorder_python_imports_in_backend
Due: none

comment script
  bin/reorder_python_imports_in_backend
Due: none

bump sphinx_click version
  poetry.lock
Due: none

see if this still works
  .github/workflows/docker_image_for_main_builds.yml
Due: none

add user
  spiffworkflow-backend/keycloak/realm_exports/spiffworkflow-realm.json
  spiffworkflow-backend/keycloak/test_user_lists/status
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

added bpmn_name columns to definition tables and added test for simple logs as well
  spiffworkflow-backend/migrations/versions/8dce75b80bfd_.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/bpmn_process_definition.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/task_definition.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_instances_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
  spiffworkflow-backend/tests/data/manual_task_with_subprocesses/manual_task_with_subprocesses.bpmn
  spiffworkflow-backend/tests/data/manual_task_with_subprocesses/test_process_to_call.bpmn
  spiffworkflow-backend/tests/data/simple_form/simple_form.bpmn
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_logging_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_process_instance_processor.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

updated log list view in frontend w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_instances_controller.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_logging_service.py
  spiffworkflow-frontend/src/routes/ProcessInstanceLogList.tsx
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

WIP
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_instances_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Working
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_instances_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Getting ./bin/pyl to pass
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_instances_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_api.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

UAT bug fix: suspended/terminated instances automagically resume (#186)
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_instances_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_api.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

added process instance event table
  spiffworkflow-backend/migrations/env.py
  spiffworkflow-backend/migrations/versions/05153ab6a6b8_.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/process_instance_event.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_instances_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/workflow_execution_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_logging_service.py
  spiffworkflow-frontend/src/routes/ProcessInstanceLogList.tsx
  spiffworkflow-frontend/src/routes/ProcessInstanceShow.tsx
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace
