Repository sartography/spiff-arena: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, ruff, trailing-whitespace

black:
  name: black
  entry: black
  language: system
  line-length: 130
  require_serial: true
  args:
  - --preview
  - --line-length
  - '130'

check-added-large-files:
  name: Check for added large files
  entry: check-added-large-files
  language: system

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

end-of-file-fixer:
  name: Fix End of Files
  entry: end-of-file-fixer
  language: system
  stages:
  - commit
  - push
  - manual

ruff:
  args:
  - --fix
  name: ruff
  entry: ruff
  language: system
  require_serial: true

trailing-whitespace:
  name: Trim Trailing Whitespace
  entry: trailing-whitespace-fixer
  language: system
  stages:
  - commit
  - push
  - manual

do not run tasks in parallel if they have gateway children w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/services/workflow_execution_service.py
Due: black, check-added-large-files, end-of-file-fixer, ruff, trailing-whitespace

remove debugging code w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/config/default.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/workflow_execution_service.py
Due: black, check-added-large-files, end-of-file-fixer, ruff, trailing-whitespace

make permissions on process group show more nuanced (#1460)
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_groups_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/authorization_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_model_service.py
Due: black, check-added-large-files, end-of-file-fixer, ruff, trailing-whitespace

some additional fixes for the numeric range field (#1464)
  spiffworkflow-frontend/src/components/CustomForm.tsx
  spiffworkflow-frontend/src/helpers.tsx
  spiffworkflow-frontend/src/rjsf/custom_widgets/NumericRangeField/NumericRangeField.tsx
Due: none

bump spiff for feature/receive-message-correlations (#1454)
  spiffworkflow-backend/poetry.lock
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

attempting to fix flakey test w/ burnettk
  spiffworkflow-backend/tests/data/threads_with_script_timers/threads_with_script_timers.bpmn
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

Config turn off threads (#1466)
  spiffworkflow-backend/src/spiffworkflow_backend/config/default.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/workflow_execution_service.py
  spiffworkflow-backend/tests/data/threads_with_script_timers/threads_with_script_timers.bpmn
Due: black, check-added-large-files, end-of-file-fixer, ruff, trailing-whitespace

make sure init params are in include list
  spiffworkflow-backend/src/spiffworkflow_backend/models/process_group.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_model_service.py
  spiffworkflow-backend/tests/data/bpmn_unit_test_process_models/expected-to-fail/process_group.json
Due: black, check-added-large-files, end-of-file-fixer, ruff, trailing-whitespace

make sure init params are in include list (#1467)
  spiffworkflow-backend/src/spiffworkflow_backend/models/process_group.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_model_service.py
  spiffworkflow-backend/tests/data/bpmn_unit_test_process_models/expected-to-fail/process_group.json
Due: black, check-added-large-files, end-of-file-fixer, ruff, trailing-whitespace

Some basic global themeing knocked off from Web3
  spiffworkflow-frontend/src/a-spiffui-v2/views/Dashboards/Dashboards.tsx
  spiffworkflow-frontend/src/a-spiffui-v2/views/Dashboards/Toolbar.tsx
  spiffworkflow-frontend/src/routes/SpiffUIV2.tsx
Due: none

get rid of docutils and upgrade myst-parser to unhose dependabot
  docs/requirements.txt
Due: none

wip related to giving access to groups when you have subgroups
  spiffworkflow-backend/src/spiffworkflow_backend/config/permissions/local_development.yml
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_groups_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/authorization_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_model_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_authorization_service.py
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, ruff, trailing-whitespace

Datagrid Layout complete
  spiffworkflow-frontend/package-lock.json
  spiffworkflow-frontend/package.json
  spiffworkflow-frontend/src/a-spiffui-v2/assets/icons/columns-2.svg
  spiffworkflow-frontend/src/a-spiffui-v2/assets/icons/grid-outlined.svg
  spiffworkflow-frontend/src/a-spiffui-v2/assets/icons/share-arrow.svg
  spiffworkflow-frontend/src/a-spiffui-v2/assets/theme/SpiffTheme.ts
  spiffworkflow-frontend/src/a-spiffui-v2/views/Dashboards/Dashboards.tsx
  spiffworkflow-frontend/src/a-spiffui-v2/views/Dashboards/Toolbar.tsx
  spiffworkflow-frontend/src/routes/SpiffUIV2.tsx
Due: none

handle deny permissions and check normal permissions if pg parent method as well w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/models/permission_assignment.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_groups_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/authorization_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_model_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_authorization_service.py
Due: black, check-added-large-files, end-of-file-fixer, ruff, trailing-whitespace

reverted local dev perm file w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/config/permissions/local_development.yml
Due: check-added-large-files, check-yaml, end-of-file-fixer, trailing-whitespace

Menu items hover and rollover states
  spiffworkflow-frontend/src/a-spiffui-v2/components/MenuItem.tsx
  spiffworkflow-frontend/src/a-spiffui-v2/components/sidemenu/SideMenu.tsx
Due: none

Add card row
  spiffworkflow-frontend/src/a-spiffui-v2/views/Dashboards/Dashboards.tsx
  spiffworkflow-frontend/src/a-spiffui-v2/views/Dashboards/FilterCard.tsx
Due: none

bump bpmn js spiff for new call activity ux
  spiffworkflow-frontend/package-lock.json
Due: none

a little test cleanup
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_authorization_service.py
Due: black, check-added-large-files, end-of-file-fixer, ruff, trailing-whitespace

Perms for group navigate (#1470)
  spiffworkflow-backend/src/spiffworkflow_backend/config/permissions/local_development.yml
  spiffworkflow-backend/src/spiffworkflow_backend/models/permission_assignment.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_groups_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/authorization_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_model_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_authorization_service.py
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, ruff, trailing-whitespace

bump bpmn js spiff for new call activity ux (#1472)
  spiffworkflow-frontend/package-lock.json
Due: none

useProcessInstances hook
  spiffworkflow-frontend/src/a-spiffui-v2/hooks/useProcessInstances.tsx
  spiffworkflow-frontend/src/a-spiffui-v2/views/Dashboards/Dashboards.tsx
Due: none

Documentation on Lanes/Pools and FAQ
  docs/Building_Diagrams/images/lanes_pools_example_1.png
  docs/Building_Diagrams/images/lanes_pools_example_2.png
  docs/Building_Diagrams/images/lanes_pools_example_3.png
  docs/Building_Diagrams/images/lanes_pools_example_4.png
  docs/Building_Diagrams/pools_and_lanes.md
  docs/Support/FAQ.md
Due: none

Updates
  docs/Building_Diagrams/pools_and_lanes.md
  docs/Support/FAQ.md
Due: none

add mermaid charts
  docs/conf.py
  docs/requirements.txt
Due: none

Responsiveness
  spiffworkflow-frontend/src/a-spiffui-v2/components/sidemenu/SideMenu.tsx
  spiffworkflow-frontend/src/a-spiffui-v2/hooks/useProcessInstances.tsx
  spiffworkflow-frontend/src/a-spiffui-v2/views/Dashboards/Dashboards.tsx
  spiffworkflow-frontend/src/a-spiffui-v2/views/Dashboards/Toolbar.tsx
  spiffworkflow-frontend/src/routes/SpiffUIV2.tsx
Due: none

Responsive tweaks
  spiffworkflow-frontend/src/a-spiffui-v2/views/Dashboards/Dashboards.tsx
  spiffworkflow-frontend/src/a-spiffui-v2/views/Dashboards/Toolbar.tsx
Due: none

added new table to handle called process relationships
  spiffworkflow-backend/bin/boot_server_in_docker
  spiffworkflow-backend/bin/local_development_environment_setup
  spiffworkflow-backend/bin/run_server_locally
  spiffworkflow-backend/bin/save_all_bpmn.py
  spiffworkflow-backend/migrations/versions/013ed4d40f4a_.py
  spiffworkflow-backend/src/spiffworkflow_backend/load_database_models.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/process_caller.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/process_caller_relationship.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_api_blueprint.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/data_setup_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_caller_service.py
Due: black, check-added-large-files, end-of-file-fixer, ruff, trailing-whitespace

tech docs
  docs/conf.py
  docs/dev/backend.md
  docs/dev/frontend.md
  docs/dev/index.md
  docs/index.md
Due: none

process caller api endpoint is working again w/ burnettk
  spiffworkflow-backend/keycloak/bin/add_test_users_to_keycloak
  spiffworkflow-backend/src/spiffworkflow_backend/models/process_caller_relationship.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_api_blueprint.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_models_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/data_setup_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/monitoring_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_caller_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/spec_file_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/helpers/example_data.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_api.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_process_caller_service.py
Due: black, check-added-large-files, end-of-file-fixer, ruff, trailing-whitespace

Live data in grid etc.
  spiffworkflow-frontend/package-lock.json
  spiffworkflow-frontend/package.json
  spiffworkflow-frontend/src/a-spiffui-v2/views/Dashboards/Dashboards.tsx
  spiffworkflow-frontend/src/a-spiffui-v2/views/Dashboards/ProcessInstanceCard.tsx
  spiffworkflow-frontend/src/routes/SpiffUIV2.tsx
Due: none

more tech docs
  docs/Building_Diagrams/Extensions.md
  docs/dev/backend.md
  docs/dev/connector_proxy.md
  docs/dev/index.md
  docs/dev/setup.md
  docs/index.md
Due: none

Phone responsive
  spiffworkflow-frontend/src/a-spiffui-v2/views/Dashboards/Dashboards.tsx
  spiffworkflow-frontend/src/a-spiffui-v2/views/Dashboards/FilterCard.tsx
  spiffworkflow-frontend/src/a-spiffui-v2/views/Dashboards/ProcessInstanceCard.tsx
  spiffworkflow-frontend/src/routes/SpiffUIV2.tsx
Due: none

Responsivness working across all breakpoints
  spiffworkflow-frontend/src/a-spiffui-v2/components/sidemenu/SideMenu.tsx
  spiffworkflow-frontend/src/a-spiffui-v2/views/Dashboards/Dashboards.tsx
  spiffworkflow-frontend/src/routes/SpiffUIV2.tsx
Due: none

Side menu height simplification
  spiffworkflow-frontend/src/a-spiffui-v2/components/sidemenu/SideMenu.tsx
  spiffworkflow-frontend/src/routes/SpiffUIV2.tsx
Due: none

more chips for milestone and status
  spiffworkflow-frontend/src/a-spiffui-v2/views/Dashboards/Dashboards.tsx
  spiffworkflow-frontend/src/a-spiffui-v2/views/Dashboards/ProcessInstanceCard.tsx
Due: none

Basic client grid search
  spiffworkflow-frontend/src/a-spiffui-v2/views/Dashboards/Dashboards.tsx
Due: none

do not invalidate a numeric range field if it is unset and not required
  spiffworkflow-frontend/src/components/CustomForm.tsx
  spiffworkflow-frontend/src/rjsf/custom_widgets/NumericRangeField/NumericRangeField.tsx
Due: none

add process doc
  docs/dev/process.md
  docs/dev/setup.md
  docs/index.md
Due: none

fixed more tests and mypy w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/models/process_caller_relationship.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_caller_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/reference_cache_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_process_caller_service.py
Due: black, check-added-large-files, end-of-file-fixer, ruff, trailing-whitespace

Path conditions:
  black: any of: ^spiffworkflow-backend/ and \.py$ and not (/migrations/)
  check-added-large-files: any of: ^spiffworkflow-backend/
  check-toml: any of: ^spiffworkflow-backend/ and \.toml$
  check-yaml: any of: ^spiffworkflow-backend/ and \.(yaml|yml)$
  end-of-file-fixer: any of: ^spiffworkflow-backend/
  ruff: any of: ^spiffworkflow-backend/ and \.py$ and not (/migrations/)
  trailing-whitespace: any of: ^spiffworkflow-backend/, but not: /migrations/
