Repository sartography/spiff-arena: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        # entry: bash -c 'cd spiffworkflow-backend && black'
        entry: black
        language: system
        files: ^spiffworkflow-backend/
        types: [python]
        require_serial: true
        # exclude: ^migrations/
        exclude: "/migrations/"
      - id: check-added-large-files
        files: ^spiffworkflow-backend/
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-toml
        files: ^spiffworkflow-backend/
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-yaml
        files: ^spiffworkflow-backend/
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        files: ^spiffworkflow-backend/
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: flake8
        files: ^spiffworkflow-backend/
        name: flake8
        entry: flake8
        language: system
        types: [python]
        require_serial: true
        exclude: "/migrations/"
      - id: pyupgrade
        files: ^spiffworkflow-backend/
        name: pyupgrade
        description: Automatically upgrade syntax for newer versions.
        entry: pyupgrade
        language: system
        types: [python]
        args: [--py37-plus]
      - id: reorder-python-imports
        files: ^spiffworkflow-backend/
        name: Reorder python imports
        entry: reorder-python-imports
        language: system
        types: [python]
        args: [--application-directories=src]
        exclude: "(/migrations/|load_database_models)"
      - id: trailing-whitespace
        files: ^spiffworkflow-backend/
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
        exclude: "/migrations/"
  # - repo: https://github.com/pre-commit/mirrors-prettier
  #   rev: v2.4.1
  #   hooks:
  #     - id: prettier
  #       files: ^spiffworkflow-backend/
  #       exclude_types: [html]

Squashed 'SpiffWorkflow/' changes from 46d3de27f..ffb168675
  Makefile
  tests/SpiffWorkflow/bpmn/data/event-gateway.bpmn
  tests/SpiffWorkflow/bpmn/data/multiple-start-parallel.bpmn
  tests/SpiffWorkflow/bpmn/data/multiple-start.bpmn
  tests/SpiffWorkflow/bpmn/data/multiple-throw-start.bpmn
  tests/SpiffWorkflow/bpmn/data/multiple-throw.bpmn
  tests/SpiffWorkflow/bpmn/events/EventBasedGatewayTest.py
  tests/SpiffWorkflow/bpmn/events/MultipleCatchEventTest.py
  tests/SpiffWorkflow/bpmn/events/MultipleThrowEventTest.py
  tests/SpiffWorkflow/dmn/HitPolicyTest.py
  tests/SpiffWorkflow/specs/ExecuteTest.py
Due: none

Squashed 'SpiffWorkflow/' changes from 46d3de27f..ffb168675
  Makefile
  SpiffWorkflow/bpmn/parser/BpmnParser.py
  SpiffWorkflow/bpmn/parser/TaskParser.py
  SpiffWorkflow/bpmn/parser/event_parsers.py
  SpiffWorkflow/bpmn/serializer/bpmn_converters.py
  SpiffWorkflow/bpmn/serializer/task_spec_converters.py
  SpiffWorkflow/bpmn/serializer/workflow.py
  SpiffWorkflow/bpmn/specs/events/IntermediateEvent.py
  SpiffWorkflow/bpmn/specs/events/event_definitions.py
  SpiffWorkflow/bpmn/workflow.py
  SpiffWorkflow/dmn/engine/DMNEngine.py
  SpiffWorkflow/dmn/serializer/task_spec_converters.py
  tests/SpiffWorkflow/bpmn/data/event-gateway.bpmn
  tests/SpiffWorkflow/bpmn/data/multiple-start-parallel.bpmn
  tests/SpiffWorkflow/bpmn/data/multiple-start.bpmn
  tests/SpiffWorkflow/bpmn/data/multiple-throw-start.bpmn
  tests/SpiffWorkflow/bpmn/data/multiple-throw.bpmn
  tests/SpiffWorkflow/bpmn/events/EventBasedGatewayTest.py
  tests/SpiffWorkflow/bpmn/events/MultipleCatchEventTest.py
  tests/SpiffWorkflow/bpmn/events/MultipleThrowEventTest.py
  tests/SpiffWorkflow/dmn/HitPolicyTest.py
  tests/SpiffWorkflow/specs/ExecuteTest.py
Due: none

Squashed 'flask-bpmn/' changes from 860f2387b..53051e399
  pyproject.toml
Due: none

Squashed 'connector-proxy-demo/' changes from fb5c24eaf..7264d61b2
  Dockerfile
  bin/boot_server_in_docker
  poetry.lock
  pyproject.toml
Due: none

try to fix a test on windows
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_api_blueprint.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_model_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

strip off spaces from git service command stdout
  spiffworkflow-backend/src/spiffworkflow_backend/services/git_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_git_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

split group task tables by group and created component for group tables
  spiffworkflow-backend/src/spiffworkflow_backend/api.yml
  spiffworkflow-backend/src/spiffworkflow_backend/config/permissions/development.yml
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_api_blueprint.py
  spiffworkflow-frontend/src/components/TasksForMyOpenProcesses.tsx
  spiffworkflow-frontend/src/components/TasksTable.tsx
  spiffworkflow-frontend/src/components/TasksWaitingForMe.tsx
  spiffworkflow-frontend/src/components/TasksWaitingForMyGroups.tsx
  spiffworkflow-frontend/src/helpers.tsx
  spiffworkflow-frontend/src/interfaces.ts
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

pyl
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_api_blueprint.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_git_service.py
  spiffworkflow-frontend/src/helpers.tsx
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

updated group api so it is not under tasks
  spiffworkflow-backend/src/spiffworkflow_backend/api.yml
  spiffworkflow-backend/src/spiffworkflow_backend/config/permissions/development.yml
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_api_blueprint.py
  spiffworkflow-frontend/src/components/TasksWaitingForMyGroups.tsx
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

split out completed instances by group as well
  spiffworkflow-backend/src/spiffworkflow_backend/api.yml
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_api_blueprint.py
  spiffworkflow-frontend/src/components/ProcessInstanceListTable.tsx
  spiffworkflow-frontend/src/components/TasksTable.tsx
  spiffworkflow-frontend/src/components/TasksWaitingForMyGroups.tsx
  spiffworkflow-frontend/src/routes/CompletedInstances.tsx
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

allow viewing the diagram for a specific process identifier
  spiffworkflow-backend/src/spiffworkflow_backend/api.yml
  spiffworkflow-backend/src/spiffworkflow_backend/models/spec_reference.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/task.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_api_blueprint.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/git_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_service.py
  spiffworkflow-frontend/src/routes/ProcessInstanceShow.tsx
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

added test to get the diagram for a given process instance call activity
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_api.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

pyl
  spiffworkflow-backend/src/spiffworkflow_backend/models/spec_reference.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_api_blueprint.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/git_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_api.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_git_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Assure our open-id system can return emails. Update our data from Open ID Systems when users log in
  spiffworkflow-backend/src/spiffworkflow_backend/routes/openid_blueprint/openid_blueprint.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/authorization_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_openid_blueprint.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

lint
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_git_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Don't show delete button for primary file
  spiffworkflow-frontend/src/components/ReactDiagramEditor.tsx
  spiffworkflow-frontend/src/routes/ProcessModelEditDiagram.tsx
  spiffworkflow-frontend/src/routes/ProcessModelShow.tsx
Due: none

some fixes to ensure we display the correct task data for the diagram elements w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/models/process_instance_metadata.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/task.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_service.py
  spiffworkflow-frontend/src/components/ProcessInstanceListTable.tsx
  spiffworkflow-frontend/src/components/ReactDiagramEditor.tsx
  spiffworkflow-frontend/src/components/TasksForMyOpenProcesses.tsx
  spiffworkflow-frontend/src/components/TasksWaitingForMyGroups.tsx
  spiffworkflow-frontend/src/helpers.tsx
  spiffworkflow-frontend/src/interfaces.ts
  spiffworkflow-frontend/src/routes/ProcessInstanceShow.tsx
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Add a message when file is saved.
  spiffworkflow-frontend/src/routes/ProcessModelEditDiagram.tsx
Due: none

gitignore things
  spiffworkflow-frontend/.gitignore
Due: none

use forEach
  spiffworkflow-frontend/src/routes/ProcessModelShow.tsx
Due: none

store subprocesses for spiff steps as well and do not save file as primary if one is already set w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_api_blueprint.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/spec_file_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace
