Repository sartography/spiff-arena: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, ruff, trailing-whitespace

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        # entry: bash -c 'cd spiffworkflow-backend && black'
        entry: black
        language: system
        files: ^spiffworkflow-backend/
        types: [python]
        line-length: 130
        require_serial: true
        # exclude: ^migrations/
        exclude: "/migrations/"

        # --preview because otherwise it will not fix long lines if the long lines contain long strings
        # https://github.com/psf/black/pull/1132
        # https://github.com/psf/black/pull/1609
        # --line-length because then we can avoid the fancy line wrapping in more instances and jason, kb, and elizabeth
        # kind of prefer long lines rather than cutely-formatted sets of lines.
        # TODO: enable when its safe to update the files
        args: [--preview, --line-length, "130"]

      - id: check-added-large-files
        files: ^spiffworkflow-backend/
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-toml
        files: ^spiffworkflow-backend/
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-yaml
        files: ^spiffworkflow-backend/
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        files: ^spiffworkflow-backend/
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: ruff
        args: [ --fix ]
        files: ^spiffworkflow-backend/
        name: ruff
        entry: ruff
        language: system
        types: [python]
        require_serial: true
        # this is also specified in spiffworkflow-backend/pyproject.toml but we run pre-commit
        # with all-files which ignores that
        exclude: "/migrations/"
      - id: trailing-whitespace
        files: ^spiffworkflow-backend/
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
        exclude: "/migrations/"
  # - repo: https://github.com/pre-commit/mirrors-prettier
  #   rev: v2.4.1
  #   hooks:
  #     - id: prettier
  #       files: ^spiffworkflow-backend/
  #       exclude_types: [html]

remove some debug code
  spiffworkflow-frontend/src/rjsf/custom_widgets/NumericRangeField/NumericRangeField.tsx
Due: none

feat: traduzido o meus processos no backend
  spiffworkflow-backend/Dockerfile
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_report_service.py
Due: black, check-added-large-files, end-of-file-fixer, ruff, trailing-whitespace

pass task data from the db if data cannot be found on the expected task on the interstitial page
  spiffworkflow-backend/src/spiffworkflow_backend/routes/tasks_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/jinja_service.py
Due: black, check-added-large-files, end-of-file-fixer, ruff, trailing-whitespace

feat: traduzido headers do backend
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_report_service.py
Due: black, check-added-large-files, end-of-file-fixer, ruff, trailing-whitespace

fix: corrigido traduções falhas
  spiffworkflow-frontend/src/components/MessageInstanceList.tsx
  spiffworkflow-frontend/src/components/ProcessGroupListTiles.tsx
  spiffworkflow-frontend/src/components/ProcessInstanceLogList.tsx
  spiffworkflow-frontend/src/components/TaskListTable.tsx
  spiffworkflow-frontend/src/components/TasksForMyOpenProcesses.tsx
  spiffworkflow-frontend/src/components/TasksWaitingForMe.tsx
  spiffworkflow-frontend/src/components/TasksWaitingForMyGroups.tsx
  spiffworkflow-frontend/src/components/UserSearch.tsx
  spiffworkflow-frontend/src/config.tsx
  spiffworkflow-frontend/src/helpers.tsx
Due: none

pass task data from the db if data cannot be found on the expected task on the interstitial page (#1440)
  spiffworkflow-backend/src/spiffworkflow_backend/routes/tasks_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/jinja_service.py
Due: black, check-added-large-files, end-of-file-fixer, ruff, trailing-whitespace

remove the collapse option from task show instructions
  spiffworkflow-frontend/src/routes/TaskShow.tsx
Due: none

remove the collapse option from task show instructions (#1444)
  spiffworkflow-frontend/src/routes/TaskShow.tsx
Due: none

remove flake8 because ruff and bandit because it is in backend
  poetry.lock
  pyproject.toml
Due: none

load task data for the immediate completed parent and for cancelled tasks
  spiffworkflow-backend/bin/query_tasks
  spiffworkflow-backend/src/spiffworkflow_backend/models/task.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
Due: black, check-added-large-files, end-of-file-fixer, ruff, trailing-whitespace

reverted query_tasks script
  spiffworkflow-backend/bin/query_tasks
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

Numeric range tweaks (#1445)
  spiffworkflow-frontend/src/components/CustomForm.tsx
  spiffworkflow-frontend/src/rjsf/custom_widgets/NumericRangeField/NumericRangeField.tsx
Due: none

couple fixes to get current user finder script
  spiffworkflow-backend/bin/lint_get_current_user_scripts.py
Due: black, check-added-large-files, end-of-file-fixer, ruff, trailing-whitespace

remove flake8 because ruff and bandit because it is in backend, fix long line
  poetry.lock
  pyproject.toml
  spiffworkflow-backend/bin/lint_get_current_user_scripts.py
Due: black, check-added-large-files, end-of-file-fixer, ruff, trailing-whitespace

load-parent-task-data (#1447)
  spiffworkflow-backend/src/spiffworkflow_backend/models/task.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
Due: black, check-added-large-files, end-of-file-fixer, ruff, trailing-whitespace

remove useless comment w/ burnettk
  spiffworkflow-backend/wsgi.py
Due: black, check-added-large-files, end-of-file-fixer, ruff, trailing-whitespace

check to ensure the value entered in a numeric range is a number
  spiffworkflow-frontend/src/components/CustomForm.tsx
  spiffworkflow-frontend/src/rjsf/custom_widgets/NumericRangeField/NumericRangeField.tsx
Due: none

save the regex number matcher so it can be used in multiple places w/ burnettk
  spiffworkflow-frontend/src/components/CustomForm.tsx
  spiffworkflow-frontend/src/helpers.tsx
  spiffworkflow-frontend/src/rjsf/custom_widgets/NumericRangeField/NumericRangeField.tsx
Due: none

fix: trocado o logo para crestani e corrigid algumas traduções
  spiffworkflow-frontend/index.html
  spiffworkflow-frontend/public/favicon.ico
  spiffworkflow-frontend/src/components/NavigationBar.tsx
  spiffworkflow-frontend/src/components/ProcessGroupListTiles.tsx
  spiffworkflow-frontend/src/components/ProcessInstanceListTable.tsx
  spiffworkflow-frontend/src/components/ProcessInstanceListTabs.tsx
  spiffworkflow-frontend/src/components/ProcessInstanceLogList.tsx
  spiffworkflow-frontend/src/components/ProcessInstanceProgress.tsx
  spiffworkflow-frontend/src/components/ProcessInstanceReportSearch.tsx
  spiffworkflow-frontend/src/components/ProcessModelListTiles.tsx
  spiffworkflow-frontend/src/components/TaskListTable.tsx
  spiffworkflow-frontend/src/config.tsx
  spiffworkflow-frontend/src/helpers.tsx
  spiffworkflow-frontend/src/logo.svg
  spiffworkflow-frontend/src/routes/CompletedInstances.tsx
  spiffworkflow-frontend/src/routes/InProgressInstances.tsx
  spiffworkflow-frontend/src/routes/ProcessInstanceFindById.tsx
  spiffworkflow-frontend/src/routes/ProcessInstanceList.tsx
  spiffworkflow-frontend/src/routes/ProcessInstanceShow.tsx
  spiffworkflow-frontend/src/routes/ProcessModelShow.tsx
  spiffworkflow-frontend/src/routes/TaskShow.tsx
Due: none

numeric-range-check-for-num (#1451)
  spiffworkflow-frontend/src/components/CustomForm.tsx
  spiffworkflow-frontend/src/helpers.tsx
  spiffworkflow-frontend/src/rjsf/custom_widgets/NumericRangeField/NumericRangeField.tsx
Due: none

log original error when token decoding fails w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/routes/authentication_controller.py
Due: black, check-added-large-files, end-of-file-fixer, ruff, trailing-whitespace

fix: corrigido tradução da barra de navegação
  spiffworkflow-frontend/src/components/NavigationBar.tsx
Due: none

bump spiff for feature/receive-message-correlations
  spiffworkflow-backend/poetry.lock
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

added test to demonstrate data store issue when run in certain contexts w/ burnettk
  spiffworkflow-backend/bin/execute_tasks_for_process_instance.py
  spiffworkflow-backend/bin/import_process_instance_from_bpmn_json.py
  spiffworkflow-backend/src/spiffworkflow_backend/data_migrations/version_4.py
  spiffworkflow-backend/src/spiffworkflow_backend/data_stores/kkv.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_service.py
  spiffworkflow-backend/tests/data/data_store_simple/data-store-simple.bpmn
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_kkv_data_store.py
Due: black, check-added-large-files, end-of-file-fixer, ruff, trailing-whitespace

added method to add kkv data store getters back onto tasks if appropriate w/ burnettk
  spiffworkflow-backend/bin/execute_tasks_for_process_instance.py
  spiffworkflow-backend/bin/import_process_instance_from_bpmn_json.py
  spiffworkflow-backend/old_proc.json
  spiffworkflow-backend/src/spiffworkflow_backend/data_stores/kkv.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/workflow_execution_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_kkv_data_store.py
Due: black, check-added-large-files, end-of-file-fixer, ruff, trailing-whitespace

removed debug code w/ burnettk
  spiffworkflow-backend/old_proc.json
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_service.py
Due: black, check-added-large-files, end-of-file-fixer, ruff, trailing-whitespace

Data store background fix (#1455)
  spiffworkflow-backend/bin/execute_tasks_for_process_instance.py
  spiffworkflow-backend/bin/import_process_instance_from_bpmn_json.py
  spiffworkflow-backend/src/spiffworkflow_backend/data_migrations/version_4.py
  spiffworkflow-backend/src/spiffworkflow_backend/data_stores/kkv.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/workflow_execution_service.py
  spiffworkflow-backend/tests/data/data_store_simple/data-store-simple.bpmn
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_kkv_data_store.py
Due: black, check-added-large-files, end-of-file-fixer, ruff, trailing-whitespace

allow specifying certain jwt options as configs w/ burnettk
  .github/workflows/docker_image_for_main_builds.yml
  spiffworkflow-backend/src/spiffworkflow_backend/config/default.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/authentication_service.py
Due: black, check-added-large-files, end-of-file-fixer, ruff, trailing-whitespace

make sure we get pg_config on mac
  .github/workflows/tests.yml
Due: none

allow specifying certain jwt options as configs w/ burnettk (#1459)
  .github/workflows/docker_image_for_main_builds.yml
  spiffworkflow-backend/src/spiffworkflow_backend/config/default.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/authentication_service.py
Due: black, check-added-large-files, end-of-file-fixer, ruff, trailing-whitespace

Scaffold new UI homepage, hide current nav bar
  spiffworkflow-frontend/src/ContainerForExtensions.tsx
  spiffworkflow-frontend/src/routes/BaseRoutes.tsx
  spiffworkflow-frontend/src/routes/SpiffUIV2.tsx
Due: none

Layout set up
  spiffworkflow-frontend/src/App.tsx
  spiffworkflow-frontend/src/a-spiffui-v2/components/sidemenu/SideMenu.tsx
  spiffworkflow-frontend/src/routes/SpiffUIV2.tsx
Due: none

if you have access to things in a group, allow navigating through group
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_groups_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/authorization_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_model_service.py
Due: black, check-added-large-files, end-of-file-fixer, ruff, trailing-whitespace

lint
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_groups_controller.py
Due: black, check-added-large-files, end-of-file-fixer, ruff, trailing-whitespace

some additional fixes for the numeric range field
  spiffworkflow-frontend/src/components/CustomForm.tsx
  spiffworkflow-frontend/src/helpers.tsx
  spiffworkflow-frontend/src/rjsf/custom_widgets/NumericRangeField/NumericRangeField.tsx
Due: none

Config to allow svg loading and imports etc. in Vite
  spiffworkflow-frontend/package-lock.json
  spiffworkflow-frontend/package.json
  spiffworkflow-frontend/src/a-spiffui-v2/assets/SpiffLogo.svg
  spiffworkflow-frontend/src/a-spiffui-v2/components/sidemenu/SideMenu.tsx
  spiffworkflow-frontend/src/routes/SpiffUIV2.tsx
  spiffworkflow-frontend/vite.config.ts
Due: none

Configure app to use Poppins
  spiffworkflow-frontend/index.html
  spiffworkflow-frontend/package-lock.json
  spiffworkflow-frontend/src/routes/SpiffUIV2.tsx
Due: none

Move icons from figma to app, set up menus
  spiffworkflow-frontend/package-lock.json
  spiffworkflow-frontend/package.json
  spiffworkflow-frontend/src/a-spiffui-v2/assets/icons/avatar-doggy.svg
  spiffworkflow-frontend/src/a-spiffui-v2/assets/icons/check-square.svg
  spiffworkflow-frontend/src/a-spiffui-v2/assets/icons/columns.svg
  spiffworkflow-frontend/src/a-spiffui-v2/assets/icons/configuration.svg
  spiffworkflow-frontend/src/a-spiffui-v2/assets/icons/database.svg
  spiffworkflow-frontend/src/a-spiffui-v2/assets/icons/download.svg
  spiffworkflow-frontend/src/a-spiffui-v2/assets/icons/filter-funnel.svg
  spiffworkflow-frontend/src/a-spiffui-v2/assets/icons/grid.svg
  spiffworkflow-frontend/src/a-spiffui-v2/assets/icons/home-line.svg
  spiffworkflow-frontend/src/a-spiffui-v2/assets/icons/logout.svg
  spiffworkflow-frontend/src/a-spiffui-v2/assets/icons/mail.svg
  spiffworkflow-frontend/src/a-spiffui-v2/assets/icons/moon.svg
  spiffworkflow-frontend/src/a-spiffui-v2/assets/icons/notification-bell.svg
  spiffworkflow-frontend/src/a-spiffui-v2/assets/icons/route.svg
  spiffworkflow-frontend/src/a-spiffui-v2/assets/icons/settings.svg
  spiffworkflow-frontend/src/a-spiffui-v2/assets/icons/share.svg
  spiffworkflow-frontend/src/a-spiffui-v2/assets/icons/spiff-icon.svg
  spiffworkflow-frontend/src/a-spiffui-v2/components/MenuItem.tsx
  spiffworkflow-frontend/src/a-spiffui-v2/components/SpiffLogo.tsx
  spiffworkflow-frontend/src/a-spiffui-v2/components/sidemenu/SideMenu.tsx
Due: none

Layout and SideMenu
  spiffworkflow-frontend/src/a-spiffui-v2/components/MenuItem.tsx
  spiffworkflow-frontend/src/a-spiffui-v2/components/SpiffLogo.tsx
  spiffworkflow-frontend/src/a-spiffui-v2/components/sidemenu/SideMenu.tsx
  spiffworkflow-frontend/src/routes/SpiffUIV2.tsx
Due: none

added config to turn off task execution with threads w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/config/default.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/workflow_execution_service.py
Due: black, check-added-large-files, end-of-file-fixer, ruff, trailing-whitespace
