Repository sartography/spiff-arena: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        # entry: bash -c 'cd spiffworkflow-backend && black'
        entry: black
        language: system
        files: ^spiffworkflow-backend/
        types: [python]
        require_serial: true
        # exclude: ^migrations/
        exclude: "/migrations/"
      - id: check-added-large-files
        files: ^spiffworkflow-backend/
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-toml
        files: ^spiffworkflow-backend/
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-yaml
        files: ^spiffworkflow-backend/
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        files: ^spiffworkflow-backend/
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: flake8
        files: ^spiffworkflow-backend/
        name: flake8
        entry: flake8
        language: system
        types: [python]
        require_serial: true
        exclude: "/migrations/"
      - id: pyupgrade
        files: ^spiffworkflow-backend/
        name: pyupgrade
        description: Automatically upgrade syntax for newer versions.
        entry: pyupgrade
        language: system
        types: [python]
        args: [--py37-plus]
      - id: reorder-python-imports
        files: ^spiffworkflow-backend/
        name: Reorder python imports
        entry: reorder-python-imports
        language: system
        types: [python]
        args: [--application-directories=src]
        exclude: "(/migrations/|load_database_models)"
      - id: trailing-whitespace
        files: ^spiffworkflow-backend/
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
        exclude: "/migrations/"
  # - repo: https://github.com/pre-commit/mirrors-prettier
  #   rev: v2.4.1
  #   hooks:
  #     - id: prettier
  #       files: ^spiffworkflow-backend/
  #       exclude_types: [html]

finish test for pp1
  spiffworkflow-frontend/cypress/e2e/pp1.cy.js
  spiffworkflow-frontend/cypress/support/commands.js
Due: none

Aligning dev dependencies
  spiffworkflow-backend/poetry.lock
  spiffworkflow-backend/pyproject.toml
Due: check-added-large-files, check-toml, end-of-file-fixer, trailing-whitespace

Revert main arena changes
  poetry.lock
  pyproject.toml
Due: none

Minor desc changes
  pyproject.toml
Due: none

Remove orjson
  poetry.lock
  pyproject.toml
Due: none

remove only
  spiffworkflow-frontend/cypress/e2e/pp1.cy.js
Due: none

Couple dependency changes (#165)
  poetry.lock
  pyproject.toml
  spiffworkflow-backend/poetry.lock
  spiffworkflow-backend/pyproject.toml
Due: check-added-large-files, check-toml, end-of-file-fixer, trailing-whitespace

Minor tweak to bpmn-io editor for messages.
  spiffworkflow-frontend/package-lock.json
Due: none

tests are passing with new db tables w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_instances_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

removed process instance data and serialized bpmn definition models w/ burnettk
  spiffworkflow-backend/migrations/env.py
  spiffworkflow-backend/migrations/versions/1e8167de6df8_.py
  spiffworkflow-backend/migrations/versions/55b76c4528c5_.py
  spiffworkflow-backend/migrations/versions/61cd3e8462f5_.py
  spiffworkflow-backend/migrations/versions/7422be14adc4_.py
  spiffworkflow-backend/migrations/versions/8930711a75a4_.py
  spiffworkflow-backend/migrations/versions/941f7b76d278_.py
  spiffworkflow-backend/migrations/versions/a63a61a21398_.py
  spiffworkflow-backend/migrations/versions/b0b82fab4cf9_.py
  spiffworkflow-backend/src/spiffworkflow_backend/load_database_models.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/process_instance.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/process_instance_data.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/serialized_bpmn_definition.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

move pp1
  spiffworkflow-frontend/cypress/pilot/pp1.cy.js
Due: none

pyl and fixed cypress tests w/ burnettk
  spiffworkflow-backend/conftest.py
  spiffworkflow-backend/migrations/env.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/bpmn_process.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/process_instance.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_instances_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
  spiffworkflow-frontend/cypress/e2e/process_instances.cy.js
  spiffworkflow-frontend/cypress/pilot/pp1.cy.js
  spiffworkflow-frontend/cypress/support/commands.js
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Minor fix to avoid an endless set of error messages if your session times out and you are using the builtin openid.
  spiffworkflow-backend/src/spiffworkflow_backend/routes/user.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

make sure we set the subprocesses correctly in the bpmn dict w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_process_instance_processor.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

add test users, including for automated pp1 test
  spiffworkflow-backend/keycloak/realm_exports/spiffworkflow-realm.json
  spiffworkflow-backend/keycloak/test_user_lists/status
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

pin to specific version of poetry
  .github/workflows/backend_tests.yml
  spiffworkflow-backend/Dockerfile
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

pyl
  spiffworkflow-backend/keycloak/realm_exports/spiffworkflow-realm.json
  spiffworkflow-backend/src/spiffworkflow_backend/routes/user.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

fixed pip install command
  spiffworkflow-backend/Dockerfile
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

use poetry 1.3.2
  spiffworkflow-backend/.github/workflows/constraints.txt
  spiffworkflow-backend/Dockerfile
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

Poetry install
  spiffworkflow-backend/poetry.lock
  spiffworkflow-backend/pyproject.toml
Due: check-added-large-files, check-toml, end-of-file-fixer, trailing-whitespace

some minor tweaks and turn off debug logging for spiff step details w/ burnettk
  spiffworkflow-backend/Dockerfile
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
  spiffworkflow-frontend/cypress/pilot/pp1.cy.js
  spiffworkflow-frontend/cypress/support/commands.js
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

cypress pilot command
  spiffworkflow-frontend/bin/cypress_pilot
Due: none

avoid calling task_definition and bpmn_process_definition more than we need to w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace
