Repository sartography/spiff-arena: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

black:
  name: black
  entry: black
  language: system
  require_serial: true

check-added-large-files:
  name: Check for added large files
  entry: check-added-large-files
  language: system

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

end-of-file-fixer:
  name: Fix End of Files
  entry: end-of-file-fixer
  language: system
  stages:
  - commit
  - push
  - manual

flake8:
  name: flake8
  entry: flake8
  language: system
  require_serial: true

pyupgrade:
  name: pyupgrade
  description: Automatically upgrade syntax for newer versions.
  entry: pyupgrade
  language: system
  args:
  - --py37-plus

reorder-python-imports:
  name: Reorder python imports
  entry: reorder-python-imports
  language: system
  args:
  - --application-directories=src

trailing-whitespace:
  name: Trim Trailing Whitespace
  entry: trailing-whitespace-fixer
  language: system
  stages:
  - commit
  - push
  - manual

remove process_group_identifier from process-instances endpoint
  spiffworkflow-backend/src/spiffworkflow_backend/api.yml
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_api_blueprint.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_api.py
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

updated process modal show page to use accordion component w/ burnettk
  spiffworkflow-frontend/src/index.css
  spiffworkflow-frontend/src/index.scss
  spiffworkflow-frontend/src/routes/ProcessModelShow.tsx
Due: none

added a table for files w/ burnettk
  spiffworkflow-frontend/src/routes/ProcessModelShow.tsx
Due: none

add back run and edit and add actions menu
  spiffworkflow-frontend/src/interfaces.ts
  spiffworkflow-frontend/src/routes/ProcessModelEdit.tsx
  spiffworkflow-frontend/src/routes/ProcessModelShow.tsx
Due: none

pyl, tests
  spiffworkflow-backend/src/spiffworkflow_backend/models/process_instance_report.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_api_blueprint.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_api.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

revert test change
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_api.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Use process instances for initial merge, will investigate tests during filtering
  spiffworkflow-backend/migrations/env.py
  spiffworkflow-backend/migrations/versions/7c12964efde1_.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_api_blueprint.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_api.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Getting ./bin/pyl to pass
  spiffworkflow-backend/migrations/env.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_api_blueprint.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

change action dropdown direction based on if it is the last one or not
  spiffworkflow-frontend/src/routes/ProcessModelShow.tsx
Due: none

PR feedback
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_api.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

First pass at custom report/perspective for Process Instance List (#23)
  spiffworkflow-backend/migrations/versions/7c12964efde1_.py
  spiffworkflow-backend/src/spiffworkflow_backend/api.yml
  spiffworkflow-backend/src/spiffworkflow_backend/models/process_instance_report.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_api_blueprint.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_api.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_process_instance_report.py
  spiffworkflow-frontend/src/routes/ProcessInstanceList.tsx
  spiffworkflow-frontend/src/routes/ProcessInstanceReportEdit.tsx
  spiffworkflow-frontend/src/routes/ProcessInstanceReportList.tsx
  spiffworkflow-frontend/src/routes/ProcessInstanceReportNew.tsx
  spiffworkflow-frontend/src/routes/ProcessInstanceReportShow.tsx
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

some minor chnages to prepare for chnaging actions dropdown to buttons
  spiffworkflow-frontend/src/components/ButtonWithConfirmation.tsx
  spiffworkflow-frontend/src/routes/ProcessModelShow.tsx
Due: none

process model show page lists files as accordion with action icons w/ burnettk
  spiffworkflow-frontend/src/components/ButtonWithConfirmation.tsx
  spiffworkflow-frontend/src/interfaces.ts
  spiffworkflow-frontend/src/routes/ProcessModelShow.tsx
Due: none

More frontend changes
  spiffworkflow-frontend/src/routes/AdminRoutes.tsx
  spiffworkflow-frontend/src/routes/ProcessInstanceLogList.tsx
  spiffworkflow-frontend/src/routes/ProcessInstanceShow.tsx
Due: none

return next task when running an instance w/ burnettk
  spiffworkflow-frontend/src/index.scss
Due: none

return next task when running an instance w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_api.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

script to modify all model json files to use full path for model id. Also removes process_group_id
  spiffworkflow-backend/bin/update_all_json.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

lint
  spiffworkflow-frontend/src/routes/ProcessModelShow.tsx
Due: none

Somethings up w/authentication. Maybe the stored token is bad
  spiffworkflow-backend/src/spiffworkflow_backend/routes/user.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

made a process model form w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_api_blueprint.py
  spiffworkflow-frontend/src/components/ProcessModelForm.tsx
  spiffworkflow-frontend/src/routes/ProcessModelEdit.tsx
  spiffworkflow-frontend/src/routes/ProcessModelNew.tsx
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

updated breadcrumbs to work with new process models ids w/ burnettk cullerton
  spiffworkflow-frontend/cypress/e2e/process_instances.cy.js
  spiffworkflow-frontend/src/components/FileInput.tsx
  spiffworkflow-frontend/src/components/ProcessBreadcrumb.tsx
  spiffworkflow-frontend/src/helpers.tsx
  spiffworkflow-frontend/src/routes/HomePage.tsx
  spiffworkflow-frontend/src/routes/ProcessInstanceList.tsx
  spiffworkflow-frontend/src/routes/ProcessInstanceShow.tsx
  spiffworkflow-frontend/src/routes/ProcessModelEdit.tsx
  spiffworkflow-frontend/src/routes/ProcessModelEditDiagram.tsx
  spiffworkflow-frontend/src/routes/ProcessModelShow.tsx
  spiffworkflow-frontend/src/routes/ReactFormEditor.tsx
Due: none

Use bulk_insert_mappings
  spiffworkflow-backend/src/spiffworkflow_backend/services/logging_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

fixed some acceptance tests w/ burnettk cullerton
  spiffworkflow-backend/migrations/env.py
  spiffworkflow-backend/migrations/versions/50dd2e016d94_.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/process_instance.py
  spiffworkflow-frontend/cypress/e2e/process_instances.cy.js
  spiffworkflow-frontend/cypress/e2e/tasks.cy.js
  spiffworkflow-frontend/cypress/support/commands.js
  spiffworkflow-frontend/src/components/ProcessBreadcrumb.tsx
  spiffworkflow-frontend/src/index.css
  spiffworkflow-frontend/src/index.scss
  spiffworkflow-frontend/src/routes/ProcessModelEditDiagram.tsx
  spiffworkflow-frontend/src/routes/ProcessModelShow.tsx
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Path conditions:
  black: any of: ^spiffworkflow-backend/ and \.py$ and not (/migrations/)
  check-added-large-files: any of: ^spiffworkflow-backend/
  check-toml: any of: ^spiffworkflow-backend/ and \.toml$
  check-yaml: any of: ^spiffworkflow-backend/ and \.(yaml|yml)$
  end-of-file-fixer: any of: ^spiffworkflow-backend/
  flake8: any of: ^spiffworkflow-backend/ and \.py$ and not (/migrations/)
  pyupgrade: any of: ^spiffworkflow-backend/ and \.py$
  reorder-python-imports: any of: ^spiffworkflow-backend/ and \.py$ and not ((/migrations/|load_database_models))
  trailing-whitespace: any of: ^spiffworkflow-backend/, but not: /migrations/
