Repository sartography/spiff-arena: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

black:
  name: black
  entry: black
  language: system
  require_serial: true

check-added-large-files:
  name: Check for added large files
  entry: check-added-large-files
  language: system

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

end-of-file-fixer:
  name: Fix End of Files
  entry: end-of-file-fixer
  language: system
  stages:
  - commit
  - push
  - manual

flake8:
  name: flake8
  entry: flake8
  language: system
  require_serial: true

pyupgrade:
  name: pyupgrade
  description: Automatically upgrade syntax for newer versions.
  entry: pyupgrade
  language: system
  args:
  - --py37-plus

reorder-python-imports:
  name: Reorder python imports
  entry: reorder-python-imports
  language: system
  args:
  - --application-directories=src

trailing-whitespace:
  name: Trim Trailing Whitespace
  entry: trailing-whitespace-fixer
  language: system
  stages:
  - commit
  - push
  - manual

Drop __annotations__ from task data (#834)
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

feature/support-more-date-formats (#835)
  spiffworkflow-frontend/src/config.tsx
  spiffworkflow-frontend/src/services/DateAndTimeService.tsx
Due: none

use for-me on progress page when appropriate w/ burnettk
  spiffworkflow-frontend/src/routes/ProcessInstanceShortLink.tsx
  spiffworkflow-frontend/src/routes/ProcessInstanceShow.tsx
  spiffworkflow-frontend/src/routes/TaskShow.tsx
  spiffworkflow-frontend/src/services/ProcessInstanceService.tsx
Due: none

use a hook for navigate instead of window.location w/ burnettk
  spiffworkflow-frontend/src/hooks/useProcessInstanceNavigate.tsx
  spiffworkflow-frontend/src/routes/ProcessInstanceShortLink.tsx
  spiffworkflow-frontend/src/routes/ProcessInstanceShow.tsx
  spiffworkflow-frontend/src/services/ProcessInstanceService.tsx
Due: none

feature/progress-page-for-me-nav (#846)
  spiffworkflow-frontend/src/hooks/useProcessInstanceNavigate.tsx
  spiffworkflow-frontend/src/routes/ProcessInstanceShortLink.tsx
  spiffworkflow-frontend/src/routes/ProcessInstanceShow.tsx
  spiffworkflow-frontend/src/routes/TaskShow.tsx
Due: none

store the db ids of the process instance queue records instead of the sqlalchemy objects to avoid detached instance errors w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_lock_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_queue_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Remove category param
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_api_blueprint.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

raise an error similar to one we raise elsewhere in the unexpected case that this fails
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_queue_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Remove category param (#848)
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_api_blueprint.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

removed unused method
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_lock_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

add in better message for unsupported date format
  spiffworkflow-frontend/src/config.tsx
Due: none

wip.
  spiffworkflow-frontend/src/components/ProcessGroupForm.tsx
  spiffworkflow-frontend/src/components/messages/MessageModal.tsx
  spiffworkflow-frontend/src/components/messages/MessageModelList.tsx
  spiffworkflow-frontend/src/interfaces.ts
Due: none

merging in changes from message_improvements
  0001-wip.patch
  0002-UI-for-editing-process-group-to-include-messages.patch
  0003-prevent-duplicates.patch
  0004-allow-delete.patch
  spiffworkflow-backend/src/spiffworkflow_backend/models/process_group.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_groups_controller.py
  spiffworkflow-frontend/src/components/ProcessGroupForm.tsx
  spiffworkflow-frontend/src/components/messages/MessageModal.tsx
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

remove patch files that were accidendetally added.
  0001-wip.patch
  0002-UI-for-editing-process-group-to-include-messages.patch
  0003-prevent-duplicates.patch
  0004-allow-delete.patch
Due: none

also specify margin bottom for item-array with rjsf-field
  spiffworkflow-frontend/src/rjsf/carbon_theme/index.css
Due: none

feature/detached-instance-error (#847)
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_lock_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_queue_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

also specify margin bottom for item-array with rjsf-field (#850)
  spiffworkflow-frontend/src/rjsf/carbon_theme/index.css
Due: none

added validation for maximum date w/ burnettk
  spiffworkflow-frontend/src/components/CustomForm.tsx
Due: none

Update spiffworkflow-frontend/src/components/CustomForm.tsx
  spiffworkflow-frontend/src/components/CustomForm.tsx
Due: none

added validation for maximum date w/ burnettk (#851)
  spiffworkflow-frontend/src/components/CustomForm.tsx
Due: none

use urlsafe_base64decode for keycloak id tokens to support certain utf8 characters w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/routes/authentication_controller.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

use urlsafe_base64decode for keycloak id tokens to support certain utf8 characters w/ burnettk (#852)
  spiffworkflow-backend/src/spiffworkflow_backend/routes/authentication_controller.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Make file upload detection more flexible, add integration test
  spiffworkflow-backend/migrations/versions/bc2b84d013e0_.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/process_instance_file_data.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/authentication_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_lock_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_queue_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_api.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_process_instance_service.py
  spiffworkflow-frontend/src/components/CustomForm.tsx
  spiffworkflow-frontend/src/rjsf/carbon_theme/index.css
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

fixes the date picker so it does not change the date after selecting it
  spiffworkflow-frontend/src/services/DateAndTimeService.tsx
Due: none

Update spiffworkflow-frontend/src/services/DateAndTimeService.tsx
  spiffworkflow-frontend/src/services/DateAndTimeService.tsx
Due: none

Disable upload button if filesToUpload is null
  spiffworkflow-frontend/src/routes/ProcessModelShow.tsx
Due: none

fixes the date picker so it does not change the date after selecting it (#855)
  spiffworkflow-frontend/src/services/DateAndTimeService.tsx
Due: none

Disable upload button if filesToUpload is null (#856)
  spiffworkflow-frontend/src/routes/ProcessModelShow.tsx
Due: none

NoneTask can also be a human task type w/ burnettk
  spiffworkflow-frontend/src/helpers.tsx
Due: none

Make file upload detection more flexible, add integration test (#854)
  spiffworkflow-backend/migrations/versions/bc2b84d013e0_.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/process_instance_file_data.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_api.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_process_instance_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

added comment in migration to explain why it was being done w/ burnettk
  spiffworkflow-backend/migrations/versions/bc2b84d013e0_.py
Due: check-added-large-files, end-of-file-fixer, pyupgrade

WIP: work for side-by-side layout in json forms w/ burnettk
  spiffworkflow-frontend/src/components/CustomForm.tsx
  spiffworkflow-frontend/src/rjsf/GridField.tsx
Due: none

only attempting converting a date string if it looks like a date without year first w/ burnettk
  spiffworkflow-frontend/src/services/DateAndTimeService.tsx
Due: none

update dmn-js and dmn-js-shared
  spiffworkflow-frontend/package-lock.json
  spiffworkflow-frontend/package.json
Due: none

update dmn-js-properties-panel
  spiffworkflow-frontend/package-lock.json
  spiffworkflow-frontend/package.json
Due: none

Added a modal for editing a correlation. Added ability to delete whole correlation keys. A little css cleanup.
  spiffworkflow-frontend/src/components/ProcessGroupForm.tsx
  spiffworkflow-frontend/src/components/messages/CorrelationModal.tsx
  spiffworkflow-frontend/src/components/messages/MessageHelper.tsx
  spiffworkflow-frontend/src/index.css
Due: none

added support in ObjectFieldTemplate to support side-by-side layout w/ burnettk
  spiffworkflow-frontend/src/components/CustomForm.tsx
  spiffworkflow-frontend/src/rjsf/GridField.tsx
  spiffworkflow-frontend/src/rjsf/carbon_theme/ObjectFieldTemplate/ObjectFieldTemplate.tsx
  spiffworkflow-frontend/src/rjsf/carbon_theme/index.css
Due: none

added a restricted grid template for half width forms
  spiffworkflow-frontend/src/components/CustomForm.tsx
  spiffworkflow-frontend/src/components/ReactFormBuilder/ReactFormBuilder.tsx
  spiffworkflow-frontend/src/rjsf/carbon_theme/ObjectFieldTemplate/ObjectFieldTemplate.tsx
  spiffworkflow-frontend/src/rjsf/custom_templates/ObjectFieldRestrictGridTemplate.tsx
  spiffworkflow-frontend/src/routes/TaskShow.tsx
Due: none

display the error message if field mentioned in ui:layout but the field does not exist
  spiffworkflow-frontend/src/rjsf/carbon_theme/ObjectFieldTemplate/ObjectFieldTemplate.tsx
Due: none

Path conditions:
  black: any of: ^spiffworkflow-backend/ and \.py$ and not (/migrations/)
  check-added-large-files: any of: ^spiffworkflow-backend/
  check-toml: any of: ^spiffworkflow-backend/ and \.toml$
  check-yaml: any of: ^spiffworkflow-backend/ and \.(yaml|yml)$
  end-of-file-fixer: any of: ^spiffworkflow-backend/
  flake8: any of: ^spiffworkflow-backend/ and \.py$ and not (/migrations/)
  pyupgrade: any of: ^spiffworkflow-backend/ and \.py$
  reorder-python-imports: any of: ^spiffworkflow-backend/ and \.py$ and not ((/migrations/|load_database_models))
  trailing-whitespace: any of: ^spiffworkflow-backend/, but not: /migrations/
