Repository sartography/spiff-arena: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        # entry: bash -c 'cd spiffworkflow-backend && black'
        entry: black
        language: system
        files: ^spiffworkflow-backend/
        types: [python]
        require_serial: true
        # exclude: ^migrations/
        exclude: "/migrations/"
      - id: check-added-large-files
        files: ^spiffworkflow-backend/
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-toml
        files: ^spiffworkflow-backend/
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-yaml
        files: ^spiffworkflow-backend/
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        files: ^spiffworkflow-backend/
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: flake8
        files: ^spiffworkflow-backend/
        name: flake8
        entry: flake8
        language: system
        types: [python]
        require_serial: true
        exclude: "/migrations/"
      - id: pyupgrade
        files: ^spiffworkflow-backend/
        name: pyupgrade
        description: Automatically upgrade syntax for newer versions.
        entry: pyupgrade
        language: system
        types: [python]
        args: [--py37-plus]
      - id: reorder-python-imports
        files: ^spiffworkflow-backend/
        name: Reorder python imports
        entry: reorder-python-imports
        language: system
        types: [python]
        args: [--application-directories=src]
        exclude: "(/migrations/|load_database_models)"
      - id: trailing-whitespace
        files: ^spiffworkflow-backend/
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
        exclude: "/migrations/"
  # - repo: https://github.com/pre-commit/mirrors-prettier
  #   rev: v2.4.1
  #   hooks:
  #     - id: prettier
  #       files: ^spiffworkflow-backend/
  #       exclude_types: [html]

switch save and cancel buttons on secrets new page w/ burnettk
  spiffworkflow-frontend/src/routes/SecretNew.tsx
Due: none

add some icons, tho still missing event stuff
  spiffworkflow-frontend/src/routes/ProcessInstanceShow.tsx
Due: none

Show callers for non primary files (#334)
  spiffworkflow-backend/src/spiffworkflow_backend/api.yml
  spiffworkflow-backend/src/spiffworkflow_backend/models/file.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_api_blueprint.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_models_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_caller_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/spec_file_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_api.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_process_caller_service.py
  spiffworkflow-frontend/src/interfaces.ts
  spiffworkflow-frontend/src/routes/ProcessModelEditDiagram.tsx
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Fixed links and image sizes
  docs/how_to/complete_a_task_on_behalf_of_another_user.md
  docs/how_to/find_an_Instance_assigned_to_someone_else.md
  docs/how_to/navigate_to_an_active_process_instance.md
  docs/quick_start/quick_start.md
Due: none

fix links and images size
  docs/how_to/navigate_to_an_active_process_instance.md
Due: none

push
  docs/how_to/images/active_call_process.png
  docs/how_to/images/active_subtask.png
  docs/how_to/images/inactive_subtask.png
Due: none

fixed lint issues
  spiffworkflow-frontend/src/routes/ProcessModelEditDiagram.tsx
Due: none

finished adding imporoved icons and fixing up task modal w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/routes/tasks_controller.py
  spiffworkflow-frontend/src/interfaces.ts
  spiffworkflow-frontend/src/routes/ProcessInstanceShow.tsx
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

added some user search options to assig tasks to w/ burnettk
  spiffworkflow-frontend/src/components/ProcessInterstitial.tsx
  spiffworkflow-frontend/src/components/UserSearch.tsx
  spiffworkflow-frontend/src/helpers.tsx
  spiffworkflow-frontend/src/index.css
  spiffworkflow-frontend/src/routes/ProcessInstanceShow.tsx
Due: none

commit some scripts that should not affect site functionality to main
  spiffworkflow-backend/bin/git_commit_bpmn_models_repo
  spiffworkflow-backend/bin/login_with_user
  spiffworkflow-backend/bin/login_with_user_list
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

cleaned up task details modal and added call to backend to add potential users w/ burnettk
  spiffworkflow-frontend/src/components/UserSearch.tsx
  spiffworkflow-frontend/src/index.css
  spiffworkflow-frontend/src/interfaces.ts
  spiffworkflow-frontend/src/routes/ProcessInstanceShow.tsx
Due: none

Spiffdemo getting started section
  docs/UsingSpiffdemo/Getting_Started.md
Due: none

ventilated prose
  docs/UsingSpiffdemo/Getting_Started.md
Due: none

updated usages of task_spec.spec for new spiff (#345)
  spiffworkflow-backend/src/spiffworkflow_backend/models/task.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_service.py
  spiffworkflow-frontend/src/interfaces.ts
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Spiffdemo getting started section (#350)
  docs/UsingSpiffdemo/Getting_Started.md
  docs/UsingSpiffdemo/Images/End_Task_Properties.png
  docs/UsingSpiffdemo/Images/Instructions_panel.png
  docs/UsingSpiffdemo/Images/Login.png
  docs/UsingSpiffdemo/Images/Manual_task.png
  docs/UsingSpiffdemo/Images/Manual_task_Properties.png
  docs/UsingSpiffdemo/Images/Manual_task_Properties1.png
  docs/UsingSpiffdemo/Images/Manual_task_Properties12.png
  docs/UsingSpiffdemo/Images/Manual_task_instructions_panel.png
  docs/UsingSpiffdemo/Images/Navigating_Process.png
  docs/UsingSpiffdemo/Images/Propertise_panel.png
  docs/UsingSpiffdemo/Images/Start_Event_Properties.png
  docs/UsingSpiffdemo/Images/Start_Event_Properties1.png
Due: none

Updates images
  docs/UsingSpiffdemo/Images/End_Task_Properties.png
  docs/UsingSpiffdemo/Images/Instructions_panel.png
  docs/UsingSpiffdemo/Images/Login.png
  docs/UsingSpiffdemo/Images/Manual_task.png
  docs/UsingSpiffdemo/Images/Manual_task_Properties.png
  docs/UsingSpiffdemo/Images/Manual_task_Properties1.png
  docs/UsingSpiffdemo/Images/Manual_task_Properties12.png
  docs/UsingSpiffdemo/Images/Manual_task_instructions_panel.png
  docs/UsingSpiffdemo/Images/Navigating_Process.png
  docs/UsingSpiffdemo/Images/Propertise_panel.png
  docs/UsingSpiffdemo/Images/Start_Event_Properties.png
  docs/UsingSpiffdemo/Images/Start_Event_Properties1.png
Due: none

Feature/autosave and null form data (#346)
  spiffworkflow-backend/migrations/versions/881cdb50a567_.py
  spiffworkflow-backend/src/spiffworkflow_backend/api.yml
  spiffworkflow-backend/src/spiffworkflow_backend/models/json_data.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/task.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/tasks_controller.py
  spiffworkflow-backend/tests/spiffworkflow_backend/helpers/base_test.py
  spiffworkflow-backend/tests/spiffworkflow_backend/helpers/example_data.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_nested_groups.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_api.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_tasks_controller.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_permissions.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_task_service.py
  spiffworkflow-frontend/src/helpers.test.tsx
  spiffworkflow-frontend/src/helpers.tsx
  spiffworkflow-frontend/src/interfaces.ts
  spiffworkflow-frontend/src/routes/TaskShow.tsx
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

fixing main (#351)
  docs/how_to/find_an_Instance_assigned_to_myself.md
  docs/how_to/navigate_to_an_active_process_instance.md
  docs/how_to/resume_a_process.md
  docs/how_to/view_process_variables.md
  docs/index.md
  docs/learn_basics/learn_basics.md
  docs/spiffworkflow/process_groups_and_models.md
Due: none

fixing main
  docs/how_to/find_an_Instance_assigned_to_myself.md
  docs/how_to/navigate_to_an_active_process_instance.md
  docs/how_to/resume_a_process.md
  docs/how_to/view_process_variables.md
  docs/index.md
  docs/learn_basics/learn_basics.md
  docs/spiffworkflow/process_groups_and_models.md
Due: none

added build command for docs and created github action w/ burnettk
  .github/workflows/docs.yml
  docs/bin/build
Due: none

remove unnecessary pip upgrade for docs w/ burnettk
  .github/workflows/docs.yml
Due: none

notify slack if build docs failed w/ burnettk
  .github/workflows/docs.yml
  .github/workflows/slack_notify.yml
Due: none

fixed broken tests w/ burnettk
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_authorization_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

parallel tests with xdist (#335)
  spiffworkflow-backend/bin/recreate_db
  spiffworkflow-backend/bin/tests-par
  spiffworkflow-backend/poetry.lock
  spiffworkflow-backend/pyproject.toml
  spiffworkflow-backend/src/spiffworkflow_backend/config/__init__.py
  spiffworkflow-backend/src/spiffworkflow_backend/config/unit_testing.py
Due: black, check-added-large-files, check-toml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

added a script task script to get a task data value based on key name w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/scripts/get_task_data_value.py
  spiffworkflow-backend/tests/spiffworkflow_backend/scripts/test_get_task_data_value.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

pyl
  spiffworkflow-backend/tests/spiffworkflow_backend/scripts/test_get_task_data_value.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

added a script task script to get a task data value based on key name… (#353)
  spiffworkflow-backend/src/spiffworkflow_backend/scripts/get_task_data_value.py
  spiffworkflow-backend/tests/spiffworkflow_backend/scripts/test_get_task_data_value.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

when creating a process instance, use for-me path for perms
  spiffworkflow-frontend/src/components/ProcessInstanceRun.tsx
Due: none
