Repository sartography/spiff-arena: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        # entry: bash -c 'cd spiffworkflow-backend && black'
        entry: black
        language: system
        files: ^spiffworkflow-backend/
        types: [python]
        require_serial: true
        # exclude: ^migrations/
        exclude: "/migrations/"
      - id: check-added-large-files
        files: ^spiffworkflow-backend/
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-toml
        files: ^spiffworkflow-backend/
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-yaml
        files: ^spiffworkflow-backend/
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        files: ^spiffworkflow-backend/
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: flake8
        files: ^spiffworkflow-backend/
        name: flake8
        entry: flake8
        language: system
        types: [python]
        require_serial: true
        exclude: "/migrations/"
      - id: pyupgrade
        files: ^spiffworkflow-backend/
        name: pyupgrade
        description: Automatically upgrade syntax for newer versions.
        entry: pyupgrade
        language: system
        types: [python]
        args: [--py37-plus]
      - id: reorder-python-imports
        files: ^spiffworkflow-backend/
        name: Reorder python imports
        entry: reorder-python-imports
        language: system
        types: [python]
        args: [--application-directories=src]
        exclude: "(/migrations/|load_database_models)"
      - id: trailing-whitespace
        files: ^spiffworkflow-backend/
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
        exclude: "/migrations/"
  # - repo: https://github.com/pre-commit/mirrors-prettier
  #   rev: v2.4.1
  #   hooks:
  #     - id: prettier
  #       files: ^spiffworkflow-backend/
  #       exclude_types: [html]

fixed test w/ burnettk
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_instances_controller.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

pyl w/ burnettk
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_instances_controller.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Squashed 'SpiffWorkflow/' changes from 80640024a..5664815a2
  SpiffWorkflow/bpmn/serializer/workflow.py
  doc/index.rst
Due: none

Squashed 'SpiffWorkflow/' changes from 80640024a..5664815a2
  doc/index.rst
Due: none

Squashed 'SpiffWorkflow/' changes from 5664815a2..4195453a4
  SpiffWorkflow/spiff/specs/service_task.py
  tests/SpiffWorkflow/spiff/ServiceTaskTest.py
Due: none

Squashed 'SpiffWorkflow/' changes from 5664815a2..4195453a4
  tests/SpiffWorkflow/spiff/ServiceTaskTest.py
Due: none

Squashed 'flask-bpmn/' changes from 0f2d249d0..c18306300
  poetry.lock
  src/flask_bpmn/api/api_error.py
Due: none

Squashed 'bpmn-js-spiffworkflow/' changes from aca23dc56..9252af813
  webpack.config.js
Due: none

updated SpiffWorkflow w/ burnettk
  spiffworkflow-backend/poetry.lock
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

ensure we are not accidentally using main
  spiffworkflow-backend/bin/run_server_locally
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

highlight tasks even if they are in subprocesses of called activities w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_instances_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
  spiffworkflow-frontend/src/helpers.tsx
  spiffworkflow-frontend/src/routes/ProcessInstanceShow.tsx
  spiffworkflow-frontend/src/routes/ProcessModelShow.tsx
  spiffworkflow-frontend/src/services/UserService.ts
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

actually filter by process initiator w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/api.yml
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_instances_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_report_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_api.py
  spiffworkflow-frontend/src/components/ProcessInstanceListSaveAsReport.tsx
  spiffworkflow-frontend/src/components/ProcessInstanceListTable.tsx
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

pyl w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_models_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_report_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

do not allow sending messages to terminated and suspended process instances w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/api.yml
  spiffworkflow-backend/src/spiffworkflow_backend/routes/messages_controller.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_api.py
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

do not run setup for backend tests w/ burnettk
  .github/workflows/backend_tests.yml
Due: none

some updates to test w/ burnettk
  .github/workflows/backend_tests.yml
  spiffworkflow-backend/bin/build_and_run_with_docker_compose
  spiffworkflow-backend/bin/find_sample_process_models
  spiffworkflow-backend/bin/run_server_locally
  spiffworkflow-backend/bin/save_all_bpmn.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/data_setup_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

also show skipped tasks in the simplified log w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_instances_controller.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Add `fault_or_suspend_on_exception` and `exception_notification_addresses` to Process Model interface and create/update form.
  spiffworkflow-frontend/src/components/ProcessModelForm.tsx
  spiffworkflow-frontend/src/interfaces.ts
Due: none

Update process_models_controller to include `fault_or_suspend_on_exception` and `exception_notification_addresses` for Process Model create/update
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_models_controller.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

fix setting the bpmn dir in start scripts w/ burnettk
  spiffworkflow-backend/bin/find_sample_process_models
  spiffworkflow-backend/bin/run_server_locally
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

checkout sample to test out docker build w/ burnettk
  .github/workflows/backend_tests.yml
Due: none

pyl w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/services/data_setup_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace
