Repository sartography/spiff-arena: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-added-large-files, check-toml, check-yaml, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: check-added-large-files
        files: ^spiffworkflow-backend/
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-toml
        files: ^spiffworkflow-backend/
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-yaml
        files: ^spiffworkflow-backend/
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        files: ^spiffworkflow-backend/
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: ruff-check
        args: [check, --fix]
        files: ^spiffworkflow-backend/
        name: ruff
        entry: ruff
        language: system
        types: [python]
        require_serial: true
        # this is also specified in spiffworkflow-backend/pyproject.toml but we run pre-commit
        # with all-files which ignores that
        exclude: "/migrations/"
      - id: ruff-format
        args: [format]
        files: ^spiffworkflow-backend/
        name: ruff
        entry: ruff
        language: system
        types: [python]
        require_serial: true
        # this is also specified in spiffworkflow-backend/pyproject.toml but we run pre-commit
        # with all-files which ignores that
        exclude: "/migrations/"
      - id: trailing-whitespace
        files: ^spiffworkflow-backend/
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
        exclude: "/migrations/"

remove spec w/ burnettk
  spiffworkflow-backend/spec.md
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

address review finding w/ jasquat
  spiffworkflow-backend/src/spiffworkflow_backend/services/message_definition_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_groups_controller.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

lint w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/services/message_definition_service.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

do not raise api error from celery w/ jasquat
  spiffworkflow-backend/src/spiffworkflow_backend/background_processing/celery_tasks/process_instance_task.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_background_processing_service.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

add test class w/ jasquat
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_form_schema_service.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

introduce ast-grep and codify one of our rules (#2843)
  .pre-commit-config.yaml
  Makefile
  spiffworkflow-backend/README.rst
  spiffworkflow-backend/ast-grep/rule-tests/__snapshots__/no-routes-imports-in-lower-layers-snapshot.yml
  spiffworkflow-backend/ast-grep/rule-tests/no-routes-imports-in-lower-layers-test.yml
  spiffworkflow-backend/ast-grep/rules/no-routes-imports-in-lower-layers.yml
  spiffworkflow-backend/ast-grep/utils/.gitkeep
  spiffworkflow-backend/pyproject.toml
  spiffworkflow-backend/sgconfig.yml
  spiffworkflow-backend/src/spiffworkflow_backend/background_processing/celery_tasks/process_instance_task.py
  spiffworkflow-backend/src/spiffworkflow_backend/constants.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/openid_blueprint/openid_blueprint.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_api_blueprint.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/authentication_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/authorization_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/form_schema_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_model_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_background_processing_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_form_schema_service.py
  spiffworkflow-backend/uv.lock
Due: check-added-large-files, check-toml, check-yaml, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

async service task retries w/ jasquat
  docs/how_to_guides/building_diagrams/long_running_service_tasks.md
  docs/reference/bpmn/service_tasks.md
  spiffworkflow-backend/src/spiffworkflow_backend/api.yml
  spiffworkflow-backend/src/spiffworkflow_backend/routes/tasks_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/service_task_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_long_running_services.py
Due: check-added-large-files, check-yaml, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

update api docs and tests
  spiffworkflow-backend/src/spiffworkflow_backend/api.yml
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_long_running_services.py
Due: check-added-large-files, check-yaml, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

lighter touch on docs
  docs/how_to_guides/building_diagrams/long_running_service_tasks.md
Due: none

import from top of file w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/services/custom_service_task.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

diagram w/ jasquat
  docs/how_to_guides/building_diagrams/long_running_service_tasks.md
Due: none

mermaid diagram w/ jasquat
  docs/how_to_guides/building_diagrams/long_running_service_tasks.md
Due: none

async service task retries (#2846)
  docs/how_to_guides/building_diagrams/long_running_service_tasks.md
  docs/reference/bpmn/service_tasks.md
  spiffworkflow-backend/src/spiffworkflow_backend/api.yml
  spiffworkflow-backend/src/spiffworkflow_backend/routes/tasks_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/custom_service_task.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/service_task_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_long_running_services.py
Due: check-added-large-files, check-yaml, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

rename SpiffArena to Spiff Arena in docs w/ jasquat
  docs/conf.py
  docs/explanation/articles.md
  docs/explanation/dev/connector_proxy.md
  docs/explanation/dev/technical_overview.md
  docs/getting_started/quickstart_guide.md
  docs/how_to_guides/building_diagrams/display_content.md
  docs/how_to_guides/building_diagrams/overview_of_builtin_examples.md
  docs/how_to_guides/extend_the_system/extensions.md
  docs/how_to_guides/extend_the_system/how_to_build_a_connector.md
  docs/how_to_guides/extend_the_system/index.md
  docs/how_to_guides/use_custom_process_metadata.md
  docs/reference/bpmn/error_events.md
  docs/reference/bpmn/service_tasks.md
  docs/reference/wish_list.md
Due: none

feat: add Process Instances column sorting (#2838)
  spiffworkflow-frontend/src/components/ProcessInstanceListTable.tsx
Due: none

remove back import w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/routes/authentication_controller.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

filestore webhook
  spiffworkflow-backend/src/spiffworkflow_backend/api.yml
  spiffworkflow-backend/src/spiffworkflow_backend/config/default.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/webhooks_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/authorization_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_model_import_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_model_import_controller.py
Due: check-added-large-files, check-yaml, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

edit in ed
  spiffworkflow-frontend/src/components/ProcessModelFileList.tsx
  spiffworkflow-frontend/src/config.tsx
Due: none

headers
  spiffworkflow-backend/src/spiffworkflow_backend/routes/webhooks_controller.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_webhooks_controller.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

filestore webhook auth
  spiffworkflow-backend/src/spiffworkflow_backend/config/default.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/webhooks_controller.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_webhooks_controller.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

filestore shared secret
  spiffworkflow-backend/src/spiffworkflow_backend/config/default.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/webhooks_controller.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_webhooks_controller.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

edit in ed server side
  spiffworkflow-backend/src/spiffworkflow_backend/api.yml
  spiffworkflow-backend/src/spiffworkflow_backend/config/default.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_models_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/filestore_client_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_models_controller.py
  spiffworkflow-frontend/src/components/ProcessModelFileList.tsx
Due: check-added-large-files, check-yaml, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

sync back
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_models_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/webhooks_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/filestore_client_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_models_controller.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_webhooks_controller.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

remove support for old header name
  spiffworkflow-backend/src/spiffworkflow_backend/routes/webhooks_controller.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_webhooks_controller.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

feat: add column sorting to the process instance list
  spiffworkflow-frontend/src/components/ProcessInstanceListTable.tsx
Due: none

feat: add quick filter chips to the process instance list
  spiffworkflow-frontend/src/components/ProcessInstanceListTableWithFilters.tsx
  spiffworkflow-frontend/src/components/QuickFilterChips.tsx
  spiffworkflow-frontend/src/locales/en_us/translation.json
Due: none

feat: add reusable collapsible process-group tree
  spiffworkflow-frontend/src/components/processGroupTree/CollapsibleGroupTree.tsx
  spiffworkflow-frontend/src/components/processGroupTree/groupTreeHelpers.ts
  spiffworkflow-frontend/src/components/processGroupTree/useProcessGroupTree.ts
Due: none

feat: add nested collapsible list view to the Processes page
  spiffworkflow-frontend/src/locales/en_us/translation.json
  spiffworkflow-frontend/src/views/StartProcess/ProcessModelTreePage.tsx
Due: none

feat: add "group by process group" to the process instance list
  spiffworkflow-frontend/src/components/ProcessInstanceGroupByModel.tsx
  spiffworkflow-frontend/src/components/ProcessInstanceListTableWithFilters.tsx
  spiffworkflow-frontend/src/locales/en_us/translation.json
Due: none

log http proxy
  spiffworkflow-backend/src/spiffworkflow_backend/services/service_task_delegate.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_service_task_delegate.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

lint
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_service_task_delegate.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

Log http proxy use for connector proxy requests (#2850)
  spiffworkflow-backend/src/spiffworkflow_backend/services/service_task_delegate.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_service_task_delegate.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

migrate to extensions
  spiffworkflow-backend/src/spiffworkflow_backend/api.yml
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_models_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/webhooks_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/authorization_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/filestore_client_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_models_controller.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_webhooks_controller.py
Due: check-added-large-files, check-yaml, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

Bump actions/setup-node from v6.3.0 to v6.4.0
  .github/workflows/snyk-security.yml
  .github/workflows/tests.yml
Due: none

allow filtering by numbers in postgres w/ jasquat
  spiffworkflow-backend/src/spiffworkflow_backend/models/process_instance_report.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_report_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_api.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

mypy
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_report_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_api.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

be safe w/ jasquat
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_report_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_api.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

Bump actions/setup-node from v6.3.0 to v6.4.0 (#2851)
  .github/workflows/snyk-security.yml
  .github/workflows/tests.yml
Due: none

allow filtering by numbers in postgres (#2852)
  spiffworkflow-backend/src/spiffworkflow_backend/models/process_instance_report.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_report_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_api.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace
