Repository sartography/spiff-arena: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        # entry: bash -c 'cd spiffworkflow-backend && black'
        entry: black
        language: system
        files: ^spiffworkflow-backend/
        types: [python]
        require_serial: true
        # exclude: ^migrations/
        exclude: "/migrations/"
      - id: check-added-large-files
        files: ^spiffworkflow-backend/
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-toml
        files: ^spiffworkflow-backend/
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-yaml
        files: ^spiffworkflow-backend/
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        files: ^spiffworkflow-backend/
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: flake8
        files: ^spiffworkflow-backend/
        name: flake8
        entry: flake8
        language: system
        types: [python]
        require_serial: true
        exclude: "/migrations/"
      - id: pyupgrade
        files: ^spiffworkflow-backend/
        name: pyupgrade
        description: Automatically upgrade syntax for newer versions.
        entry: pyupgrade
        language: system
        types: [python]
        args: [--py37-plus]
      - id: reorder-python-imports
        files: ^spiffworkflow-backend/
        name: Reorder python imports
        entry: reorder-python-imports
        language: system
        types: [python]
        args: [--application-directories=src]
        exclude: "(/migrations/|load_database_models)"
      - id: trailing-whitespace
        files: ^spiffworkflow-backend/
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
        exclude: "/migrations/"
  # - repo: https://github.com/pre-commit/mirrors-prettier
  #   rev: v2.4.1
  #   hooks:
  #     - id: prettier
  #       files: ^spiffworkflow-backend/
  #       exclude_types: [html]

even textareas need to have blank labels since labels are in FieldTemplate
  spiffworkflow-frontend/src/themes/carbon/TextareaWidget/TextareaWidget.tsx
Due: none

make task show wide, and make repeating form icons match site styles. w/ dfunk
  spiffworkflow-frontend/src/routes/TaskShow.tsx
  spiffworkflow-frontend/src/themes/carbon/AddButton/AddButton.tsx
  spiffworkflow-frontend/src/themes/carbon/ArrayFieldItemTemplate/ArrayFieldItemTemplate.tsx
  spiffworkflow-frontend/src/themes/carbon/IconButton/IconButton.tsx
  spiffworkflow-frontend/src/themes/carbon/index.css
Due: none

IBM says you can't have more columns than your parents, even if you try to start another grid, with kburnett
  spiffworkflow-frontend/src/routes/TaskShow.tsx
  spiffworkflow-frontend/src/themes/carbon/ArrayFieldItemTemplate/ArrayFieldItemTemplate.tsx
Due: none

remove unneeded divs
  spiffworkflow-frontend/src/themes/carbon/ArrayFieldItemTemplate/ArrayFieldItemTemplate.tsx
Due: none

Fix typing issue.
  spiffworkflow-backend/src/spiffworkflow_backend/routes/user.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

get bin as well for script
  spiffworkflow-frontend/Dockerfile
Due: none

WIP restore script_engine, needs state serialized
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

revert Dockerfile until we get it working
  spiffworkflow-frontend/Dockerfile
Due: none

Revert "revert Dockerfile until we get it working"
  spiffworkflow-frontend/Dockerfile
Due: none

allow overriding git related configs w/ env var and log permissions stuff on boot
  spiffworkflow-backend/src/spiffworkflow_backend/config/__init__.py
  spiffworkflow-backend/src/spiffworkflow_backend/config/default.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Just 13 failing tests
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/script_unit_test_runner.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Fixing some tests
  spiffworkflow-backend/tests/spiffworkflow_backend/scripts/test_get_localtime.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_environment_var_script.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_process_instance_processor.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Down to 5 failing tests
  spiffworkflow-backend/src/spiffworkflow_backend/services/script_unit_test_runner.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

add deps for serve
  spiffworkflow-frontend/.dockerignore
  spiffworkflow-frontend/Dockerfile
  spiffworkflow-frontend/package.justserve.json
Due: none

frontend: use /api subpath instead of subdomain
  spiffworkflow-frontend/src/config.tsx
Due: none

less annoying file name for autocomplete
  spiffworkflow-frontend/Dockerfile
  spiffworkflow-frontend/justservewebserver.package.json
Due: none

./bin/run_pyl fixes
  spiffworkflow-backend/src/spiffworkflow_backend/config/__init__.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_process_instance_processor.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Added boxed task data based environment
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Revert back to single script engine instance to fix most tests
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/script_unit_test_runner.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_environment_var_script.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_process_instance_processor.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Fix final test
  spiffworkflow-backend/tests/spiffworkflow_backend/scripts/test_get_localtime.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Set state outside of constructor since we need the singleton
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/script_unit_test_runner.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Fix local time for both envs
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
  spiffworkflow-backend/tests/spiffworkflow_backend/scripts/test_get_localtime.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

shuffle around Dockerfile to allow to work for background container
  spiffworkflow-backend/Dockerfile
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

remove duplicate label on radio buttons
  spiffworkflow-frontend/src/themes/carbon/RadioWidget/RadioWidget.tsx
Due: none

folks who can start instances can also view their logs
  spiffworkflow-backend/src/spiffworkflow_backend/services/authorization_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/scripts/test_get_all_permissions.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_authorization_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace
