Repository sartography/spiff-arena: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        # entry: bash -c 'cd spiffworkflow-backend && black'
        entry: black
        language: system
        files: ^spiffworkflow-backend/
        types: [python]
        require_serial: true
        # exclude: ^migrations/
        exclude: "/migrations/"
      - id: check-added-large-files
        files: ^spiffworkflow-backend/
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-toml
        files: ^spiffworkflow-backend/
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-yaml
        files: ^spiffworkflow-backend/
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        files: ^spiffworkflow-backend/
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: flake8
        files: ^spiffworkflow-backend/
        name: flake8
        entry: flake8
        language: system
        types: [python]
        require_serial: true
        exclude: "/migrations/"
      - id: pyupgrade
        files: ^spiffworkflow-backend/
        name: pyupgrade
        description: Automatically upgrade syntax for newer versions.
        entry: pyupgrade
        language: system
        types: [python]
        args: [--py37-plus]
      - id: reorder-python-imports
        files: ^spiffworkflow-backend/
        name: Reorder python imports
        entry: reorder-python-imports
        language: system
        types: [python]
        args: [--application-directories=src]
        exclude: "(/migrations/|load_database_models)"
      - id: trailing-whitespace
        files: ^spiffworkflow-backend/
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
        exclude: "/migrations/"
  # - repo: https://github.com/pre-commit/mirrors-prettier
  #   rev: v2.4.1
  #   hooks:
  #     - id: prettier
  #       files: ^spiffworkflow-backend/
  #       exclude_types: [html]

fixed python 3.9 syntax issue
  spiffworkflow-backend/src/spiffworkflow_backend/services/message_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

remove docker push image from backend in favor of docker image from dedicated action file
  .github/workflows/backend_tests.yml
Due: none

added config to turn on sentry profiling w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/__init__.py
  spiffworkflow-backend/src/spiffworkflow_backend/config/default.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

added new table and some notes on how to get a delta w/ burnettk jbirddog
  spiffworkflow-backend/.flake8
  spiffworkflow-backend/migrations/versions/fdf522e4c48a_.py
  spiffworkflow-backend/poetry.lock
  spiffworkflow-backend/pyproject.toml
  spiffworkflow-backend/src/spiffworkflow_backend/load_database_models.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/process_instance.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/serialized_bpmn_definition.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/spiff_step_details.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_api.py
Due: black, check-added-large-files, check-toml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

some logic to attempt to use the new bpmn json tables w/ burnettk
  spiffworkflow-backend/migrations/versions/dc8f4b664e78_.py
  spiffworkflow-backend/migrations/versions/e494a3955ce5_.py
  spiffworkflow-backend/src/spiffworkflow_backend/load_database_models.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/process_instance.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/process_instance_data.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/serialized_bpmn_definition.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/spiff_step_details.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

most unit tests are passing now and the use of bpmn_json is almost gone in src
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_api_blueprint.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_instances_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

must add data to db
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

save full_bpmn_json in a var
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

unit tests are passing except for test_process_instance_report which cannot work currently
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_message_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_process_instance_report.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

all backend tests except for report tests are now passing
  spiffworkflow-backend/src/spiffworkflow_backend/models/process_instance.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_api.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

store the process instance data id on the process instance and not the other way around w/ burnettk
  spiffworkflow-backend/migrations/versions/553ba18e4076_.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/process_instance.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/process_instance_data.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/serialized_bpmn_definition.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_api_blueprint.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_instances_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

fixed get call activity task data w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_instances_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/tasks_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

build docker images for this branch w/ burnettk
  .github/workflows/docker_image_for_main_builds.yml
Due: none

pyl
  .flake8
  spiffworkflow-backend/.flake8
  spiffworkflow-backend/src/spiffworkflow_backend/load_database_models.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/process_instance.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/process_instance_data.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/serialized_bpmn_definition.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_api_blueprint.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_instances_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_api.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

always save the serialized bpmn definition for now w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

remove some debug code w/ burnettk
  spiffworkflow-backend/pyproject.toml
  spiffworkflow-backend/src/spiffworkflow_backend/load_database_models.py
Due: black, check-added-large-files, check-toml, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

removed old branch migrations and created single one for this branch w/ burnettk
  spiffworkflow-backend/migrations/versions/553ba18e4076_.py
  spiffworkflow-backend/migrations/versions/7422be14adc4_.py
  spiffworkflow-backend/migrations/versions/dc8f4b664e78_.py
  spiffworkflow-backend/migrations/versions/e494a3955ce5_.py
  spiffworkflow-backend/migrations/versions/fdf522e4c48a_.py
Due: check-added-large-files, end-of-file-fixer, pyupgrade

fixed the downgrade in new migration w/ burnettk
  spiffworkflow-backend/bin/recreate_db
  spiffworkflow-backend/migrations/versions/7422be14adc4_.py
Due: check-added-large-files, end-of-file-fixer, pyupgrade, trailing-whitespace

prefer the bpmn process name over the identifier on the logs list page w/ burnettk
  SpiffWorkflow/SpiffWorkflow/task.py
  SpiffWorkflow/SpiffWorkflow/workflow.py
  spiffworkflow-backend/bin/recreate_db
  spiffworkflow-backend/migrations/versions/8930711a75a4_.py
  spiffworkflow-backend/poetry.lock
  spiffworkflow-backend/pyproject.toml
  spiffworkflow-backend/src/spiffworkflow_backend/models/spiff_logging.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/logging_service.py
  spiffworkflow-frontend/src/routes/ProcessInstanceLogList.tsx
Due: black, check-added-large-files, check-toml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

prefer the bpmn process name over the identifier on the logs list page w/ burnettk
  spiffworkflow-backend/bin/recreate_db
  spiffworkflow-backend/migrations/versions/8930711a75a4_.py
  spiffworkflow-backend/poetry.lock
  spiffworkflow-backend/pyproject.toml
  spiffworkflow-backend/src/spiffworkflow_backend/models/spiff_logging.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/logging_service.py
  spiffworkflow-frontend/src/routes/ProcessInstanceLogList.tsx
Due: black, check-added-large-files, check-toml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Squashed 'SpiffWorkflow/' changes from b3235fad59..161cb7a450
  SpiffWorkflow/bpmn/specs/SubWorkflowTask.py
  SpiffWorkflow/spiff/specs/subworkflow_task.py
Due: none

Bumping spiffworkflow lib changes for messages
  spiffworkflow-backend/poetry.lock
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace
