Repository sartography/spiff-arena: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

black:
  name: black
  entry: black
  language: system
  require_serial: true

check-added-large-files:
  name: Check for added large files
  entry: check-added-large-files
  language: system

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

end-of-file-fixer:
  name: Fix End of Files
  entry: end-of-file-fixer
  language: system
  stages:
  - commit
  - push
  - manual

flake8:
  name: flake8
  entry: flake8
  language: system
  require_serial: true

pyupgrade:
  name: pyupgrade
  description: Automatically upgrade syntax for newer versions.
  entry: pyupgrade
  language: system
  args:
  - --py37-plus

reorder-python-imports:
  name: Reorder python imports
  entry: reorder-python-imports
  language: system
  args:
  - --application-directories=src

trailing-whitespace:
  name: Trim Trailing Whitespace
  entry: trailing-whitespace-fixer
  language: system
  stages:
  - commit
  - push
  - manual

added docs for side-by-side layout w/ burnettk
  docs/Building_Diagrams/Forms.md
  spiffworkflow-frontend/src/rjsf/carbon_theme/ObjectFieldTemplate/ObjectFieldTemplate.tsx
Due: none

update script
  docs/bin/edit
  docs/bin/gpt-requirements.txt
Due: none

fixed broken cypress test w/ burnettk
  spiffworkflow-frontend/cypress/e2e/process_instances.cy.js
Due: none

Feature/side by side layout (#858)
  docs/Building_Diagrams/Forms.md
  docs/bin/edit
  docs/bin/gpt-requirements.txt
  spiffworkflow-frontend/src/components/CustomForm.tsx
  spiffworkflow-frontend/src/components/ReactFormBuilder/ReactFormBuilder.tsx
  spiffworkflow-frontend/src/rjsf/carbon_theme/ObjectFieldTemplate/ObjectFieldTemplate.tsx
  spiffworkflow-frontend/src/rjsf/carbon_theme/index.css
  spiffworkflow-frontend/src/rjsf/custom_templates/ObjectFieldRestrictGridTemplate.tsx
  spiffworkflow-frontend/src/routes/TaskShow.tsx
Due: none

Patch migration
  spiffworkflow-backend/migrations/versions/12a8864399d4_.py
Due: check-added-large-files, end-of-file-fixer, pyupgrade

Cleanup
  spiffworkflow-backend/src/spiffworkflow_backend/data_stores/json.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/json_data_store.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/data_store_controller.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Splitting location logic
  spiffworkflow-backend/src/spiffworkflow_backend/data_stores/json.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/reference_cache_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/upsearch_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_reference_cache_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_upsearch_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Upsearch
  spiffworkflow-backend/src/spiffworkflow_backend/data_stores/json.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Upsearch
  spiffworkflow-backend/src/spiffworkflow_backend/data_stores/json.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/reference_cache_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/upsearch_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_upsearch_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Update on set
  spiffworkflow-backend/src/spiffworkflow_backend/data_stores/json.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

PR feedback - remove unused method
  spiffworkflow-backend/src/spiffworkflow_backend/services/file_system_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

PR feedback - add custom exceptions
  spiffworkflow-backend/src/spiffworkflow_backend/data_stores/json.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

get breadcrumb on process group show
  spiffworkflow-frontend/src/routes/ProcessGroupShow.tsx
Due: none

get breadcrumb on process group show (#862)
  spiffworkflow-frontend/src/routes/ProcessGroupShow.tsx
Due: none

Add direct dependency on jsonschema
  spiffworkflow-backend/poetry.lock
  spiffworkflow-backend/pyproject.toml
Due: check-added-large-files, check-toml, end-of-file-fixer, trailing-whitespace

handle invalid dates better to better support various date formats w/ burnettk
  spiffworkflow-frontend/src/services/DateAndTimeService.tsx
Due: none

use getTime to check for date validity instead
  spiffworkflow-frontend/src/services/DateAndTimeService.tsx
Due: none

bump bpmn-js-spiffworkflow
  spiffworkflow-frontend/package-lock.json
Due: none

update dmn modeling component versions (#857)
  spiffworkflow-frontend/cypress/e2e/process_instances.cy.js
  spiffworkflow-frontend/package-lock.json
  spiffworkflow-frontend/package.json
Due: none

feature/fix-rjsf-date-with-abbr-month (#869)
  spiffworkflow-frontend/src/services/DateAndTimeService.tsx
Due: none

Add direct dependency on jsonschema (#868)
  spiffworkflow-backend/poetry.lock
  spiffworkflow-backend/pyproject.toml
Due: check-added-large-files, check-toml, end-of-file-fixer, trailing-whitespace

PR feedback
  spiffworkflow-backend/src/spiffworkflow_backend/services/upsearch_service.py
  spiffworkflow-frontend/src/routes/DataStoreNew.tsx
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

PR feedback
  spiffworkflow-frontend/src/routes/DataStoreNew.tsx
Due: none

Add data store at the process group level (#859)
  spiffworkflow-backend/migrations/versions/12a8864399d4_.py
  spiffworkflow-backend/migrations/versions/a872f8f2e909_.py
  spiffworkflow-backend/src/spiffworkflow_backend/api.yml
  spiffworkflow-backend/src/spiffworkflow_backend/data_stores/crud.py
  spiffworkflow-backend/src/spiffworkflow_backend/data_stores/json.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/json_data_store.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/data_store_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/reference_cache_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/upsearch_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_reference_cache_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_upsearch_service.py
  spiffworkflow-frontend/src/components/DataStoreForm.tsx
  spiffworkflow-frontend/src/components/DataStoreListTable.tsx
  spiffworkflow-frontend/src/interfaces.ts
  spiffworkflow-frontend/src/routes/BaseRoutes.tsx
  spiffworkflow-frontend/src/routes/DataStoreList.tsx
  spiffworkflow-frontend/src/routes/DataStoreNew.tsx
  spiffworkflow-frontend/src/routes/DataStoreRoutes.tsx
  spiffworkflow-frontend/src/routes/ProcessGroupShow.tsx
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Bump Restricted Python to 7.x, needed for Python 3.12 support
  spiffworkflow-backend/poetry.lock
  spiffworkflow-backend/pyproject.toml
Due: check-added-large-files, check-toml, end-of-file-fixer, trailing-whitespace

Bump pyyaml to enabled Python 3.12 support for arena
  .tool-versions
  poetry.lock
  pyproject.toml
Due: none

Update README.md
  README.md
Due: none

Bump Restricted Python to 7.x, needed for Python 3.12 support (#872)
  spiffworkflow-backend/poetry.lock
  spiffworkflow-backend/pyproject.toml
Due: check-added-large-files, check-toml, end-of-file-fixer, trailing-whitespace

Fire off the validation
  spiffworkflow-backend/src/spiffworkflow_backend/data_stores/json.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Type ignore
  spiffworkflow-backend/src/spiffworkflow_backend/data_stores/json.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Update spiffworkflow-backend/src/spiffworkflow_backend/data_stores/json.py
  spiffworkflow-backend/src/spiffworkflow_backend/data_stores/json.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

PR feedback
  spiffworkflow-backend/src/spiffworkflow_backend/data_stores/json.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Bump pyyaml to enabled Python 3.12 support for arena (#873)
  .tool-versions
  poetry.lock
  pyproject.toml
Due: none

Update README.md (#874)
  README.md
Due: none

ignore newest cryptography snyk issue
  spiffworkflow-backend/.snyk
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

Working through Python 3.12 support
  spiffworkflow-backend/.tool-versions
  spiffworkflow-backend/poetry.lock
  spiffworkflow-backend/pyproject.toml
Due: check-added-large-files, check-toml, end-of-file-fixer, trailing-whitespace

Deal with warnings
  spiffworkflow-backend/poetry.lock
  spiffworkflow-backend/pyproject.toml
  spiffworkflow-backend/src/spiffworkflow_backend/services/file_system_service.py
Due: black, check-added-large-files, check-toml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Add 3.12 CI jobs
  .github/workflows/tests.yml
Due: none

Fix the build
  spiffworkflow-backend/src/spiffworkflow_backend/services/file_system_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

decode tokens with jwt instead of with base64 w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/routes/authentication_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/authorization_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Path conditions:
  black: any of: ^spiffworkflow-backend/ and \.py$ and not (/migrations/)
  check-added-large-files: any of: ^spiffworkflow-backend/
  check-toml: any of: ^spiffworkflow-backend/ and \.toml$
  check-yaml: any of: ^spiffworkflow-backend/ and \.(yaml|yml)$
  end-of-file-fixer: any of: ^spiffworkflow-backend/
  flake8: any of: ^spiffworkflow-backend/ and \.py$ and not (/migrations/)
  pyupgrade: any of: ^spiffworkflow-backend/ and \.py$
  reorder-python-imports: any of: ^spiffworkflow-backend/ and \.py$ and not ((/migrations/|load_database_models))
  trailing-whitespace: any of: ^spiffworkflow-backend/, but not: /migrations/
