Repository sartography/spiff-arena: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-added-large-files, check-toml, check-yaml, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: check-added-large-files
        files: ^spiffworkflow-backend/
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-toml
        files: ^spiffworkflow-backend/
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-yaml
        files: ^spiffworkflow-backend/
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        files: ^spiffworkflow-backend/
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: ruff-check
        args: [check, --fix]
        files: ^spiffworkflow-backend/
        name: ruff
        entry: ruff
        language: system
        types: [python]
        require_serial: true
        # this is also specified in spiffworkflow-backend/pyproject.toml but we run pre-commit
        # with all-files which ignores that
        exclude: "/migrations/"
      - id: ruff-format
        args: [format]
        files: ^spiffworkflow-backend/
        name: ruff
        entry: ruff
        language: system
        types: [python]
        require_serial: true
        # this is also specified in spiffworkflow-backend/pyproject.toml but we run pre-commit
        # with all-files which ignores that
        exclude: "/migrations/"
      - id: trailing-whitespace
        files: ^spiffworkflow-backend/
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
        exclude: "/migrations/"

agent tweaks w/ burnettk (#2562)
  .gitignore
  bin/agents/setup.sh
  spiffworkflow-backend/AGENTS.md
  spiffworkflow-backend/bin/agents/backend_setup.sh
  spiffworkflow-frontend/bin/agents/frontend_setup.sh
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

e2e tweaks
  spiffworkflow-frontend/test/browser/helpers/login.py
  spiffworkflow-frontend/test/browser/helpers/url.py
  spiffworkflow-frontend/test/browser/tasks/public_tasks/test_can_start_process_from_message_form.py
Due: none

use the BpmnProcessService to get task lanes and info w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/models/task_definition.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_models_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/bpmn_process_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/spec_file_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_models_controller.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

fix task def call w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/services/bpmn_process_service.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

update api yaml to be more accurate
  spiffworkflow-backend/src/spiffworkflow_backend/api.yml
Due: check-added-large-files, check-yaml, end-of-file-fixer, trailing-whitespace

a little refactoring
  spiffworkflow-backend/src/spiffworkflow_backend/routes/messages_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/message_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_messages.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

use a process model with a message start event for the test
  spiffworkflow-backend/tests/data/message-start-event-with-form/message-start-event-with-form.bpmn
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_messages.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

fix perms
  spiffworkflow-backend/src/spiffworkflow_backend/services/authorization_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_authorization_service.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

minor tweak
  spiffworkflow-backend/src/spiffworkflow_backend/api.yml
Due: check-added-large-files, check-yaml, end-of-file-fixer, trailing-whitespace

minor tweak
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_models_controller.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

Feat/human task definitions endpoint (#2563)
  spiffworkflow-backend/src/spiffworkflow_backend/api.yml
  spiffworkflow-backend/src/spiffworkflow_backend/models/task_definition.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_models_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/bpmn_process_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_models_controller.py
Due: check-added-large-files, check-yaml, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

Feature/message process model endpoint (#2564)
  spiffworkflow-backend/src/spiffworkflow_backend/api.yml
  spiffworkflow-backend/src/spiffworkflow_backend/routes/messages_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/authorization_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/message_service.py
  spiffworkflow-backend/tests/data/message-start-event-with-form/message-start-event-with-form.bpmn
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_messages.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_authorization_service.py
Due: check-added-large-files, check-yaml, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

lint
  spiffworkflow-backend/src/spiffworkflow_backend/api.yml
  spiffworkflow-backend/src/spiffworkflow_backend/routes/authentication_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/templates/login_error.html
Due: check-added-large-files, check-yaml, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

lint
  spiffworkflow-backend/src/spiffworkflow_backend/routes/authentication_controller.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_authentication.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

feat: Display OpenID errors in a user-friendly HTML page (#2567)
  spiffworkflow-backend/src/spiffworkflow_backend/api.yml
  spiffworkflow-backend/src/spiffworkflow_backend/routes/authentication_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/templates/login_error.html
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_authentication.py
Due: check-added-large-files, check-yaml, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

github checkout action is only at v5
  .github/workflows/auto-merge-dependabot-prs.yml
Due: none

wip
  spiff-arena-common/src/spiff_arena_common/runner.py
  spiffworkflow-backend/src/spiffworkflow_backend/api.yml
  spiffworkflow-backend/src/spiffworkflow_backend/data_stores/crud.py
  spiffworkflow-backend/src/spiffworkflow_backend/data_stores/json.py
  spiffworkflow-backend/src/spiffworkflow_backend/data_stores/kkv.py
  spiffworkflow-backend/src/spiffworkflow_backend/data_stores/typeahead.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/data_store_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/file_system_service.py
  spiffworkflow-frontend/src/components/DataStoreButtons.tsx
  spiffworkflow-frontend/src/components/DataStoreListTable.tsx
Due: check-added-large-files, check-yaml, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

revert container-retention-policy to 3.0.0
  .github/workflows/container_retention_policy.yml
Due: none

minor tweak
  .github/workflows/container_retention_policy.yml
Due: none

avoid deleting groups when refreshing permissions w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/services/authorization_service.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

still rmeove waiting group assignments w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/services/authorization_service.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

fix test w/ burnettk
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_authorization_service.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

Do not delete groups (#2574)
  spiffworkflow-backend/src/spiffworkflow_backend/services/authorization_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_authorization_service.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

Adds clear and delete buttons to data store list UI (#2575)
  spiff-arena-common/src/spiff_arena_common/runner.py
  spiffworkflow-backend/src/spiffworkflow_backend/api.yml
  spiffworkflow-backend/src/spiffworkflow_backend/data_stores/crud.py
  spiffworkflow-backend/src/spiffworkflow_backend/data_stores/json.py
  spiffworkflow-backend/src/spiffworkflow_backend/data_stores/kkv.py
  spiffworkflow-backend/src/spiffworkflow_backend/data_stores/typeahead.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/data_store_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/file_system_service.py
  spiffworkflow-frontend/src/components/DataStoreButtons.tsx
  spiffworkflow-frontend/src/components/DataStoreListTable.tsx
Due: check-added-large-files, check-yaml, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

check if message can be triggered before checking if a waiting one correlates
  spiffworkflow-backend/src/spiffworkflow_backend/services/message_service.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

check if pi can receive message before checking triggerable and triggerable uniqueness migration
  spiffworkflow-backend/migrations/versions/efa7a9f771a6_.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/message_triggerable_process_model.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/message_service.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

check if pi can receive message before checking triggerable and triggerable uniqueness migration (#2579)
  spiffworkflow-backend/migrations/versions/efa7a9f771a6_.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/message_triggerable_process_model.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/message_service.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

it is now event
  spiffworkflow-backend/src/spiffworkflow_backend/background_processing/celery_tasks/process_instance_task.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

upgrade nginx for libxml2 security issue w/ burnettk
  spiffworkflow-frontend/.tool-versions
  spiffworkflow-frontend/Dockerfile
Due: none

document database types
  docs/how_to_guides/deployment/deploy.md
  spiffworkflow-backend/src/spiffworkflow_backend/config/__init__.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

update spiffowrkflow and bpmn-js-spiffworkflow for user form variables w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_service.py
  spiffworkflow-backend/uv.lock
  spiffworkflow-frontend/.tool-versions
  spiffworkflow-frontend/package-lock.json
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

document database types (#2581)
  docs/how_to_guides/deployment/deploy.md
  spiffworkflow-backend/src/spiffworkflow_backend/config/__init__.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

default to old behavior for manual tasks w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_service.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

Update spiff and bpmn js (#2582)
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_service.py
  spiffworkflow-backend/uv.lock
  spiffworkflow-frontend/.tool-versions
  spiffworkflow-frontend/package-lock.json
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

use nodejs 24.10 w/ burnettk jason
  spiffworkflow-frontend/.tool-versions
  spiffworkflow-frontend/package-lock.json
Due: none

we treat NoneTask like a ManualTask w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/models/task_definition.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

uv lock update w/ burnettk
  spiffworkflow-backend/uv.lock
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

this connexion swagger issue has been resolved
  spiffworkflow-backend/pyproject.toml
Due: check-added-large-files, check-toml, end-of-file-fixer, trailing-whitespace
