Repository sartography/spiff-arena: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-added-large-files, check-toml, check-yaml, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: check-added-large-files
        files: ^spiffworkflow-backend/
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-toml
        files: ^spiffworkflow-backend/
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-yaml
        files: ^spiffworkflow-backend/
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        files: ^spiffworkflow-backend/
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: ruff-check
        args: [check, --fix]
        files: ^spiffworkflow-backend/
        name: ruff
        entry: ruff
        language: system
        types: [python]
        require_serial: true
        # this is also specified in spiffworkflow-backend/pyproject.toml but we run pre-commit
        # with all-files which ignores that
        exclude: "/migrations/"
      - id: ruff-format
        args: [format]
        files: ^spiffworkflow-backend/
        name: ruff
        entry: ruff
        language: system
        types: [python]
        require_serial: true
        # this is also specified in spiffworkflow-backend/pyproject.toml but we run pre-commit
        # with all-files which ignores that
        exclude: "/migrations/"
      - id: trailing-whitespace
        files: ^spiffworkflow-backend/
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
        exclude: "/migrations/"

Try to head off file ownership issues
  spiffworkflow-backend/Dockerfile
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

Try to head off file ownership issues (#2096)
  spiffworkflow-backend/Dockerfile
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

update to flask cors 5, which has a breaking change, which works locally (#2095)
  spiffworkflow-backend/bin/run_ci_session
  spiffworkflow-backend/poetry.lock
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

quote asterisk
  spiffworkflow-backend/Dockerfile
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

WIP
  Makefile
  connector-proxy-demo/dev.Dockerfile
  connector-proxy-demo/dev.docker-compose.yml
Due: none

WIP
  Makefile
  connector-proxy-demo/poetry.lock
  connector-proxy-demo/pyproject.toml
Due: none

WIP
  Makefile
Due: none

WIP
  connector-proxy-demo/connector-example/.gitignore
  connector-proxy-demo/connector-example/.tool-versions
  connector-proxy-demo/connector-example/LICENSE
  connector-proxy-demo/connector-example/README.md
  connector-proxy-demo/connector-example/bpmn/send_email.bpmn
  connector-proxy-demo/connector-example/poetry.lock
  connector-proxy-demo/connector-example/pyproject.toml
  connector-proxy-demo/connector-example/src/connector_example/__init__.py
  connector-proxy-demo/connector-example/src/connector_example/commands/__init__.py
  connector-proxy-demo/connector-example/src/connector_example/commands/example.py
Due: none

WIP
  connector-proxy-demo/connector-example/README.md
  connector-proxy-demo/connector-example/bpmn/send_email.bpmn
Due: none

WIP
  connector-proxy-demo/bin/run_server_locally
  connector-proxy-demo/dev.Dockerfile
Due: none

WIP
  connector-proxy-demo/bin/run_server_locally
Due: none

WIP
  connector-proxy-demo/connector-example/.gitignore
Due: none

WIP
  docker-compose.yml
Due: none

guest_user_and_data_object_section_update
  docs/Building_Diagrams/data_objects.md
  docs/Building_Diagrams/guest_user.md
  docs/Building_Diagrams/images/category.png
  docs/Building_Diagrams/images/guest_user1.png
  docs/Building_Diagrams/images/guest_user2.png
  docs/Building_Diagrams/images/guest_user3.png
  docs/Building_Diagrams/images/private_data_object.png
  docs/Building_Diagrams/images/sensitive_value.png
  docs/Building_Diagrams/images/setting_permissions.png
  docs/Debugging_Diagrams/Private_data.md
  docs/index.md
Due: none

Ensure the RUN_AS ownership applies to the DB's named volume
  docker-compose.yml
Due: none

Use long form to avoid race condition
  docker-compose.yml
Due: none

Add comment to the first appearance of RUN_AS
  docker-compose.yml
Due: none

Editable dev container for connector proxy demo (#2097)
  Makefile
  connector-proxy-demo/bin/run_server_locally
  connector-proxy-demo/connector-example/.tool-versions
  connector-proxy-demo/connector-example/LICENSE
  connector-proxy-demo/connector-example/README.md
  connector-proxy-demo/connector-example/poetry.lock
  connector-proxy-demo/connector-example/pyproject.toml
  connector-proxy-demo/connector-example/src/connector_example/__init__.py
  connector-proxy-demo/connector-example/src/connector_example/commands/__init__.py
  connector-proxy-demo/connector-example/src/connector_example/commands/example.py
  connector-proxy-demo/dev.Dockerfile
  connector-proxy-demo/dev.docker-compose.yml
  connector-proxy-demo/poetry.lock
  connector-proxy-demo/pyproject.toml
  docker-compose.yml
Due: none

guest_user_and_data_object_section_update (#2098)
  docs/Building_Diagrams/data_objects.md
  docs/Building_Diagrams/guest_user.md
  docs/Building_Diagrams/images/category.png
  docs/Building_Diagrams/images/guest_user1.png
  docs/Building_Diagrams/images/guest_user2.png
  docs/Building_Diagrams/images/guest_user3.png
  docs/Building_Diagrams/images/private_data_object.png
  docs/Building_Diagrams/images/sensitive_value.png
  docs/Building_Diagrams/images/setting_permissions.png
  docs/Debugging_Diagrams/Private_data.md
  docs/index.md
Due: none

allow internal openid url as issuer
  spiffworkflow-backend/src/spiffworkflow_backend/config/default.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/authentication_service.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

allow internal openid url as issuer (#2101)
  spiffworkflow-backend/src/spiffworkflow_backend/config/default.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/authentication_service.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

do not delete tasks that were canceled when we terminate a pi w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

added test to ensure pi can be terminated with subprocess w/ burnettk
  spiffworkflow-backend/tests/data/subprocess_with_manual_task/subprocess_with_manual_task.bpmn
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_process_instance_processor.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

Do not delete canceled tasks (#2103)
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
  spiffworkflow-backend/tests/data/subprocess_with_manual_task/subprocess_with_manual_task.bpmn
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_process_instance_processor.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

Add Python 3.12 support for connector proxy
  connector-proxy-demo/dev.Dockerfile
  connector-proxy-demo/poetry.lock
  connector-proxy-demo/pyproject.toml
Due: none

run poetry install after copying in the current directory for connector-example w/ burnettk
  connector-proxy-demo/Dockerfile
Due: none

run poetry install after copying in the current directory for connector-example w/ burnettk (#2105)
  connector-proxy-demo/Dockerfile
Due: none

Add Python 3.12 support for connector proxy (#2104)
  connector-proxy-demo/dev.Dockerfile
  connector-proxy-demo/poetry.lock
  connector-proxy-demo/pyproject.toml
Due: none

grab files from sartography/spiff-codespaces
  .devcontainer/devcontainer-docker-compose.yml
  .devcontainer/devcontainer.forlater.json
  .devcontainer/nginx.conf
  docker-compose.yml
  spiffworkflow-backend/wsgi.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

build images for codespaces w/ burnettk
  .github/workflows/build_docker_images.yml
Due: none

use codespaces image w/ burnettk
  .devcontainer/devcontainer-docker-compose.yml
Due: none

use correct image for frontend w/ burnettk
  .devcontainer/devcontainer-docker-compose.yml
Due: none

support proxy count for proxy fix
  spiffworkflow-backend/src/spiffworkflow_backend/config/default.py
  spiffworkflow-backend/wsgi.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

use alternate proxy_set_header approach
  .devcontainer/nginx.conf
Due: none

support proxy count for proxy fix (#2106)
  spiffworkflow-backend/src/spiffworkflow_backend/config/default.py
  spiffworkflow-backend/wsgi.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

new image
  .devcontainer/devcontainer-docker-compose.yml
Due: none

fix image
  .devcontainer/devcontainer-docker-compose.yml
Due: none

resolved sonarjs lint issues mostly by ignoring them
  spiffworkflow-frontend/.eslintrc.cjs
  spiffworkflow-frontend/src/ContainerForExtensions.tsx
  spiffworkflow-frontend/src/a-spiffui-v2/views/Dashboards/Dashboards.tsx
  spiffworkflow-frontend/src/a-spiffui-v3/components/CustomForm.tsx
  spiffworkflow-frontend/src/a-spiffui-v3/components/ProcessInstanceProgress.tsx
  spiffworkflow-frontend/src/a-spiffui-v3/components/SideNav.tsx
  spiffworkflow-frontend/src/components/CustomForm.tsx
  spiffworkflow-frontend/src/components/ErrorDisplay.tsx
  spiffworkflow-frontend/src/components/ExtensionUxElementForDisplay.tsx
  spiffworkflow-frontend/src/components/Filters.tsx
  spiffworkflow-frontend/src/components/ProcessInstanceListTable.tsx
  spiffworkflow-frontend/src/components/ProcessInstanceListTableWithFilters.tsx
  spiffworkflow-frontend/src/components/ProcessInstanceLogList.tsx
  spiffworkflow-frontend/src/components/ProcessInstanceProgress.tsx
  spiffworkflow-frontend/src/components/ProcessModelForm.tsx
  spiffworkflow-frontend/src/components/messages/MessageEditor.tsx
  spiffworkflow-frontend/src/components/messages/MessageInstanceList.tsx
  spiffworkflow-frontend/src/helpers.tsx
  spiffworkflow-frontend/src/rjsf/custom_widgets/DateRangePicker/DateRangePickerWidget.tsx
  spiffworkflow-frontend/src/rjsf/custom_widgets/MarkDownFieldWidget/MarkDownFieldWidget.tsx
  spiffworkflow-frontend/src/rjsf/custom_widgets/TypeaheadWidget/TypeaheadWidget.tsx
  spiffworkflow-frontend/src/routes/BaseRoutes.tsx
  spiffworkflow-frontend/src/routes/Extension.tsx
  spiffworkflow-frontend/src/routes/ProcessModelEditDiagram.tsx
  spiffworkflow-frontend/src/routes/ProcessModelShow.tsx
  spiffworkflow-frontend/src/routes/ReactFormEditor.tsx
  spiffworkflow-frontend/src/routes/SpiffUIV2.tsx
  spiffworkflow-frontend/src/routes/SpiffUIV3.tsx
  spiffworkflow-frontend/src/routes/TaskShow.tsx
  spiffworkflow-frontend/src/routes/public/PublicForm.tsx
  spiffworkflow-frontend/src/services/HttpService.ts
Due: none
