Repository sartography/spiff-arena: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-added-large-files, check-toml, check-yaml, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

check-added-large-files:
  name: Check for added large files
  entry: check-added-large-files
  language: system

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

end-of-file-fixer:
  name: Fix End of Files
  entry: end-of-file-fixer
  language: system
  stages:
  - commit
  - push
  - manual

ruff-check:
  args:
  - check
  - --fix
  name: ruff
  entry: ruff
  language: system
  require_serial: true

ruff-format:
  args:
  - format
  name: ruff
  entry: ruff
  language: system
  require_serial: true

trailing-whitespace:
  name: Trim Trailing Whitespace
  entry: trailing-whitespace-fixer
  language: system
  stages:
  - commit
  - push
  - manual

on assign user, show errors, and do the right thing on exact match w/ jasquat
  spiffworkflow-frontend/src/components/UserSearch.tsx
  spiffworkflow-frontend/src/views/ProcessInstanceShow.tsx
Due: none

avoid shadow w/ jasquat
  spiffworkflow-frontend/src/views/ProcessInstanceShow.tsx
Due: none

on assign user, show errors, and do the right thing on exact match (#2656)
  spiffworkflow-frontend/src/components/UserSearch.tsx
  spiffworkflow-frontend/src/views/ProcessInstanceShow.tsx
Due: none

format the error message better w/ burnettk
  spiffworkflow-backend/bin/check_all_process_instances_for_orphaned_children.py
  spiffworkflow-backend/bin/check_orphaned_task_children.py
  spiffworkflow-backend/check_orphaned_children.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/workflow_execution_service.py
  spiffworkflow-backend/test_orphaned_children_repro.py
  spiffworkflow-backend/test_parallel_exclusive_repro.py
  spiffworkflow-backend/test_your_bpmn.py
  spiffworkflow-backend/tests/data/orphaned_children_repro/user_original.bpmn
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_orphaned_children.py
  spiffworkflow-frontend/src/components/ProcessInstanceLogList.tsx
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

capture exceptions when in threads w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/services/workflow_execution_service.py
  spiffworkflow-frontend/src/components/ProcessInstanceLogList.tsx
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

lint w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/services/workflow_execution_service.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

attempt to get around mypy w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/services/workflow_execution_service.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

remove unused type ignore w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/services/workflow_execution_service.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

no reason to make a wrapper w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/services/workflow_execution_service.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

Fix orphaned tasks (#2657)
  spiffworkflow-backend/src/spiffworkflow_backend/services/workflow_execution_service.py
  spiffworkflow-frontend/src/components/ProcessInstanceLogList.tsx
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

update test
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_call_activity_data_store_scope.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

discuss called activities
  docs/reference/bpmn/data_stores.md
Due: none

doc fix
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_call_activity_data_store_scope.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

put back upsearch service test
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_upsearch_service.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

Allow task assignment to empty groups
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
  spiffworkflow-backend/tests/data/task_assigned_to_group/task_assigned_to_group.bpmn
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_task_assignment_to_empty_group.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

a little clean up w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/routes/debug_controller.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_call_activity_data_store_scope.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

most tasks should always be pi 2 w/ burnettk
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_debug_controller.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

also order by pi on ties w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/routes/debug_controller.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

mypy w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/routes/debug_controller.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

fix snyk w/ jasquat
  .github/workflows/snyk-security.yml
Due: none

set model with few tasks to a model that has fewer tasks w/ burnettk
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_debug_controller.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

avoid init sentry when no config and mock logger correctly to avoid warnings w/ jasquat
  spiffworkflow-backend/src/spiffworkflow_backend/services/monitoring_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_metadata_backfill_task.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

upgrade packages for security w/ burnettk
  spiffworkflow-backend/uv.lock
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

try installing libs w/ burnettk
  .github/workflows/snyk-security.yml
Due: none

upgrqade werkzeug w/ burnettk
  spiffworkflow-backend/uv.lock
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

data store scoping part 2 (#2658)
  .github/workflows/snyk-security.yml
  docs/reference/bpmn/data_stores.md
  spiffworkflow-backend/src/spiffworkflow_backend/routes/debug_controller.py
  spiffworkflow-backend/tests/data/call_activity_ds_scope_callee/callee.bpmn
  spiffworkflow-backend/tests/data/call_activity_ds_scope_caller/caller.bpmn
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_call_activity_data_store_scope.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_debug_controller.py
  spiffworkflow-backend/uv.lock
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

auto-create groups when we see a lane w/ jasquat
  spiffworkflow-backend/bin/tests-par
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_process_instance_processor.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

revert
  spiffworkflow-backend/bin/tests-par
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

create principal and ignore name
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_process_instance_processor.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

fixed adding users to groups via yaml file w/ jasquat
  spiffworkflow-backend/src/spiffworkflow_backend/services/authorization_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_process_instance_processor.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

e2e tests are in the tests workflow w/ jasquat
  .github/workflows/e2e-tests.yml
Due: none

improve task assignment handling when users have not signed in (#2660)
  .github/workflows/e2e-tests.yml
  spiffworkflow-backend/src/spiffworkflow_backend/services/authorization_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/monitoring_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
  spiffworkflow-backend/tests/data/task_assigned_to_group/task_assigned_to_group.bpmn
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_task_assignment_to_empty_group.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_metadata_backfill_task.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_process_instance_processor.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

fix typo w/ jasquat
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

use called activity location to look up data stores, naively
  spiffworkflow-backend/src/spiffworkflow_backend/data_stores/crud.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_call_activity_data_store_scope.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

clean up
  spiffworkflow-backend/src/spiffworkflow_backend/data_stores/crud.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/reference_cache_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_kkv_data_store.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

notes
  spiffworkflow-backend/src/spiffworkflow_backend/data_stores/crud.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

more api logging
  spiffworkflow-backend/migrations/versions/52f3e86566bf_add_query_params_to_api_log.py
  spiffworkflow-backend/src/spiffworkflow_backend/__init__.py
  spiffworkflow-backend/src/spiffworkflow_backend/config/default.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/api_log_model.py
  spiffworkflow-backend/src/spiffworkflow_backend/utils/api_logging.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_api_logging.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

more mocked tests
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_api_logging.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

fix flaky test
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_authentication.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

move script
  spiffworkflow-backend/bin/extract_openapi_operation_info.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

Path conditions:
  check-added-large-files: any of: ^spiffworkflow-backend/
  check-toml: any of: ^spiffworkflow-backend/ and \.toml$
  check-yaml: any of: ^spiffworkflow-backend/ and \.(yaml|yml)$
  end-of-file-fixer: any of: ^spiffworkflow-backend/
  ruff-check: any of: ^spiffworkflow-backend/ and \.py$ and not (/migrations/)
  ruff-format: any of: ^spiffworkflow-backend/ and \.py$ and not (/migrations/)
  trailing-whitespace: any of: ^spiffworkflow-backend/, but not: /migrations/
