Repository sartography/spiff-arena: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        # entry: bash -c 'cd spiffworkflow-backend && black'
        entry: black
        language: system
        files: ^spiffworkflow-backend/
        types: [python]
        require_serial: true
        # exclude: ^migrations/
        exclude: "/migrations/"
      - id: check-added-large-files
        files: ^spiffworkflow-backend/
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-toml
        files: ^spiffworkflow-backend/
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-yaml
        files: ^spiffworkflow-backend/
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        files: ^spiffworkflow-backend/
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: flake8
        files: ^spiffworkflow-backend/
        name: flake8
        entry: flake8
        language: system
        types: [python]
        require_serial: true
        exclude: "/migrations/"
      - id: pyupgrade
        files: ^spiffworkflow-backend/
        name: pyupgrade
        description: Automatically upgrade syntax for newer versions.
        entry: pyupgrade
        language: system
        types: [python]
        args: [--py37-plus]
      - id: reorder-python-imports
        files: ^spiffworkflow-backend/
        name: Reorder python imports
        entry: reorder-python-imports
        language: system
        types: [python]
        args: [--application-directories=src]
        exclude: "(/migrations/|load_database_models)"
      - id: trailing-whitespace
        files: ^spiffworkflow-backend/
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
        exclude: "/migrations/"
  # - repo: https://github.com/pre-commit/mirrors-prettier
  #   rev: v2.4.1
  #   hooks:
  #     - id: prettier
  #       files: ^spiffworkflow-backend/
  #       exclude_types: [html]

updated recently viewed table to be recently run and added run button w/ burnettk cullerton
  spiffworkflow-frontend/src/components/ProcessInstanceRun.tsx
  spiffworkflow-frontend/src/routes/MyTasks.tsx
  spiffworkflow-frontend/src/routes/ProcessModelShow.tsx
Due: none

Load three tables, specific reportIdentifier
  spiffworkflow-frontend/src/components/MyCompletedInstances.tsx
  spiffworkflow-frontend/src/components/ProcessInstanceListTable.tsx
  spiffworkflow-frontend/src/routes/CompletedInstances.tsx
Due: none

use tiles for process models w/ burnettk cullerton
  spiffworkflow-frontend/src/index.css
  spiffworkflow-frontend/src/routes/ProcessGroupShow.tsx
Due: none

Table/report tweaks
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_api_blueprint.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_report_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Getting ./bin/pyl to pass
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_api_blueprint.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

adding a docker compose that will spin up all services.
  docker-compose.yml
Due: none

Reenable the tests.
  .github/workflows/backend_tests.yml
  .github/workflows/frontend_tests.yml
Due: none

Fix lint issue
  spiffworkflow-frontend/src/components/ProcessInstanceListTable.tsx
Due: none

My group filter
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_api_blueprint.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Margin
  spiffworkflow-frontend/src/routes/CompletedInstances.tsx
Due: none

filter process models based on user permissions on the backend if specified w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/api.yml
  spiffworkflow-backend/src/spiffworkflow_backend/config/permissions/development.yml
  spiffworkflow-backend/src/spiffworkflow_backend/config/permissions/terraform_deployed_environment.yml
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_api_blueprint.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/authorization_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_model_service.py
  spiffworkflow-frontend/src/components/ProcessInstanceRun.tsx
  spiffworkflow-frontend/src/components/ProcessModelListTiles.tsx
  spiffworkflow-frontend/src/index.css
  spiffworkflow-frontend/src/routes/MyTasks.tsx
  spiffworkflow-frontend/src/routes/ProcessGroupShow.tsx
  spiffworkflow-frontend/src/services/HttpService.ts
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Lint fix
  spiffworkflow-frontend/src/routes/CompletedInstances.tsx
Due: none

fixed editing a process model w/ burnettk
  spiffworkflow-frontend/src/components/ProcessModelForm.tsx
Due: none

Query tweak
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_api_blueprint.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

KB ftw + bin/run_pyl
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_api_blueprint.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Update oauth redirect url (#58)
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_api_blueprint.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Start of system report filters (#57)
  spiffworkflow-backend/src/spiffworkflow_backend/api.yml
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_api_blueprint.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_report_service.py
  spiffworkflow-frontend/src/components/MyCompletedInstances.tsx
  spiffworkflow-frontend/src/components/ProcessInstanceListTable.tsx
  spiffworkflow-frontend/src/routes/CompletedInstances.tsx
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

give core user access to instance tasks w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/config/permissions/development.yml
  spiffworkflow-backend/src/spiffworkflow_backend/config/permissions/terraform_deployed_environment.yml
Due: check-added-large-files, check-yaml, end-of-file-fixer, trailing-whitespace

some more perm updates for core user w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/config/permissions/development.yml
  spiffworkflow-backend/src/spiffworkflow_backend/config/permissions/terraform_deployed_environment.yml
  spiffworkflow-frontend/src/hooks/UriListForPermissions.tsx
  spiffworkflow-frontend/src/routes/ProcessInstanceReportList.tsx
Due: check-added-large-files, check-yaml, end-of-file-fixer, trailing-whitespace

add perm to process instance report list
  spiffworkflow-backend/src/spiffworkflow_backend/config/permissions/terraform_deployed_environment.yml
Due: check-added-large-files, check-yaml, end-of-file-fixer, trailing-whitespace

fix typo
  spiffworkflow-frontend/src/components/TasksWaitingForMyGroups.tsx
  spiffworkflow-frontend/src/routes/GroupedTasks.tsx
Due: none

fixed cypress tests
  spiffworkflow-frontend/cypress/e2e/process_groups.cy.js
  spiffworkflow-frontend/cypress/e2e/process_models.cy.js
  spiffworkflow-frontend/cypress/support/commands.js
  spiffworkflow-frontend/src/components/ProcessModelListTiles.tsx
Due: none

some updates to ui homepage to align more with notion doc
  spiffworkflow-frontend/src/components/ProcessInstanceListTable.tsx
  spiffworkflow-frontend/src/components/TasksForMyOpenProcesses.tsx
  spiffworkflow-frontend/src/components/TasksWaitingForMe.tsx
  spiffworkflow-frontend/src/components/TasksWaitingForMyGroups.tsx
  spiffworkflow-frontend/src/routes/CompletedInstances.tsx
  spiffworkflow-frontend/src/routes/HomePageRoutes.tsx
Due: none

rename process_groups_list to process_group_list and fix lint
  spiffworkflow-backend/src/spiffworkflow_backend/api.yml
  spiffworkflow-backend/src/spiffworkflow_backend/routes/admin_blueprint/admin_blueprint.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/admin_blueprint/templates/process_group_list.html
  spiffworkflow-backend/src/spiffworkflow_backend/routes/admin_blueprint/templates/process_group_show.html
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_api_blueprint.py
  spiffworkflow-frontend/src/components/ProcessInstanceListTable.tsx
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace
