Repository sartography/spiff-arena: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

black:
  name: black
  entry: black
  language: system
  require_serial: true

check-added-large-files:
  name: Check for added large files
  entry: check-added-large-files
  language: system

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

end-of-file-fixer:
  name: Fix End of Files
  entry: end-of-file-fixer
  language: system
  stages:
  - commit
  - push
  - manual

flake8:
  name: flake8
  entry: flake8
  language: system
  require_serial: true

pyupgrade:
  name: pyupgrade
  description: Automatically upgrade syntax for newer versions.
  entry: pyupgrade
  language: system
  args:
  - --py37-plus

reorder-python-imports:
  name: Reorder python imports
  entry: reorder-python-imports
  language: system
  args:
  - --application-directories=src

trailing-whitespace:
  name: Trim Trailing Whitespace
  entry: trailing-whitespace-fixer
  language: system
  stages:
  - commit
  - push
  - manual

Arena commands now run as me
  .gitignore
  Makefile
  dev.Dockerfile
  dev.docker-compose.yml
Due: none

Env vars, styling, error cases, conditional display of script assist
  spiffworkflow-backend/src/spiffworkflow_backend/config/__init__.py
  spiffworkflow-backend/src/spiffworkflow_backend/config/default.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/script_assist_controller.py
  spiffworkflow-frontend/package-lock.json
  spiffworkflow-frontend/package.json
  spiffworkflow-frontend/src/hooks/useScriptAssistEnabled.tsx
  spiffworkflow-frontend/src/index.css
  spiffworkflow-frontend/src/routes/ProcessModelEditDiagram.tsx
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Fix tooltips, clean up some styling.
  spiffworkflow-frontend/src/components/SpiffTooltip.tsx
  spiffworkflow-frontend/src/index.css
  spiffworkflow-frontend/src/routes/ProcessModelEditDiagram.tsx
Due: none

Backend runs as me
  Makefile
  spiffworkflow-backend/dev.Dockerfile
  spiffworkflow-backend/dev.docker-compose.yml
Due: check-added-large-files, check-yaml, end-of-file-fixer, trailing-whitespace

Dev containers now work with "run as me" (#1129)
  .gitignore
  Makefile
  dev.Dockerfile
  dev.docker-compose.yml
  spiffworkflow-backend/dev.Dockerfile
  spiffworkflow-backend/dev.docker-compose.yml
Due: check-added-large-files, check-yaml, end-of-file-fixer, trailing-whitespace

Add loader and error message
  spiffworkflow-frontend/src/hooks/useProcessScriptAssistQuery.tsx
  spiffworkflow-frontend/src/index.css
  spiffworkflow-frontend/src/routes/ProcessModelEditDiagram.tsx
Due: none

moved code as suggested by coderabbit
  spiffworkflow-backend/src/spiffworkflow_backend/services/authentication_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

PR feedback - indent the line
  Makefile
Due: none

Update secrets programmatically (#1122)
  Makefile
  spiffworkflow-backend/dev.Dockerfile
  spiffworkflow-backend/dev.docker-compose.yml
  spiffworkflow-backend/src/spiffworkflow_backend/scripts/set_secret.py
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Update useScriptAssistEnabled.tsx
  spiffworkflow-frontend/src/hooks/useScriptAssistEnabled.tsx
Due: none

feature/support-google-oauth (#1125)
  spiffworkflow-backend/src/spiffworkflow_backend/services/authentication_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Update script_assist_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/script_assist_controller.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Feature/pi table ux tweaks (#1133)
  spiffworkflow-frontend/src/components/ProcessInstanceListTable.tsx
  spiffworkflow-frontend/src/components/ProcessInstanceListTableWithFilters.tsx
  spiffworkflow-frontend/src/interfaces.ts
  spiffworkflow-frontend/src/routes/ProcessInstanceList.tsx
Due: none

Some reasonable changes suggested by the build process
  spiffworkflow-backend/src/spiffworkflow_backend/config/default.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/script_assist_controller.py
  spiffworkflow-frontend/src/index.css
  spiffworkflow-frontend/src/routes/ProcessModelEditDiagram.tsx
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Comments from PR.
  spiffworkflow-backend/src/spiffworkflow_backend/__init__.py
  spiffworkflow-backend/src/spiffworkflow_backend/config/default.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/script_assist_controller.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Update ProcessModelEditDiagram.tsx
  spiffworkflow-frontend/src/routes/ProcessModelEditDiagram.tsx
Due: none

Work on the first time clean install
  dev.docker-compose.yml
  spiffworkflow-backend/dev.docker-compose.yml
Due: check-added-large-files, check-yaml, end-of-file-fixer, trailing-whitespace

do not overwrite the instructionsForEndUser on the spec object with the rendered instructions w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/services/jinja_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

do not overwrite the instructionsForEndUser on the spec object with the rendered instructions w/ burnettk (#1135)
  spiffworkflow-backend/src/spiffworkflow_backend/services/jinja_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

if a metadata value looks like a url then display as a link w/ burnettk
  spiffworkflow-frontend/src/helpers.tsx
  spiffworkflow-frontend/src/routes/ProcessInstanceShow.tsx
Due: none

updated the permissions setting in authorization service w/ burnettk
  spiffworkflow-backend/poetry.lock
  spiffworkflow-backend/src/spiffworkflow_backend/config/permissions/local_development.yml
  spiffworkflow-backend/src/spiffworkflow_backend/routes/script_assist_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/authorization_service.py
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

First whack at trying to deploy with the Python buildpack
  manifest.yml
  spiffworkflow-backend/.profile
  spiffworkflow-backend/Procfile
  vars.yml
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

avoid Link for external urls
  spiffworkflow-frontend/src/routes/ProcessInstanceShow.tsx
Due: none

only show the refresh button from filters table w/ burnettk
  spiffworkflow-frontend/src/components/ProcessInstanceListTable.tsx
  spiffworkflow-frontend/src/components/ProcessInstanceListTableWithFilters.tsx
Due: none

precommit now passes. tests are failing w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/__init__.py
  spiffworkflow-backend/src/spiffworkflow_backend/config/default.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/reference_cache.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/script_assist_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/authentication_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/workflow_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

pinned SpiffWorkflow to known working version and fixed tests. we will update spiff in a later pr w/ burnettk
  spiffworkflow-backend/poetry.lock
  spiffworkflow-backend/pyproject.toml
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_authorization_service.py
Due: black, check-added-large-files, check-toml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

wip spiff lib upgrade
  spiffworkflow-backend/poetry.lock
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/script_unit_test_runner.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

unblock bpmn unit testing with duplicate files, our script engine, get process initiator user
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_model_test_runner_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

unblock bpmn unit testing with duplicate files, our script engine, get process initiator user (#1140)
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_model_test_runner_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Add a CI job for the dev containers
  .github/workflows/dev_containers.yml
Due: none

Update CI job name
  .github/workflows/dev_containers.yml
Due: none

Set npm cache dir
  spiffworkflow-frontend/dev.docker-compose.yml
Due: none

Set cypress cache dir
  spiffworkflow-frontend/dev.docker-compose.yml
Due: none

Not sure how much node things support this
  spiffworkflow-frontend/dev.docker-compose.yml
Due: none

Derp
  .github/workflows/dev_containers.yml
Due: none

add the jinja rendered instructions back to the extensions list before returning
  spiffworkflow-backend/src/spiffworkflow_backend/routes/tasks_controller.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Maybe they all do
  spiffworkflow-frontend/dev.docker-compose.yml
Due: none

fixed comment
  spiffworkflow-backend/src/spiffworkflow_backend/routes/tasks_controller.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Pre pr cleanup
  spiffworkflow-frontend/dev.docker-compose.yml
Due: none

lint
  spiffworkflow-frontend/src/routes/ProcessInstanceShow.tsx
Due: none

Path conditions:
  black: any of: ^spiffworkflow-backend/ and \.py$ and not (/migrations/)
  check-added-large-files: any of: ^spiffworkflow-backend/
  check-toml: any of: ^spiffworkflow-backend/ and \.toml$
  check-yaml: any of: ^spiffworkflow-backend/ and \.(yaml|yml)$
  end-of-file-fixer: any of: ^spiffworkflow-backend/
  flake8: any of: ^spiffworkflow-backend/ and \.py$ and not (/migrations/)
  pyupgrade: any of: ^spiffworkflow-backend/ and \.py$
  reorder-python-imports: any of: ^spiffworkflow-backend/ and \.py$ and not ((/migrations/|load_database_models))
  trailing-whitespace: any of: ^spiffworkflow-backend/, but not: /migrations/
