Repository sartography/spiff-arena: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        # entry: bash -c 'cd spiffworkflow-backend && black'
        entry: black
        language: system
        files: ^spiffworkflow-backend/
        types: [python]
        require_serial: true
        # exclude: ^migrations/
        exclude: "/migrations/"
      - id: check-added-large-files
        files: ^spiffworkflow-backend/
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-toml
        files: ^spiffworkflow-backend/
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-yaml
        files: ^spiffworkflow-backend/
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        files: ^spiffworkflow-backend/
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: flake8
        files: ^spiffworkflow-backend/
        name: flake8
        entry: flake8
        language: system
        types: [python]
        require_serial: true
        exclude: "/migrations/"
      - id: pyupgrade
        files: ^spiffworkflow-backend/
        name: pyupgrade
        description: Automatically upgrade syntax for newer versions.
        entry: pyupgrade
        language: system
        types: [python]
        args: [--py37-plus]
      - id: reorder-python-imports
        files: ^spiffworkflow-backend/
        name: Reorder python imports
        entry: reorder-python-imports
        language: system
        types: [python]
        args: [--application-directories=src]
        exclude: "(/migrations/|load_database_models)"
      - id: trailing-whitespace
        files: ^spiffworkflow-backend/
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
        exclude: "/migrations/"
  # - repo: https://github.com/pre-commit/mirrors-prettier
  #   rev: v2.4.1
  #   hooks:
  #     - id: prettier
  #       files: ^spiffworkflow-backend/
  #       exclude_types: [html]

build image for celery branch w/ burnettk
  .github/workflows/docker_image_for_main_builds.yml
Due: none

poet does not exist in the image w/ burnettk
  spiffworkflow-backend/bin/start_celery_worker
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

start blocking scheduler should always start the scheduler w/ burnettk
  spiffworkflow-backend/bin/start_blocking_appscheduler.py
  spiffworkflow-backend/src/spiffworkflow_backend/background_processing/apscheduler.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

remove test for empty main script
  spiffworkflow-backend/tests/test_main.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

avoid print statements, generally (#784)
  spiffworkflow-backend/bin/data_migrations/version_1_3.py
  spiffworkflow-backend/pyproject.toml
  spiffworkflow-backend/src/spiffworkflow_backend/__main__.py
  spiffworkflow-backend/src/spiffworkflow_backend/config/__init__.py
  spiffworkflow-backend/src/spiffworkflow_backend/data_migrations/version_1_3.py
  spiffworkflow-backend/src/spiffworkflow_backend/helpers/db_helper.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_extensions_controller.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_nested_groups.py
  spiffworkflow-backend/tests/test_main.py
Due: black, check-added-large-files, check-toml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

add init and stuff for this branch
  spiffworkflow-backend/bin/run_pydeps
  spiffworkflow-backend/src/spiffworkflow_backend/background_processing/__init__.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

make this work not just on my mac
  spiffworkflow-backend/bin/run_pydeps
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

send other args to only
  spiffworkflow-backend/bin/run_pydeps
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

added running status for process instance and use that on fe to go to show page and added additional identifier to locking system to isolate celery workers better w/ burnettk
  spiffworkflow-backend/]
  spiffworkflow-backend/bin/run_server_locally_with_celery
  spiffworkflow-backend/bin/start_celery_worker
  spiffworkflow-backend/src/spiffworkflow_backend/background_processing/apscheduler.py
  spiffworkflow-backend/src/spiffworkflow_backend/background_processing/background_processing_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/background_processing/celery_tasks/process_instance_task.py
  spiffworkflow-backend/src/spiffworkflow_backend/background_processing/celery_worker.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/process_instance.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_lock_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_queue_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/workflow_execution_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_process_instance_processor.py
  spiffworkflow-frontend/src/components/ProcessInstanceListTable.tsx
  spiffworkflow-frontend/src/config.tsx
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

fixed typing error that typeguard found, not sure why mypy did not w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/routes/tasks_controller.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

do not check for no instructions on interstitial page for cypress tests on frontend w/ burnettk
  spiffworkflow-frontend/cypress/support/commands.js
Due: none

do not queue process instances twice w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_instances_controller.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

removed bad file w/ burnettk
  spiffworkflow-backend/]
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

queue tasks using strings to avoid circular imports when attmepting to queue w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/background_processing/background_processing_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/background_processing/celery_tasks/process_instance_task.py
  spiffworkflow-backend/src/spiffworkflow_backend/background_processing/celery_tasks/process_instance_task_producer.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_instances_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/tasks_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/workflow_execution_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

only queue imminent new timer events and mock celery
  poetry.lock
  spiffworkflow-backend/poetry.lock
  spiffworkflow-backend/src/spiffworkflow_backend/background_processing/__init__.py
  spiffworkflow-backend/src/spiffworkflow_backend/background_processing/celery_tasks/process_instance_task_producer.py
  spiffworkflow-backend/src/spiffworkflow_backend/background_processing/celery_worker.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/workflow_execution_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_authentication.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_future_task.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

New tickets documentation
  docs/Building_Diagrams/images/Submit_text.png
  docs/Getting_Started/images/Completed_by_me.png
  docs/Getting_Started/images/Completed_by_others.png
  docs/Getting_Started/quick_start.md
Due: none

resolve topic name issue
  docs/Getting_Started/quick_start.md
Due: none

New tickets documentation (#786)
  docs/Building_Diagrams/images/Submit_text.png
  docs/Getting_Started/images/Completed_by_me.png
  docs/Getting_Started/images/Completed_by_others.png
  docs/Getting_Started/quick_start.md
Due: none

WIP
  spiffworkflow-backend/src/spiffworkflow_backend/models/cache_generation.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/feature_flag.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/feature_flag_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Getting ./bin/pyl to pass
  spiffworkflow-backend/src/spiffworkflow_backend/models/feature_flag.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/feature_flag_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Integrate, add migration
  spiffworkflow-backend/migrations/versions/1abb2da40fce_.py
  spiffworkflow-backend/src/spiffworkflow_backend/load_database_models.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/feature_flag.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/element_units_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Example of setting feature flags
  spiffworkflow-backend/src/spiffworkflow_backend/config/default.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/feature_flag.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/element_units_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/feature_flag_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Prep for script
  spiffworkflow-backend/src/spiffworkflow_backend/services/feature_flag_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Add script
  spiffworkflow-backend/src/spiffworkflow_backend/scripts/set_feature_flags.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/feature_flag_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Fix up element unit tests
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_element_units_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Getting ./bin/pyl to pass
  spiffworkflow-backend/src/spiffworkflow_backend/scripts/set_feature_flags.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_element_units_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Added tests
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_feature_flag_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Getting ./bin/pyl to pass
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_feature_flag_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

some keyboard shortcut support on frontend and added ability to force run a process instance over the api w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/api.yml
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_instances_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/workflow_execution_service.py
  spiffworkflow-frontend/src/hooks/useKeyboardShortcut.tsx
  spiffworkflow-frontend/src/interfaces.ts
  spiffworkflow-frontend/src/routes/ProcessInstanceShow.tsx
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

some styles added for the shortcut menu w/ burnettk
  spiffworkflow-frontend/src/hooks/useKeyboardShortcut.tsx
  spiffworkflow-frontend/src/index.css
  spiffworkflow-frontend/src/routes/ProcessInstanceShow.tsx
Due: none

pyl w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/background_processing/celery_worker.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_instances_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/workflow_execution_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

fixed test w/ burnettk
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_future_task.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

removed temporary celery script and added support for celery worker in run server locally w/ burnettk
  spiffworkflow-backend/bin/local_development_environment_setup
  spiffworkflow-backend/bin/run_server_locally
  spiffworkflow-backend/bin/run_server_locally_with_celery
  spiffworkflow-backend/bin/start_celery_worker
  spiffworkflow-backend/src/spiffworkflow_backend/config/__init__.py
  spiffworkflow-backend/src/spiffworkflow_backend/config/default.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

cleaned up migrations w/ burnettk
  spiffworkflow-backend/migrations/versions/5d07e3db3ab7_.py
  spiffworkflow-backend/migrations/versions/8db020e15f26_.py
  spiffworkflow-backend/migrations/versions/e1eb75bb0c0b_.py
  spiffworkflow-backend/migrations/versions/ef3fc0930156_.py
Due: check-added-large-files, end-of-file-fixer, pyupgrade

fix comment
  spiffworkflow-backend/src/spiffworkflow_backend/config/default.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace
