Repository sartography/spiff-arena: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

black:
  name: black
  entry: black
  language: system
  require_serial: true

check-added-large-files:
  name: Check for added large files
  entry: check-added-large-files
  language: system

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

end-of-file-fixer:
  name: Fix End of Files
  entry: end-of-file-fixer
  language: system
  stages:
  - commit
  - push
  - manual

flake8:
  name: flake8
  entry: flake8
  language: system
  require_serial: true

pyupgrade:
  name: pyupgrade
  description: Automatically upgrade syntax for newer versions.
  entry: pyupgrade
  language: system
  args:
  - --py37-plus

reorder-python-imports:
  name: Reorder python imports
  entry: reorder-python-imports
  language: system
  args:
  - --application-directories=src

trailing-whitespace:
  name: Trim Trailing Whitespace
  entry: trailing-whitespace-fixer
  language: system
  stages:
  - commit
  - push
  - manual

use a state for hotCrumbs with using ProcessBreadCrumb to avoid unnecessary renderings and network calls w/ burnettk
  spiffworkflow-frontend/'
  spiffworkflow-frontend/src/routes/TaskShow.tsx
Due: none

added target branch to publish branch name to avoid conflicts between environments w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/services/git_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

some changes to support redirecting when loading an extension
  spiffworkflow-frontend/src/extension_ui_schema_interfaces.ts
  spiffworkflow-frontend/src/routes/Extension.tsx
Due: none

updates to simplify the code, fix a few ux issues, and make more inline with current conventions w/ burnettk
  spiffworkflow-frontend/src/components/CustomForm.tsx
  spiffworkflow-frontend/src/index.css
  spiffworkflow-frontend/src/rjsf/carbon_theme/index.css
  spiffworkflow-frontend/src/rjsf/custom_widgets/NumericRangeField/NumericRangeField.tsx
  spiffworkflow-frontend/src/routes/TaskShow.tsx
Due: none

removed subkey from numeric range and added validation to ensure max is greater than min w/ burnettk
  spiffworkflow-frontend/src/components/CustomForm.tsx
  spiffworkflow-frontend/src/rjsf/carbon_theme/index.css
  spiffworkflow-frontend/src/rjsf/custom_widgets/NumericRangeField/NumericRangeField.tsx
  spiffworkflow-frontend/src/routes/TaskShow.tsx
Due: none

added some comments to clarify how to use numeric range w/ burnettk
  spiffworkflow-frontend/src/components/CustomForm.tsx
  spiffworkflow-frontend/src/rjsf/custom_widgets/NumericRangeField/NumericRangeField.tsx
Due: none

added some documentation for the numeric range field w/ burnettk
  docs/Building_Diagrams/Forms.md
  spiffworkflow-frontend/src/components/CustomForm.tsx
  spiffworkflow-frontend/src/rjsf/custom_widgets/NumericRangeField/NumericRangeField.tsx
Due: none

some changes to support redirecting when loading an extension (#806)
  spiffworkflow-frontend/src/extension_ui_schema_interfaces.ts
  spiffworkflow-frontend/src/routes/Extension.tsx
Due: none

FAQ 3rd set
  docs/Support/FAQ.md
Due: none

Squashed 'SpiffWorkflow/' changes from c3a49431e..6d6de0467
  doc/bpmn/data.rst
  tests/SpiffWorkflow/bpmn/BoxDeepCopyTest.py
  tests/SpiffWorkflow/bpmn/CallActivityTest.py
  tests/SpiffWorkflow/bpmn/FeelExpressionEngineTest.py
  tests/SpiffWorkflow/bpmn/data/conditional_event.bpmn
  tests/SpiffWorkflow/bpmn/events/ConditionalEventTest.py
  tests/SpiffWorkflow/bpmn/events/TimerCycleStartTest.py
  tests/SpiffWorkflow/bpmn/events/TimerCycleTest.py
  tests/SpiffWorkflow/bpmn/parallel_gateway_tests/ParallelOrderTest.py
  tests/SpiffWorkflow/bpmn/serializer/BaseTestCase.py
  tests/SpiffWorkflow/bpmn/serializer/VersionMigrationTest.py
  tests/SpiffWorkflow/camunda/MultiInstanceDMNTest.py
  tests/SpiffWorkflow/camunda/ResetTokenParallelTaskCountTest.py
  tests/SpiffWorkflow/camunda/UserTaskParserTest.py
  tests/SpiffWorkflow/camunda/data/dmn/test_integer_decision_multi.dmn
  tests/SpiffWorkflow/camunda/specs/UserTaskSpecTest.py
  tests/SpiffWorkflow/dmn/feel_engine/FeelDictDecisionTest.py
  tests/SpiffWorkflow/dmn/feel_engine/FeelDictDotNotationDecisionTest.py
  tests/SpiffWorkflow/dmn/feel_engine/data/dict_dot_notation_decision_feel.dmn
  tests/SpiffWorkflow/dmn/python_engine/DictDotNotationDecisionTest.py
  tests/SpiffWorkflow/dmn/python_engine/DictDotNotationDecisionWeirdCharactersTest.py
  tests/SpiffWorkflow/dmn/python_engine/data/dict_dot_notation_decision.dmn
  tests/SpiffWorkflow/dmn/python_engine/data/dict_dot_notation_decision_v1_3.dmn
  tests/SpiffWorkflow/dmn/python_engine/data/dict_dot_notation_decision_weird_characters.dmn
  tests/SpiffWorkflow/dmn/python_engine/data/dict_dot_notation_decision_weird_characters_v1_3.dmn
  tests/SpiffWorkflow/spiff/BusinessRuleTaskTest.py
  tests/SpiffWorkflow/spiff/data/data_object.bpmn
  tests/SpiffWorkflow/spiff/data_object_test.py
Due: none

Squashed 'bpmn-js-spiffworkflow/' changes from 6007a770a..9762eb631
  .github/workflows/publish.yml
  .github/workflows/tests.yml
  app/app.js
  app/spiffworkflow/DataObject/DataObjectHelpers.js
  app/spiffworkflow/DataObject/DataObjectInterceptor.js
  app/spiffworkflow/DataObject/DataObjectLabelEditingProvider.js
  app/spiffworkflow/DataObject/index.js
  app/spiffworkflow/DataObject/propertiesPanel/DataObjectArray.js
  app/spiffworkflow/DataObject/propertiesPanel/DataObjectPropertiesProvider.js
  app/spiffworkflow/DataObject/propertiesPanel/DataObjectSelect.js
  app/spiffworkflow/DataStoreReference/DataStoreHelpers.js
  app/spiffworkflow/DataStoreReference/DataStoreInterceptor.js
  app/spiffworkflow/DataStoreReference/index.js
  app/spiffworkflow/DataStoreReference/propertiesPanel/DataStorePropertiesProvider.js
  app/spiffworkflow/DataStoreReference/propertiesPanel/DataStoreSelect.js
  app/spiffworkflow/conditions/propertiesPanel/ConditionsPropertiesProvider.js
  app/spiffworkflow/extensions/extensionHelpers.js
  app/spiffworkflow/extensions/propertiesPanel/ExtensionsPropertiesProvider.js
  app/spiffworkflow/extensions/propertiesPanel/SpiffExtensionCheckboxEntry.js
  app/spiffworkflow/extensions/propertiesPanel/SpiffExtensionLaunchButton.js
  app/spiffworkflow/extensions/propertiesPanel/SpiffExtensionSelect.js
  app/spiffworkflow/extensions/propertiesPanel/SpiffExtensionServiceProperties.js
  app/spiffworkflow/extensions/propertiesPanel/SpiffExtensionTextArea.js
  app/spiffworkflow/extensions/propertiesPanel/SpiffExtensionTextInput.js
  app/spiffworkflow/index.js
  app/spiffworkflow/moddle/spiffworkflow.json
  package.json
  test/spec/ConditionSpec.js
  test/spec/DataObjectInterceptorSpec.js
  test/spec/DataObjectPropsSpec.js
  test/spec/DataStoreInterceptorSpec.js
  test/spec/DataStoreReferenceSpec.js
  test/spec/UserTaskPropsSpec.js
  test/spec/bpmn/conditional_event.bpmn
  test/spec/bpmn/data_store.bpmn
  test/spec/bpmn/diagram.bpmn
Due: none

pull in sartography/spiff-arena/bpmn-js-spiffworkflow instead of sartography/bpmn-js-spiffworkflow
  spiffworkflow-frontend/package-lock.json
  spiffworkflow-frontend/package.json
Due: none

updated bpmn-js-spiffworkflow integrity w/ burnettk
  spiffworkflow-frontend/package-lock.json
Due: none

update readme
  README.md
Due: none

update readme
  bpmn-js-spiffworkflow/README.md
Due: none

fix typos
  bpmn-js-spiffworkflow/app/index.html
Due: none

updated bpmn-js-spiffworkflow w/ burnettk
  spiffworkflow-frontend/package-lock.json
Due: none

go back to pulling bpmn-js-spiffworkflow from its own separate repo because gitpkg.now.sh for monorepo subdirs is too flaky
  spiffworkflow-frontend/package-lock.json
  spiffworkflow-frontend/package.json
Due: none

Numeric range field added (#799) (#800)
  docs/Building_Diagrams/Forms.md
  spiffworkflow-frontend/package-lock.json
  spiffworkflow-frontend/src/components/CustomForm.tsx
  spiffworkflow-frontend/src/index.css
  spiffworkflow-frontend/src/rjsf/carbon_theme/index.css
  spiffworkflow-frontend/src/rjsf/custom_widgets/NumericRangeField/NumericRangeField.tsx
Due: none

allow additional valid client ids to be specified for the purpose of token validation
  spiffworkflow-backend/bin/local_development_environment_setup
  spiffworkflow-backend/src/spiffworkflow_backend/config/__init__.py
  spiffworkflow-backend/src/spiffworkflow_backend/config/default.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/authentication_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

import the correct typedict and notrequired for python 3.10
  spiffworkflow-backend/src/spiffworkflow_backend/services/authentication_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

remove HEY
  spiffworkflow-backend/bin/local_development_environment_setup
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

feature/specify-valid-client-ids (#808)
  spiffworkflow-backend/src/spiffworkflow_backend/config/__init__.py
  spiffworkflow-backend/src/spiffworkflow_backend/config/default.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/authentication_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Updated Min/Max value labels
  spiffworkflow-frontend/src/rjsf/custom_widgets/NumericRangeField/NumericRangeField.tsx
Due: none

Checkout files from old branch
  spiffworkflow-backend/src/spiffworkflow_backend/api.yml
  spiffworkflow-backend/src/spiffworkflow_backend/routes/data_store_controller.py
  spiffworkflow-frontend/src/components/DataStoreForm.tsx
  spiffworkflow-frontend/src/components/DataStoreListTable.tsx
  spiffworkflow-frontend/src/interfaces.ts
  spiffworkflow-frontend/src/routes/BaseRoutes.tsx
  spiffworkflow-frontend/src/routes/DataStoreList.tsx
  spiffworkflow-frontend/src/routes/DataStoreNew.tsx
  spiffworkflow-frontend/src/routes/DataStoreRoutes.tsx
  spiffworkflow-frontend/src/routes/ProcessGroupShow.tsx
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

imported patch from old message_improvements branch w/ burnettk
  README.md
  spiffworkflow-backend/bin/save_all_bpmn.py
  spiffworkflow-backend/migrations/versions/3f4639691223_.py
  spiffworkflow-backend/pyproject.toml
  spiffworkflow-backend/src/spiffworkflow_backend/api.yml
  spiffworkflow-backend/src/spiffworkflow_backend/models/correlation_property_cache.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/message_model.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/process_group.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/reference_cache.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/messages_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/data_setup_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/file_system_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/reference_cache_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/spec_file_service.py
  spiffworkflow-backend/tests/data/message_send_one_conversation/message_receiver.bpmn
  spiffworkflow-backend/tests/data/message_send_one_conversation/message_sender.bpmn
  spiffworkflow-backend/tests/data/message_send_one_conversation/process_group.json
  spiffworkflow-backend/tests/process_models_example_dir/examples/1-basic-concepts/1-1-content/README.md
  spiffworkflow-backend/tests/process_models_example_dir/examples/1-basic-concepts/1-1-content/a-simple-form-schema.json
  spiffworkflow-backend/tests/process_models_example_dir/examples/1-basic-concepts/1-1-content/a-simple-form-uischema.json
  spiffworkflow-backend/tests/process_models_example_dir/examples/1-basic-concepts/1-1-content/process_model.json
  spiffworkflow-backend/tests/process_models_example_dir/examples/1-basic-concepts/1-1-content/show-content.bpmn
  spiffworkflow-backend/tests/process_models_example_dir/examples/1-basic-concepts/process_group.json
  spiffworkflow-backend/tests/process_models_example_dir/examples/process_group.json
  spiffworkflow-backend/tests/spiffworkflow_backend/helpers/base_test.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_messages.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_data_setup_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_process_model_service.py
  spiffworkflow-frontend/package.json
  spiffworkflow-frontend/src/components/messages/MessageInstanceList.tsx
  spiffworkflow-frontend/src/components/messages/MessageModal.tsx
  spiffworkflow-frontend/src/components/messages/MessageModelList.tsx
  spiffworkflow-frontend/src/index.css
  spiffworkflow-frontend/src/interfaces.ts
  spiffworkflow-frontend/src/routes/BaseRoutes.tsx
  spiffworkflow-frontend/src/routes/MessageListPage.tsx
  spiffworkflow-frontend/src/routes/ProcessInstanceShow.tsx
Due: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

imported patch from old FAQ_3rd_Set branch w/ burnettk
  docs/Support/FAQ.md
Due: none

return the form dict even if it is empty and let rjsf handle it
  spiffworkflow-backend/src/spiffworkflow_backend/routes/tasks_controller.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Link fix
  spiffworkflow-frontend/src/components/DataStoreForm.tsx
Due: none

Path conditions:
  black: any of: ^spiffworkflow-backend/ and \.py$ and not (/migrations/)
  check-added-large-files: any of: ^spiffworkflow-backend/
  check-toml: any of: ^spiffworkflow-backend/ and \.toml$
  check-yaml: any of: ^spiffworkflow-backend/ and \.(yaml|yml)$
  end-of-file-fixer: any of: ^spiffworkflow-backend/
  flake8: any of: ^spiffworkflow-backend/ and \.py$ and not (/migrations/)
  pyupgrade: any of: ^spiffworkflow-backend/ and \.py$
  reorder-python-imports: any of: ^spiffworkflow-backend/ and \.py$ and not ((/migrations/|load_database_models))
  trailing-whitespace: any of: ^spiffworkflow-backend/, but not: /migrations/
