Repository sartography/spiff-arena: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

black:
  name: black
  entry: black
  language: system
  require_serial: true

check-added-large-files:
  name: Check for added large files
  entry: check-added-large-files
  language: system

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

end-of-file-fixer:
  name: Fix End of Files
  entry: end-of-file-fixer
  language: system
  stages:
  - commit
  - push
  - manual

flake8:
  name: flake8
  entry: flake8
  language: system
  require_serial: true

pyupgrade:
  name: pyupgrade
  description: Automatically upgrade syntax for newer versions.
  entry: pyupgrade
  language: system
  args:
  - --py37-plus

reorder-python-imports:
  name: Reorder python imports
  entry: reorder-python-imports
  language: system
  args:
  - --application-directories=src

trailing-whitespace:
  name: Trim Trailing Whitespace
  entry: trailing-whitespace-fixer
  language: system
  stages:
  - commit
  - push
  - manual

Added function checkProcessInstanceCompleted() to verify the instance is completed successfully
  spiffworkflow-frontend/cypress/pilot/NDR_PP1/consultingfees.cy.js
  spiffworkflow-frontend/cypress/pilot/NDR_PP1/equipment.cy.js
  spiffworkflow-frontend/cypress/pilot/NDR_PP1/learninganddev.cy.js
  spiffworkflow-frontend/cypress/pilot/NDR_PP1/otherfees.cy.js
  spiffworkflow-frontend/cypress/pilot/NDR_PP1/softwarelicense.cy.js
Due: none

add opencontainers label, and run an experiment to see what is required in dockerfile vs github actions
  spiffworkflow-backend/Dockerfile
  spiffworkflow-frontend/Dockerfile
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

more screwing with labels
  .github/workflows/docker_image_for_main_builds.yml
  spiffworkflow-backend/Dockerfile
  spiffworkflow-frontend/Dockerfile
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

update gunicorn configs to add threading
  spiffworkflow-backend/bin/boot_server_in_docker
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

Added a missing approver
  spiffworkflow-frontend/cypress/pilot/NDR_PP1/learninganddev.cy.js
Due: none

use password type field on secret show
  spiffworkflow-frontend/src/routes/SecretShow.tsx
Due: none

updated headers for the homepage in progress tab
  spiffworkflow-frontend/src/routes/InProgressInstances.tsx
Due: none

Revert "use password type field on secret show"
  spiffworkflow-frontend/src/routes/SecretShow.tsx
Due: none

add dir instruction to get inside the app dir when creating version json file
  Jenkinsfile
Due: none

do not blow up if the date is a bad format in a react json schema form w/ burnettk
  spiffworkflow-frontend/src/themes/carbon/BaseInputTemplate/BaseInputTemplate.tsx
Due: none

wip.
  spiffworkflow-frontend/src/components/ProcessInstanceListTable.tsx
  spiffworkflow-frontend/src/components/ProcessInterstitial.tsx
  spiffworkflow-frontend/src/interfaces.ts
  spiffworkflow-frontend/src/routes/ProcessInstanceShow.tsx
  spiffworkflow-frontend/src/routes/ProcessInterstitialPage.tsx
  spiffworkflow-frontend/src/routes/ProcessRoutes.tsx
Due: none

use the submitter id to determine if the submit button clicked was the close button or submit
  spiffworkflow-frontend/src/routes/TaskShow.tsx
Due: none

I'm yanking the general exception catching because it made it impossible to debug a problem we ran into - and it results in roughtly the same error message presented to the end user.
  spiffworkflow-backend/src/spiffworkflow_backend/routes/tasks_controller.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

update spiffworkflow
  spiffworkflow-backend/poetry.lock
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

update Close button on task show page to save and close and fixed task test
  spiffworkflow-frontend/cypress/e2e/tasks.cy.js
  spiffworkflow-frontend/src/routes/TaskShow.tsx
Due: none

added additional details to why we remove the root node from the spiff spec w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/services/task_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Force Go and View buttons to be the same width.
  spiffworkflow-frontend/src/components/ProcessInstanceListTable.tsx
Due: none

keep buttons from growing too large.
  spiffworkflow-frontend/src/components/ProcessInstanceListTable.tsx
Due: none

Requested simplification of the interstitial page.
  spiffworkflow-frontend/src/index.css
  spiffworkflow-frontend/src/routes/ProcessInterstitial.tsx
Due: none

run_pyl, and a little cleanup.
  spiffworkflow-backend/src/spiffworkflow_backend/config/__init__.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/process_instance.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
  spiffworkflow-frontend/public/interstitial/completed.png
  spiffworkflow-frontend/public/interstitial/errored.png
  spiffworkflow-frontend/public/interstitial/locked.png
  spiffworkflow-frontend/public/interstitial/redirect.png
  spiffworkflow-frontend/public/interstitial/waiting.png
  spiffworkflow-frontend/src/components/ProcessInstanceListTable.tsx
  spiffworkflow-frontend/src/routes/ProcessInterstitial.tsx
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Path conditions:
  black: any of: ^spiffworkflow-backend/ and \.py$ and not (/migrations/)
  check-added-large-files: any of: ^spiffworkflow-backend/
  check-toml: any of: ^spiffworkflow-backend/ and \.toml$
  check-yaml: any of: ^spiffworkflow-backend/ and \.(yaml|yml)$
  end-of-file-fixer: any of: ^spiffworkflow-backend/
  flake8: any of: ^spiffworkflow-backend/ and \.py$ and not (/migrations/)
  pyupgrade: any of: ^spiffworkflow-backend/ and \.py$
  reorder-python-imports: any of: ^spiffworkflow-backend/ and \.py$ and not ((/migrations/|load_database_models))
  trailing-whitespace: any of: ^spiffworkflow-backend/, but not: /migrations/
