Repository sartography/spiff-arena: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        # entry: bash -c 'cd spiffworkflow-backend && black'
        entry: black
        language: system
        files: ^spiffworkflow-backend/
        types: [python]
        require_serial: true
        # exclude: ^migrations/
        exclude: "/migrations/"
      - id: check-added-large-files
        files: ^spiffworkflow-backend/
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-toml
        files: ^spiffworkflow-backend/
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-yaml
        files: ^spiffworkflow-backend/
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        files: ^spiffworkflow-backend/
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: flake8
        files: ^spiffworkflow-backend/
        name: flake8
        entry: flake8
        language: system
        types: [python]
        require_serial: true
        exclude: "/migrations/"
      - id: pyupgrade
        files: ^spiffworkflow-backend/
        name: pyupgrade
        description: Automatically upgrade syntax for newer versions.
        entry: pyupgrade
        language: system
        types: [python]
        args: [--py37-plus]
      - id: reorder-python-imports
        files: ^spiffworkflow-backend/
        name: Reorder python imports
        entry: reorder-python-imports
        language: system
        types: [python]
        args: [--application-directories=src]
        exclude: "(/migrations/|load_database_models)"
      - id: trailing-whitespace
        files: ^spiffworkflow-backend/
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
        exclude: "/migrations/"
  # - repo: https://github.com/pre-commit/mirrors-prettier
  #   rev: v2.4.1
  #   hooks:
  #     - id: prettier
  #       files: ^spiffworkflow-backend/
  #       exclude_types: [html]

updated permission yamls to have email addresses and look more the same w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/config/permissions/development.yml
  spiffworkflow-backend/src/spiffworkflow_backend/config/permissions/staging.yml
  spiffworkflow-backend/src/spiffworkflow_backend/config/permissions/terraform_deployed_environment.yml
Due: check-added-large-files, check-yaml, end-of-file-fixer, trailing-whitespace

added test to check only privileged users can call refresh_permissions w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/scripts/refresh_permissions.py
  spiffworkflow-backend/tests/data/script_refresh_permissions/refresh_permisions.bpmn
  spiffworkflow-backend/tests/spiffworkflow_backend/scripts/test_refresh_permissions.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

add qa1 env
  spiffworkflow-backend/src/spiffworkflow_backend/config/permissions/qa1.yml
  spiffworkflow-backend/src/spiffworkflow_backend/config/qa1.py
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

50 is not long enough to store our keycloak urls
  spiffworkflow-backend/src/spiffworkflow_backend/models/user.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

lint and regen schema
  spiffworkflow-backend/migrations/versions/b7face8078df_.py
  spiffworkflow-backend/src/spiffworkflow_backend/config/qa1.py
  spiffworkflow-backend/tests/spiffworkflow_backend/scripts/test_refresh_permissions.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

fix qa1 and add script to get perms
  spiffworkflow-backend/bin/get_perms
  spiffworkflow-backend/src/spiffworkflow_backend/config/permissions/qa1.yml
Due: check-added-large-files, check-yaml, end-of-file-fixer, trailing-whitespace

fix flask bpmn poetry lock and change admin email to spiffworkflow.org
  flask-bpmn/poetry.lock
  spiffworkflow-backend/bin/spiffworkflow-realm.json
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

use spiffworkflow.org for admin and other minor permissions tweaks
  spiffworkflow-backend/src/spiffworkflow_backend/config/permissions/development.yml
  spiffworkflow-backend/src/spiffworkflow_backend/config/permissions/qa1.yml
  spiffworkflow-backend/src/spiffworkflow_backend/config/permissions/staging.yml
  spiffworkflow-backend/src/spiffworkflow_backend/config/permissions/terraform_deployed_environment.yml
Due: check-added-large-files, check-yaml, end-of-file-fixer, trailing-whitespace

trim down granted permissions to just the ones that exist in the API, improve output of permissions
  spiffworkflow-backend/src/spiffworkflow_backend/scripts/get_all_permissions.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/authorization_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/scripts/test_get_all_permissions.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_authorization_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

link to correct instances page, fix fin users, ignore coverage files
  spiffworkflow-backend/.gitignore
  spiffworkflow-backend/src/spiffworkflow_backend/config/permissions/development.yml
  spiffworkflow-backend/src/spiffworkflow_backend/config/permissions/staging.yml
  spiffworkflow-backend/src/spiffworkflow_backend/config/permissions/terraform_deployed_environment.yml
  spiffworkflow-frontend/src/components/TaskListTable.tsx
Due: check-added-large-files, check-yaml, end-of-file-fixer, trailing-whitespace

dev permissions copied from terraform deployed and terraform deployed now tiny, minor fixes
  spiffworkflow-backend/bin/recreate_db
  spiffworkflow-backend/src/spiffworkflow_backend/config/__init__.py
  spiffworkflow-backend/src/spiffworkflow_backend/config/dev.py
  spiffworkflow-backend/src/spiffworkflow_backend/config/permissions/dev.yml
  spiffworkflow-backend/src/spiffworkflow_backend/config/permissions/terraform_deployed_environment.yml
  spiffworkflow-backend/src/spiffworkflow_backend/config/staging.py
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

get the language a bit closer
  spiffworkflow-frontend/public/index.html
Due: none

add an underscorize helper and use it for form fields where they need to be python identifiers
  spiffworkflow-frontend/src/helpers.test.tsx
  spiffworkflow-frontend/src/helpers.tsx
  spiffworkflow-frontend/src/routes/JsonSchemaFormBuilder.tsx
Due: none

added ability to view data objects from the process instance show page w/ burnettk
  spiffworkflow-backend/bin/get_bpmn_json_for_process_instance
  spiffworkflow-backend/src/spiffworkflow_backend/api.yml
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_api_blueprint.py
  spiffworkflow-backend/tests/data/data_object_test/data_object.bpmn
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_api.py
  spiffworkflow-frontend/src/interfaces.ts
  spiffworkflow-frontend/src/routes/ProcessInstanceShow.tsx
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

give read access to process-data for all permission macro w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/services/authorization_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_authorization_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Use id to link to report show
  spiffworkflow-frontend/src/routes/ProcessInstanceReportList.tsx
Due: none

log api errors when sending to sentry w/ burnettk
  flask-bpmn/src/flask_bpmn/api/api_error.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/user.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Squashed 'SpiffWorkflow/' changes from 841bd630..5c459280
  README.md
  doc/index.rst
Due: none

update flask-bpmn w/ burnettk
  spiffworkflow-backend/poetry.lock
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

some cypress tests w/ burnettk
  spiffworkflow-backend/bin/spiffworkflow-realm.json
  spiffworkflow-backend/src/spiffworkflow_backend/config/permissions/acceptance_tests.yml
  spiffworkflow-frontend/cypress/e2e/process_groups.cy.js
  spiffworkflow-frontend/cypress/e2e/process_instances.cy.js
  spiffworkflow-frontend/cypress/e2e/tasks.cy.js
  spiffworkflow-frontend/cypress/support/commands.js
  spiffworkflow-frontend/src/routes/ProcessInstanceLogList.tsx
Due: check-added-large-files, check-yaml, end-of-file-fixer, trailing-whitespace

log exception as info so it does not go to sentry w/ burnettk
  flask-bpmn/src/flask_bpmn/api/api_error.py
Due: none
