Repository sartography/spiff-arena: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

black:
  name: black
  entry: black
  language: system
  require_serial: true

check-added-large-files:
  name: Check for added large files
  entry: check-added-large-files
  language: system

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

end-of-file-fixer:
  name: Fix End of Files
  entry: end-of-file-fixer
  language: system
  stages:
  - commit
  - push
  - manual

flake8:
  name: flake8
  entry: flake8
  language: system
  require_serial: true

pyupgrade:
  name: pyupgrade
  description: Automatically upgrade syntax for newer versions.
  entry: pyupgrade
  language: system
  args:
  - --py37-plus

reorder-python-imports:
  name: Reorder python imports
  entry: reorder-python-imports
  language: system
  args:
  - --application-directories=src

trailing-whitespace:
  name: Trim Trailing Whitespace
  entry: trailing-whitespace-fixer
  language: system
  stages:
  - commit
  - push
  - manual

update the docker-compose.yml file so that the connector proxy works correctly.
  docker-compose.yml
Due: none

Squashed 'SpiffWorkflow/' changes from 0e61be85c..11e4b4f96
  SpiffWorkflow/bpmn/parser/BpmnParser.py
  SpiffWorkflow/bpmn/parser/node_parser.py
  SpiffWorkflow/spiff/specs/service_task.py
  doc/bpmn/advanced.rst
  doc/bpmn/events.rst
  doc/bpmn/gateways.rst
  doc/bpmn/index.rst
  doc/bpmn/multiinstance.rst
  doc/bpmn/organization.rst
  doc/bpmn/spiff-extensions.rst
  doc/bpmn/synthesis.rst
  doc/bpmn/tasks.rst
  doc/intro.rst
  doc/non-bpmn/custom-tasks/index.rst
  doc/non-bpmn/index.rst
  doc/non-bpmn/patterns.rst
Due: none

Squashed 'SpiffWorkflow/' changes from 0e61be85c..11e4b4f96
  doc/bpmn/advanced.rst
  doc/bpmn/events.rst
  doc/bpmn/gateways.rst
  doc/bpmn/index.rst
  doc/bpmn/multiinstance.rst
  doc/bpmn/organization.rst
  doc/bpmn/spiff-extensions.rst
  doc/bpmn/synthesis.rst
  doc/bpmn/tasks.rst
  doc/intro.rst
  doc/non-bpmn/custom-tasks/index.rst
  doc/non-bpmn/index.rst
  doc/non-bpmn/patterns.rst
Due: none

Squashed 'connector-proxy-demo/' changes from 7264d61b2..4b0a7daa8
  README.md
  poetry.lock
  pyproject.toml
Due: none

updates to user import scripts w/ burnettk
  spiffworkflow-backend/bin/get_token
  spiffworkflow-backend/bin/login_with_users
  spiffworkflow-backend/keycloak/test_user_lists/status
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

The aud in a json web token can be a string or an array -- so also deal with the case that it is an array
  spiffworkflow-backend/src/spiffworkflow_backend/services/authentication_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

anything in the Tasks waiting for me table can now be completed by the current user
  spiffworkflow-frontend/src/components/TasksWaitingForMe.tsx
Due: none

do not remove the default user group when refreshing permissions w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/config/__init__.py
  spiffworkflow-backend/src/spiffworkflow_backend/config/default.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/users_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/authentication_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/authorization_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

append OPEN_ID to TENANT_SPECIFIC_FIELDS for clarification on what it is from w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/config/__init__.py
  spiffworkflow-backend/src/spiffworkflow_backend/config/default.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/authorization_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

save task data to spiff step details when copmleting a user task as well w/ burnettk jbirddog
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

updated default user group var name for better prefix w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/config/__init__.py
  spiffworkflow-backend/src/spiffworkflow_backend/config/default.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/users_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/authorization_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

updated configs to use the prefix using the script w/ burnettk
  spiffworkflow-backend/bin/boot_server_in_docker
  spiffworkflow-backend/bin/build_and_run_with_docker_compose
  spiffworkflow-backend/bin/deploy
  spiffworkflow-backend/bin/find_sample_process_models
  spiffworkflow-backend/bin/get_bpmn_json_for_process_instance
  spiffworkflow-backend/bin/git_commit_bpmn_models_repo
  spiffworkflow-backend/bin/recreate_db
  spiffworkflow-backend/bin/run_server_locally
  spiffworkflow-backend/bin/save_to_secrets_from_file
  spiffworkflow-backend/docker-compose.yml
  spiffworkflow-backend/src/spiffworkflow_backend/__init__.py
  spiffworkflow-backend/src/spiffworkflow_backend/config/__init__.py
  spiffworkflow-backend/src/spiffworkflow_backend/config/default.py
  spiffworkflow-backend/src/spiffworkflow_backend/config/demo.py
  spiffworkflow-backend/src/spiffworkflow_backend/config/dev.py
  spiffworkflow-backend/src/spiffworkflow_backend/config/local_development.py
  spiffworkflow-backend/src/spiffworkflow_backend/config/qa1.py
  spiffworkflow-backend/src/spiffworkflow_backend/config/qa2.py
  spiffworkflow-backend/src/spiffworkflow_backend/config/sartography.py
  spiffworkflow-backend/src/spiffworkflow_backend/config/staging.py
  spiffworkflow-backend/src/spiffworkflow_backend/config/terraform_deployed_environment.py
  spiffworkflow-backend/src/spiffworkflow_backend/config/unit_testing.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_api_blueprint.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_instances_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_models_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/service_tasks_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/tasks_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/user.py
  spiffworkflow-backend/src/spiffworkflow_backend/scripts/get_frontend_url.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/authentication_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/authorization_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/error_handling_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/file_system_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/git_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/service_task_service.py
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

updated secret config names as well w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/exceptions/api_error.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/authorization_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/git_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

updated remaining configs manually w/ burnettk
  docker-compose.yml
  spiffworkflow-backend/bin/boot_server_in_docker
  spiffworkflow-backend/bin/run_server_locally
  spiffworkflow-backend/docker-compose.yml
Due: check-added-large-files, check-yaml, end-of-file-fixer, trailing-whitespace

format
  spiffworkflow-backend/src/spiffworkflow_backend/routes/users_controller.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

all tests pass w/ spiff lib upgrade, thanks for the help elizabeth
  spiffworkflow-backend/poetry.lock
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

remove unused import
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

pyl
  spiffworkflow-backend/src/spiffworkflow_backend/__init__.py
  spiffworkflow-backend/src/spiffworkflow_backend/config/__init__.py
  spiffworkflow-backend/src/spiffworkflow_backend/config/default.py
  spiffworkflow-backend/src/spiffworkflow_backend/config/demo.py
  spiffworkflow-backend/src/spiffworkflow_backend/config/dev.py
  spiffworkflow-backend/src/spiffworkflow_backend/config/local_development.py
  spiffworkflow-backend/src/spiffworkflow_backend/config/qa1.py
  spiffworkflow-backend/src/spiffworkflow_backend/config/qa2.py
  spiffworkflow-backend/src/spiffworkflow_backend/config/sartography.py
  spiffworkflow-backend/src/spiffworkflow_backend/config/staging.py
  spiffworkflow-backend/src/spiffworkflow_backend/config/terraform_deployed_environment.py
  spiffworkflow-backend/src/spiffworkflow_backend/exceptions/api_error.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_models_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/service_tasks_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/user.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/authentication_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/authorization_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/git_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

fixed some env vars for ci
  .github/workflows/backend_tests.yml
  spiffworkflow-backend/bin/recreate_db
  spiffworkflow-backend/src/spiffworkflow_backend/config/__init__.py
  spiffworkflow-backend/src/spiffworkflow_backend/config/default.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/tasks_controller.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

pyl
  spiffworkflow-backend/src/spiffworkflow_backend/config/default.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

cleaned up the default config file a bit
  spiffworkflow-backend/src/spiffworkflow_backend/config/default.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

more config updates w/ burnettk
  docker-compose.yml
  spiffworkflow-backend/bin/deploy
  spiffworkflow-backend/docker-compose.yml
  spiffworkflow-backend/src/spiffworkflow_backend/config/default.py
  spiffworkflow-backend/src/spiffworkflow_backend/config/qa2.py
  spiffworkflow-backend/src/spiffworkflow_backend/config/terraform_deployed_environment.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/service_tasks_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/user.py
  spiffworkflow-backend/src/spiffworkflow_backend/scripts/get_frontend_url.py
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Path conditions:
  black: any of: ^spiffworkflow-backend/ and \.py$ and not (/migrations/)
  check-added-large-files: any of: ^spiffworkflow-backend/
  check-toml: any of: ^spiffworkflow-backend/ and \.toml$
  check-yaml: any of: ^spiffworkflow-backend/ and \.(yaml|yml)$
  end-of-file-fixer: any of: ^spiffworkflow-backend/
  flake8: any of: ^spiffworkflow-backend/ and \.py$ and not (/migrations/)
  pyupgrade: any of: ^spiffworkflow-backend/ and \.py$
  reorder-python-imports: any of: ^spiffworkflow-backend/ and \.py$ and not ((/migrations/|load_database_models))
  trailing-whitespace: any of: ^spiffworkflow-backend/, but not: /migrations/
