Repository sartography/spiff-arena: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-added-large-files, check-toml, check-yaml, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: check-added-large-files
        files: ^spiffworkflow-backend/
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-toml
        files: ^spiffworkflow-backend/
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-yaml
        files: ^spiffworkflow-backend/
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        files: ^spiffworkflow-backend/
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: ruff-check
        args: [check, --fix]
        files: ^spiffworkflow-backend/
        name: ruff
        entry: ruff
        language: system
        types: [python]
        require_serial: true
        # this is also specified in spiffworkflow-backend/pyproject.toml but we run pre-commit
        # with all-files which ignores that
        exclude: "/migrations/"
      - id: ruff-format
        args: [format]
        files: ^spiffworkflow-backend/
        name: ruff
        entry: ruff
        language: system
        types: [python]
        require_serial: true
        # this is also specified in spiffworkflow-backend/pyproject.toml but we run pre-commit
        # with all-files which ignores that
        exclude: "/migrations/"
      - id: trailing-whitespace
        files: ^spiffworkflow-backend/
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
        exclude: "/migrations/"

login-gov-signin-flow: only use one authentication method, as per https://datatracker.ietf.org/doc/html/rfc6749\#section-2.3
  spiffworkflow-backend/src/spiffworkflow_backend/services/authentication_service.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

agent tweaks w/ burnettk (#2562)
  .gitignore
  bin/agents/setup.sh
  spiffworkflow-backend/AGENTS.md
  spiffworkflow-backend/bin/agents/backend_setup.sh
  spiffworkflow-frontend/bin/agents/frontend_setup.sh
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

Update GHAs
  .github/workflows/auto-merge-dependabot-prs.yml
  .github/workflows/build_docker_images.yml
  .github/workflows/common.yml
  .github/workflows/dev_containers.yml
  .github/workflows/docs.yml
  .github/workflows/snyk-security.yml
  .github/workflows/tests.yml
Due: none

Allow specifying PEM from file or string
  docker-compose.yml
  spiffworkflow-backend/.gitignore
  spiffworkflow-backend/src/spiffworkflow_backend/config/default.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/authentication_service.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

working logout flow
  spiffworkflow-backend/src/spiffworkflow_backend/routes/authentication_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/authentication_service.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

Update build_docker_images.yml
  .github/workflows/build_docker_images.yml
Due: none

make basic authorization header not a tuple
  spiffworkflow-backend/src/spiffworkflow_backend/services/authentication_service.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

working login.gov signin flow. cleanup and signout tbd
  docker-compose.yml
  spiffworkflow-backend/bin/local_development_environment_setup
  spiffworkflow-backend/dev.docker-compose.yml
  spiffworkflow-backend/src/spiffworkflow_backend/config/default.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/authentication_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/authentication_service.py
Due: check-added-large-files, check-yaml, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

renames and setup
  .github/workflows/e2e-tests.yml
Due: none

automerge dependabot w/ burnettk
  .github/workflows/auto-merge-dependabot-prs.yml
Due: none

e2e tweaks
  spiffworkflow-frontend/test/browser/helpers/login.py
  spiffworkflow-frontend/test/browser/helpers/url.py
  spiffworkflow-frontend/test/browser/tasks/public_tasks/test_can_start_process_from_message_form.py
Due: none

Build images for the login signin branch # Conflicts: # .github/workflows/build_docker_images.yml
  .github/workflows/build_docker_images.yml
Due: none

Embed the http connectors
  spiffworkflow-backend/src/spiffworkflow_backend/connectors/http_connector.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/service_task_service.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

comment out env vars we no longer need but might find useful later
  docker-compose.yml
Due: none

Embed the http connectors (#2611)
  spiffworkflow-backend/src/spiffworkflow_backend/connectors/http_connector.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/service_task_service.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

wip
  spiffworkflow-backend/bin/bootstrap.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

fix(backend): Update dependency for Ubuntu 24.04 (#2614)
  spiffworkflow-backend/bin/agents/backend_setup.sh
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

try to update the refresh token on a refresh request
  spiffworkflow-backend/src/spiffworkflow_backend/routes/authentication_controller.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

add some debug logs to investigate behavior
  spiffworkflow-backend/src/spiffworkflow_backend/routes/authentication_controller.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

add debug logs to right spot :facepalm
  spiffworkflow-backend/src/spiffworkflow_backend/routes/authentication_controller.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

remove logs, add comment
  spiffworkflow-backend/src/spiffworkflow_backend/routes/authentication_controller.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

beginning to clean things up
  .github/workflows/build_docker_images.yml
  spiffworkflow-backend/.gitignore
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

remove pem-related changes and add code to enforce PKCE
  spiffworkflow-backend/src/spiffworkflow_backend/config/default.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/authentication_service.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

update docker compose file
  docker-compose.yml
Due: none

update build_docker_images to test PKCE
  .github/workflows/build_docker_images.yml
Due: none

fix typo
  .github/workflows/build_docker_images.yml
Due: none

Bootstrap
  spiffworkflow-backend/bin/bootstrap.py
  spiffworkflow-backend/bin/run_server_locally
  spiffworkflow-backend/src/spiffworkflow_backend/config/permissions/example.yml
  spiffworkflow-backend/src/spiffworkflow_backend/services/authorization_service.py
Due: check-added-large-files, check-yaml, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

fix login_redirect_url missing &
  spiffworkflow-backend/src/spiffworkflow_backend/services/authentication_service.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

Bootstrap (#2615)
  spiffworkflow-backend/bin/bootstrap.py
  spiffworkflow-backend/bin/run_server_locally
  spiffworkflow-backend/src/spiffworkflow_backend/config/permissions/example.yml
  spiffworkflow-backend/src/spiffworkflow_backend/services/authorization_service.py
Due: check-added-large-files, check-yaml, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

implement differently
  docker-compose.yml
  spiffworkflow-backend/src/spiffworkflow_backend/config/default.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/authentication_service.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

re-add verifier because of course that is needed
  spiffworkflow-backend/src/spiffworkflow_backend/services/authentication_service.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

remove default value in docker compose
  docker-compose.yml
Due: none

implementation now works in my use case
  spiffworkflow-backend/src/spiffworkflow_backend/services/authentication_service.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

do not parameterize the code_challenge method since S256 is more secure and plain is the only other option
  spiffworkflow-backend/src/spiffworkflow_backend/config/default.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/authentication_service.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

slight refactor
  spiffworkflow-backend/src/spiffworkflow_backend/services/authentication_service.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

revert extraneous changes
  .github/workflows/build_docker_images.yml
  docker-compose.yml
  spiffworkflow-backend/.gitignore
  spiffworkflow-backend/bin/local_development_environment_setup
  spiffworkflow-backend/dev.docker-compose.yml
Due: check-added-large-files, check-yaml, end-of-file-fixer, trailing-whitespace

remove added/removed spaces
  docker-compose.yml
  spiffworkflow-backend/src/spiffworkflow_backend/routes/authentication_controller.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

revert yml changes
  .github/workflows/auto-merge-dependabot-prs.yml
  .github/workflows/build_docker_images.yml
  .github/workflows/common.yml
  .github/workflows/dev_containers.yml
  .github/workflows/docs.yml
  .github/workflows/snyk-security.yml
  .github/workflows/tests.yml
Due: none

Skip real http requests for local calls
  spiffworkflow-backend/src/spiffworkflow_backend/connectors/http_connector.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

Skip real http requests for local calls (#2618)
  spiffworkflow-backend/src/spiffworkflow_backend/connectors/http_connector.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace
