Repository sartography/spiff-arena: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, ruff, trailing-whitespace

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        # entry: bash -c 'cd spiffworkflow-backend && black'
        entry: black
        language: system
        files: ^spiffworkflow-backend/
        types: [python]
        line-length: 130
        require_serial: true
        # exclude: ^migrations/
        exclude: "/migrations/"

        # --preview because otherwise it will not fix long lines if the long lines contain long strings
        # https://github.com/psf/black/pull/1132
        # https://github.com/psf/black/pull/1609
        # --line-length because then we can avoid the fancy line wrapping in more instances and jason, kb, and elizabeth
        # kind of prefer long lines rather than cutely-formatted sets of lines.
        # TODO: enable when its safe to update the files
        args: [--preview, --line-length, "130"]

      - id: check-added-large-files
        files: ^spiffworkflow-backend/
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-toml
        files: ^spiffworkflow-backend/
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-yaml
        files: ^spiffworkflow-backend/
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        files: ^spiffworkflow-backend/
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: ruff
        args: [ --fix ]
        files: ^spiffworkflow-backend/
        name: ruff
        entry: ruff
        language: system
        types: [python]
        require_serial: true
        # this is also specified in spiffworkflow-backend/pyproject.toml but we run pre-commit
        # with all-files which ignores that
        exclude: "/migrations/"
      - id: trailing-whitespace
        files: ^spiffworkflow-backend/
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
        exclude: "/migrations/"
  # - repo: https://github.com/pre-commit/mirrors-prettier
  #   rev: v2.4.1
  #   hooks:
  #     - id: prettier
  #       files: ^spiffworkflow-backend/
  #       exclude_types: [html]

Update to always run callback
  spiffworkflow-frontend/src/hooks/PermissionService.tsx
  spiffworkflow-frontend/src/services/PermissionCacheService.test.ts
  spiffworkflow-frontend/src/services/PermissionCacheService.ts
Due: none

Fix warning during pre-commit
  .pre-commit-config.yaml
Due: none

updated frontend to use new public api for guest tasks
  spiffworkflow-backend/src/spiffworkflow_backend/routes/public_controller.py
  spiffworkflow-frontend/src/App.tsx
  spiffworkflow-frontend/src/components/ProcessGroupListTiles.tsx
  spiffworkflow-frontend/src/interfaces.ts
  spiffworkflow-frontend/src/routes/PublicRoutes.tsx
  spiffworkflow-frontend/src/routes/public/MessageStartEventForm.tsx
  spiffworkflow-frontend/src/routes/public/PublicForm.tsx
Due: black, check-added-large-files, end-of-file-fixer, ruff, trailing-whitespace

Fix merge issue
  spiffworkflow-backend/src/spiffworkflow_backend/routes/messages_controller.py
Due: black, check-added-large-files, end-of-file-fixer, ruff, trailing-whitespace

fixed tests and updated get task url script to choose between public and non public urls
  spiffworkflow-backend/src/spiffworkflow_backend/scripts/get_url_for_task_with_bpmn_identifier.py
  spiffworkflow-backend/tests/data/test-get-url-for-task-with-bpmn-identifier/test-get-url-for-task-with-bpmn-identifier-non-public.bpmn
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_public_controller.py
  spiffworkflow-backend/tests/spiffworkflow_backend/scripts/test_get_url_for_task_with_bpmn_identifier.py
Due: black, check-added-large-files, end-of-file-fixer, ruff, trailing-whitespace

removed old guest task support from frontend
  spiffworkflow-frontend/src/components/NavigationBar.tsx
  spiffworkflow-frontend/src/routes/Login.tsx
  spiffworkflow-frontend/src/routes/TaskShow.tsx
  spiffworkflow-frontend/src/routes/public/PublicForm.tsx
  spiffworkflow-frontend/src/services/UserService.ts
Due: none

Fix warning during pre-commit (#1231)
  .pre-commit-config.yaml
Due: none

return 404 when a task cannot be found w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/routes/public_controller.py
Due: black, check-added-large-files, end-of-file-fixer, ruff, trailing-whitespace

fixed typo in group list tiles w/ burnettk
  spiffworkflow-frontend/src/components/ProcessGroupListTiles.tsx
Due: none

added cypress tests for public formg w/ burnettk
  spiffworkflow-frontend/.gitignore
  spiffworkflow-frontend/cypress/e2e/tasks.cy.js
  spiffworkflow-frontend/cypress/support/commands.js
  spiffworkflow-frontend/src/helpers.test.tsx
  spiffworkflow-frontend/src/helpers.tsx
  spiffworkflow-frontend/src/routes/ProcessInstanceShow.tsx
  spiffworkflow-frontend/src/routes/PublicRoutes.tsx
  spiffworkflow-frontend/src/routes/public/PublicForm.tsx
  spiffworkflow-frontend/src/routes/public/SignOut.tsx
  spiffworkflow-frontend/src/services/HttpService.ts
Due: none

Re-enable modal
  spiffworkflow-frontend/src/components/messages/MessageInstanceList.tsx
Due: none

display metadata key for urls instead of values w/ burnettk
  spiffworkflow-frontend/src/routes/ProcessInstanceShow.tsx
Due: none

added a button icon to open the process instance in a new tab w/ burnettk
  spiffworkflow-frontend/src/components/ProcessInstanceListTable.tsx
Due: none

updated permissions for acceptance testss w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/config/permissions/acceptance_tests.yml
  spiffworkflow-backend/src/spiffworkflow_backend/config/permissions/local_development.yml
Due: check-added-large-files, check-yaml, end-of-file-fixer, trailing-whitespace

added a button icon to open the process instance in a new tab w/ burnettk (#1234)
  spiffworkflow-frontend/src/components/ProcessInstanceListTable.tsx
Due: none

set up permissions for public group if it is in the list and login and logout admin user in ci to ensure permissions are set w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/services/authorization_service.py
  spiffworkflow-frontend/cypress/e2e/tasks.cy.js
Due: black, check-added-large-files, end-of-file-fixer, ruff, trailing-whitespace

WIP
  spiffworkflow-backend/src/spiffworkflow_backend/models/message_model.py
Due: black, check-added-large-files, end-of-file-fixer, ruff, trailing-whitespace

Merge guest flow into unauth flow (#1233)
  spiffworkflow-backend/src/spiffworkflow_backend/api.yml
  spiffworkflow-backend/src/spiffworkflow_backend/config/permissions/acceptance_tests.yml
  spiffworkflow-backend/src/spiffworkflow_backend/config/permissions/local_development.yml
  spiffworkflow-backend/src/spiffworkflow_backend/routes/authentication_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_api_blueprint.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/public_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/tasks_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/scripts/get_url_for_task_with_bpmn_identifier.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/authorization_service.py
  spiffworkflow-backend/tests/data/test-allow-guest/test_allow_guest.bpmn
  spiffworkflow-backend/tests/data/test-get-url-for-task-with-bpmn-identifier/test-get-url-for-task-with-bpmn-identifier-non-public.bpmn
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_public_controller.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_tasks_controller.py
  spiffworkflow-backend/tests/spiffworkflow_backend/scripts/test_get_url_for_task_with_bpmn_identifier.py
  spiffworkflow-frontend/.gitignore
  spiffworkflow-frontend/cypress/e2e/tasks.cy.js
  spiffworkflow-frontend/cypress/support/commands.js
  spiffworkflow-frontend/src/App.tsx
  spiffworkflow-frontend/src/components/NavigationBar.tsx
  spiffworkflow-frontend/src/helpers.test.tsx
  spiffworkflow-frontend/src/helpers.tsx
  spiffworkflow-frontend/src/interfaces.ts
  spiffworkflow-frontend/src/routes/Login.tsx
  spiffworkflow-frontend/src/routes/ProcessInstanceShow.tsx
  spiffworkflow-frontend/src/routes/PublicRoutes.tsx
  spiffworkflow-frontend/src/routes/TaskShow.tsx
  spiffworkflow-frontend/src/routes/public/MessageStartEventForm.tsx
  spiffworkflow-frontend/src/routes/public/PublicForm.tsx
  spiffworkflow-frontend/src/routes/public/SignOut.tsx
  spiffworkflow-frontend/src/services/HttpService.ts
  spiffworkflow-frontend/src/services/UserService.ts
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, ruff, trailing-whitespace

initial updates to prepare for data object data migration w/ burnettk
  spiffworkflow-backend/poetry.lock
  spiffworkflow-backend/pyproject.toml
  spiffworkflow-backend/src/spiffworkflow_backend/constants.py
  spiffworkflow-backend/src/spiffworkflow_backend/data_migrations/process_instance_migrator.py
  spiffworkflow-backend/src/spiffworkflow_backend/data_migrations/version_4.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/bpmn_process_definition.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_api_blueprint.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/tasks_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
  spiffworkflow-backend/tests/data/service-task-with-data-obj/main.bpmn
  spiffworkflow-backend/tests/data/service-task-with-data-obj/without-service-task.bpmn
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_process_instance_processor.py
  spiffworkflow-frontend/src/routes/BaseRoutes.tsx
Due: black, check-added-large-files, check-toml, end-of-file-fixer, ruff, trailing-whitespace

added method to import bpmn_process_dict to the database w/ burnettk
  spiffworkflow-backend/poetry.lock
  spiffworkflow-backend/pyproject.toml
  spiffworkflow-backend/src/spiffworkflow_backend/data_migrations/version_4.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_process_instance_processor.py
Due: black, check-added-large-files, check-toml, end-of-file-fixer, ruff, trailing-whitespace

Permission cache enhancements
  spiffworkflow-frontend/src/hooks/PermissionService.tsx
  spiffworkflow-frontend/src/services/PermissionCacheService.ts
Due: none

Update PermissionCacheService.ts
  spiffworkflow-frontend/src/services/PermissionCacheService.ts
Due: none

test to ensure we can import json is passing w/ burnettk
  spiffworkflow-backend/poetry.lock
  spiffworkflow-backend/pyproject.toml
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_process_instance_processor.py
Due: black, check-added-large-files, check-toml, end-of-file-fixer, ruff, trailing-whitespace

Updates based on feedback
  docs/Building_Diagrams/images/Signal_events_spiff_example.png
  docs/Building_Diagrams/images/Signal_events_spiff_example1.png
  docs/Building_Diagrams/images/Signal_events_spiff_example3.png
  docs/Building_Diagrams/images/multiinstance_ex.png
  docs/Building_Diagrams/images/multiinstance_ex1.png
  docs/Building_Diagrams/images/multiinstance_example2.png
  docs/Building_Diagrams/images/multiinstance_example3.png
  docs/Building_Diagrams/images/multiinstance_example4.png
  docs/Building_Diagrams/multiinstance.md
  docs/Building_Diagrams/signal_events.md
Due: none

Untested relationships
  spiffworkflow-backend/src/spiffworkflow_backend/models/message_model.py
Due: black, check-added-large-files, end-of-file-fixer, ruff, trailing-whitespace

Adjust Cache Tests
  spiffworkflow-frontend/src/services/PermissionCacheService.test.ts
Due: none

fix lint
  spiffworkflow-frontend/src/hooks/PermissionService.tsx
Due: none

Update PermissionService.tsx
  spiffworkflow-frontend/src/hooks/PermissionService.tsx
Due: none

kills consoles, add aider ignore
  .gitignore
  spiffworkflow-frontend/src/hooks/PermissionService.tsx
Due: none

Bug/perm check cache (#1184)
  .gitignore
  spiffworkflow-frontend/src/hooks/PermissionService.tsx
  spiffworkflow-frontend/src/services/PermissionCacheService.test.ts
  spiffworkflow-frontend/src/services/PermissionCacheService.ts
  spiffworkflow-frontend/src/services/UserService.ts
Due: none

added some more tests around importing bpmn process json w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/data_migrations/version_4.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
  spiffworkflow-backend/tests/files/bpmn_process_instance_data_objects_version_3.json
  spiffworkflow-backend/tests/spiffworkflow_backend/helpers/base_test.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_process_instance_migrator.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_process_instance_processor.py
Due: black, check-added-large-files, end-of-file-fixer, ruff, trailing-whitespace

Quick and dirty script to build images, tag with latest git hash, and upload to our ecr
  build_internal.sh
Due: none

removed debug print statements w/ burnettk
  spiffworkflow-frontend/src/services/PermissionCacheService.ts
Due: none

use the react Link component to render links w/ burnettk
  spiffworkflow-frontend/src/components/NavigationBar.tsx
Due: none

removed old code w/ burnettk
  spiffworkflow-frontend/src/components/NavigationBar.tsx
Due: none

use a tag for external links according to coderabbit w/ burnettk
  spiffworkflow-frontend/src/components/NavigationBar.tsx
Due: none

Remove correlation key table
  spiffworkflow-backend/src/spiffworkflow_backend/models/message_model.py
Due: black, check-added-large-files, end-of-file-fixer, ruff, trailing-whitespace

Remove retrieval expression from uniqueness
  spiffworkflow-backend/src/spiffworkflow_backend/models/message_model.py
Due: black, check-added-large-files, end-of-file-fixer, ruff, trailing-whitespace

Remove commentted out lines
  spiffworkflow-backend/src/spiffworkflow_backend/models/message_model.py
Due: black, check-added-large-files, end-of-file-fixer, ruff, trailing-whitespace

click the nav expander again to close in cypress tests w/ burnettk
  spiffworkflow-frontend/cypress/support/commands.js
Due: none
