Repository sartography/spiff-arena: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        # entry: bash -c 'cd spiffworkflow-backend && black'
        entry: black
        language: system
        files: ^spiffworkflow-backend/
        types: [python]
        require_serial: true
        # exclude: ^migrations/
        exclude: "/migrations/"
      - id: check-added-large-files
        files: ^spiffworkflow-backend/
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-toml
        files: ^spiffworkflow-backend/
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-yaml
        files: ^spiffworkflow-backend/
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        files: ^spiffworkflow-backend/
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: flake8
        files: ^spiffworkflow-backend/
        name: flake8
        entry: flake8
        language: system
        types: [python]
        require_serial: true
        exclude: "/migrations/"
      - id: pyupgrade
        files: ^spiffworkflow-backend/
        name: pyupgrade
        description: Automatically upgrade syntax for newer versions.
        entry: pyupgrade
        language: system
        types: [python]
        args: [--py37-plus]
      - id: reorder-python-imports
        files: ^spiffworkflow-backend/
        name: Reorder python imports
        entry: reorder-python-imports
        language: system
        types: [python]
        args: [--application-directories=src]
        exclude: "(/migrations/|load_database_models)"
      - id: trailing-whitespace
        files: ^spiffworkflow-backend/
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
        exclude: "/migrations/"
  # - repo: https://github.com/pre-commit/mirrors-prettier
  #   rev: v2.4.1
  #   hooks:
  #     - id: prettier
  #       files: ^spiffworkflow-backend/
  #       exclude_types: [html]

Don't force json data stores to be on disk
  spiffworkflow-backend/src/spiffworkflow_backend/data_stores/json.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Typo
  spiffworkflow-backend/src/spiffworkflow_backend/data_stores/json.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

added coderabbit config to ignore the migrations directory w/ burnettk
  .coderabbit.yaml
Due: none

Feature/task table drop (#823)
  spiffworkflow-backend/migrations/versions/0c7428378d6e_.py
  spiffworkflow-backend/migrations/versions/3191627ae224_.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/db.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/human_task.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/task.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_instances_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/tasks_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_process_instance_migrator.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_process_instance_processor.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_task_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

n plus one checks
  spiffworkflow-backend/conftest.py
  spiffworkflow-backend/poetry.lock
  spiffworkflow-backend/pyproject.toml
  spiffworkflow-backend/src/spiffworkflow_backend/data_stores/json.py
  spiffworkflow-backend/src/spiffworkflow_backend/data_stores/kkv.py
  spiffworkflow-backend/src/spiffworkflow_backend/data_stores/typeahead.py
  spiffworkflow-backend/src/spiffworkflow_backend/scripts/get_all_permissions.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/user_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_tasks_controller.py
Due: black, check-added-large-files, check-toml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

make it so we can delete TaskInstructionsForEndUserModel on instance delete
  spiffworkflow-backend/src/spiffworkflow_backend/models/process_instance.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_process_instance_processor.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

tests passing with nplusone
  spiffworkflow-backend/conftest.py
  spiffworkflow-backend/src/spiffworkflow_backend/data_stores/kkv.py
  spiffworkflow-backend/src/spiffworkflow_backend/scripts/get_all_permissions.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_api.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_tasks_controller.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

satisfy probably-wrong json schema
  .coderabbit.yaml
Due: none

remove useless comment and consolidate poetry dev deps
  spiffworkflow-backend/conftest.py
  spiffworkflow-backend/pyproject.toml
Due: black, check-added-large-files, check-toml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Clear caches when deleting a file
  spiffworkflow-backend/src/spiffworkflow_backend/services/spec_file_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

not actually going to add this dependency, but leave docs for next guy
  spiffworkflow-backend/conftest.py
  spiffworkflow-backend/poetry.lock
  spiffworkflow-backend/pyproject.toml
Due: black, check-added-large-files, check-toml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

nplusone (#824)
  .coderabbit.yaml
  spiffworkflow-backend/conftest.py
  spiffworkflow-backend/poetry.lock
  spiffworkflow-backend/pyproject.toml
  spiffworkflow-backend/src/spiffworkflow_backend/data_stores/json.py
  spiffworkflow-backend/src/spiffworkflow_backend/data_stores/kkv.py
  spiffworkflow-backend/src/spiffworkflow_backend/data_stores/typeahead.py
  spiffworkflow-backend/src/spiffworkflow_backend/scripts/get_all_permissions.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/user_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_api.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_tasks_controller.py
Due: black, check-added-large-files, check-toml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Removed old comments
  spiffworkflow-backend/src/spiffworkflow_backend/services/spec_file_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

do not error out and allow process instances to recover if the bpmn_process is null but the definition is set w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/models/process_instance.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

updated bpmn-js-spiffworkflow to fix undefined businessObject issue w/ burnettk
  spiffworkflow-frontend/package-lock.json
Due: none

document language server for coderabbit
  .coderabbit.yaml
Due: none

fixed flakey task model test
  spiffworkflow-backend/tests/data/call_activity_nested/call_activity_nested.bpmn
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_task_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

fixed another flakey test w/ burnettk
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_process_instance_migrator.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

update readme
  README.md
Due: none

feature/handle-null-bpmn-process-on-pi (#827)
  spiffworkflow-backend/src/spiffworkflow_backend/models/process_instance.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_process_instance_migrator.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

do not include task data by default but allow overriding that decision w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

updates while reviewing
  docs/Support/FAQ.md
Due: none

imported patch from old FAQ_3rd_Set branch w/ burnettk (#810)
  docs/Support/FAQ.md
Due: none

Fixed validation errors for numeric range field and added asterisk when field is required
  spiffworkflow-frontend/src/rjsf/custom_widgets/NumericRangeField/NumericRangeField.tsx
Due: none

Removed unused import
  spiffworkflow-frontend/src/rjsf/custom_widgets/NumericRangeField/NumericRangeField.tsx
Due: none

Added asterisk to title when required and fixed validation errors (#829)
  spiffworkflow-frontend/src/rjsf/custom_widgets/NumericRangeField/NumericRangeField.tsx
Due: none

do not restrict li tags within the process model search combobox the same way we do other items
  spiffworkflow-frontend/src/components/ProcessModelSearch.tsx
  spiffworkflow-frontend/src/index.css
Due: none

do not include task data by default but allow overriding that decision w/ burnettk (#828)
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

PR feedback - move commit to the controller
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_models_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/spec_file_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Getting ./bin/pyl to pass
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_models_controller.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Clear caches when deleting a file (#826)
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_models_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/spec_file_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

get parent process groups of process models that the user has access to w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/config/permissions/local_development.yml
  spiffworkflow-backend/src/spiffworkflow_backend/services/authorization_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_model_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/helpers/base_test.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_process_model_service.py
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

use the process group list to get the info we need for the group show page for permissions w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_groups_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_model_service.py
  spiffworkflow-frontend/src/hooks/useProcessGroupFetcher.tsx
  spiffworkflow-frontend/src/routes/ProcessGroupShow.tsx
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Drop __annotations__ from task data
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

clear the browser cache when updating a process group w/ burnettk
  spiffworkflow-frontend/src/components/ProcessGroupForm.tsx
  spiffworkflow-frontend/src/components/ProcessGroupListTiles.tsx
  spiffworkflow-frontend/src/hooks/useProcessGroupFetcher.tsx
  spiffworkflow-frontend/src/routes/ProcessGroupShow.tsx
Due: none

fixed broken test w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_model_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_api.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

feature/get-pg-of-readable-pm (#832)
  spiffworkflow-backend/src/spiffworkflow_backend/config/permissions/local_development.yml
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_groups_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/authorization_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_model_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/helpers/base_test.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_api.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_process_model_service.py
  spiffworkflow-frontend/src/components/ProcessGroupForm.tsx
  spiffworkflow-frontend/src/components/ProcessGroupListTiles.tsx
  spiffworkflow-frontend/src/hooks/useProcessGroupFetcher.tsx
  spiffworkflow-frontend/src/routes/ProcessGroupShow.tsx
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

added support for Month names and abbreviations in frontend
  spiffworkflow-frontend/src/config.tsx
  spiffworkflow-frontend/src/services/DateAndTimeService.tsx
Due: none

corrections pointed out by coderabbit
  spiffworkflow-frontend/src/config.tsx
Due: none

minor change to kick ci
  README.md
Due: none
