Repository sartography/spiff-arena: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        # entry: bash -c 'cd spiffworkflow-backend && black'
        entry: black
        language: system
        files: ^spiffworkflow-backend/
        types: [python]
        require_serial: true
        # exclude: ^migrations/
        exclude: "/migrations/"
      - id: check-added-large-files
        files: ^spiffworkflow-backend/
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-toml
        files: ^spiffworkflow-backend/
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-yaml
        files: ^spiffworkflow-backend/
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        files: ^spiffworkflow-backend/
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: flake8
        files: ^spiffworkflow-backend/
        name: flake8
        entry: flake8
        language: system
        types: [python]
        require_serial: true
        exclude: "/migrations/"
      - id: pyupgrade
        files: ^spiffworkflow-backend/
        name: pyupgrade
        description: Automatically upgrade syntax for newer versions.
        entry: pyupgrade
        language: system
        types: [python]
        args: [--py37-plus]
      - id: reorder-python-imports
        files: ^spiffworkflow-backend/
        name: Reorder python imports
        entry: reorder-python-imports
        language: system
        types: [python]
        args: [--application-directories=src]
        exclude: "(/migrations/|load_database_models)"
      - id: trailing-whitespace
        files: ^spiffworkflow-backend/
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
        exclude: "/migrations/"
  # - repo: https://github.com/pre-commit/mirrors-prettier
  #   rev: v2.4.1
  #   hooks:
  #     - id: prettier
  #       files: ^spiffworkflow-backend/
  #       exclude_types: [html]

added backend url to qa2 configs
  spiffworkflow-backend/src/spiffworkflow_backend/config/qa2.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

set up qa2 to only do path based routing w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/config/qa2.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

renamed development env to local_development and testing to unit_testing w/ burnettk
  .flake8
  spiffworkflow-backend/.flake8
  spiffworkflow-backend/bin/get_bpmn_json_for_process_instance
  spiffworkflow-backend/bin/recreate_db
  spiffworkflow-backend/bin/run_server_locally
  spiffworkflow-backend/bin/save_to_secrets_from_file
  spiffworkflow-backend/conftest.py
  spiffworkflow-backend/docker-compose.yml
  spiffworkflow-backend/noxfile.py
  spiffworkflow-backend/src/spiffworkflow_backend/__init__.py
  spiffworkflow-backend/src/spiffworkflow_backend/config/local_development.py
  spiffworkflow-backend/src/spiffworkflow_backend/config/permissions/local_development.yml
  spiffworkflow-backend/src/spiffworkflow_backend/config/permissions/unit_testing.yml
  spiffworkflow-backend/src/spiffworkflow_backend/config/unit_testing.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_environment_var_script.py
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

sentences need spaces between them
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

allow configuring gunicorn configs in boot_server_in_docker w/ burnettk
  spiffworkflow-backend/bin/boot_server_in_docker
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

allow setting configs for the frontend through env vars w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/services/logging_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

allow setting configs for the frontend through env vars w/ burnettk
  spiffworkflow-frontend/bin/boot_server_in_docker
  spiffworkflow-frontend/public/index.html
  spiffworkflow-frontend/src/config.tsx
Due: none

do not fail if SPIFFWORKFLOW_FRONTEND_RUNTIME_CONFIG is missing
  spiffworkflow-frontend/bin/boot_server_in_docker
Due: none

document runtime config
  spiffworkflow-frontend/README.md
Due: none

fix formatting
  spiffworkflow-frontend/README.md
Due: none

Update README.md
  spiffworkflow-frontend/README.md
Due: none

add users
  spiffworkflow-backend/keycloak/realm_exports/spiffworkflow-realm.json
  spiffworkflow-backend/keycloak/test_user_lists/status
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

add assertions so this fails fast if anything changes in the future
  spiffworkflow-frontend/bin/boot_server_in_docker
Due: none

remove dup
  spiffworkflow-backend/keycloak/test_user_lists/status
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

enable faulthandler to hopefully see seg faults in the logs w/ burnettk jbirddog
  spiffworkflow-backend/src/spiffworkflow_backend/__init__.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Assure that when something goes wrong calling a service task that we get as much good information about the problem as possible.
  spiffworkflow-backend/src/spiffworkflow_backend/services/service_task_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_service_task_delegate.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

Assure that when something goes wrong calling a service task that we get as much good information about the problem as possible.
  SpiffWorkflow/SpiffWorkflow/spiff/specs/service_task.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/service_task_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_service_task_delegate.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

run_pyl
  spiffworkflow-backend/src/spiffworkflow_backend/__init__.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/service_task_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_service_task_delegate.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

fixing some missing types
  spiffworkflow-backend/src/spiffworkflow_backend/services/service_task_service.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

added additional columns to spiff_step_details w/ burnettk jbirddog
  spiffworkflow-backend/bin/recreate_db
  spiffworkflow-backend/migrations/versions/e05ca5cdc312_.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/spiff_step_details.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace

catch up with environment change
  spiffworkflow-backend/.github/workflows/tests.yml
Due: check-added-large-files, check-yaml, end-of-file-fixer, trailing-whitespace

Use a mock when making external calls in tests.
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_service_task_delegate.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade, reorder-python-imports, trailing-whitespace
