Repository sartography/spiff-arena: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-added-large-files, check-toml, check-yaml, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

check-added-large-files:
  name: Check for added large files
  entry: check-added-large-files
  language: system

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

end-of-file-fixer:
  name: Fix End of Files
  entry: end-of-file-fixer
  language: system
  stages:
  - commit
  - push
  - manual

ruff-check:
  args:
  - check
  - --fix
  name: ruff
  entry: ruff
  language: system
  require_serial: true

ruff-format:
  args:
  - format
  name: ruff
  entry: ruff
  language: system
  require_serial: true

trailing-whitespace:
  name: Trim Trailing Whitespace
  entry: trailing-whitespace-fixer
  language: system
  stages:
  - commit
  - push
  - manual

add middleware
  spiffworkflow-backend/src/spiffworkflow_backend/middleware/hsts.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

make older test less flaky, and apply review comment
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_tasks_controller.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

add test
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_tasks_controller.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

revise tests slightly
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_tasks_controller.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

show all potential owners in tasks_list_my_tasks
  spiffworkflow-backend/src/spiffworkflow_backend/routes/tasks_controller.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

upgrade authlib to 1.6.9
  spiffworkflow-backend/uv.lock
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

prevents info logs from being 'double wrapped' and mislabeled as err
  connector-proxy-demo/bin/boot_server_in_docker
Due: none

add bootstrap command back in
  spiffworkflow-backend/bin/boot_server_in_docker
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

recommit new lock file due to filelock err in safety ci check
  spiffworkflow-backend/uv.lock
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

enable synk scan on pr
  .github/workflows/snyk-security.yml
Due: none

fix missing import
  spiffworkflow-backend/migrations/versions/8b258f77eafe_.py
Due: check-added-large-files, end-of-file-fixer

trim admin
  spiffworkflow-backend/src/spiffworkflow_backend/config/permissions/pic_test.yml
Due: check-added-large-files, check-yaml, end-of-file-fixer, trailing-whitespace

upgrade authlib to 1.6.9
  spiffworkflow-backend/pyproject.toml
  spiffworkflow-backend/uv.lock
Due: check-added-large-files, check-toml, end-of-file-fixer, trailing-whitespace

type hints
  spiffworkflow-backend/src/spiffworkflow_backend/middleware/hsts.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

fix ruff error
  spiffworkflow-backend/migrations/versions/8b258f77eafe_.py
Due: check-added-large-files, end-of-file-fixer

remove old lock file which references version 2022.9.24
  connector-proxy-demo/poetry.lock
Due: none

delete task_draft_data if it exists before running the task_draft_data task_definition_id_path -> task_guid migration
  spiffworkflow-backend/migrations/versions/8b258f77eafe_.py
Due: check-added-large-files, end-of-file-fixer

fix safety check invocation
  .gitignore
  spiffworkflow-backend/bin/run_ci_session
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

add middleware
  spiffworkflow-backend/spiff_web_server.py
  spiffworkflow-backend/src/spiffworkflow_backend/config/default.py
  spiffworkflow-backend/src/spiffworkflow_backend/middleware/hsts.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

put them in correct groups
  spiffworkflow-backend/src/spiffworkflow_backend/config/permissions/pic_test.yml
Due: check-added-large-files, check-yaml, end-of-file-fixer, trailing-whitespace

patch dockerfiles
  spiffworkflow-backend/Dockerfile
  spiffworkflow-frontend/Dockerfile
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

run precommit hook
  spiffworkflow-backend/src/spiffworkflow_backend/middleware/hsts.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

add new test group users
  spiffworkflow-backend/src/spiffworkflow_backend/config/permissions/pic_test.yml
Due: check-added-large-files, check-yaml, end-of-file-fixer, trailing-whitespace

remove specialist from admin
  spiffworkflow-backend/src/spiffworkflow_backend/config/permissions/pic_test.yml
Due: check-added-large-files, check-yaml, end-of-file-fixer, trailing-whitespace

Add TTS-specific updating instructions
  README-TTS.md
Due: none

20260417 rebase onto Sartography upstream
  spiffworkflow-backend/migrations/versions/1bee6cced5cd_merging_heads.py
  spiffworkflow-backend/uv.lock
Due: check-added-large-files, end-of-file-fixer, trailing-whitespace

Fix an inefficient-regex warning flagged by CodeQL
  spiffworkflow-frontend/packages/bpmn-js-spiffworkflow-react/src/hooks/useBpmnEditorCallbacks.ts
  spiffworkflow-frontend/packages/bpmn-js-spiffworkflow-react/src/utils/schemaHelpers.ts
Due: none

fix mypy errors
  spiffworkflow-backend/src/spiffworkflow_backend/config/normalized_environment.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/authentication_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/helpers/base_test.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_process_instance_processor.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_threaded_execution.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

Fix clear-text logging of sensitive information flagged by CodeQL
  spiffworkflow-backend/src/spiffworkflow_backend/services/service_task_delegate.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

Push images to the gsa-tts image repository
  .github/workflows/build_docker_images.yml
Due: none

explicitly type proxied_response
  spiffworkflow-backend/src/spiffworkflow_backend/services/service_task_delegate.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

fix a bug: HttpConnectorResponse did not have headers; also update types so they will catch bugs like this in the future
  spiffworkflow-backend/src/spiffworkflow_backend/connectors/http_connector.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

Better errors when bpmn file fails to parse
  spiff-arena-common/pyproject.toml
  spiff-arena-common/src/spiff_arena_common/runner.py
  spiff-arena-common/tests/spiff_arena_common/test_specs_from_xml.py
  uv.lock
Due: none

Fix service task delegate error (#2764)
  spiffworkflow-backend/src/spiffworkflow_backend/connectors/http_connector.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/service_task_delegate.py
Due: check-added-large-files, end-of-file-fixer, ruff-check, ruff-format, trailing-whitespace

Better errors when bpmn file fails to parse (#2765)
  spiff-arena-common/pyproject.toml
  spiff-arena-common/src/spiff_arena_common/runner.py
  spiff-arena-common/tests/spiff_arena_common/test_specs_from_xml.py
  uv.lock
Due: none

Path conditions:
  check-added-large-files: any of: ^spiffworkflow-backend/
  check-toml: any of: ^spiffworkflow-backend/ and \.toml$
  check-yaml: any of: ^spiffworkflow-backend/ and \.(yaml|yml)$
  end-of-file-fixer: any of: ^spiffworkflow-backend/
  ruff-check: any of: ^spiffworkflow-backend/ and \.py$ and not (/migrations/)
  ruff-format: any of: ^spiffworkflow-backend/ and \.py$ and not (/migrations/)
  trailing-whitespace: any of: ^spiffworkflow-backend/, but not: /migrations/
