Repository sartography/spiff-arena: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, ruff, trailing-whitespace

black:
  name: black
  entry: black
  language: system
  line-length: 130
  require_serial: true
  args:
  - --preview
  - --line-length
  - '130'

check-added-large-files:
  name: Check for added large files
  entry: check-added-large-files
  language: system

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

end-of-file-fixer:
  name: Fix End of Files
  entry: end-of-file-fixer
  language: system
  stages:
  - commit
  - push
  - manual

ruff:
  args:
  - --fix
  name: ruff
  entry: ruff
  language: system
  require_serial: true

trailing-whitespace:
  name: Trim Trailing Whitespace
  entry: trailing-whitespace-fixer
  language: system
  stages:
  - commit
  - push
  - manual

use-react-link-for-links (#1242)
  spiffworkflow-frontend/cypress/support/commands.js
  spiffworkflow-frontend/src/components/NavigationBar.tsx
Due: none

version 4 migration test is now passing w/ burnettk
  spiffworkflow-backend/poetry.lock
  spiffworkflow-backend/src/spiffworkflow_backend/data_migrations/version_4.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/task_service.py
  spiffworkflow-backend/tests/files/bpmn_process_instance_data_objects_version_3.json
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_process_instance_migrator.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_process_instance_processor.py
Due: black, check-added-large-files, end-of-file-fixer, ruff, trailing-whitespace

spiff lib back to main after its merge
  spiffworkflow-backend/poetry.lock
  spiffworkflow-backend/pyproject.toml
Due: check-added-large-files, check-toml, end-of-file-fixer, trailing-whitespace

some coderabbit suggestions
  spiffworkflow-backend/src/spiffworkflow_backend/data_migrations/version_4.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/task_service.py
Due: black, check-added-large-files, end-of-file-fixer, ruff, trailing-whitespace

do not run version 3 and 4 migrations twice w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/data_migrations/process_instance_migrator.py
Due: black, check-added-large-files, end-of-file-fixer, ruff, trailing-whitespace

use navigate and Link in tiles on the frontend w/ burnettk
  spiffworkflow-frontend/src/components/ProcessGroupListTiles.tsx
  spiffworkflow-frontend/src/components/ProcessModelListTiles.tsx
Due: none

build docker images for this branch w/ burnettk
  .github/workflows/docker_image_for_main_builds.yml
Due: none

use mui breadcrumb w/ burnettk
  spiffworkflow-frontend/src/components/ProcessBreadcrumb.tsx
  spiffworkflow-frontend/src/index.css
Due: none

Bugfix/data object management (#1243)
  .github/workflows/docker_image_for_main_builds.yml
  spiffworkflow-backend/poetry.lock
  spiffworkflow-backend/src/spiffworkflow_backend/constants.py
  spiffworkflow-backend/src/spiffworkflow_backend/data_migrations/process_instance_migrator.py
  spiffworkflow-backend/src/spiffworkflow_backend/data_migrations/version_4.py
  spiffworkflow-backend/src/spiffworkflow_backend/models/bpmn_process_definition.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_api_blueprint.py
  spiffworkflow-backend/src/spiffworkflow_backend/routes/tasks_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/task_service.py
  spiffworkflow-backend/tests/data/service-task-with-data-obj/main.bpmn
  spiffworkflow-backend/tests/data/service-task-with-data-obj/without-service-task.bpmn
  spiffworkflow-backend/tests/files/bpmn_process_instance_data_objects_version_3.json
  spiffworkflow-backend/tests/spiffworkflow_backend/helpers/base_test.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_process_instance_migrator.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_process_instance_processor.py
  spiffworkflow-frontend/src/routes/BaseRoutes.tsx
Due: black, check-added-large-files, end-of-file-fixer, ruff, trailing-whitespace

use navigate and Link in tiles on the frontend (#1249)
  spiffworkflow-frontend/src/components/ProcessBreadcrumb.tsx
  spiffworkflow-frontend/src/components/ProcessGroupListTiles.tsx
  spiffworkflow-frontend/src/components/ProcessModelListTiles.tsx
  spiffworkflow-frontend/src/index.css
Due: none

Adding Example of Signal Events and New documentation on Multiinstanc… (#1204)
  docs/Building_Diagrams/images/Signal_events_spiff_example.png
  docs/Building_Diagrams/images/Signal_events_spiff_example1.png
  docs/Building_Diagrams/images/Signal_events_spiff_example2.png
  docs/Building_Diagrams/images/Signal_events_spiff_example3.png
  docs/Building_Diagrams/images/Signal_events_spiff_example4.png
  docs/Building_Diagrams/images/Signal_events_spiff_example5.png
  docs/Building_Diagrams/images/Signal_events_spiff_example6.png
  docs/Building_Diagrams/images/Signal_events_spiff_example7.png
  docs/Building_Diagrams/images/multiinstance_ex.png
  docs/Building_Diagrams/images/multiinstance_ex1.png
  docs/Building_Diagrams/images/multiinstance_example1.png
  docs/Building_Diagrams/images/multiinstance_example2.png
  docs/Building_Diagrams/images/multiinstance_example5.png
  docs/Building_Diagrams/images/multiinstance_parallel_example.png
  docs/Building_Diagrams/images/multiinstance_properties.png
  docs/Building_Diagrams/images/multiinstance_sequential_example.png
  docs/Building_Diagrams/multiinstance.md
  docs/Building_Diagrams/signal_events.md
  docs/index.md
Due: none

Updated build internal, added readme
  XILIS-README.md
  build_internal.sh
Due: none

added most of the code needed to generate a bpmn unit test from a process instance w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_model_test_importer_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_model_test_runner_service.py
  spiffworkflow-backend/tests/data/process-model-unit-test-importer/main.bpmn
  spiffworkflow-backend/tests/data/process-model-unit-test-importer/process_model.json
  spiffworkflow-backend/tests/data/process-model-unit-test-importer/sub-level-sub-process-user-form-exampledata.json
  spiffworkflow-backend/tests/data/process-model-unit-test-importer/sub-level-sub-process-user-form-schema.json
  spiffworkflow-backend/tests/data/process-model-unit-test-importer/sub-level-sub-process-user-form-uischema.json
  spiffworkflow-backend/tests/data/process-model-unit-test-importer/test_main.json
  spiffworkflow-backend/tests/data/process-model-unit-test-importer/without-service-task.bpmn
  spiffworkflow-backend/tests/files/process_model_test_importer.json
  spiffworkflow-backend/tests/spiffworkflow_backend/helpers/base_test.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_process_model_test_importer_service.py
  spiffworkflow-frontend/src/components/ErrorDisplay.tsx
  spiffworkflow-frontend/src/interfaces.ts
Due: black, check-added-large-files, end-of-file-fixer, ruff, trailing-whitespace

close the side nav when you select an item to navigate to
  spiffworkflow-frontend/src/components/NavigationBar.tsx
Due: none

pyl and tests are passing
  spiffworkflow-backend/tests/data/process-model-unit-test-importer/process_model.json
  spiffworkflow-backend/tests/data/process-model-unit-test-importer/sub-level-sub-process-user-form-exampledata.json
  spiffworkflow-backend/tests/data/process-model-unit-test-importer/sub-level-sub-process-user-form-schema.json
  spiffworkflow-backend/tests/data/process-model-unit-test-importer/sub-level-sub-process-user-form-uischema.json
  spiffworkflow-backend/tests/files/bpmn_process_instance_data_objects_version_3.json
  spiffworkflow-backend/tests/files/process_model_test_importer.json
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_extensions_controller.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_dot_notation.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_process_instance_processor.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_process_model_test_importer_service.py
Due: black, check-added-large-files, end-of-file-fixer, ruff, trailing-whitespace

renamed some files and some clean up
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_model_test_generator_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_model_test_runner_service.py
  spiffworkflow-backend/tests/data/process-model-unit-test-importer/process_model.json
  spiffworkflow-backend/tests/data/process-model-unit-test-importer/test_main.json
  spiffworkflow-backend/tests/data/with-service-task-call-activity-sub-process/main.bpmn
  spiffworkflow-backend/tests/data/with-service-task-call-activity-sub-process/sub-level-sub-process-user-form-exampledata.json
  spiffworkflow-backend/tests/data/with-service-task-call-activity-sub-process/sub-level-sub-process-user-form-schema.json
  spiffworkflow-backend/tests/data/with-service-task-call-activity-sub-process/sub-level-sub-process-user-form-uischema.json
  spiffworkflow-backend/tests/data/with-service-task-call-activity-sub-process/without-service-task.bpmn
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_process_model_test_generator_service.py
Due: black, check-added-large-files, end-of-file-fixer, ruff, trailing-whitespace

added api method to generate test case w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_models_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_model_service.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_model_test_generator_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_process_model_test_generator_service.py
Due: black, check-added-large-files, end-of-file-fixer, ruff, trailing-whitespace

added public permissions to basic macro w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/services/authorization_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_authorization_service.py
Due: black, check-added-large-files, end-of-file-fixer, ruff, trailing-whitespace

Run partial tests, add sqlite var
  Makefile
Due: none

Add upsearch api
  spiffworkflow-backend/src/spiffworkflow_backend/api.yml
  spiffworkflow-backend/src/spiffworkflow_backend/services/upsearch_service.py
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, ruff, trailing-whitespace

Getting ./bin/pyl to pass
  spiffworkflow-backend/src/spiffworkflow_backend/routes/upsearch_controller.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_upsearch_controller.py
Due: black, check-added-large-files, end-of-file-fixer, ruff, trailing-whitespace

Getting ./bin/pyl to pass
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_upsearch_controller.py
Due: black, check-added-large-files, end-of-file-fixer, ruff, trailing-whitespace

Clean up fixtures
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_upsearch_controller.py
Due: black, check-added-large-files, end-of-file-fixer, ruff, trailing-whitespace

debugging the generate test api w/ burnettk
  spiffworkflow-backend/poetry.lock
  spiffworkflow-backend/src/spiffworkflow_backend/api.yml
  spiffworkflow-backend/src/spiffworkflow_backend/routes/process_models_controller.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
  spiffworkflow-backend/tests/spiffworkflow_backend/helpers/base_test.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_models_controller.py
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, ruff, trailing-whitespace

removed human_task_ibfk_5 from old migration file and updated task id removal migration to work with both mysql and postgres w/ burnettk
  spiffworkflow-backend/migrations/versions/0c7428378d6e_.py
  spiffworkflow-backend/migrations/versions/3191627ae224_.py
Due: check-added-large-files, end-of-file-fixer

use sqlalchemy error classes instead of mysql w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/routes/tasks_controller.py
Due: black, check-added-large-files, end-of-file-fixer, ruff, trailing-whitespace

mypy w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/routes/tasks_controller.py
Due: black, check-added-large-files, end-of-file-fixer, ruff, trailing-whitespace

test case generator test case is now passing w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/exceptions/error.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
  spiffworkflow-backend/src/spiffworkflow_backend/services/task_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/helpers/base_test.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_process_models_controller.py
  spiffworkflow-backend/tmp.json
Due: black, check-added-large-files, end-of-file-fixer, ruff, trailing-whitespace

added test for TaskMismatchError w/ burnettk
  spiffworkflow-backend/src/spiffworkflow_backend/services/process_instance_processor.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_process_instance_processor.py
  spiffworkflow-backend/tmp.json
Due: black, check-added-large-files, end-of-file-fixer, ruff, trailing-whitespace

clear errors when changing pages
  spiffworkflow-frontend/src/ContainerForExtensions.tsx
Due: none

close the side nav when you select an item to navigate to (#1255)
  spiffworkflow-frontend/src/ContainerForExtensions.tsx
  spiffworkflow-frontend/src/components/NavigationBar.tsx
Due: none

Implement React Query (Tanner)
  spiffworkflow-frontend/package-lock.json
  spiffworkflow-frontend/package.json
  spiffworkflow-frontend/src/App.tsx
  spiffworkflow-frontend/src/hooks/PermissionService.tsx
Due: none

Update App.tsx
  spiffworkflow-frontend/src/App.tsx
Due: none

Push div above query elements
  spiffworkflow-frontend/src/App.tsx
Due: none

fix a couple cypress test issues
  spiffworkflow-frontend/cypress/support/commands.js
  spiffworkflow-frontend/src/routes/ProcessGroupShow.tsx
Due: none

fix a couple cypress test issues (#1267)
  spiffworkflow-frontend/cypress/support/commands.js
  spiffworkflow-frontend/src/routes/ProcessGroupShow.tsx
Due: none

Remove old PermissionCache, and add docs/comments
  spiffworkflow-frontend/src/App.tsx
  spiffworkflow-frontend/src/hooks/PermissionService.tsx
  spiffworkflow-frontend/src/services/PermissionCacheService.test.ts
  spiffworkflow-frontend/src/services/PermissionCacheService.ts
  spiffworkflow-frontend/src/services/UserService.ts
Due: none

Revert this change
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_upsearch_controller.py
Due: black, check-added-large-files, end-of-file-fixer, ruff, trailing-whitespace

PR feedback - use actual schema for api.yml
  spiffworkflow-backend/src/spiffworkflow_backend/api.yml
  spiffworkflow-backend/src/spiffworkflow_backend/routes/upsearch_controller.py
  spiffworkflow-backend/tests/spiffworkflow_backend/integration/test_upsearch_controller.py
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, ruff, trailing-whitespace

Hopefully fix the permissions
  spiffworkflow-backend/src/spiffworkflow_backend/services/authorization_service.py
  spiffworkflow-backend/tests/spiffworkflow_backend/unit/test_authorization_service.py
Due: black, check-added-large-files, end-of-file-fixer, ruff, trailing-whitespace

Path conditions:
  black: any of: ^spiffworkflow-backend/ and \.py$ and not (/migrations/)
  check-added-large-files: any of: ^spiffworkflow-backend/
  check-toml: any of: ^spiffworkflow-backend/ and \.toml$
  check-yaml: any of: ^spiffworkflow-backend/ and \.(yaml|yml)$
  end-of-file-fixer: any of: ^spiffworkflow-backend/
  ruff: any of: ^spiffworkflow-backend/ and \.py$ and not (/migrations/)
  trailing-whitespace: any of: ^spiffworkflow-backend/, but not: /migrations/
